/* ========================================================================== *
 * Wishlist
* ========================================================================== */ 
.wishlist-buttom{
    display: inline-block;
}

#yith-wcwl-popup-message{
    background: $color-black;
    color: $white;
    font-size: 15px;
    border: none;
    padding: 15px 24px;
    font-weight: 500;
    margin: 0 auto;    
    @include border-radius(0);
}

.yith-wcwl-add-to-wishlist{
    margin: 0;
    position: relative;
    a{
        color: $color-title;           
        &:before{            
            outline: none;
            margin: auto;            
            font-size: 18px;                        
            text-align: center;
            display: inline-block;            
            color: $color-black;
            font-family: $ionicons-font-family;
            content: $ionicon-var-android-favorite-outline;
        }
        &:hover{
            &:before{                
                color: $theme-color;
            }
        }
    }
    .ajax-loading{                
        margin: 0;
        @include center-box(absolute);
    }
    .feedback{
        display: none;
    }
}

.yith-wcwl-wishlistexistsbrowse,
.yith-wcwl-wishlistaddedbrowse{
    a{
        &:before{            
            color: $theme-color;
            content: $ionicon-var-android-favorite-outline;            
        }
    }
}

.woocommerce{        
    #content{
        table{
            &.wishlist_table{
                border: 0;
                font-size: $font-size;
                empty-cells: hide;      
                tr{
                    th,td{
                        padding: 24px 0;
                    }
                    th {
                        padding-right: 24px;
                    }                
                }           
                thead{
                    background-color: transparent;
                    border: none;        
                    tr{
                        th{
                            border-top: none;
                            padding-top: 0;
                            line-height: 1;
                            border-color: $color-border;
                        }
                    }                                
                }
                tbody{
                    background-color: transparent;
                    border: none;                    
                    tr{
                        td {
                            padding-right: 24px;  
                            border-color: $color-border;                            
                            &.product-add-to-cart{
                                text-align: right;
                                padding-right: 0;
                                a{                                                                        
                                    margin: 0;
                                    padding: 6px 24px;
                                    color: $white;
                                    font-weight: 500;                                
                                    height: auto;
                                    width: auto;
                                    background: $color-black;
                                    border-color: $color-black;
                                    letter-spacing: 0;                                
                                    display: inline-flex !important;
                                    @include justify-content(center);
                                    @include align-items(center);
                                    @include border-radius(0 !important);                                         
                                    &:hover{
                                        color: $color-black;
                                        background: $white;
                                        border-color: $color-black;
                                    }
                                }
                            }               
                            &:last-child {
                                padding-right: 0;
                                text-align: right;
                            }
                        }                                                
                        &:last-child {
                            border-bottom: none;                        
                        }
                    }                                        
                }                      
                tfoot{
                    border: none;
                    background: transparent;
                    tr{
                        border: 0;
                    }
                    td {
                        padding-top: 0;
                        padding-bottom: 0;                        
                    }
                }                                     
                tr td, 
                tr th.wishlist-delete, 
                tr th.product-checkbox{ 
                    vertical-align: middle;
                    @include rtl-text-align-left();
                }
                td.product-thumbnail{
                    a {
                        max-width: 90px;
                        width: 90px;
                    }
                }                 
                td.product-price{
                    font-size: 14px;
                    del{
                        outline-style: none;
                    }
                    ins{
                        text-decoration: none;
                        padding: 0 0 0 5px;
                        color: $theme-color;
                        font-size: 16px;
                        font-weight: 500;
                    }
                }                 
                td.product-stock-status{
                    span.wishlist-in-stock {
                        color: $brand-success;
                        font-weight: 500;
                        font-size: 16px;
                    }
                }                 
                &.cart{
                    a.remove{                        
                        color: $color-black;
                        font-size: 24px;
                        margin: 0;
                        font-weight: 300;
                        border: 1px solid $color-border;
                        background: $white;
                        @include rtl-padding-left(0);
                        @include border-radius(100px); 
                        @include flexbox();
                        @include justify-content(center);
                        @include align-items(center);
                        @include square(32px);
                        @include transition-all();
                        &:hover{
                            background: $color-black;
                            color: $white;
                            border-color: $color-black;
                        }
                    }
                }
            }
        }     
    }          
} 