.mfp-wrap{
    #trebol-quickview {
        display: block;
    }
} 

#trebol-quickview {
    background: $white;
    margin: 0 auto;
    max-width: 1080px;
    position: relative;
    .slick-slide img{
        width: 100%;
    }
    .entry-summary{
        margin: 50px;
        padding: 0;
    }
    .product-detail-wrap .cart{
        padding-bottom: 0;
    }
    .mfp-close{
        top:0 !important;
    }
    .flickity-prev-next-button{
        background: none;
        border-radius: 0;        
        @include opacity(0);
        width: 24px;
        height: 24px;
        @include transform(0.4s);
        &:focus{
            box-shadow: none;
            outline: none;
        }
    }
    .na-product-image:hover .flickity-prev-next-button{
        @include opacity(1);
        @include transform(0.4s);
    }
    .flickity-prev-next-button:disabled{
        display: none;
    }
    .full-image{
        width: 100%;
    }
    .slide >img{
        width: 100%;
    }
    .woocommerce-product-rating{
        display: none;
    }
    .price{
        color: $theme-color;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        margin-bottom: 0;
        padding: 25px 0;
    }
    .stock{
        border: 1px solid #00bc0d;
        border-radius: 3px;
        color: #00bc0d;
        display: inline-block;
        font-size: 12px;
        padding: 2px 10px;
    }
    .description{
        clear: both;        
        display: block;                
        padding: 10px 0 20px;
        position: relative;
    }
    .reset_variations{
        font-size: 12px;
        position: absolute;
        @include rtl-right(50px);
        top: 35px;
    }
    .cart{
        @include clearfix();
        .quantity{
            width: 100px;
        }
    }
    .product_meta{
        clear: both;
        margin: 0;
        padding-top: 10px;
    }
    .product_meta > *{
        color: $color-black;
        display: block;
        font-weight: 500;
        padding: 5px 0;
    }
}
.product-image.loading{
    &::after{
        background: white none repeat scroll 0 0;
        color:$theme-color;
        content: "";
        height: 100%;
        @include rtl-left(0px);
        @include opacity(.6);
        position: absolute;
        top: 0;
        width: 100%;

    }
    &::before{
        animation: 0.8s ease 0s normal none infinite running dotFade;
        background: $theme-color none repeat scroll 0 0;
        border-radius: 49%;
        bottom: 0;
        color: $theme-color;
        content: "";
        height: 12px;
        left: 0;
        margin: auto;
        @include opacity(1);
        position: absolute;
        right: 0;
        top: 0;
        width: 12px;
        z-index: 99;
    }
}
.mfp-bg{
    z-index: 10429;
}
.mfp-wrap{
    z-index: 10439;
}
.mfp-close{
    i{
        pointer-events:none;
    }
}
