// Style Product

/**
* Product
* Grid and List
*/
.products-block{
    width: auto;
    padding: 0;
    position: relative;
    margin-bottom: 0;
    .widgettitle{
        text-align: center;
    }
    .product-col{
        @include rtl-float-left();
        &:hover,&:focus,&:active{
            outline: none;
        }
    }
    &.widget-related {
        margin: 0;
        padding: 0;
        .widgettitle{
            text-align: center;    
        }
        .products-block{
            margin: 0 -$grid-gutter-width/2;
        }        
    }
    &.widget-recent{
        padding-top: 45px;
        border-top: 1px solid $color-border;        
    }
}

@include media-query(desktop-medium) {    
    .products-block{        
        .product-col, .col-item{            
            width: 50% !important;
        }
        .caption-product {
            min-height: 100px;        
        }
    }
}

@include media-query($desktop) {    
    .products-block{
        outline-style: none;
    }
}

.products-row{
    clear:both;
    margin: 0 -15px;    
}

.product-col,.col-item{
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;    
    @include rtl-float-left();                
    &.item-no-padding{
        padding-left: 0;
        padding-right: 0;   
    }
    &.item-no-padding,&.item-padding5px,&.item-padding10px,&.item-padding15px,&.item-padding20px{
        .product-block{
            &.product-gallery {
                margin-top: 0;
            }
        }        
    } 
    &:last-child{
        .product-list{
            margin-bottom: 0;
        }        
    }
}

/**
 * Star ratings
 */
.star-rating {  
  overflow: hidden;
  position: relative;
  height: 16px;
  line-height: 1;
  font-size: 12px;
  letter-spacing: 5px;
  width: 7.4em;
  font-family: 'star';
  @include rtl-float-right();
  &::before {
    content: '\73\73\73\73\73';
    color: darken( $secondary, 10% );
    float: left;
    font-size: 12px;
    letter-spacing: 5px;
    top: 0;
    left: 0;
    position: absolute;
  }

  span {
    font-size: 12px;
    letter-spacing: 5px;
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
    color: $yellow;    
  }

  span::before {
    content: '\53\53\53\53\53';
    top: 0;
    position: absolute;
    font-size: 12px;
    letter-spacing: 5px;
    left: 0;
  }
}

.woocommerce-product-rating {
  @include clearfix();
  line-height: 2;
  display: block;

  .star-rating {
    margin: 0.5em 4px 0 0;
    float: left;
  }
}

.products .star-rating {
  display: block;
  margin: 0 0 0.5em;
  float: none;
}

.hreview-aggregate .star-rating {
  margin: 10px 0 0;
}

p.stars {
  a {
    position: relative;
    height: 16px;
    width: 1.4em;
    text-indent: -999em;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 5px;

    &::before {
      font-size: 14px;
      letter-spacing: 5px;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 1em;
      height: 1em;
      line-height: 1;
      font-family: 'WooCommerce';
      content: '\e021';
      text-indent: 0;
      color: $color-border;
    }

    &:hover ~ a::before {
      content: '\e021';
      color: $color-border;
    }
  }

  &:hover a::before {
    content: '\e020';    
  }

  &.selected {
    a.active {
      font-size: 14px;
      letter-spacing: 5px;      
      &::before {        
        content: '\e020';
      }

      ~ a::before {
        content: '\e021';        
      }
    }
    a:not( .active )::before {
      content: '\e020';     
    }
  }
}

p.stars{
  a{
    &:before{
      color: $color-border;
    }   
    &:hover{
      ~ a{
        &:before{
          color: $color-border;
        } 
      }
    } 
  }  
  &.selected{
    a{
      &:not(.active){
        &:before{
          color: $yellow;
        }
      }   
      &.active{
        &:before{
          color: $yellow;
        }
      }
    }   
    a.active{
      ~ a{
        &:before{
          color: $color-border;
        } 
      }
      &:before{
        color: $yellow;
      } 
    }
  }
  &:hover{
    a{
      &:before{
        color: $yellow;
      }
    }    
  }
} 

/**
* Product Grid is Default;
*/
.product-block{
    display: block;
    position: relative;
    margin-top: 40px;
    overflow: hidden; 
    &:hover{    
        .button-groups{            
            top: 0;
            visibility: visible;
            @include opacity(1);
            @include transform(translateY(0));
            @include backface-visibility(visible);                
        }
        .ground-addcart{        
            z-index: 1;
            visibility: visible;    
            @include opacity(1);                                    
            @include backface-visibility(visible);                  
            @include transform(translate3d(0,0,0)); 
            @include transition(opacity 300ms ease-out 300ms, transform 200ms ease-out 300ms);            
        }
        .product-price{
            visibility: hidden;
            @include opacity(0);            
            @include backface-visibility(hidden);                        
            @include transition(opacity 100ms ease-out 100ms, transform 200ms ease-out 100ms);        
            @include transform(translate3d(-12px,0,0));             
        }
        .shopswatchinput{        
            visibility: visible;
            @include opacity(1);
            @include rtl-right(0);           
            @include backface-visibility(visible);                      
        }
        .caption-product{
            &.no-cart{
                .product-price{
                    visibility: visible;
                    @include opacity(1);            
                    @include backface-visibility(visible);
                }
            }
        }
    }   
    .caption-product{
        padding-top: 15px;
        padding-bottom: 0;
        position: relative;        
    }  
    .ground-addcart{        
        top: 0;                          
        z-index: -1;                  
        visibility: hidden;                
        position: absolute;
        @include opacity(0);        
        @include rtl-left(0);        
        @include backface-visibility(hidden);           
        @include transition(opacity 200ms ease-out 200ms, transform 300ms ease-out 200ms);        
        @include transform(translate3d(-12px,0,0));             
        a{
            color: $gray-nobel;            
            text-transform: none;            
            position: relative;                        
            margin: 0;            
            border: 0;
            padding: 0;
            font-weight: 300;
            background: transparent;            
            @include rtl-padding(0, 15px, 0, 0);             
            &:after{                
                @include vertical-align(absolute);
                @include rtl-right(0);                                
                content: $ionicon-var-android-add;
                font-family: $ionicons-font-family;
            }
            &:hover,&:active,&:focus{       
                outline-style: none;         
                color: $theme-color;
            }
        }
    }
    .action-link-hide{
        position: relative;        
        min-height: 28px;    
    }        
    .product-price{
        @include opacity(1);        
        @include transition(opacity 200ms ease-out 200ms, transform 300ms ease-out 200ms);        
        @include transform(translate3d(0,0,0));             
        .price{
            font-size: 14px;            
        }
    }
    .star-rating{            
        margin-top: 8px;
        padding: 0;            
        display: none;
    }
    /* Product Grid */
    &.product-grid{    
        .button-groups{
            .yith-wcwl-add-to-wishlist{
                a{
                    outline: none;                    
                }
            }
        }        
    }
    /* Product Transparent */    
    &.product-trans,&.product-gallery{
        margin-top: $grid-gutter-width;             
        .product-name{
            margin-bottom: 0;
        }   
        .button-groups{
            margin-top: $grid-gutter-width;          
            @include rtl-margin-right($grid-gutter-width);
            .yith-wcwl-add-to-wishlist{
                a{
                    outline: none;         
                }
            }
        }        
        .caption-product{                        
            bottom: 0;
            margin: 0;         
            min-width: 160px;
            position: absolute;
            @include rtl-left(0);            
            @include transition-all();                   
            @include rtl-padding(0px, 0px, 31px, 30px); 
        }        
        .shopswatchinput{        
            margin: 0;            
            height: auto;
            visibility: visible;
            @include opacity(1);            
            @include rtl-right(0);
            @include rtl-left(auto);
            @include rtl-right(0);                       
            @include rtl-padding(0px, 30px, 40px, 0); 
            @include backface-visibility(visible);               
        }
        .caption{
            outline-style: none;
        }                
    }
    /* Product Gallery */
    &.product-gallery{        
        .onnew, 
        .onsale, 
        .out-of-stock{            
            top: -99999px;
            @include rtl-left(-99999px);
        } 
        .price{
            color: $white;
            ins{
                color: $white;
            }
        }               
        &:hover{
            .product-image{
                .woocommerce-loop-product__link{
                    &:before{
                        z-index: 1;
                        visibility: visible;
                        background: rgba($black, .5);                
                        @include opacity(1);                
                        @include backface-visibility(visible);     
                    }    
                }
            } 
            .product-price{
                @include transform(translate3d(0px, 0, 0));                
            }                   
            .caption-product{                                                            
                visibility: visible;
                @include opacity(1);                
                @include backface-visibility(visible); 
                @include transform(translateX(8px));                      
            }    
        }
        .ground-addcart{
            a{
                color: $white;
            }
        }
        .product-image{
            .woocommerce-loop-product__link{
                &:before{
                    top: 0;
                    left: 0;
                    content: "";
                    position: absolute;            
                    z-index: -1;
                    visibility: hidden;            
                    background: transparent;
                    @include fade();
                    @include square(100%);
                    @include opacity(0);
                    @include backface-visibility(hidden);                                       
                }
            }
        }
        .product-name{
            a{
                color: $white;
                &:hover{
                    color: $white;
                }
            }
        }                
        .caption-product{          
            z-index: 1;              
            visibility: hidden;
            display: inline-block;
            vertical-align: middle;            
            @include opacity(0);
            @include backface-visibility(hidden);       
            @include transform(perspective(1px) translateZ(0));             
            @include transition(all 0.3s ease);            
        }
        .button-groups{
            .yith-wcwl-add-to-wishlist{
                a{
                    &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;                                        
                        z-index: -1;
                        background: $white;            
                        @include border-radius(25px);
                        @include square(100%);
                    }
                    &:hover,&:active,&:focus{                        
                        &:after{
                            z-index: 0;               
                            @include opacity(0);                         
                            @include transform(scale(1.4));                             
                            @include transition(transform .4s ease 0s,opacity .4s ease 0s,-webkit-transform .4s ease 0s);                             
                        }
                    }
                }                
            }             
        } 
    }    
    /* Product List */
    &.product-list{            
        border: 0;        
        margin-bottom: 72px;
        position: relative;
        display: block;
        overflow: hidden;    
        &:hover{            
            .product-price {
                @include transform(none);            
                @include transition(none);    
            }
        }            
        .product-list-content{                        
            @include clearfix();            
        }
        &.first{
            clear: both;
        }
        .wp-post-image{
            height: 100% !important;
        }
        .img-effect{
            &:hover{
                .wp-post-image{
                    @include rtl-margin-left(0);
                }
            }               
        }        
        .caption-image{
            width: 40%;
            display: block;                       
            @include rtl-float-left();            
        }
        .caption-product{
            width: 60%;            
            overflow: hidden;
            padding: 37px 42px 0 42px;            
            .ground-addcart{            
                top: 0;
                padding: 0;                                
                z-index: 1;                
                position: relative;
                visibility: visible;           
                @include rtl-left(0);     
                @include opacity(1);
                @include rtl-margin(0, 15px, 0, 0);
                @include backface-visibility(visible); 
                @include transform(translate(0));
            }
            .button-groups{                                
                top: 0;
                right: 0;
                left: 0;                                
                margin: 0;
                padding: 0;
                visibility: visible;       
                position: relative;                                                         
                @include opacity(1);
                @include transform(translate(0));
                @include backface-visibility(visible);
            }                     
            .add_to_wishlist,
            .yith-wcwl-add-to-wishlist a{
                @include square(61px);                
                @include border-radius(0);   
                background: transparent;      
                border: 1px solid $color-black;                
                &:before{
                    outline-style: none;
                }
                &:hover,&:focus,&:active{
                    color: $white;
                    background: $color-black;
                }
            }
        }
        //caption
        .caption{            
            margin: 0;
            padding: 0;
        }
        .grid-price{
            outline: none;
        }
        .product-price{
            visibility: visible;            
            margin-bottom: 26px;
            @include opacity(1);
            @include backface-visibility(visible);   
            @include transition(none);                     
        }
        .star-rating{
            float: none;
            display: block;
            margin: 0 0 14px 0;
        }
        .product-image{
            .shopswatchinput{
                visibility: visible;                            
                @include rtl-right(0);
                @include opacity(1);
                @include backface-visibility(visible);                               
            }
        }        
        .list-price,
        .product-review,
        .product-add-review{
            display: block;
            line-height: 30px;
        }
        .product-review{
            outline-style: none;
        }
        .product-name{            
            display: block;
            font-size: 20px;
            font-weight: 500;
            line-height: 28px;
            padding: 0;
            margin: 0 0 8px 0;
        }
        .ground-addcart{
            a{                
                border: 1px solid transparent;
                color: $white;
                padding: 16px 50px;
                font-size: 14px;
                font-weight: 500;         
                display: inline-block;
                vertical-align: middle;   
                position: relative;
                text-transform: uppercase;            
                background: $color-black;
                @include border-radius(0);           
                @include transition-all();                
                &.added{
                    display: none;   
                }                
                &:after{                                   
                    display: none;
                }
                &:hover,&:focus,&:active{   
                    color: $color-black;                                 
                    background: transparent;
                    border-color: $color-black;
                }                      
                &.product_type_grouped,
                &.product_type_variable{
                    &:after{                
                        font-size: 16px;
                        font-family: $ionicons-font-family;
                        content: $ionicon-var-chevron-right;                        
                    }
                }  
                &.disabled,a[aria-disabled="true"]{
                    pointer-events: none;
                    cursor: not-allowed;
                    @include opacity(.5);
                    text-decoration: none;
                }                  
            }
        }        
        .added_to_cart{
            outline-style: none;
            &:hover,&:focus{
                outline-style: none;
            }
        }
        .price-review{
            display:block;
            position: relative;
            padding:20px 0px;
        }
        .price{
            display: inline-block;
            padding-top: 0;
            padding-bottom: 0;        
            vertical-align: top;
            font-size: 24px;
            color: $gray-nobel;            
            line-height: normal;            
            @include rtl-padding-right(0px);
        }
        .woocs_price_code{
            display: inline-block;
            > * {
                display: inline-block;
            }
        }        
        .rating{
            padding-top: 0;
        }    
        .description-product{            
            padding: 0;
            display: block;        
            margin: 0 0 50px 0;
            p{
                margin-bottom: 10px;
            }
        }        
    }
}

.hreview-aggregate {
    .star-rating {
      @include rtl-margin(10px,0px, 0 ,0);
    }
}

/**
* Image product responsive
*/

.product-thumbnail{
    text-align: center;
}
.product-image{
    display: block;
    position: relative;
    a{
        img{
            @include transition(opacity 0.25s ease-in-out, visibility 0.25s ease-in-out);
        }   
    }    
    .inner{
        position: relative;
        overflow: hidden;
        display: block;
        text-align: center;
        .wp-post-image,
        .hover-image{
            display: inline-block;
        }
    }
    .shopswatchinput{        
        bottom: 0;        
        padding: 0;
        height: 18px;
        position: absolute;       
        visibility: hidden;
        overflow: hidden;
        min-width: 100px;
        @include opacity(0); 
        @include flexbox();
        @include rtl-right(-8px);           
        @include transition(all 0.2s ease);
        @include rtl-text-align-right();
        @include justify-content(flex-end);
        @include align-items(center);        
        @include backface-visibility(hidden);         
        @include rtl-margin(0px, 16px, 13px, 0);                 
        a{            
            margin: 0 4px;
            &:first-child{                
                @include rtl-margin-left(0);
            }
            &:last-child{                
                @include rtl-margin-right(0);
            }
        }     
        .wcvashopswatchlabel{
            border: 0px;
            &:hover{
                padding: 4px;
            }
        }
    }
}

.wp-post-image{
    display: inline-block;
    height: auto;
}

/**
* Caption product image
*/
.caption-image{
    position: relative;
    @include border-radius(0);
}

/**
* Caption product
*/
.caption{
    @include rtl-text-align-left();
    position: relative;
    display: block;
    z-index: 2;    
    .shopswatchinput{
      @include rtl-left(0);
      position: absolute;
      top: -100%;
      margin: 13px 13px 9px 13px;
      width: auto;
      .wcvaround{
        &:hover{
          border: 0; 
          @include box-shadow(none);          
        }
      }      
    }
}

/**
* Name product
*/
.product-name{  
    font-weight: 500;
    font-size: 16px;            
    line-height: 26px;
    @include rtl-padding-right(24px);
    @include rtl-text-align-left();
    margin: 0;
    a{            
        color: $color-title;
        @include transition(0.3s);      
        &:hover{
            color: $theme-color;
        }
    }
}

/**
* Price product
*/
.price-review{
  padding:0 15px 10px;
}
.price{        
    padding: 0;
    visibility: visible;
    color: $gray-nobel;    
    @include transition(0.4s);
    @include opacity(1);
    ins{
        text-decoration:none;   
        color: $theme-color;
    }
    del{
        @include rtl-margin(0, 6px, 0, 0); 
    }
}

/**
* Button sale
*/
.onsale{
    top: 0;
    background: $theme-color;
    position: absolute;
    color: $white;  
    font-size: 12px;
    display: block;
    height: 22px;
    width: auto;
    text-transform: none;  
    font-weight: 600;  
    text-align: center;     
    margin: 10px; 
    padding: 0px 12px;     
    @include flexbox(); 
    @include rtl-left(0px);    
    @include justify-content(center);
    @include align-items(center);
    @include border-radius(4px);  
}
/**
* Button hot
*/
.onhot{    
    background: $theme-color;
    position: absolute;
    color: $white;
    z-index: 1;
    font-size: 12px;
    display: block;
    height: 22px;
    width: auto;
    text-transform: none;
    top: 0;
    font-weight: 600;  
    text-align: center;     
    margin: 10px; 
    padding: 0px 12px;      
    @include rtl-left(0px);
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    @include border-radius(4px);  
}
.out-of-stock{
    background: $out-of-stock;
    position: absolute;
    color: $white;    
    font-size: 12px;
    display: block;
    height: 22px;
    width: auto;
    text-transform: none;
    top: 0;
    font-weight: 600;  
    text-align: center;     
    margin: 10px; 
    padding: 0px 12px;      
    @include rtl-right(0px);    
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    @include border-radius(4px);
}

.button-groups{
    top: 0;
    z-index: 1;
    position: absolute;
    visibility: hidden;    
    @include opacity(0);
    @include rtl-right(0);    
    @include rtl-margin(16px, 16px, 0, 0);        
    @include backface-visibility(hidden);    
    @include transform(translateY(-12px));
    @include transition(all .2s ease);       
    .add_to_wishlist{
        font-size: 0;
    }
    .feedback{
      display: none;
    }
    .yith-wcwl-wishlistexistsbrowse{
        a{        
            font-size: 0;
            color: transparent;                
            background: $white;
            position: relative;
            @include square(42px);
            @include flexbox();        
            @include justify-content(center);
            @include align-items(center);
            @include align-content(center);
            @include border-radius(100px);
            @include transition-all();
            .yith-wcwl-add-to-wishlist{
                .ajax-loading{
                    margin: 0;
                    @include center-box(absolute);                    
                }
            }
        }      
    }    
    .yith-wcwl-add-to-wishlist{
        a{
            font-size: 0;
            color: transparent;                
            background: $white;
            position: relative;
            cursor: pointer;
            @include square(42px);
            @include flexbox();        
            @include justify-content(center);
            @include align-items(center);
            @include align-content(center);
            @include border-radius(100px);
            @include transition(all 0.1s ease);            
            &:before{
                z-index: 1;
            }
            .yith-wcwl-add-to-wishlist{
                .ajax-loading{
                    margin: 0;
                    @include center-box(absolute);                    
                }
            }
            &:hover,&:active,&:focus{
                color: $white;
                background: $color-black;
                &:before,&:after{
                    color: $white;
                }                                
            }
        }
        .yith-wcwl-wishlistexistsbrowse,
        .yith-wcwl-wishlistaddedbrowse{
            a{               
                background: $color-black;
                &:before{
                    color: $white;                    
                }
            }            
        }                 
    }         
}
.quantity{
    .qty{        
        @include appearance(textfield);
    }
}

//layout product Taxonomy
.product-taxonomy{
    .layout-large{
        .caption-product{
            position: absolute;
            bottom: 30px;
            @include rtl-left(50px);
            background:transparent;
        }
        .caption{
          border-top: 0;
        }
    }
    .product-block{
      margin-top: 30px;
    }
    .layout-large{
        .product-block{            
            @include box-shadow(none);
        }
    }     
}

