.widget{
    .product-categories{
        li{
            position: relative;
            a{
                color: $gray-nobel;
                &:hover,
                &:focus,
                &:active{                    
                    color: $theme-color !important;
                }
            }
            .count{
                top: 0;
                font-size: 12px; 
                color: $gray-nobel;                
                position: absolute;
                @include rtl-right(0);
            }
            &.current-cat{
                > a{
                    color: $color-black;                    
                }                
            }
        }
        .children {
            display: list-item;
            overflow: hidden;            
            @include transition(all 300ms ease 0s); 
        }
        .unvisible {
            height: 0 !important;
        }
        span{
            &.triggernav {
                padding: 13px;
                margin: 0;
                top: 0;
                cursor: pointer;
                position: absolute;            
                @include rtl-right(0);
                @include rtl-float-right();                          
                &.active{
                    + .unvisible {
                        height: 100% !important;
                    }
                }
            }
        }        
    }
    &.trebol_widget_price_filter{
        .current{
            color: $theme-color;
        }
    }
    .trebol_filter_widget{
        @include clearfix();
        .wcvaswatchinput{            
            width: 100%;            
            min-height: 20px;
            padding-bottom: 10px;
            @include clearfix();
            @include flexbox();
            @include align-items(center);
            &:hover{
                span{
                    color: $theme-color;
                }
            }
            span{
                color: $font-color;
            }
            &.wcvaswatchinput-image{                                
                .wcvashopswatchlabel{                    
                    line-height: 32px;                                    
                    @include square(32px);                
                    @include transition-all();                    
                    background-size: auto;
                    background-color: $table-bg-accent;
                }
            }
            &:last-child{
                padding-bottom: 0;
            }            
        }
        .wcvashopswatchlabel{            
            border: 0;
            outline: none;
            line-height: normal;  
            display: block !important;
            @include rtl-float-left();              
            @include square(12px);            
            @include box-shadow(none);            
            @include rtl-margin(0,10px,0,0);            
            &.wcva_filter_textblock{
                @include square(32px);
                color: $gray-nobel;
                line-height: 32px;                
                background: $table-bg-accent;
                @include transition-all();
                &:hover{
                    color: $white;
                    background: $theme-color;
                }
            }
            &.wcva-selected-filter{
                &.wcvaround{                
                    border: solid 1px $color-border !important;
                    @include square(14px);                                
                }
            }            
        }                
        span{
            display: block;
            @include rtl-float-left();                   
        }        
    }
    &.widget_price_filter {    
        .widgettitle{
            margin-bottom:0px;
        }
        .widgettitle + *{
            padding-top: 10px;
        }
        .price_slider {
            margin: 1em 0 2em;
        }
        .price_slider_amount {
            line-height: 2.4;        
            .button {                
                padding: 4px 24px;
                vertical-align: middle;
                display: inline-block;
            }
        }
        .ui-slider {
            position: relative;            
            margin-left: .5em;
            margin-right: .5em;
            @include rtl-text-align-left();
            .ui-slider-handle {
                background-color: $theme-color;                
                @include border-radius(100%);                
                @include box-shadow(none);                
                @include rtl-margin-left(-0.5em);                 
                @include square(12px);                  
                border: 0;
                cursor: ew-resize;                
                outline: none;
                z-index: 2;
                @include vertical-align(absolute);
            }
            .ui-slider-range {
                position: absolute;
                z-index: 1;
                font-size: .7em;
                display: block;
                border: 0;
                background-color: $theme-color;
                @include border-radius(0);                 
            }
        }                
        .price_slider_wrapper{
            .ui-widget-content {          
                border: 0;      
                background-color: $table-border-color;               
                @include border-radius(0);
            }
            .price_label{
                padding: 5px 0;                
                color: $gray-nobel;                                
                @include rtl-float-right();
            }
        }
        .ui-slider-horizontal {
            height: 2px;
            .ui-slider-range {
                top: 0;
                height: 2px;
            }
            .ui-slider-range-min {                
                @include rtl-left(-1px);
            }
            .ui-slider-range-max {                
                @include rtl-right(-1px);
            }
        }        
    }             
}  

.trebol-price-filter{
    li{ 
        a{
            color: $text-color;
            &:hover{
                color: $theme-color;
            }
        }
    }
}

.aws-search-result{
    .aws_result_title {
        color: $color-black;
        font-size: 15px;
        font-weight: 500;
        line-height: 25px;
        strong{
            color: $color-black;
            &:hover{
                color: $theme-color;
            }            
        }
        &:hover{
            color: $theme-color;
            strong{
                color: $theme-color;
            }
        }
    }
    .aws_result_sale {
        overflow: initial;
    }
    .aws_result_price {
        font-size: 14px;        
        color: $text-color;
        del,ins{
            text-decoration: none;
            padding: 0 5px 0 0;
        }
    }
    .aws_onsale {
        background: $theme-color;        
        float: none;        
        right: 15px;    
        top: 0;            
        width: auto;
        padding: 2px 10px;    
        @include border-radius(3px);    
        @include transform(none);
    }
} 

.widgetcontent{
    &.center{
        .name{
            text-align: center;
        }
        .caption{
            text-align: center;
        }
        .caption-product .ground-addcart{
            text-align: center;
        }
        .product-block:hover .ground-addcart{
          @include rtl-right(15px);
        }
        .layout-large{
            .name{
              @include rtl-text-align-left();
            }
            .product-block:hover .ground-addcart{
                right:auto;
            }
            .caption-product .ground-addcart{
              @include rtl-text-align-left();
            }
            .caption{
              @include rtl-text-align-left();
            }
        }
    }    
}

/* Widget For WooCommerce Sidebar */
.sidebar{
    .cart-header,
    #cart-panel-loader{
        display: none;
    }
    .cart-panel{
        padding: 0;
        margin: 0;
        position: relative;        
        min-width: auto;
    }    
    .select2-container{        
        margin-bottom: 20px;
    }
    .widget{
        &.widget_product_search{
            input[type="search"]{
                width: 100%;
                margin-bottom: 20px;
            }
        }
        .trebol_filter_widget{
            .wcvaswatchinput{
                &.wcvaswatchinput-textblock{
                    overflow: hidden;
                    display: block;
                    min-height: 32px;
                    padding: 0;
                    @include square(32px);
                    @include rtl-float-left();                    
                    @include rtl-margin(0, 10px, 0, 0);
                }
            }
        }         
    }
    .star-rating{
        display: none;
    }    
    //---------------------------------------------------------------------------------------
    // Product List sidebar
    //---------------------------------------------------------------------------------------
    .products{
        padding-bottom: 30px;
        [class*="col-md-"]{
            float: none;
        }
    }
    .product-block{
        padding-top: 15px;
        margin-bottom: 15px;
        border: 0;        
        &:hover{
            border: none;
            .caption-product{
                @include translateY(0px);
            }
        }
        &.border{
            border:none;;
            &:hover{
                border:none;
            }
        }
        .caption-product{
            background: none;            
        }
    }
    .button-groups,.quick-view,.labels{
        display: none;
    }
    .productid-content-inner{
        margin-bottom: 20px;
    }
    .name{
        padding-top: 0;        
        margin-top: 0;
        @include rtl-text-align-left();
    }
    .price{        
        outline: none;
    }
    .price-review{
        @include rtl-text-align-left();
    }
    .grid-price{
        margin-top: 0;
    }
    .product-image{
        width: 80px;
        @include rtl-float-left();
        @include rtl-margin-right(10px);
        .inner{
            margin: 0;
        }
    }
    .product-details{
        padding-top: 15px;
        a{            
            display: block;
        }
    }
    .product_list_widget{        
        .product-title,
        .product-name{            
            display: block;
            margin: -4px 0 0 0;
            overflow: hidden;
            font-weight: 500;            
            line-height: 1.6;
        }        
        > li{            
            border: 0;           
            padding-top: 20px;
            @include clearfix(); 
            .name{
                line-height: 1.6;
            }
            a{
                color: $color-black;                
                img{
                    width: 80px;
                    overflow: hidden;                    
                    @include rtl-margin(0, 18px, 0, 0);
                    @include rtl-float-left();                    
                }
                &:hover{
                    color: $theme-color;
                }
            }          
            .amount,.price{
                color: $gray-nobel;
            } 
            del{        
                color: $gray-nobel;
            }
            ins{
                text-decoration: none;                
            }
        }
    }
    .caption{
        min-height: 75px;
    }
    &.product-list{
        .products{
            padding-bottom: 0;
        }
    }
    .product-block:hover .price {        
        visibility: visible;        
        @include opacity(1);
        @include transition(all 0.4s ease 0s);
    }
    .products{
        [class*="col-"]{
            padding: 0;
        }
    }    
}

//widget_layered_nav
.widget_layered_nav,
.widget_layered_nav_filters{
    ul li{        
        &.chosen{            
            color: $theme-color;
            > a{
                color: $theme-color;
                &:before {
                    border: none;
                    background: $theme-color;
                }
                &:after{
                    color: $white;
                    content: $ionicon-var-android-close;
                    font-family: $ionicons-font-family;
                    display: block;                    
                    font-size: 13px;                 
                    z-index: 10;
                    margin: 0;
                    padding: 0;
                    text-align: center;                    
                    @include rtl-left(0px);                                        
                    @include vertical-align(absolute);
                    @include flexbox();
                    @include justify-content(center);
                    @include align-items(center);
                    @include square(14px);                        
                }
                &:hover{
                    &:after{
                        content: $ionicon-var-android-close;
                    }
                }
            }
        }
        span{
            color: $gray-nobel;
            font-size: 12px;
            @include rtl-float-right();            
        }
        a{
            line-height: 20px;
            position: relative;
            @include rtl-padding-left(24px);
            display: inline-block;
            &:before {
                content: "";
                display: block;                
                z-index: 5;
                background: transparent;
                border: 1px solid $color-border;
                @include square(14px);                                
                @include vertical-align(absolute);
                @include rtl-left(0);                
                @include border-radius(100%);                               
            }
            &:hover:before {
                border: none;
                background: $theme-color;
            }
        }
        &:hover .count{
            color: $theme-color;
        }
    }
}
.widget_layered_nav_filters{
    ul li{
        &.chosen{
            > a {
                &:after {
                    color: $white;
                    content: $ionicon-var-android-close;
                    font-family: $ionicons-font-family;
                    display: block;                    
                    font-size: 13px;                 
                    z-index: 10;
                    margin: 0;
                    padding: 0;
                    text-align: center;                    
                    @include rtl-left(0px);                                        
                    @include vertical-align(absolute);
                    @include flexbox();
                    @include justify-content(center);
                    @include align-items(center);
                    @include square(14px);
                }
            }
        }
    }
}

/* Filter Sidebar */
.filter-header{
    position: relative;    
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid $color-border;
}
.title-filter{
    font-size: 36px;    
    color: $color-black;
    font-weight: 500;
}
.shop-sidebar{
    top: 0;        
    height: 100%;    
    position: fixed;        
    visibility: visible;
    background: $white;    
    width: 460px;
    padding:60px;
    outline-style: none;  
    z-index: 999;
    overflow-y: auto;
    @include rtl-left(0);        
    @include opacity(1);
    @include border-radius(0);    
    @include transform(translateX(-600px));
    @include transition(all 0.5s ease 0s);       
}
.filter-open{
    .shop-sidebar {
        transform: translateX(0px);
        z-index: 10000;
    }
} 

