//Login

.woocommerce,
.woocommerce-page{
	.login,
    .register{		
        .form-row{
            &.form-input-login{
                @include flexbox();
                @include flex-grow(1);
                @include justify-content(flex-start);                
                .woocommerce-form__label-for-checkbox{
                    input + span{
                        &:before {
                            top: 4px;
                        }
                    }                    
                }                 
            }
        }
        input[type="checkbox"], 
        input[type="radio"]{                                                
            margin-top: 0;
            @include rtl-left(0);
            @include rtl-margin-right(6px);                              
            @include vertical-align(absolute);
        }   
        .woocommerce-privacy-policy-text{
            margin-bottom: 30px;
            a{               
                text-decoration: underline;
            }
        }
        .form-row-flex,
        .login-form-footer{
            @include flexbox();
            @include flex-wrap(wrap);            
            @include flex-direction(row);
            @include align-items(baseline);                      
            .woocommerce-form__label-for-checkbox{
                span{
                    display: inline-block;
                    line-height: 1;                   
                }
            }           
        }
	}     
    .form-row{
        .input-text, 
        .form-row select {
            display: block;
            width: 100%;
        }
    }     
    .form-row, 
    .form-group, 
    .form-actions{    
        margin-bottom: 20px;   
        &:last-child{
            margin-bottom: 20px;   
        }                
    }
    .form-row-first {                
        @include rtl-float-left(); 
    }
    .lost_reset_password{
        p{
            &:first-child{
                margin-bottom: 40px;
            }
        }
        .form-row{
            width: 100%;
        }
    } 
    .woocommerce-form__label, 
    .form-row label {        
        padding-top: 0;
        padding-bottom: 0;                        
        position: relative;       
        padding-left: 0;
    }
    .title-login,
    .title-register{
        text-transform: none;
        margin: 20px 0 50px 0;
        text-align: center;
        font-weight: 500;
        font-size: 28px;       
    }
    .lost_password {
        margin-bottom: 20px;
        @include flexbox();
        @include flex-grow(1);
        @include justify-content(flex-end);
    }
    .login-form-divider{
        margin: 19px 0;
        position: relative;
        text-align: center;
        width: 100%;
        span {
            background: $white;
            display: inline-block;
            font-size: 16px;
            line-height: 1;
            padding: 0 19px;
            position: relative;
            text-transform: uppercase;
            z-index: 10;
        }
        &:before {
            background: $color-border;    
            content: "";
            display: block;
            height: 1px;        
            position: absolute;
            top: 50%;
            width: 100%;
            text-transform: uppercase;
            @include rtl-left(0px);
        }
    }         
    .register-wrap{
        display: none;
    }         
}

.woocommerce-form__label-for-checkbox{
    input{        
        visibility: hidden;
        &:checked{
            + span{
                &:before {
                    font-family: $ionicons-font-family;
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    content: $ionicon-var-checkmark;
                    font-size: 10px;
                    line-height: 16px;
                    font-style: normal;
                    font-weight: normal;
                    color: $color-black;
                    text-align: center;
                }
            }               
        }         
        + span{                
            @include rtl-margin-left(25px); 
            &:before {
                position: absolute;
                top: -1px;        
                display: block;
                content: '';          
                outline-style: none;
                cursor: pointer;      
                border: 2px solid #ddd;
                @include rtl-left(0);
                @include square(18px);              
            }
        }            
    }
}

label > [type='checkbox'], 
label > [type='radio']{        
    @include rtl-margin-right(0.5rem);
    @include box-sizing(border-box);    
    &:focus{
        outline-style: none;
    }
}

.woocommerce-account{
    .ri-breadcrumb{
        display: none;
    }
}
.myaccount-login{
    width: 100%;
    max-width: 500px;
    margin:0 auto;
    padding-top: 50px;
    padding-bottom: 100px;
    .btn{
        width: 100%;
        padding: 18px 30px;
    }
}

//Dashboard
.woo-dashboard{    
    min-height: 500px;
    padding: 0px 30px;
    @include border-radius(0);   
    h3{
        margin-top: 0;
    }
    .edit{
        font-size: 14px;
        font-style: normal;
        position: relative;
        @include rtl-padding-left(20px);
        &:before{
            font-family: $ionicons-font-family; 
            content: $ionicon-var-edit;                        
            @include vertical-align(absolute);
            @include rtl-left(0);
        }        
    }
    table{
        &.order_details{
            > thead, > tbody, > tfoot{
                > tr{
                    > th, > td{                    
                        vertical-align: middle;
                    }
                }                 
            }
        }        
    } 
    legend{
        padding-top: 15px;
    }   
    .panel-body{
        padding-left: 0;
        padding-right: 0;        
    }
    .woocommerce-Button{
        @include rtl-margin-right(0px);
    }
    .shop_table{
        .order-total{
            background: transparent;
        }
    }    
    .woocommerce-order-details,
    .woocommerce-customer-details{
        margin-bottom: 52px;
        h2{
            margin-bottom: 30px;
        }
    }
    .woocommerce-customer-details{
        margin-bottom: 0;
    }
}
.name-account{
    padding: 10px 0 10px;
    font-size: $font-size;
    color: $color-black;
    font-weight: 500;   
}
.my-account{
    margin-bottom: 30px;
    background: $table-bg-accent;
    text-align: center;
    padding: 40px;
    font-size: 13px;
}
.sidebar{
    .btn-logout{        
        color: $theme-color;
        text-decoration: underline;
    }
} 


