/**
 * Checkout
 */
.woocommerce-nav{    
    .woocommerce_checkout_login, 
    .woocommerce_checkout_coupon{        
        padding: 25px 50px;        
        @include clearfix();
        margin-bottom: 30px;
        background: $table-bg-accent;        
    }
    .login, .checkout_coupon {        
        margin-top: 40px;
        float: none;
        width: 100%;        
        .box-login{
            .box-content{
                p{
                    &:first-child{
                        margin-bottom: 40px;
                    }    
                }
            }
        }
    }
    .woocommerce-info{
        text-align: center;
        font-size: 16px;
        font-weight: 500;        
        padding: 0;
        margin: 0;
        color: $theme-color !important;
        background: transparent;
        border: 0;        
        a{
            color: $font-color !important;
            text-decoration: none !important;    
            &:hover{
                color: $font-color !important;
                text-decoration: underline !important;
            }
        }
        &:before{
            content: none;            
        }
    }
    .woocommerce_checkout_login{
        .button{
            height: 58px;
            width: 100%;
        }
    }
}

.shipping-th-title{
    line-height: normal;
    color: $color-black;
    font-size: 16px;
    font-weight: 500;
}

form{
    &.checkout{
        .col2-set{
            .col-2{
                margin-bottom: 0;
                .woocommerce-additional-fields{
                    p{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.woocommerce-checkout {
    .shipping-th-title{
        text-transform: uppercase;
    }
    .titlecheckout{      
        margin: 0;  
        font-weight: 500;        
        padding: 30px 0px;
        text-transform: none;
        @include font-size(18px,24px);
    }
    .select2-container--default{        
        .select2-selection--single{            
            height: 50px;
            line-height: 50px;            
            border: 1px solid $color-border;
            @include border-radius(0);
            &:focus{
                outline-style: none;
            }
            .select2-selection__rendered{
                line-height: 50px;
                height: 50px;
                &:focus{
                    outline-style: none;
                }
            }
            .select2-selection__arrow{
                height: 50px;                
                &:focus{
                    outline-style: none;
                }
            }
        }
    } 
    .create-account{
        input,label{
            display: inline-block;
            vertical-align: middle;            
        }
    } 
    input{
        color: $color-black;
        @include placeholder($gray-nobel);        
    }
    .trebol-coupon{
        border-color: #DDD;
    }
    .input-text{
        border-color: #DDD;
        background: transparent;
    }
    .checkbox{
        color: $gray-nobel;        
    }    
    .select2-choice{
        height: 42px;
        line-height: 32px;
    }
    .form-row{
        label{
            color: $color-title;
            font-weight: 300;
            padding-left: 0 !important;
            &.inline{                
                @include flex-grow(1);
                @include flexbox();
                @include justify-content(flex-start);                
            }
        }
    }       
    .title-checkout{
        color: $color-title;
        padding: 20px;
        margin: 0;
        font-size: 18px;
        text-transform: uppercase;
    }
    .woocommerce-billing-fields{
        .titlecheckout{
            @include rtl-padding-left(0px);
        }
    }     
    .woocommerce-billing-fields{
        p{
            padding-bottom: 10px;
            &.create-account{
                position: relative;
                input{        
                    visibility: hidden;
                    position: absolute;
                    top: 0;
                    left: 0;
                    &:checked{
                        + label{
                            &:before {
                                font-family: $ionicons-font-family;
                                speak: none;
                                font-style: normal;
                                font-weight: normal;
                                font-variant: normal;
                                text-transform: none;
                                line-height: 1;
                                -webkit-font-smoothing: antialiased;
                                -moz-osx-font-smoothing: grayscale;
                                content: $ionicon-var-checkmark;
                                font-size: 10px;
                                line-height: 16px;
                                font-style: normal;
                                font-weight: normal;
                                color: $color-black;
                                text-align: center;
                            }
                        }               
                    }         
                    + label{                
                        @include rtl-margin-left(0); 
                        @include rtl-padding-left(25px !important);                                  
                        &:before {
                            position: absolute;
                            top: 4px;      
                            display: block;                            
                            content: '';          
                            outline-style: none;
                            cursor: pointer;      
                            border: 2px solid #ddd;
                            @include rtl-left(0);
                            @include square(18px);              
                        }
                    }            
                }                
            }
        }
    }     
    .form-row-first,
    .form-row-last{
        width: 47.5%;
        @include rtl-float-left();
    }
    .form-row-first{
        @include rtl-margin-right(5%);
    }
    .amount{
        @include rtl-float-right();
    }
    .create-account{
        margin-bottom: 0;
    }
    .shipping-details{
        padding-bottom: 10px;
        padding-top: 0;
    }
    .checkout-review{
        padding: 10px 45px 25px;
        background: $table-bg-accent;
        table{
            border: 0;
            margin-bottom: 0;
            > thead > tr,> tbody > tr,tfoot > tr{
                border-color: #DDD;
            }            
            .shipping{
                ul{
                    li{
                        label{
                            display: block;
                            width: 100%;
                        }
                    }                     
                }                 
            }                         
            thead{
                background: transparent;
                th{
                    border: 0;
                }                
            }           
            td,th{
                padding: 20px 0px 20px 0px;
                vertical-align: middle;
            }            
        }        
        .product-total{
            @include rtl-text-align-right();
        }
    }
    .woocommerce-checkout-review-order{
        outline-style: none;
    }    
    .place-order{
        padding: 0;
        margin: 0;
        a{
            font-weight: 500;
            color: $theme-color;            
        }
        .woocommerce-terms-and-conditions-wrapper{
            margin-bottom: 30px;
        }
    }
}

#payment{           
    ul.payment_methods {
        padding: 0;
        list-style: none;        
        li{
            padding: 20px 0;
            border-bottom:1px solid #DDD;
            label{
                text-transform: capitalize;
                font-weight: 500;
                padding-left: 18px;
            }
            &:first-child{
                outline: none;
            }
            &:last-child{
                outline: none;
            }
            .payment_box{
                padding: 15px 0 0 0;
                margin: 0;
            }
        }        
        label{
            width: 100%;
            display: inline-block;                            
            position: relative;                
        }            
    }
    .input-radio{
        visibility: hidden;
        display: none;            
    }
    .payment_method_paypal {
        .about_paypal {
            @include rtl-float-right();
            line-height: 52px;
            font-size: 0.83em;
        }
        img {
            max-height: 52px;
            vertical-align: middle;
        }
    }
    .payment_methods{
        > .wc_payment_method,
        > .woocommerce-PaymentMethod{
            > label{
                &:before{
                    content: '';                    
                    border: 1px solid #dedede;
                    background: $white;
                    margin: auto 0;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    @include square(10px);                    
                    @include border-radius(100%);
                }   
            }            
        } 
        li.woocommerce-PaymentMethod,
        li.wc_payment_method{
            > input[type=radio]:first-child{            
                border: 0;
                clip: rect(1px, 1px, 1px, 1px);
                -webkit-clip-path: inset(50%);
                clip-path: inset(50%);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
                word-wrap: normal !important; 
                &:checked + label::before{
                    background: $color-black;
                    border-color: $color-black;
                }
            }
        }
    }     
} 

@include media-query($tablet-small) {    
    #customer_details{
        #ship-to-different-address{
            position: relative;
            cursor: pointer;
            display: block;            
            padding-bottom: 0;
            padding-top: 0;            
            .checkbox{                
                @include rtl-padding-left(25px);
                @include rtl-margin-left(0);      
                &:before {
                    top: 4px;
                }
            }            
            .woocommerce-form__label-for-checkbox{
                position: relative;
            }
            .woocommerce-form__input-checkbox{
                margin-top: 0;
                @include rtl-left(0);
                @include rtl-margin-right(0);
                @include rtl-margin-left(0);            
                @include vertical-align(absolute);            
            }   
        }            
    }         
}
