// Style Layout page Category

//layout

.container-fluid{
    padding-left: 100px;
    padding-right: 100px;   
}

.wrap-product{
    .container-no-padding{
        padding-left: 0;
        padding-right: 0;
    }   
    .row-no-padding{
        margin-left: 0;
        margin-right: 0;
    }  
    .item-no-padding{
        padding-left: 0;
        padding-right: 0;
    } 
    .container-padding5px{
        padding-left: 5px;
        padding-right: 5px;        
    }
    .row-padding5px{        
        margin-left: -5px;
        margin-right: -5px;
    }
    .item-padding5px{
        padding-left: 5px;
        padding-right: 5px;
        &.item-gallery{            
            padding-bottom: 10px;
        }
    }
    .container-padding10px{
        padding-left: 10px;
        padding-right: 10px;
    }
    .row-padding10px{        
        margin-left: -10px;
        margin-right: -10px;
    }
    .item-padding10px{
        padding-left: 10px;
        padding-right: 10px;
    } 
    /* .container-padding15px{
        padding-left: 15px;
        padding-right: 15px;
    } */ 
    /* .row-padding15px{        
        margin-left: -15px;
        margin-right: -15px;
    } */      
    /* .item-padding15px{
        padding-left: 15px;        
        padding-right: 15px;
    } */ 
    .container-padding20px{
        padding-left: 20px;
        padding-right: 20px;        
    }
    .row-padding20px{        
        margin-left: -20px;
        margin-right: -20px;
    }
    .item-padding20px{
        padding-left: 20px;
        padding-right: 20px;
    }    
}

.term-gallery{
    .wrap-product{
        .container-padding5px{            
            @include rtl-padding-left(10px); 
        }
    }
}

/**
* Category Image
*/
.wrapper-thumb-cat{
    margin-bottom: 30px;
    .category-image{
        width: 100%;
    }
}
/**
* Category Description
*/
.term-description{
    margin-bottom: 30px;
    font-size: 16px;
    color: #e0e0e0;
    text-transform: none;
    max-width:800px;
}

.infload-controls{
    margin: 0;
    text-align: center;   
    padding-top: 90px;
    padding-bottom: 0;
}

/**
* Category Filter
*/
.top-products{
    margin-bottom: 30px;
    .btn-filter,
    .switch-layout,
    .woocommerce-result-count{
        line-height: 60px;
        height: 60px;
    }
    span{
        font-size: $font-size-base
    }
    .wrap-select{
        > select{
            height: 60px;
            line-height: 30px;
            option{
                padding: 5px;
            }
        }
        &:after{
            line-height:60px;
        }
    }     
}
// show grid/list toggle buttons
.switch-layout{
    display: none;
    font-size: 18px;
    margin:0;
    line-height: 40px;
    @include rtl-margin-right(30px);
    > li{
        padding: 0;
    }
    a{
        padding:0px 7px;
        background:transparent;
        cursor: pointer;
        color: $color-border;
        &.active{
            color: $color-title;
        }

    }
}
//products per page
.products-per-page{
    padding: 0 15px;
}

.shop-content{
    &.trebol-both{
        .shop-content-top{
            outline-style: none;
            /* display: none; */
        }
    }
    &.trebol-subcategories{
        .shop-content-top{
            display: none;
        }        
    }   
}

.shop-content-top{
    margin-bottom: 0;
}

//input search
.woo-search{           
    min-width: 370px;
    margin-bottom: 36px;
    .aws-search-field{        
        height: 40px;         
        padding: 10px 0px !important;
        background: transparent;      
        color: $gray-nobel;    
        font-size: 14px;
        z-index: auto;
        border-width: 0px 0px 1px 0px;
        border-bottom: 1px solid $color-border;
        @include placeholder($gray-nobel);        
        &:focus{
            outline: none;
            background: transparent;  
            border-color: $color-border;
        }
    }
}

/**
* Category info
*/
.archive_product_info{
    position: relative;
    display: block;
}
.grid-price{
    display: block;
}
.list-price,
.product-review,
.product-add-review{
    display: none;
}

.description-product{
    display: none;
}

.shop-subcategories{    
    padding-bottom: 0;
    .block-subcategories{
        .product-category{        
            margin-bottom: 30px;
            height: 193px !important;
            overflow: hidden;
            display: block;
            a{
                width: 100%;
                height: 100%;
            }
            .woocommerce-loop-category__title{
                top: 32px;
            }                        
        }   
    }    
}

.product-category{
    position: relative;
    margin-bottom: 10px;
    .woocommerce-loop-category__title{        
        position: absolute;
        top: 48px;
        @include rtl-left(52px);        
        @include rtl-text-align-left();
        @include font-size(20px,24px);
        margin: auto;                
        font-weight: 500;
        line-height: 26px;          
    }
    mark, .mark{        
        background: transparent;
        display: block;
        color: $font-color;
        margin: 0;
        padding: 10px 0 0 0;
        font-size: 14px;
        font-weight: $font-weight;
    }
    .btn-shop{
        display: none;
        padding-top: 10px;        
        color: $theme-color;
        text-decoration: underline;
    }
}

//FIx element
.archive_product_info{
    .rating{
        display: none;
    }
}
.wrap-select{
    position: relative;
    &:focus{
        outline-style: none;
    }
    &:after{
        background:transparent;
        color: $gray-nobel;
        content: "\f123";
        font-family: $ionicons-font-family;
        height: 100%;
        line-height: 40px;
        pointer-events: none;
        position: absolute;        
        text-align: center;
        top: 0;
        font-weight: 300;
        width: 10px;
        font-size: 13px;
        @include rtl-right(0px);
    }
    > select{
        border: none;        
        color: $gray-nobel;
        line-height: 30px;
        height: 40px;
        margin: 0;
        padding: 0;
        background:transparent;
        outline-style: none;
        @include appearance(none);             
        &:hover,
        &:active,
        &:focus{
            outline: 0;
        }   
        &:-moz-focusring {
            color: transparent;    
            @include text-shadow(0 0 0 $gray-nobel);
        }
        option:not(:checked) {
            color: $gray-nobel;
            font-family: $font-family-main;
        }
    }
}
.woocommerce-result-count{    
    line-height: 40px;
    margin: 0;
    color: $gray-nobel;
}
.top-products{
    .woocommerce-alert{
        display:none;
    }
} 
.group_table{
    td.label{
        vertical-align: middle;
    }
}

#filter-down{
    padding: 0;
    max-width: 800px;
    position: static;    
    @include rtl-text-align-right();
    .widget,
    .widget-area{
        display: inline-block;
        position: relative;
        width:auto;
        margin-top: 0;
        margin-bottom: 0;            
        @include rtl-padding-left(20px);
        @include rtl-padding-right(0); 
        &.trebol_widget_price_filter{
            ul{
                li{
                    a{
                        color: $text-color;
                        &:hover{
                            color: $theme-color !important;
                        }
                    }
                }
            }   
        }
        .widgettitle, > h2, > h3{                        
            text-transform: uppercase;
            font-weight: 500;
            z-index: 1;
            line-height: normal;
            margin: 0;                        
            letter-spacing: 0.3px;
            cursor: pointer;       
            font-size: 14px;     
            @include rtl-padding(10px, 16px, 10px, 10px); 
            &:after{                
                background: transparent;
                pointer-events: none;                                
                text-align: center;                                
                font-size: 12px;
                border: 0;                
                cursor: pointer;
                color: $gray-nobel;
                content: $ionicon-var-chevron-down;                
                font-family: $ionicons-font-family;                                                
                @include rtl-left(auto);
                @include rtl-right(0);
                @include vertical-align(absolute);
            }
            + *{                
                top: 120%;       
                padding: 20px;
                z-index: 10;                                                
                position: absolute;                
                visibility: hidden;                
                background: $white;
                min-width: 230px;                                
                border: 1px solid $color-border;
                @include backface-visibility(hidden);                
                @include opacity(0);
                @include rtl-text-align-left(); 
                @include border-radius(0px);
                @include rtl-right(0px);                                
                @include box-shadow(none);               
                @include transition-all();
            }
        }
        &:hover {
            .widgettitle, > h2, > h3 {
                & + *{                  
                    top: 100%;
                    visibility: visible;  
                    @include opacity(1);                    
                    @include transition-all();  
                    @include backface-visibility(visible);                                  
                }
            }
        }
        a:hover{
            color: $color-title;
        }
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
        }
        li{
            line-height: 35px;
            &.chosen,&.current-cat,&.current{
                color: $color-title;
                font-weight: 500;
                a{
                    color: $color-title;
                    font-weight: 500;
                }
                &:hover a{
                    color: #cf3b3d;
                }
            }
        }
    }

    .widget_layered_nav ul li span, 
    .widget_layered_nav_filters ul li span{
        float: none;
    }
    + .woo-search{
        display: none;
    }
    .wrap-select > select{
        margin: 0;
    }
}//end filter-down

.woocommerce-nav-filters{    
    .widget_layered_nav_filters{
        .widgettitle{
            font-size: 18px;
            font-weight: 600;
            &:after {
                content:none;
            }
        }
        ul{
            padding: 0;
            list-style: none;            
            @include flexbox();
        }
        li{
            @include rtl-padding-right(30px);
        }
    }
}
.woocommerce-nav-category{
    padding-bottom: 68px;    
    margin-bottom: 50px;
    border-bottom: 1px solid $color-border;
    .navbar-nav{
        > li{
            > a{                
                padding: 0;                
                margin: 0 0 12px 0;        
                font-weight: 500;
                background: transparent;                
            }
        }         
    }     
    .navbar-nav{
        > li{        
            @include rtl-padding-right(80px);
            &:last-child{
                @include rtl-padding-right(0px);
            }
        }
    }     
    li{
        ul{        
            a{               
                color: $gray-nobel;
                margin-bottom: 0;
                font-size: 14px;
                &:hover{
                    color: $theme-color;
                }
            }
        }
    }     
    ul{
        list-style: none;
        padding: 0;
        width: 100%;
    }
    li{
        line-height: 36px;
    }
    a{
        font-size: 16px;        
    }
    .current-menu-item{
        > a{
            color: $theme-color;
        }
    }     
}
.woocommerce-nav-filters{
    outline: none;
}
.woocommerce-ordering{    
    margin: 0 0 36px 0;
    @include rtl-padding(0, 5px, 0, 0);     
    .wrap-select{
        > select{
            option{
                padding: 0;
            }
        }
        &:after{            
            @include rtl-right(0);
        }
    }    
}
.shop-btn-filter{
    padding: 8px 0;
    margin-bottom: 36px;
    @include rtl-margin-left(60px);
}
.btn-filter-down{
    display: none;
}
.hidden-filters{
    .shop-btn-filter{
        display: none;
    }      
}
#filter-full{    
    margin: 0;
    padding: 30px 0;
    display: none;    
    background: transparent;    
    visibility: hidden;
    @include opacity(0);        
    @include transition-all(opacity, 0.2s, ease);        
    &.active{                
        visibility: visible;
        @include opacity(1);
        @include transition-all(opacity, 0.1s, ease);                    
    }
    .content-inner{
        margin: 0;
        padding: 0;
        @include clearfix();
        > br{
            display: none;
        }
    }
    .widget{       
        width: 20%;        
        margin: 0;
        padding-left: 0;
        padding-right: 0;        
        @include rtl-float-left();        
        .widgettitle, > h2, > h3{            
            font-size: 16px;            
            margin: 0 0 10px 0;
            font-weight: 500;
            padding: 0 0 10px 0;
            text-transform: capitalize;
            line-height: normal;
            &:after{
                content:none;
            }
        }
        a:hover{
            color: $theme-color;
        }
        ol,ul{
            list-style: none;            
            @include rtl-padding-left(20px);            
        }
        > ul{                    
            @include rtl-padding-left(0);            
        }
        li{
            line-height: 30px;
            position: relative;
            padding-top: 3px;
            padding-bottom: 3px;
            a{
                color: $font-color;
            }
            &.chosen, 
            &.current-cat, 
            &.current{
                > a{
                    color: $font-color;
                    &:hover{
                        color: $theme-color;
                    }                    
                }
            }
            > .children{
                padding-top: 10px;
                padding-bottom: 5px;
                li{
                    .children{
                        padding-top: 0;    
                        padding-bottom: 0; 
                    }
                }
            }
        }
        &.wcva_layered_nav{            
            .wcva_filter_widget{
                a{
                    display: block;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
    .widget_layered_nav_filters{
        width: 100%;

    }
    .widget_layered_nav ul li span, 
    .widget_layered_nav_filters ul li span{
        float: none;
    }
}

.cats-block{
    display: block;
    position: relative;
    padding: 0 0 44px 0;
    margin-bottom: 0;
    list-style: none;
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}
.grid-sizer{
    width: 25%;
}
.category-thumb-large{
    width: 50%;
}
.category-thumb-wide{
    width: 50%;
}
.category-thumb{
    width: 25%;
}
.col-item{
    > a{
        position: relative;
        display: block;
    }
} 

.cat-1,
.cat-2{
    &.cats-block{
        padding-bottom: 65px;
    }
}

.cat-1{
    margin: 0 -5px;
    .col-item{
        padding-left: 5px;
        padding-right: 5px;
    }
    .grid-sizer{
        width: 40%;
    }
    .category-thumb-large,
    .category-thumb-wide{
        width: 60%;
    }    
    .category-thumb{
        width: 40%;
    }
}

.cat-2{
    margin: 0 -5px;
    .col-item{
        padding-left: 5px;
        padding-right: 5px;
    }
    .grid-sizer{
        width: 25%;
    }
    .category-thumb-widge{
        width: 50%;
    }
    .category-thumb{
        width: 25%;
    }
}

.cat-3{
    .grid-sizer{
        width: 33.333%;
    }
    .category-thumb{
        width: 33.333%;
    }
    .product-category{
        margin-bottom: 30px;
        .woocommerce-loop-category__title{
            bottom: 0;
            margin-bottom: 30px;
            top: auto;
        }
    }
}

.cat-4{
    .grid-sizer{
        width: 33.333%;
    }
    .category-thumb{
        width: 33.333%;
    }
    .product-category{
        margin-bottom: 30px;
        .woocommerce-loop-category__title{
            bottom: 0;
            top: auto;            
            @include rtl-margin(0, 45px, 30px, 0);
            @include rtl-left(auto);
            @include rtl-right(0);                                    
            a{    
                background: $white;
                padding: 23px 86px;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 500;
                line-height: 26px;           
                display: inline-block;
                position: relative;   
                span{
                    z-index: 1;
                    position: relative;
                }
                &:first-child {
                    display: none;                    
                }                    
                &:after{
                    bottom: 0;
                    content: '';
                    background: $color-black;
                    position: absolute;                    
                    @include size(100%,100%);
                    @include rtl-left(0);                    
                    @include transform(scaleX(0));                    
                    @include opacity(0);
                    @include transform-origin(100% 50%);
                    @include transition(transform .3s cubic-bezier(.77,0,.175,1),opacity .5s); 
                }
                &:hover, &:focus, &:active{    
                    color: $white;                                    
                    &:after{
                        @include opacity(1);                        
                        @include transform-origin(0 50%);
                        @include transform(scaleX(1)); 
                        @include transition(transform .3s cubic-bezier(.77,0,.175,1),opacity .3s);
                    }                  
                }
            }
            .count{
                display: none;                
            }
        }
    }
}
