/**
* Check Cart
*/

.woocommerce,
.woocommerce-page{
    .cart{
        .form-group,
        .form-actions,
        .form-row{
            &:last-child{
                margin: 0;                
            }
        }        
    }
}

.woocommerce-shipping-calculator {
    margin: 0;
    > p:first-child {
        margin: 0;
    }    
}

.page-cart{    
    .amount{
        font-size: 16px;
        font-weight: 500;
        color: $color-title;
    }
    .cart{
        .quantity{                  
            input.qty{                             
                @include size(58px,58px);        
            }            
        }             
    } 
    .product-name{
        a{
            color:$color-title;
            font-weight: 500;
            line-height: 24px;
            &:hover,&:focus,&:active{
                color: $theme-color;
            }
        }
    }
    .product-subtotal{
        > * {
            font-weight: 500;
        }
    }       
    table{
        border-width: 0 0 1px 0;        
        > thead, > tbody, > tfoot{
            background: transparent;
            > tr{
                border-bottom: 0;
            }
        }
        &.cart{
            margin-bottom: 40px;
            thead{
                th{
                    &:first-child{                        
                        @include rtl-padding-left(0);
                    }
                }
            }
            tbody{
                tr{
                    td{
                        &.product-thumbnail{                            
                            @include size(90px,auto);
                            @include rtl-text-align-left();
                            @include rtl-padding-left(0);                            
                        }
                    }
                }   
            }            
        }
    }    
}
.cart-item{
    margin-top: 10px;
}
.cart_item {
    td{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    > *{        
        border-bottom: 0;
    }
    .add-action{
        outline-style: none;
    }
    > *{
        vertical-align: middle;
    }
}

.variation{    
    display: block;
    margin: 0;
    padding: 0;
    line-height: 1.6;    
    dt{
        display: inline-block;        
        font-size: 12px;        
        color: $color-black;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 1.6;
    }
    dt + dd{
        display: inline-block;        
        font-size: 12px;        
        color: $gray-nobel;        
        line-height: 1.6;
        > * {
            color: $gray-nobel;
        }
    }
    dd{
        margin-bottom: 5px;
    }
    > * {
            float: none;
            display: inline-block;                    
            @include rtl-margin(0,3px,0,0);
        > p{
            margin: 0;
            padding: 0;            
        }
    }
}

//totals page cart .
.trebol-shipping{
    background: rgb(248, 248, 248);
    border:1px solid $color-border ;
    margin-bottom: 15px;
}
.cart-collaterals{
    border: 0;
    width: 50%;    
    @include rtl-float-right();  
    .amount{
        font-size: 16px;
        font-weight: 500;
        color: $color-title;
    }      
    .select2-container--default{
        .select2-selection--single{ 
            height: 34px;                       
            margin-bottom: 0;            
            background: transparent;                        
            @include border-radius(0);
            border-bottom: 1px solid #DDD;
            border-width: 0px 0px 1px 0px;
            .select2-selection__arrow{
                height: 34px;  
                line-height: 34px;
                right: 0;
            }
            .select2-selection__rendered{
                line-height: 34px;
                padding: 0;
            }
        }        
    }             
    .title-cart{        
        color: $color-title;
        margin: 0;
        padding: 0px 0 15px 0;        
        text-transform: uppercase;
        font-size: 16px;        
        font-weight: 600;
        display: none;
        border-bottom:1px solid $color-border;        
    }
    table{
        &.shop_table{
            border: 0;
            background: transparent;
            margin-bottom: 20px;
            @include rtl-text-align-left();
            > tbody{
                > tr{
                    td{                        
                        @include rtl-padding-right(0);
                    }
                }
            }
            .product-thumbnail{
                @include rtl-text-align-left();                
            }
            .product-name{
                display: table-cell;
            }
            .order-total{
                border-bottom: 0;
            }            
            .shipping{
                ul{
                    margin-bottom: 5px;
                    li{
                        padding: 0;
                        font-size: 14px;
                        color: $text-color;
                        font-weight: $font-weight;
                        label{
                            width: 100%;                                                        
                            padding-left: 20px; 
                            &:before{
                                content: '';
                                background: $white;                                
                                left: 0;                                
                                border: 1px solid #dedede;
                                @include vertical-align(absolute);
                                @include square(10px);
                                @include border-radius(100px);                                                                
                            }                           
                        }
                        .amount{
                            font-weight: 500 !important;
                            font-size: 15px !important;                            
                        }
                        .amount,label{
                            font-size: 14px;
                            color: $text-color;                            
                            font-weight: $font-weight;                            
                            &:before {                                
                                @include rtl-left(0);   
                            }
                        }
                    }
                }  
                .woocommerce-shipping-destination{                    
                    font-size: 14px;
                    position: relative;
                    color: $text-color;
                    font-weight: $font-weight;
                    padding: 0 0 0 20px;
                    margin-bottom: 20px;
                    &:before {                                                                        
                        content: '';
                        background: $white;                                
                        left: 0;                                
                        border: 1px solid #dedede;
                        @include vertical-align(absolute);
                        @include square(10px);
                        @include border-radius(100px);                            
                    }
                    strong{
                        color: $text-color;
                        font-weight: $font-weight;
                    }
                }
                .shipping-calculator-form{
                    padding: 20px 30px 20px 30px;
                    border: 1px solid #DDD;
                    margin-top: 24px;
                    .button{
                        padding: 0;
                        background: transparent;
                        color: $color-black;
                        font-weight: 500;
                        border: 0;
                        margin: 0;
                        position: relative;
                        text-transform: none;                        
                        line-height: normal;                        
                        &:after{
                            content: '';
                            position: absolute;
                            background: $color-black;
                            left: 0;
                            bottom: 1px;
                            @include size(100%,1px);
                        }                        
                    }
                    .form-row{                        
                        .input-text, select{          
                            font-size: 14px;              
                            background: transparent;  
                            border-width: 0px 0px 1px 0px;  
                            padding-left: 0;
                            padding-right: 0;
                            border-color: #DDD;
                        }                        
                    }
                    .select2{
                        .selection{
                            margin-bottom: 0;
                        }
                    }
                }
                td{
                    @include rtl-text-align-right();
                }
                .shipping-calculator-button{                    
                    display: block;                    
                    position: relative;                            
                    margin: 0;
                    border: 0;
                    padding: 0;
                    color: $color-black;                    
                    font-weight: 500;
                    line-height: normal;
                    font-size: 16px;
                    &:before {                        
                        content: none;                        
                    }              
                }
            }
            .cart-subtotal{
                th,td{
                    padding-bottom: 15px;
                    border-bottom: 1px solid #DDD;
                }
                td{
                    padding-top: 0;
                    @include rtl-text-align-right();
                }
            }
            .order-total{                                
                .amount{
                    @include rtl-float-right();                    
                }
            }
            tbody{                
                > tr{
                    border-bottom: 0;
                    &.woocommerce-shipping-totals{
                        th,td{                                                                                    
                            padding-bottom: 0;                                                                                   
                            padding-top: 20px !important;
                            @include rtl-padding-left(0);
                            @include rtl-text-align-left();                                   
                        }                 
                    }                   
                    > th{                        
                        &:first-child{                            
                            line-height: normal;
                            padding-right: 0;
                            text-transform: none;                            
                            @include rtl-padding-left(0px);
                        }
                    }                    
                    > td, > th{
                        padding-top: 20px;
                        padding-bottom: 20px;
                    }                    
                }                    
            }            
            thead{                
                > tr{
                    > *{
                        border: 0;  
                    }
                    > th{     
                        &:first-child{
                            text-transform: none;
                            @include rtl-padding-left(0px);
                        }
                    }
                    td{
                        outline: none;
                    }
                }             
            }                             
        }
    }        
    .wc-btn-updatecart,
    .wc-proceed-to-checkout{
        display: block;
        padding: 0;
        margin-bottom: 0;
    }
}
.cart_totals{
    padding: 18px 42px 42px 42px;  
    background: $table-bg-accent;
    @include rtl-margin(60px, 0, 0, 115px);        
}
.woocommerce-shipping-methods{    
    @include rtl-padding-left(0); 
}
.wc-proceed-to-checkout{
    .checkout-button{                
        width: 100%;        
        @include rtl-padding(16px, 30px, 15px, 30px); 
    }     
}
.cart_empty{
    .wc-btn-updatecart{
        margin: 0;    
        text-align: center;
        float: none;
        width: 100%;
    }
    .return-to-shop{
        margin: 0;    
        text-align: center;
        float: none;
        width: 100%;
        .wc-backward{                        
            outline-style: none;            
        }
    }    
}

.wc-btn-updatecart{
    width: 50%;
    margin-bottom: 20px;
    @include rtl-float-right();
    @include rtl-text-align-right();
    @include clearfix();    
}

.return-to-shop{
    @include rtl-float-left();    
    @include rtl-text-align-left();
    margin-bottom: 20px;   
    width: 50%;
    .wc-backward{                        
        padding: 15px 34px;
        height: 58px;  
    }
}
.trebol-coupon{
    padding: 0;
    margin: 0;    
    width: 70%;        
    border: 1px solid $color-border;      
    @include rtl-float-left();
    .coupon{
        .button{
            padding: 0;
            margin: 0;
            border: 0;                      
            color: $color-title;                          
            background: transparent;
            @include flexbox();
            @include justify-content(center);
            @include align-items(center);    
            @include square(58px);                    
            @include font-size(16px,24px);            
            font-family: $ionicons-font-family;
        }
    }
    .input-group-btn{
        padding: 0;
        background: transparent;
    }
    .form-control{
        border: 0;
    }
    span{
        border: none;
        padding: 0 15px;
        font-size: 16px;
        background: $white;
    }
    #coupon_code{
        background: transparent;
        height: 58px;
        padding: 15px;
        color: $gray-nobel;
        text-transform: uppercase;
        @include placeholder($gray-nobel);       
    }
    .input-group-addon{
        background: none;
        font-size: 13px;
        color: $color-title;
        text-transform: uppercase;
    }    
}
.trebol-coupon-update{
    width: 30%;
    @include rtl-float-right();
}

.cart-empty{
    text-align: center;
    margin-bottom: 30px;
}