.woocommerce,
.woocommerce-page{
    &.single-product{
        .breadcrumb{            
            @include rtl-float-left();   
            @include rtl-text-align-left();                          
            .woocommerce-breadcrumb{
                @include justify-content(flex-start);
            }
        }
        .product-nav,
        .breadcrumb{
            margin: 30px 0;
        }
        .product-nav-container{
            min-width: 80px;                        
            @include rtl-float-right();   
            @include rtl-text-align-right();             
        }        
        .cart{
            .quantity{
                .input-group-addon{
                    outline-style: none;        
                }
            }   
            .form-inline{
                @include rtl-margin-right(20px);
            }             
        }         
    }
}

/**
* Title Product
*/

.product_title{    
    padding: 0;
    margin: 0 0 5px 0;
    font-weight: 400;
    line-height: 36px;
    @include font-size(18px,24px);        
}
.detail-rating {
    display: inline-block;
    span {
        line-height: 40px;
        font-size: 12px;
    }
}

/**
* Detail-wrap Product
*/

.product-layout-carousel-sticky{
    .summary-before{
        position: relative;
        outline: none;        
    }
    .woocommerce-tabs{
        
    }     
    .product-detail-wrap{
        margin-top: 0;
        padding: 0;   
        .cart{
            width: 100%;            
        }
        .entry-summary{
            @include rtl-margin-left(15%);
            margin-top: 15%;
            max-width: 530px;
        }
        .wishlist-buttom{
            width: 352px;
            display: block;
            margin: 0;
            .yith-wcwl-wishlistaddedbrowse,
            .yith-wcwl-wishlistexistsbrowse{
                &.show{
                    a{                    
                        color: $white;
                        border-color: $theme-color;                        
                    }
                }
            }                  
        }
        .yith-wcwl-add-to-wishlist{
            a{
                width: 352px;                
                color: $color-black;
                text-align: center;
                text-transform: uppercase;
                font-weight: 500;
                padding: 0;
                border: 1px solid $color-black;
                background: transparent;                 
                @include border-radius(0);                    
                @include transition-all();
                &:hover
                &:active,
                &:focus,
                &:active{
                    color: $white;
                    background: $color-black;                                        
                    &:before{
                        color: $white;
                    }
                }
                &:before{
                    font-size: 20px;
                    @include rtl-right(0);
                    @include rtl-left(auto);
                    @include rtl-margin-right(36px);
                    @include vertical-align(absolute);                    
                }
            }
        }
    }   
    .product-gallery-slider{
        position: relative;
        @include transition(all 0.7s ease);
        .woocommerce-product-gallery__image{
            position: relative;
        }
    }
    .product-gallery-slider{
        &.slick-slider{
            .woocommerce-product-gallery__image{
                @include rtl-padding-right(15px);
                @include rtl-padding-left(15px);
            }
        }         
    }            
}

.product-layout-carousel-left{    
    .product-detail-wrap{
        margin: 0;
        padding: 0;
        background: $table-bg-accent;
        > .row{
            margin: 0; 
            > [class*="col-"]{
                padding-left: 0;
                padding-right: 0;
            }            
        }
        .woocommerce-product-details__short-description {
            margin-bottom: 45px;
            margin-top: 0;
        }        
        .product_meta{
            padding-top: 42px;
        }
        .entry-summary{
            &.trebol_summary{      
                .price {                    
                    @include justify-content(flex-start);
                }
                ul.trebol_list_att{
                    display: block;
                }
            }            
        }
        .cart{
            width: 100%;
            display: block;            
            .quantity{
                width: 135px;
                border: 0;
                .input-group{
                    border: 1px solid #d5d5d5;
                }
                input.qty,
                .input-group-addon{                
                    background: transparent;
                }
            }             
        }
        .wishlist-buttom{
            display: block;            
            padding: 0;
            width: 352px;
            margin: 0;
            .yith-wcwl-wishlistaddedbrowse,
            .yith-wcwl-wishlistexistsbrowse{
                &.show{
                    a{                    
                        color: $white;
                        border-color: $theme-color;                        
                    }
                }
            }       
            .yith-wcwl-add-to-wishlist{
                a{
                    width: 100%;                    
                    color: $color-black;
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: 500;
                    border: 1px solid $color-black;
                    background: transparent;        
                    @include border-radius(0);             
                    @include rtl-padding(0, 20px, 0, 0); 
                    @include transition-all();
                    &:hover{
                        color: $white;
                        background: $theme-color;
                        border-color: $theme-color;
                        &:before{
                            color: $white;
                        }
                    }
                    &:before{
                        font-size: 20px;
                        @include rtl-right(96px);
                        @include rtl-left(auto);
                        @include vertical-align(absolute);                    
                    }
                }
            }            
        }
        .summary-before{
            @include clearfix();
            min-height: 778px;
        }
        .product-nav{
            &.style-2{
                margin: 0;
            }
        }                
        .entry-summary{                                                
            margin-top: 0;
            min-height: 778px;
            @include rtl-margin-left(130px);
            @include rtl-padding(90px, 230px, 0, 0);             
            &.trebol_summary{                
                .woocommerce-breadcrumb,.breadcrumb{                                    
                    padding-bottom: 0;
                    @include rtl-text-align-left();
                }
                .woocommerce-product-rating{
                    @include align-items(baseline);                    
                    @include rtl-text-align-left();
                    @include justify-content(flex-start);
                }
            }
        }
        .product-gallery-slider{
            visibility: hidden;          
            @include opacity(0);        
            @include backface-visibility(hidden);
            @include transition(all 0.7s ease);
            &:hover{
                .slick-arrow{
                    visibility: visible;
                    @include opacity(1);                                        
                    @include backface-visibility(visible);
                    &.slick-prev{
                        @include rtl-left(100px);
                    }
                    &.slick-next{
                        @include rtl-right(100px);
                    }
                }
            } 
            .slick-arrow{
                @include square(58px);
                @include flexbox();
                @include justify-content(center);
                @include align-items(center);
                @include opacity(0);
                @include border-radius(0);     
                @include box-shadow(none);
                @include vertical-align(absolute);     
                @include transition(all 0.3s ease 0.2s);          
                @include backface-visibility(hidden);
                visibility: hidden;
                font-size: 0;                
                border: 1px solid $color-black;
                &:before,&:after{
                    color: $font-color;                        
                    font-size: 24px;      
                    @include transition(all 0.3s ease 0.2s);                
                }      
                &:hover,&:focus,&:active{                
                    background: $color-black;
                    &:before,&:after{
                        color: $white;                    
                    } 
                }      
                &.slick-prev{
                    @include rtl-left(80px);
                }
                &.slick-next{
                    @include rtl-right(80px);
                }
            }
            &.slick-slider{
                visibility: visible;
                @include opacity(1);                
                @include backface-visibility(visible);            
            }
        }
    }
    .woocommerce-tabs{
        border-top: 0px;
        padding-top: 140px;
    }
}

.product-layout-vertical{
    .product-gallery-slider,
    .product-thumbnails{  
        visibility: hidden;          
        @include transition-all();      
        @include opacity(0);        
        @include backface-visibility(hidden);        
        &:hover{
            .slick-arrow{
                visibility: visible;
                @include opacity(1);                                        
                @include backface-visibility(visible);
                &.slick-prev{
                    @include rtl-left(100px);
                }
                &.slick-next{
                    @include rtl-right(100px);
                }
            }
        } 
        .slick-arrow{
            @include square(58px);
            @include flexbox();
            @include justify-content(center);
            @include align-items(center);
            @include opacity(0);
            @include border-radius(0);     
            @include box-shadow(none);
            @include vertical-align(absolute);     
            @include transition(all 0.3s ease 0.2s);          
            @include backface-visibility(hidden);
            visibility: hidden;
            font-size: 0;                
            border: 1px solid $color-black;
            &:before,&:after{
                color: $font-color;                        
                font-size: 24px;      
                @include transition(all 0.3s ease 0.2s);                
            }      
            &:hover,&:focus,&:active{                
                background: $color-black;
                &:before,&:after{
                    color: $white;                    
                } 
            }      
            &.slick-prev{
                @include rtl-left(80px);
            }
            &.slick-next{
                @include rtl-right(80px);
            }
        }
        &.slick-slider{
            visibility: visible;
            @include opacity(1);            
            @include backface-visibility(visible);      
            .woocommerce-product-gallery__image{
                text-align: center;                
                @include rtl-padding-right(0);
                @include rtl-padding-left(0);                
            }      
        }
    }
    .product-detail-wrap{
        margin-top: 0;                
        .product-share-wrap{
            padding-top: 20px;
        }
        .na-gallery-image{            
            @include flex-wrap(wrap);            
            @include flexbox();   
          }
        .na-product-image{            
            max-width:83%;           
            @include flex-basis(83%); 
            @include flexbox();       
            @include align-items(flex-start);                     
        }
        .single-image-thumbnail{
            outline: none;            
        }
        .entry-summary{
            @include rtl-margin-left(80px);
        }
        .single-image-thumbnail{
            .product-thumbnails{                
                max-width:17%;           
                @include flexbox();                                
                @include flex-basis(17%);     
                @include align-items(flex-start);
                position: relative;    
                overflow: hidden;                  
            }
            .onsale {
                @include rtl-left(auto);                
                @include rtl-right(0);                
                @include rtl-margin(10px, 10px, 0, 0); 
            }
        }
    }
}

.product-layout-horizontal{
    .product-gallery-slider,
    .product-thumbnails{  
        visibility: hidden;          
        @include transition-all();      
        @include opacity(0);        
        @include backface-visibility(hidden);        
        &:hover{
            .slick-arrow{
                visibility: visible;
                @include opacity(1);                                        
                @include backface-visibility(visible);
                &.slick-prev{
                    @include rtl-left(100px);
                }
                &.slick-next{
                    @include rtl-right(100px);
                }
            }
        } 
        .slick-arrow{
            @include square(58px);
            @include flexbox();
            @include justify-content(center);
            @include align-items(center);
            @include opacity(0);
            @include border-radius(0);     
            @include box-shadow(none);
            @include vertical-align(absolute);     
            @include transition(all 0.3s ease 0.2s);          
            @include backface-visibility(hidden);
            visibility: hidden;
            font-size: 0;                
            border: 1px solid $color-black;
            &:before,&:after{
                color: $font-color;                        
                font-size: 24px;      
                @include transition(all 0.3s ease 0.2s);                
            }      
            &:hover,&:focus,&:active{                
                background: $color-black;
                &:before,&:after{
                    color: $white;                    
                } 
            }      
            &.slick-prev{
                @include rtl-left(80px);
            }
            &.slick-next{
                @include rtl-right(80px);
            }
        }
        &.slick-slider{
            visibility: visible;
            @include opacity(1);            
            @include backface-visibility(visible);      
            .woocommerce-product-gallery__image{
                text-align: center;
                @include rtl-padding-right(0);
                @include rtl-padding-left(0);
                img{
                    display: inline;
                }
            }      
        }
    }
    .product-detail-wrap{
        margin-top: 0;
        .product-thumbnails{
            margin-top: 19px;
            .gallery-cell{
                width: 102px !important;                
                @include rtl-margin-right(15px);
                a{
                    cursor: pointer;
                }
                &:last-child{
                    @include rtl-margin-right(0);  
                }
            }
        }             
    }
}

.product-layout-background{         
    .breadcrumb{
        outline-style: none;
        margin: 0px 0 10px 0;
    }
    .product-gallery-slider{          
        visibility: hidden;          
        @include transition-all();      
        @include opacity(0);        
        @include backface-visibility(hidden);              
        &:hover{
            .slick-arrow{
                visibility: visible;
                @include opacity(1);                                        
                @include backface-visibility(visible);
                &.slick-prev{
                    @include rtl-left(100px);
                }
                &.slick-next{
                    @include rtl-right(100px);
                }
            }
        }               
        .slick-arrow{
            font-size: 0;                
            visibility: hidden;            
            border: 1px solid $color-black;
            @include square(58px);
            @include flexbox();
            @include justify-content(center);
            @include align-items(center);
            @include opacity(0);
            @include border-radius(0);     
            @include box-shadow(none);
            @include vertical-align(absolute);     
            @include transition(all 0.3s ease 0.2s);          
            @include backface-visibility(hidden);            
            &:before,&:after{
                color: $color-black;
                font-size: 24px;      
                @include opacity(1);
                @include transition(all 0.3s ease 0.2s);                
            }      
            &:hover,&:focus,&:active{                
                background: $color-black;
                &:before,&:after{
                    color: $white;                    
                } 
            }      
            &.slick-prev{
                @include rtl-left(80px);
            }
            &.slick-next{
                @include rtl-right(80px);
            }
        }
        &.slick-slider{
            visibility: visible;
            @include opacity(1);            
            @include backface-visibility(visible);                 
            .woocommerce-product-gallery__image{
                text-align: center;
                @include rtl-padding-right(0);
                @include rtl-padding-left(0);                
            }      
        }
    }
    .product-detail-wrap{
        padding: 0;
        margin-top: 0;
        .price{            
            @include justify-content(center);
        }
        .onsale{                        
            @include rtl-left(auto);
            @include rtl-right(0);
            @include rtl-margin(10px, 25px, 0, 0); 
        } 
        .woocommerce-product-details__short-description{
            font-size: 16px;
            line-height: 26px;
            margin: auto;
            padding: 0 136px 40px;            
        }
        .product_meta{
            .posted_in{                
                @include rtl-padding-right(0);
            }
            > *{
                float: none;
                display: inline;
            }
        }         
        .product-thumbnails{
            text-align: center;
            .slick-track,
            .slick-list{
                height: 118px;
                width: 100% !important;   
            }  
            .slick-track{
                @include transform(none!important);   
            }
            .slick-slide{
                float: none;
                width: 100px !important;
                display: inline-block !important;                       
                a{
                    cursor: pointer;
                }         
            }
        }
        .entry-summary{
            margin: 0;
            padding: 90px 0 0 0;
        }
        .summary-before{
            background: $gray-93;
        }
        .na-product-image{            
            padding-left: 0;
            padding-right: 0;
            min-height: 770px;
            text-align: center;            
            .slick-slide{
                img{
                    display: inline;
                    width: auto;
                }
            }                         
        }
    }
    .variations_form{
        &.cart{        
            table{
                > thead, > tbody, > tfoot{
                    display: inline;
                    > tr{
                        display: inline-block;
                    }
                }              
            }
            div.swatchinput{                
                @include rtl-padding-right(2px);
            }
            label{                       
                &.wcvaswatchlabel{
                    height: 24px;
                    line-height: 24px;
                } 
            }                   
            .label{                            
                @include rtl-padding-right(8px);     
                @include rtl-text-align-right();                       
            }
            .value{            
                @include rtl-padding-left(8px);            
                @include rtl-text-align-left();
            }
        }
    }         
}

.product-layout-grid{
    .product-detail-wrap{
        margin-top: 0;
        .entry-summary{
            @include rtl-margin-left(70px);
        }
    }     
    .product-gallery-slider{        
        @include flexbox();
        @include flex(0 1 auto);
        @include flex-direction(row);
        @include flex-wrap(wrap);        
        @include rtl-margin-left(-.5rem);
        @include rtl-margin-right(-.5rem);        
        .woocommerce-product-gallery__image{            
            max-width: 50%;
            position: relative;              
            padding-bottom: 10px;          
            @include box-sizing(border-box);
            @include flex-basis(50%);
            @include rtl-padding-right(.5rem);
            @include rtl-padding-left(.5rem);                                  
        }
    }     
}

.product-layout-carousel{
    .product-gallery-slider{
        visibility: hidden;          
        @include opacity(0);        
        @include backface-visibility(hidden);
        @include transition(all 0.7s ease);
        &:hover{
            .slick-arrow{
                visibility: visible;
                @include opacity(1);                                        
                @include backface-visibility(visible);
                &.slick-prev{
                    @include rtl-left(100px);
                }
                &.slick-next{
                    @include rtl-right(100px);
                }
            }
        } 
        .slick-arrow{
            @include square(58px);
            @include flexbox();
            @include justify-content(center);
            @include align-items(center);
            @include opacity(0);
            @include border-radius(0);     
            @include box-shadow(none);
            @include vertical-align(absolute);     
            @include transition(all 0.3s ease 0.2s);          
            @include backface-visibility(hidden);
            visibility: hidden;
            font-size: 0;                
            border: 1px solid $color-black;
            &:before,&:after{
                font-size: 24px;      
                color: $color-black;  
                @include opacity(1);              
                @include transition(all 0.3s ease 0.2s);                
            }      
            &:hover,&:focus,&:active{                
                background: $color-black;
                &:before,&:after{
                    color: $white;                    
                } 
            }      
            &.slick-prev{
                @include rtl-left(80px);
            }
            &.slick-next{
                @include rtl-right(80px);
            }
        }
        &.slick-slider{
            @include opacity(1);
            visibility: visible;
            @include backface-visibility(visible);            
        }                
    }
    .product-gallery-slider{
        &.slick-slider{
            .woocommerce-product-gallery__image{
                @include rtl-padding-right(15px);
                @include rtl-padding-left(15px);
            }
        }         
    }    
    .product-detail-wrap{  
        margin-top: 0;    
        outline-style: none;
        .stock{            
            margin-bottom: 0;
            &.in-stock{
                color: $brand-success;
            }
            &.out-of-stock{
                min-width: 352px;
                width: auto;                
            }
        }
        .summary-before{
            position: relative;
        }
        .wishlist-buttom{
            display: block;
            margin: 15px 0 0 0;
            width: 100%;
            text-align: center;
            .yith-wcwl-add-to-wishlist{
                a{                   
                    line-height: 60px;                 
                    color: $color-black;
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: 500;
                    border: 1px solid $color-black;
                    background: transparent;      
                    display: inline-block;           
                    @include rtl-padding(0, 20px, 0, 0); 
                    @include size(352px,60px);
                    @include transition-all();
                    @include border-radius(0);    
                    &:hover{
                        color: $white;
                        background: $theme-color;
                        border-color: $theme-color;
                        &:before{
                            color: $white;
                        }
                    }
                    &:before{                        
                        @include font-size(16px,16px);
                        @include rtl-right(96px);
                        @include rtl-left(auto);
                        @include vertical-align(absolute);                    
                    }
                }
            }
        }
        .variations_form{                        
            table{
                > thead, > tbody, > tfoot{
                    > tr{
                        outline-style: none;
                    }
                }                
            }
            &.cart{ 
                display: inline;
                width: auto;
                table{                 
                    padding: 0;                                           
                    margin: 0;                    
                    > thead, > tbody, > tfoot{
                        display: inline;                        
                    }                                        
                }                                       
                .value{
                    @include rtl-text-align-left();
                }
                .label{                                        
                    @include rtl-padding(14px, 15px, 18px, 0);                    
                }                                
            }             
        }                
        .woocommerce-product-details__short-description{
            font-size: 16px;
            line-height: 26px;
            margin: auto;
            padding: 0 136px 40px;            
        }
        .entry-summary{
            margin: 0;
            padding: 80px 0 0 0;
            text-align: center;        
            .breadcrumb{                
                margin-bottom: 12px;
                margin-top: 0;
                float: none;
                text-align: center;                
            }    
        }        
        .product_meta{
            padding-top: 40px;
            > *{
                float: none;
                display: inline;
                margin: 0;
                padding: 0 5px 0 0;                
            }            
        }
        .na-product-image{
            padding-left: 0;
            padding-right: 0;            
        }
        .woocommerce-product-rating{
            min-height: 33px;
            @include flexbox();
            @include align-items(flex-start);
            @include justify-content(center);
            .star-rating,.woocommerce-review-link{
                margin-top: 0;
                float: none;
                display: inline-block;
            }            
        }         
    }     
}

.product-detail-wrap{
    margin-bottom: 142px;
    margin-top: 40px;     
    .btn{
        &.btn-sizeguide{
            display: block;
            margin-bottom: 18px;
        }
    }    
    .slick-dots{
        li{      
            padding: 0;            
            @include square(14px);      
            @include rtl-margin(0, 8px, 0, 8px);                         
            &.slick-active{
                button{                    
                    border-color: transparent;
                    &:before {                        
                        color: transparent;                        
                        border: 2px solid $color-black;                 
                    }
                }                
            }
            button{
                margin: 0;       
                padding: 0;                         
                @include square(14px);
                @include align(absolute);
                &:before {                                        
                    color: #9b9b9b;           
                    line-height: normal;                                      
                    @include square(100%);
                    @include opacity(1);
                    @include transition-all();
                    @include border-radius(100%);                           
                }     
            }            
        }        
    }     
    .single_add_to_cart_button{
        vertical-align: top;
    }
    .gallery-cell.slick-current{
        img{        
            @include opacity(1);
        }
    }     
    .woocommerce-review-link,
    .woocommerce-write-review-link{
        outline-style: none;
    }
    .woocommerce-product-rating{
        margin: 0;
    }
    .star-rating{
        height: 12px;
        @include rtl-margin(8px,10px, 0 ,0);
    }
    .review-link,
    .noreview{
        display: none;
    } 
    /**
    * Review product
    */
    .product-review,
    .woocommerce-review-link{
        color: $gray-nobel;
        &:hover{
            color: $theme-color;        
        }    
    }

    /**
    * Add review product
    */
    .product-add-review,
    .woocommerce-write-review-link{
        padding: 0 5px;
        color: $color-black;
        a{
            color: $color-black;   
        }
    }
    /**
    * Sale
    */
    .onsale{        
        z-index: 1;
        @include rtl-right(0);        
        @include rtl-left(auto);
    }
    .onhot{
        top:10px;
        @include rtl-right(40px);
    }

    /**
    * Availability
    */
    .availability{
        display: none;
    }
    .stock{                      
        width: 100%; 
        margin: 0 0 20px 0;        
        position: relative;        
        text-transform: uppercase;                
        vertical-align: middle;
        display: inline-block;
        @include border-radius(0);                        
        &.out-of-stock{
            height: 44px;                    
            padding: 8px 0;
            pointer-events: none;
            @include opacity(0.15);            
        }        
        &.in-stock{            
            color: $brand-success;
        }        
    }
    .variations{
        li{
            &:first-child{
                .label,
                .value{
                    padding-top: 0;
                }                
            }
        }
    }

    /**
    * Thumbnails
    */
    .na-product-image{
        position: relative;
    }
    .single-image-thumbnail{
        @include clearfix;
        position: relative;
    }
    .product-thumbnails{
        @include rtl-text-align-left();
        padding: 0;
        padding: 0;
        border: 0;        
        list-style: none;                
    }
    .product_vertical {
        .gallery-cell {            
            border: 0;
            padding: 0;
            margin: 0;
            a, 
            img {
                @include square(auto);
                cursor: pointer;                
            }
            img {                
                @include transition(0.4s);
                @include opacity(1);
            }
            .size-shop_thumbnail {
                display: block;                
            }
            &.is-selected img {                
                @include opacity(1);
                @include transition(0.4s);
            }

        }
    }
    .product_vertical{
        .gallery-cell{
            margin: 0 0 15px 0;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }      
    .thumbnails{
        position: relative;
        display: block;
        padding: 10px 50px !important;        
        li{
            text-align: center;
            margin: 5px;
        }
        #slider-prev,#slider-next{
            background: none !important;
            &:before{
                font-family: $ionicons-font-family;
                text-align: center;
                height: 26px;
                border: $border-color-base;
                border-radius: 100%;
                display: block;
            }
        }
        #slider-prev{
            @include rtl-left(15px !important) ;
            &:before{
                content: $ionicon-var-android-arrow-back;
            }
        }
        #slider-next{            
            @include rtl-right(15px !important);
            &:before{
                content: $ionicon-var-android-arrow-forward;
            }
        }
    }

    // Button
    .wishlist-buttom{
        bottom: 0;
        position: absolute;        
        @include rtl-right(0);
        @include square(44px);                
        @include rtl-margin(0, 20px, 33px, 0);                 
        .yith-wcwl-wishlistaddedbrowse,
        .yith-wcwl-wishlistexistsbrowse{
            &.show{
                a{                    
                    background: $theme-color;
                    &:before{
                        color: $white;
                    }
                }
            }
        }
    }
    .yith-wcwl-add-to-wishlist{
        a{
            position: relative;
            color: transparent;            
            overflow: hidden;                    
            font-size: 0;                
            background-color: $white;
            border: 0;
            @include flexbox();    
            @include square(44px);
            @include align-items(center);            
            @include justify-content(center);                       
            @include border-radius(0); 
            @include transition-all();            
            @include border-radius(100%);   
            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;                                        
                z-index: -1;
                background: $white;            
                @include border-radius(25px);
                @include square(100%);
            }
            &:before{            
                padding: 0;                       
                margin: 0;                                         
                color: $color-black;        
                z-index: 1;          
                content: "\e08a";                
                font-family: "simple-line-icons";                 
                @include align(absolute);                
            } 
            &:hover,&:active,&:focus{      
                color: $white;
                background-color: $color-black;
                &:after{
                    z-index: 0;               
                    @include opacity(0);                         
                    @include transform(scale(1.4));                             
                    @include transition(transform .4s ease 0s,opacity .4s ease 0s,-webkit-transform .4s ease 0s);                             
                }
                &:before{                       
                    color: $white;
                }
            }                         
        }
    }

    /**
    * Price Product
    */
    .price{        
        color: $color-black;
        padding: 15px 0 15px 0;
        line-height: 36px;
        margin-bottom:0;
        font-weight: 500;        
        @include font-size(20px,26px);
        @include flexbox();
        @include align-items(baseline);            
        del{
            font-size: 14px;            
            line-height: 36px;
            color: $font-color;
        }
        ins{
            line-height: 36px;
        }
    }
    /**
    * description
    */
    .woocommerce-product-details__short-description{
        margin-bottom: 24px;
        margin-top: 15px;
    }
    .entry-summary{
        margin-top: 0;
        @include rtl-margin-left(90px);
        .price{
            del{
                font-size: 26px;
                color: $gray-nobel;                
            }
        }
        &.trebol_summary{      
            .price{
                @include justify-content(center);   
            }
            .cart, .wishlist-buttom {
                float: none;
                display: inline-block;                    
                vertical-align: top;                    
                @include rtl-margin-right(10px);                
            }
            .yith-wcwl-add-to-wishlist{
                a{
                    width: auto;                    
                    @include rtl-padding(0, 72px, 0, 36px);   
                    &:before {                        
                        @include rtl-right(0);
                        @include rtl-margin-right(36px);                            
                    }
                }
            }
            .btn{
                &.btn-sizeguide{           
                    margin-bottom: 0;         
                    display: inline-block;
                    @include rtl-padding(18px, 15px, 0, 0);
                }
            }              
            ul.trebol_list_att{
                display: inline-block;
                vertical-align: middle;
            }       
            .product_title{
                margin-bottom: 12px;
            }            
            .breadcrumb,
            .woocommerce-breadcrumb{
                text-align: center;
                float: none;
                margin: 0 0 18px 0;
            }  
            .woocommerce-product-rating{
                min-height: 28px;
                @include flexbox();
                @include align-items(center);
                @include justify-content(center);
                .star-rating{
                    float: none;
                    text-align: center;
                    display: inline-block;
                    margin: 3px 0 0 0;
                }
            }             
        }
    }

    // Select option price
    .single_variation_wrap{
        position: relative;
        .single_variation{
            display: block;
        }
        .price{
            padding: 0;
            margin: 0;
            border-top: 0;
            border-bottom: 0;            
        }
    }

    /**
    * Description Product
    */
    .description{
        clear: both;
        position: relative;
        display: block;
        font-size: $font-size-base;
        line-height: $line-height-base;
        padding:0 0 20px;
        color: $font-color;
        p{
            margin: 0;
        }
    }
    ul{        
        margin: 0;
        padding: 0;
        list-style: none;
        @include rtl-padding-left(0px);
        &.trebol_list_att{
            list-style: none;            
            li{                
                color: $brand-success;          
                @include flexbox();
                @include align-items(center);                    
                &::-moz-selection { 
                    color: $white;
                    background: $brand-success;   
                }
                &::selection {
                    color: $white;
                    background: $brand-success;   
                }
                label{                    
                    position: relative;             
                    color: $brand-success;
                    margin-bottom: 0;
                    @include rtl-margin-right(5px);                    
                    @include rtl-padding-left(18px); 
                    &::-moz-selection { 
                        color: $white;
                        background: $brand-success;   
                    }
                    &::selection {
                        color: $white;
                        background: $brand-success;   
                    }                
                    &:before{
                        content: $ionicon-var-android-done;
                        font-family: $ionicons-font-family;                
                        @include rtl-left(0);
                        @include vertical-align(absolute);                         
                    }  
                }
                span{
                    &::-moz-selection { 
                        color: $white;
                        background: $brand-success;   
                    }
                    &::selection {
                        color: $white;
                        background: $brand-success;   
                    } 
                }
                &:last-child{
                    margin-bottom: 20px;
                }
            }
        }
        &.slick-dots{            
            bottom: 0;
            width: auto;
            height: auto;
            display: none;
            margin: 0 auto 25px auto;
        }
    }
    .woocommerce-variation-description{        
        clear: both;
        position: relative;
        display: block;        
        p{ 
            margin: 0; 
        }        
    }    
    /**
    * Button after Quantity
    */
    .cart{        
        display: block;        
        float: none;
        position: relative;                
        margin: 0;        
        padding: 0;                        
        > br{
            display: none;
        }
        table{
            &.variations{
                margin-bottom: 30px;
            }            
        }       
        label{
            &.wcva_single_textblock,
            &.wcvaswatchlabel{                
                margin: 0;            
                padding: 0;                
                line-height: 24px;
                border: 0 !important;
                outline-style: none !important;
                background-color: $whisper;
                @include border-radius(100%);
                @include transition(0.3s ease-out);                                
                &:hover, 
                &:active, 
                &:focus{
                    color: $white;
                    background-color: $theme-color;                
                }
            }
            &.selectedswatch{
                &.wcvasquare{
                    outline-color: $gray-nobel !important;
                }
            }            
        }
        div.swatchinput{
            padding-bottom: 0;
            label{                
                &.selectedswatch{
                    margin: 0 !important;                    
                    color: $color-black;     
                    outline: none !important;                    
                    @include box-shadow(none !important);
                    &:hover,&:focus,&:active{
                        color: $white;
                    }
                    &.wcvaround{
                        line-height: normal;      
                        height: 24px;                 
                        border: 2px solid #cccccc !important;                                                
                        @include box-shadow(5px 5px 25px 5px rgba(0, 0, 0, 0.2) !important); 
                    }
                }                
            }            
        }
        &.grouped_form{              
            width: 100%;
            margin: 0;
            ins{
                text-decoration: none;
            }
            .stock {                
                padding: 0;
                height: auto;
                width: auto;
                margin: 0;                                        
                color: $gray-nobel;
                background: transparent;
                @include opacity(1);                 
                @include rtl-float-right();       
                &.in-stock{
                    color: $brand-success;
                }
                &.out-of-stock{
                    color: $gray-nobel;
                }
            }      
            .quantity{
                input.qty,
                .input-group-addon{                
                    height: 30px !important;
                }                
            }             
            table{
                &.group_table{
                    margin-bottom: 20px;
                    border: 0;
                    > thead > tr, 
                    > tbody > tr, 
                    > tfoot > tr{
                        border-bottom: 0px;
                        border-top: 1px solid $color-border;
                        &:last-child{
                            border-bottom: 0;
                            > td{
                                padding-bottom: 0;
                                &.woocommerce-grouped-product-list-item__price{
                                    padding-top: 15px;
                                    line-height: inherit;
                                }                                
                            }
                        }
                    }
                    > thead > tr > th, 
                    > thead > tr > td, 
                    > tbody > tr > th, 
                    > tbody > tr > td, 
                    > tfoot > tr > th, 
                    > tfoot > tr > td{
                        padding: 15px 0;                        
                        vertical-align: middle;
                        @include rtl-text-align-left();
                        label{
                            margin: 2px 0 0 0;
                        }
                        &.woocommerce-grouped-product-list-item__price
                        {
                            padding-top: 0;
                            padding-bottom: 0;                    
                        }
                    }
                    .button{
                        padding: 0;
                        font-size: 12px;
                        font-weight: 600;                        
                        color: $white;
                        padding: 10px;                                                
                        background: $theme-color;
                        @include border-radius(0);
                        &.single_add_to_cart_button{
                            max-width: inherit;
                            width: 100%;                            
                        }
                        &:hover{
                            background: $color-black;
                        }                                                
                    }
                    .form-row,.form-group,.form-actions{
                        &:last-child{
                            margin-bottom: 0;
                        }    
                    }
                }
            }  
            .button{
                &.single_add_to_cart_button{
                    width: 100%;
                }
            }                                                     
        }
    }
    .swatches-support{
        > br{
            display: none;
        }
        table{
            tr{
                &:first-child{
                    td{
                        padding-top: 0;
                        &.label{
                            padding-top: 9px;
                        }
                    }
                }
            }
        }
    }
    .button-groups{        
        @include opacity(1);
    }
    .reset_variations{        
        font-size: 10px;
        font-weight: 400;        
        color: $font-color;        
        letter-spacing: 0.5px;
        text-transform: uppercase;               
        position: absolute;        
        top: 0;
        padding: 10px 0;       
        @include rtl-right(0);
        @include transition-all(); 
    }    
    /**
    * Button wishlist-buttom
    */
    .wishlist-buttom{
        .feedback{
            display: none;
        }
    }
    /**
    * Button after Quantity
    */
    .zoom-image{
        width: 100%;
        height: auto;
    }

    /**
    * Meta Product
    */
    .product_meta{        
        margin: 0;
        padding-top: 30px;                
        @include clearfix();
        @include rtl-clear-left();
        .product-meta-title{
            color: $color-black;      
            font-weight: 500;  
            text-transform: uppercase;                                                
            font-size: 14px;     
            @include rtl-padding(0, 5px, 0, 0); 
        }
        > * {                                                 
            @include rtl-padding(0, 10px, 0, 0); 
            a{
                color: $font-color;            
                &:hover,&:active,&:focus{
                    color: $theme-color;
                }
            }
        }
    }
    .product-share-wrap{
        padding: 20px 0 0 0;
        li{
            &:first-child {
                @include rtl-padding-left(0);
            }
        }        
    }    

    //share
    .product_vertical + *{
        padding: 7px 0;
        .text-share{
            padding-top: 30px;
            padding-bottom: 15px;
            display: block;
            font-weight: 500;
            text-align: center;
            font-size: 16px;
            text-transform: uppercase;
            color: #bdbdbd;
        }
        .product-share{
            display:block;
            text-align: center;
            a{
                padding: 10px;
                color: #9d9d9d;
                .fa{
                    font-size: 20px;
                }
            }
        }
    }
    .product-share-padding+*{
        @include rtl-padding-left(16.777%);
    }
}
.detail-breadcrumb{
    position: relative;
}
.product-nav-container{
    position: relative;
}
.product-nav{
    top:0;        
    padding: 0;
    margin: 80px 0;            
    position: absolute;    
    @include rtl-right(0);    
    &.style-2{
        top: 100px;
        @include rtl-right(100px);  
        margin: 0;             
        .product-pagination{
            float: none;
            display: block;
            margin: 0 0 15px 0 !important;
            &.previous-product-pagination,
            &.next-product-pagination{
                .icons{                 
                    @include justify-content(center);
                    @include align-items(center);                           
                }    
            }            
            .icons{
                background: $white;
                text-align: center;       
                @include square(60px);          
                @include justify-content(center);
                @include align-items(center);       
                @include border-radius(100%);
                @include box-shadow(10px 15px 40px 0px rgba($black,0.1));    
            }
            .product-pagination-content{
                top: 0;
                margin: -15px 20px 0;
                @include rtl-right(100%);
            }
            &.previous-product-pagination{
                .icons{
                    &:hover{
                        &:before{
                            @include animation(buttonFromRightToLeft 0.5s ease-in-out forwards);                            
                        }
                    } 
                }
            }
            &.next-product-pagination{
                .icons{
                    &:hover{
                        &:before{
                            @include animation(buttonFromLeftToRight 0.5s ease-in-out forwards);                        
                        }
                    } 
                }
                .product-pagination-content{
                    top: 0;                                        
                    @include rtl-left(auto);                               
                    @include rtl-right(0);     
                    @include rtl-margin(-15px, 80px, 0, 0);                                                 
                }  
            } 
        }        
    }
    .product-pagination {        
        padding: 0;
        margin: 0;        
        position: relative;
        min-height: 58px;
        @include rtl-float-left();        
        @include flexbox();
        @include align-items(center);              
        &.previous-product-pagination{
            .icons{
                @include justify-content(flex-end);
            } 
            &:hover{
                .product-pagination-content{                                        
                    visibility: visible;
                    @include opacity(1);            
                    @include backface-visibility(visible);
                    @include transform(translateX(0));   
                }
            }
        }   
        &.next-product-pagination{            
            @include rtl-margin-left(10px);
            .icons{
                @include justify-content(flex-end);
            } 
            .product-pagination-content{                
                @include rtl-left(0);
                @include rtl-right(auto);                
            }
            &:hover{
                .product-pagination-content{
                    visibility: visible;                    
                    @include opacity(1);            
                    @include backface-visibility(visible);
                    @include transform(translateX(0));   
                }   
            }            
        }    
        .product-pagination-icon{
            margin: 0;
            padding: 0;
            line-height: normal;
        }
        .product-pagination-content{
            top: 100%;
            position: absolute;
            visibility: hidden;
            width: 250px;
            padding: 4px;
            min-height: 90px;
            overflow: hidden;
            z-index: 1;
            background: $white;
            @include rtl-right(0);
            @include opacity(0);            
            @include backface-visibility(hidden);            
            @include transition(all .2s ease-out);
            @include rtl-text-align-left();
            @include box-shadow(10px 15px 40px 0px rgba($black,0.1));    
            @include transform(translateX(-15px));                   
            .product-pagination-title{                                    
                display: block;
                font-weight: 500;
                color: $color-black;
                overflow: hidden;
                zoom: 1;                                
                line-height: 20px;
                margin: 0;              
                @include rtl-padding(6px, 10px, 0px, 20px);       
            } 
            .product-pagination-price{
                padding: 0;
                zoom: 1;                              
                margin: 5px 0 0 0;
                font-size: 14px;
                overflow: hidden;                
                @include rtl-padding-left(20px);      
                ins{
                    text-decoration: none;
                }   
                del{
                    color: $gray-nobel;
                    @include rtl-margin-right(6px);                    
                }         
            }                      
            img{                                 
                @include square(80px);     
                @include rtl-float-left();                                   
            } 
            a{                               
                outline-style: none;
                &:hover,&:focus,&:active{
                    .product-pagination-title{                    
                        color: $theme-color;
                    }
                }
            }
        }
    }
    .icons{        
        background: transparent;        
        text-align: center;
        font-size: 30px;
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
        @include size(25px,20px);        
        &:hover {            
            color: $color-black;
        }
    }
}

/**
* Quantity Product
*/

.text-quantity{
    @include rtl-float-left();
    @include rtl-margin-right(20px);
    line-height: 36px;
    margin-top: 20px;
}
form.cart{
    .form-inline{
        display: inline-block;
    }
} 

.cart{
    .quantity {        
        width: 130px;
        cursor: pointer;
        position: relative;        
        display: inline-block;  
        border: 1px solid $color-border;          
        .input-group {
            border: 0;
            padding: 0;
        }
        input.qty {
            font-size: 14px;                        
            font-weight: 300;
            z-index: 0;
            border: 0;
            color: $color-black;            
            text-align: center;                        
            background: $white;                        
            width: 60px;
            height: 58px;
            @include appearance(textfield);            
        }
        .input-group-addon{            
            &:hover{
                color: $color-black;
            }
        }
    }
} 

/**
* Image Detail Product
*/
.product-gallery-slider{
    .woocommerce-product-gallery__image{
        top: 0;
        @include rtl-left(0);
        position: absolute;      
    }    
    &.slick-slider{
        .woocommerce-product-gallery__image{            
            position: relative !important;
            @include transition(all 0.5s ease);
        }
    }
    .slide{
        width: 100%;
        display: inline-block;
    }
}

//tabs
.woocommerce-tabs{
    background: $white;
    padding-top: 45px;
    min-height: 300px;
    margin-bottom: 120px;
    border-top: 1px solid $color-border;    
    .nav-tabs{
        border: 0;
        margin: 0;
        padding: 0;
        text-align: center;
        li{
            background: transparent;
            padding: 0;                       
            display: inline-block;                        
            list-style: none;
            cursor: pointer;
            text-transform: none;
            float: none;
            vertical-align: top;
            @include rtl-margin-right(60px);
            &.active{
                color: $color-black;
                background: none;
                a{
                    color: $color-black;
                    position: relative;               
                    &:hover,&:focus{
                        color: $color-black;
                    }
                }                        
            }
            a{                
                margin: 0;                
                padding: 0;
                font-size: 18px;
                font-weight: 500;            
                line-height: 30px;                
                background: transparent;                
                color: $font-color;
                line-height: 28px;
                position: relative;
                @include rtl-float-left();                
                &:after {
                    bottom: 1px;
                    content: "";
                    background: $color-black;
                    position: absolute;                    
                    @include size(100%,1px);
                    @include rtl-left(0);                    
                    @include transform(scaleX(0));                    
                    @include opacity(0);
                    @include transform-origin(100% 50%);
                    @include transition(transform .3s cubic-bezier(.77,0,.175,1),opacity .5s);     
                }
                &:hover,&:focus,&:active{
                    color: $color-black;
                    background: transparent;  
                    &:after {
                        @include opacity(1);                        
                        @include transform-origin(0 50%);
                        @include transform(scaleX(1)); 
                        @include transition(transform .3s cubic-bezier(.77,0,.175,1),opacity .3s);
                    }                 
                }
            }
        }
    }     
    ul {
        outline-style: none;
    }    
    .reviews_tab{
        a{
            &:hover,&:focus,&:active{
                background: transparent;
            }
        }
        span{
            top: -6px;
            display: block;                        
            border: 0;                        
            padding: 0;
            margin: 0;
            position: absolute;         
            background: transparent;   
            @include rtl-right(-22px);   
            &:before{
                display: block;
                content: "(";                
                font-size: 15px;
                @include rtl-left(-7px);
                @include vertical-align(absolute);
            }  
            &:after{
                display: block;
                content: ")";                
                font-size: 15px;
                @include rtl-right(-9px);
                @include vertical-align(absolute);
            }               
            &:hover,&:focus,&:active{
                background: transparent;
                &:before,
                &:after{
                    color: $color-black;
                }
            }                      
        }
    }
    .resp-tabs-container{
        margin-top: 0;
        padding: 30px 0px;        
        #comments > h5{
            margin: 0 0 20px;
        }
    }
    .entry-content{
        margin-top: 80px;
        .commentlist{
            p{                
                margin-bottom: 13.5px;
            }
        }
        h2{
            margin-top: 0;
            font-size: 24px;
            font-weight: 500;
            line-height: 36px;
            margin-bottom: 10px;
        }
        .woocommerce-Reviews{
            .woocommerce-noreviews{
                margin-bottom: 52px;
            }
            &:hover,&:focus{
                outline: none;
            }
        }
        .description-left{
            @include clearfix();
            @include rtl-margin-right(80px);
            ul{        
                list-style: disc;        
                @include rtl-padding-left(15px);
                a{
                    text-decoration: underline;   
                }
            }
        }
    }
    .tab-content{
        padding: 0;
    }
    //tab-description
    .tab-description{
        line-height: 24px;
    }
    #comments{
        margin-top: 50px;
    }
    #commentform{
        margin: 30px 0 0 0;
        @include flexbox();
        @include flex-direction(column);                
        > *{
            @include order(1);
        }
        .comment-form-comment{
            margin-bottom: 40px;
        }
        .comment-form-rating{
            @include order(0);               
        }
        .form-review-control{
            p{
                margin-bottom: 0;
            }
        }        
    }
    .comment-form-rating{
        margin-bottom: 40px;
        @include clearfix();        
        .stars{
            width: auto;
            display: inline-block;            
            margin-bottom: 0;
        }
    }
    //tab-reviews
    #reviews {
        .commentlist{
            padding: 0;
            margin: 0;
        }
        p.stars a {
            height: 20px;
            font-size: 16px;     
            &:before {
                font-size: 20px;    
            }
        }
        li{
            list-style: none;
            padding: 70px 0 60px 0;
            border-top: $border-color-base;
            &:first-child{
                border: 0;                
                padding-top: 0;
            }
        }
        .tall{
            color:#ececec;
        }
        .avatar{
            @include rtl-float-left();            
            @include border-radius(100%);
            @include rtl-margin-right(30px);
        }
        .comment-text{
            overflow: hidden;
        }
        .description{
            line-height: 26px;
            margin-bottom: 0;
            @include rtl-padding-left(0);
        }
        .comment-reply-title{
            display: block;            
            font-weight: 500;
            text-transform: none;
            color: $color-title;            
            @include font-size(18px,24px);            
        }
        .star-rating{
            float: none;
        }
        label{
            font-weight: 500;
            padding: 10px 0;
            font-size: 16px;            
            margin: 0;
        }
        .bypostauthor .comment-text .meta > strong{
            outline: none;   
        }
        .comment-form-rating{            
            label{
                display: block;
            }
        }        
        .comment-respond{
            margin-top: 30px;
            position: relative;
        }
        .comment-notes{
            outline: none;   
        }
    }
    .woocommerce-Reviews-title{
        font-size: 16px;
        display: none;
    }
    //tab-comments
    .comment-text{
        .meta{
            padding: 0;            
            margin: 0 0 5px 0;            
            @include clearfix();
        }
        .star-rating{
            margin-top: 0;
            margin-bottom: 6px;
        }
    }
    .woocommerce-review__author{
        font-size: 16px;
        font-weight: 500;
        display: block;
        @include rtl-float-left();
    }
    .woocommerce-review__dash{        
        @include rtl-float-left();
        @include rtl-margin(0, 10px, 0, 10px);
    }
    .woocommerce-review__published-date{
        font-size: 14px;        
        @include rtl-float-left();
    }
}

#review_form{
    #respond {
        @include clearfix();      
        .form-submit{
            text-align: center;
            margin-bottom: 0;
            input {                                                
                padding: 16px 60px;
            }
        }       
        textarea {            
            width: 100%;
            outline-style: none;
            @include box-sizing(border-box);          
            @include box-shadow(none);  
            &:focus{
                border-color: $font-color;
            }
            &:hover,&:focus,&:active{
                outline-style: none;
                @include box-shadow(none);  
            }
        }
    }
} 

.variations_form{    
    &.cart{
        ul{
            list-style: none;
            padding: 0;
        }
        li + li {
            margin-top: 10px;
            position: relative;
        }
        .label{
            padding: 10px 0;
            color: $color-black;            
            font-weight: 500;            
            width: 16%;
            vertical-align: middle;         
            @include rtl-text-align-left();                        
            > label{
                color: $color-black;
                font-size: 16px;
                text-transform: capitalize;
            }
        }
        .value{            
            vertical-align: middle;                     
            @include rtl-padding(10px, 0, 10px, 0px);
        }
        .reset_variations{
            padding-bottom:0px;
            display: block;
        }
        select{
            display: block;
            background-color: #F8F8F8;
            border: 1px solid #F1F1F1;
            width: 100%;
            color: #a4a4a4;               
            font-size: 14px;        
            background-image: url('../images/ico-select.svg');
            background-position: 95% 50%;
            background-repeat: no-repeat;
            @include appearance(none);        
            @include rtl-padding(5px, 35px, 5px, 15px);         
            > option{
                padding: 5px 15px;
                border-bottom: 1px solid #F1F1F1;

            }
        }
        .woocommerce-variation-price{
            padding: 0px 0 30px;
        }
        .woocommerce-variation-description{
        }
        .att_label{
            text-align: center;
            line-height: 32px;            
            font-size: 12px;
            cursor: pointer;
            &:hover,&.selected{
                background: $theme-color;
                color: $white;
            }
        }
        .att_color{
            margin: 8px 5px -5px;
            cursor: pointer;
        }
        .att_img{
            margin:0 5px;
            display: inline-block;
            cursor: pointer;
            >img{
                border: 1px solid $gray-93;
                height: 40px;
                padding: 3px;
                width: 40px;
            }
            &:hover,&.selected{
                >img{
                    border: 1px solid $theme-color;
                }
            }
        }
        table{
            border: none;
        }
        table > thead > tr, table > tbody > tr, table > tfoot > tr{
            border: none;
        }
        .swatchtitlelabel{
            font-weight: 500;
            font-size: 14px;
            text-transform: uppercase;
            color: $color-black;
        }   
    }
}

#yith-quick-view-content{
    .wp-post-image{
        width: 100%;
        height: auto;
        display: block;
    }
}

//FIx element
.single-product.woocommerce{
    .thumbnails{
        #slider-prev, 
        #slider-next{
            @include square(23px !important);
        }
    }    
} 

.product-detail-wrap .thumbnails #slider-prev::before,
.product-detail-wrap .thumbnails #slider-next::before,
.entry-summary .thumbnails #slider-prev::before,
.entry-summary .thumbnails #slider-next::before{    
    @include square(23px !important);
}
.yith_magnifier_gallery{
    li{
        a{
            margin-top: 0px !important;
        }
    }     
} 

.related.products-block,.related-wrapper .products-block{
    overflow: visible;
}

.thumbnails.slider {
    #slider-prev,#slider-next{
        position: absolute;
        top:50%;
        margin-top: -10px;
        cursor: pointer;
    }
}

#yith-wcwl-popup-message{
    line-height:24px;
    border-radius: 0;
}
.mfp-close{
    display: none !important;
}


#powerTip {    
    border: 0;    
    padding: 0 6px;
    height: auto;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.3px;
    visibility: visible;
    @include border-radius(0);
    @include opacity(1);
}

.tabs-related-block{
    .nav-tabs{
        text-align: center;
        .nav-item{     
            padding: 0px 26px;   
            &.active{
                .nav-link{
                    color: $color-black;
                    background: transparent;                      
                }                
            }                                         
            .nav-link{
                font-size: 24px;     
                position: relative;
                font-weight: 500;
                padding: 0;
                color: $gray-nobel;                
                line-height: normal;                  
                &:after {
                    bottom: 2px;
                    content: "";
                    background: $color-black;
                    position: absolute;                    
                    @include size(100%,1px);
                    @include rtl-left(0);                    
                    @include transform(scaleX(0));                    
                    @include opacity(0);
                    @include transform-origin(100% 50%);
                    @include transition(transform .3s cubic-bezier(.77,0,.175,1),opacity .5s);     
                }
                &:hover{
                    color: $color-black;
                    background: transparent;  
                    &:after {
                        @include opacity(1);                        
                        @include transform-origin(0 50%);
                        @include transform(scaleX(1)); 
                        @include transition(transform .3s cubic-bezier(.77,0,.175,1),opacity .3s);
                    }                 
                }
                &:hover{
                    color: $color-black;
                }
            }
        }
    }
    .tab-pane{
        &.fade{
            &.active{
                @include opacity(1);
            }   
        }     
    }
}