//language
#na-top-navbar{
    .language{
        position: relative;
    }
    #language-switch{
        background: none;
        border: none;
        ul{
            padding: 0;                        
            margin-top: 0;            
            background: $topbar-bg;                        
            @include border-radius(0);
            @include box-shadow(none); 
            > li{
                border-top:$topbar-border-color;
                list-style:none;
                float: none;
                color: $topbar-color;
                border-left:none ;
                border-right:none ;
                a{
                    display: inline-block;
                }
                span{
                    color: $topbar-color;
                    cursor: pointer;
                    &:hover{
                        color: $theme-color;
                    }
                }
            }
        }
        img{
            @include rtl-margin-right(5px);
        }
        .fa{
            @include rtl-margin-left(5px);
        }
        .icl_lang_sel_translated{
            display: none;
        }
    }
}
.na-carousel{
    .product-block{
        margin-top: 0;
    }
}
.woocommerce-currency-switcher{
    display: none;
    height: 0;
}
.wrap-select-currency,
.wrap-select-country{
  position: relative;
  &:after{
    background:transparent;
    color: $topbar-color ;
    content: $ionicon-var-chevron-down;    
    font-family: $ionicons-font-family;
    height: 100%;
    line-height: 26px;
    pointer-events: none;
    position: absolute;
    @include rtl-right(0);
    text-align: center;
    top: 0;
    width: 10px;    
  }
}
.currency_switcher{
  .woocommerce-currency-switcher {
    background: none;
    border: none;
    @include  rtl-margin-right(10px);
  }
  .woocommerce-currency-switcher-form{
    .dd-pointer{
        display: none !important;
    }
    .dd-select{
      background: none !important;
      border: none;
    }
    .dd-desc{
      display: none;
    }
    .dd-selected{
      padding: 0 ;
      width: 40px;
      line-height: 24px;
    }
    .dd-selected-text,.dd-option-text{
        color: $topbar-color ;
        margin: 0;
        text-transform: capitalize;
        font-weight: 400 !important;
        cursor: pointer;
        font-size: 12px;
        &:hover{
            color: $theme-color;
        }
    }
    .dd-options{
      position: absolute;
      width: 95px !important;
      top:32px;
      @include rtl-left(-20px);
      box-shadow:none;
      background: $topbar-bg;
      border: $topbar-border-color;
      li{
        display: block;
        width: 100%;
        float: none;
        @include rtl-border-left(none !important) ;
        border-bottom: $topbar-border-color;
        &:last-child{
            @include rtl-border-right(none !important) ;
        }
      }
      a{
        background: none;
        border-bottom: none;
      }
    }
  }
}


//cart ==================
.na-cart{
    position: static;    
    .mini-cart{           
        position: relative;
        @include  rtl-padding-left(0);
    }
    .icon-cart{        
        color:$icon-bar;            
        text-align: center;
        @include square(34px);
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
        .mini-cart-items{
            @include border-radius(50%);             
            @include rtl-right(0);            
            @include square(20px);
            @include flexbox();
            @include justify-content(center);
            @include align-items(center);            
            background: $theme-color;                        
            color: $white !important;
            font-size: 12px;            
            padding: 0;
            z-index: 0;
            bottom: -6px;      
            font-weight: 400;            
            position: absolute;
            text-align: center;                        
            line-height: normal;            
        }
    }
    .group-mini-cart{
        position: relative;
        overflow: hidden;
        display: none;
    }
    .total{
        padding:15px 0px;
        margin: 5px 0 0 0;
        font-size: 13px;
        font-weight: 500;
        border-bottom: $border-color-base;
        border-top: $border-color-base;       
        .amount{
            color: $text-color;
            font-size: 15px;          
            font-weight: 300;  
        }
    }
    .quantity{
        margin: 0;
        font-size: 13px;
    }
    .cart_list{
        .product_list_widget{
            > li{
                margin-top: 15px;
                padding-bottom: 15px;
                &:first-child{
                    margin-top: 0;
                }
                &:last-child{
                    padding-bottom: 0;
                }
            }
        }         
    }     
}

@include media-query($tablet-small) {
    .na-cart{
        position: relative;
    }
}

//widget cart ==========================================================================================================
.icon-cart{
    font-size: 24px;
}
.cart-panel{
    padding: 0;
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(flex-start);        
}
.cart-panel-title{
    padding: 0;
    margin: 0;
    border: 0;
    min-height: 40px;   
    @include flexbox();
    @include align-items(center);    
}
.icon-cart{
    cursor: pointer;
}
#cart-panel-loader {   
    margin: 0;  
    padding: 0;  
    height: 0px; 
    text-align: center;     
    @include transition-all();             
    .loader{                 
        visibility: hidden;       
        margin: 0;        
        font-weight: 300;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        display: inline-block;           
        color: $text-color;        
        @include opacity(0);
        @include rtl-padding(0, 30px, 30px, 30px);                  
    }
    &.show {    
        height: auto;    
        .loader{            
            @include opacity(1);
            visibility: visible;
        }
    }
    > *{
        font-size: 16px;
        position: relative;
        &:before{               
            content: "";                             
            background: $brand-success;
            color: $theme-color;                   
            position: absolute;
            top: 0;            
            margin: 0;
            @include border-radius(100px);
            @include square(12px);
            @include rtl-left(0px);
            @include animation(0.8s ease 0s normal none infinite running dotFade);
        }
    }
}
.cart-header{
    padding: 0;
    margin: 0;
    .mycart{
        font-size: 18px;
        color: $color-title;
    }
    .close{               
        color: transparent;    
        position: relative;
        overflow: hidden;
        background-color: transparent;
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
        @include square(40px);
        @include opacity(1);
        &:before{                        
            content: $ionicon-var-android-close;
            font-family: $ionicons-font-family;
            font-size: 18px;
            display: block;            
            font-weight: 300;
            @include opacity(1);
            @include center-box(absolute);
        }
        &:hover{
            &:before{                        
                outline-style: none;
            }            
        }
    }
}
.cart-bottom{    
    padding: 0;
    border: 0;
    margin: 10px 0 0 0;
    p{
        margin: 0;
        padding: 0;
    }
    .buttons{
        margin: 30px 0 0 0;
        .button{
            width: 100%;
            margin-bottom: 10px;
            border: 1px solid transparent;
            &:hover,&:focus,&:active{
                color: $color-black;
                border: 1px solid $color-black;
                background: transparent; 
            }
            &:first-child{
                color: $color-black;
                border: 1px solid $color-black;
                background: transparent;                
                &:hover,&:focus,&:active{
                    color: $white;
                    background: $color-black;
                }
            }
            &:last-child{
                margin-bottom: 5px;
            }
        }
    }
}

.cart-box{        
    width: 320px;
    border: 0;    
    padding: 15px;
    top: 105%;
    position: absolute;    
    max-height: 308px;    
    overflow-y: scroll;
    background-color: $white;
    z-index: 1000;
    visibility: hidden;    
    pointer-events: none;    
    @include rtl-left(auto);    
    @include rtl-right(30px);      
    @include border-radius(0);
    @include rtl-text-align-left();   
    @include opacity(0);    
    @include backface-visibility(hidden);    
    @include box-sizing(border-box);
    @include border-radius(0.25rem);
    @include transition(all .35s cubic-bezier(.53,.01,.18,1));       
    @include box-shadow(0 0 35px rgba(140, 152, 164, 0.125));       
    .empty{
        border: 0 !important;
    }
    .mini-cart-close{
        padding: 0;
        margin: 0;
        border: 0;
        top: 0;
        position: absolute;
        background: transparent;
        color: $color-black;
        font-size: 24px;                
        display: block;
        text-align: center;
        @include rtl-right(0);
        @include square(56px);
    }
}

@include media-query($tablet-small) {
    .cart-box{
        width: 300px;
        margin: 23px 0 0 0;
        @include rtl-right(0);    
        @include rtl-left(auto);            
    }
}

.product-remove{
    vertical-align: middle;
    text-align: center;
    a {
        color: $gray-nobel;
        font-size: 30px;   
        font-weight: 300;
        background: transparent;
        @include border-radius(0);        
        &:hover,&:active,&:focus{
            color: $theme-color;
        }
    }
}

.cart_list{
    margin: 0;
    padding: 0;    
    overflow-y: auto;    
    .product_list_widget{
        visibility: visible;
        padding: 0;
        margin: 0;
        > li{
            padding: 0;
            margin: 0;
            &.empty{
                text-align: center;
            }
        }        
    }
    .empty{
        line-height: 24px;
        border-bottom: none;
        padding-bottom: 0;
    }
    li{
        display: block;        
        position: relative;        
        padding-bottom: 15px;           
        border-bottom: $border-color-base;
        @include clearfix;
        &:last-child{
            border-bottom: 0;
        }
        .cart-image{
            width: 30%;            
            @include rtl-float-left();
            @include rtl-padding-right(15px);
        }
        .cart-main-content{
            width: 70%;
            @include rtl-float-left();
        }
        .name{
            margin: 0;
            line-height: 21px;
            font-size: 14px;            
            @include rtl-padding-right(25px);
            a{                
                font-weight: 500;
                color: $color-title;
                &:hover{
                    color: $theme-color;
                }
            }
        }        
        .cart-item{
            padding: 0;
            margin: 0;            
            width: 100%;
            min-height: 30px;            
            @include flexbox();
            @include align-items(flex-start);
            .amount{
                margin: 0;
                padding: 0;
            }
        }
        .remove{                        
            padding: 0;
            margin: 0 5px 0 0;
            border: 0;
            font-size: $font-size;
            color: $text-color;                              
            position: absolute;
            bottom: 15px;
            right: 0;
            width: 30px;
            height: 30px;
            text-align: right;           
            line-height: normal;
            @include justify-content(flex-end);
            @include align-items(flex-end); 
            @include flexbox();            
        }
    }
    .wp-post-image{
        width: 80px !important;
        height: 100%;        
    }    
}
.cart-bottom{
    strong{
        @include rtl-float-left();                
        text-transform: uppercase;
    }
    .mini-cart-subtotal{
        display: inline-block;
        @include rtl-float-right();        
    }
    .amount{
        color: $gray-nobel;
        font-weight: 500;
    }
}

.btn-viewcart{
    @include rtl-margin-right(5px);
}
.cart-box-open{
    .cart-box{        
        top: 100%;
        display: block;                
        visibility: visible;        
        pointer-events: auto;                
        @include opacity(1);
        @include backface-visibility(visible);                 
    }
    .canvas-overlay.show{
        outline: thin;             
    }
    .is-sticky{
        #ri-header{
            &:after{
                content:"";
                background-color: rgba(0, 0, 0, 0.4);
                position: absolute;
                top: 0;
                z-index: 999;
                @include rtl-left(0);
                @include square(100%);
            }
        }
    }     
}

.btn-viewcart{
    @include rtl-margin-right(5px);
}

.country_select{
    >*{
        line-height: 30px;
    }
}

/* woocommerce table styles */
.woocommerce,
.woocommerce-page{  
    // Style Select 2
    .select2-container{        
        .select2-search__field{
            height: 30px;
        }
    }
    .select2-dropdown{
        @include border-radius(0);        
       border: 1px solid $color-border;
    }
    .select2-container--default{            
        &.select2-container--focus{
            .select2-selection--multiple{
                border: 1px solid $color-border;                
            }        
        }
        .select2-selection--multiple{
            @include border-radius(0);  
            border: 1px solid $color-border;
            .select2-selection__choice{
                line-height: normal;
                font-size: 12px;                                
                text-transform: uppercase;
                color: $gray-nobel;
                margin-top: 6px;
                border: 0;                
                position: relative;
                background: $table-bg-accent;
                @include border-radius(0); 
                @include rtl-padding(8px, 24px, 8px, 10px);
                .select2-selection__choice__remove{
                    display: block;
                    font-weight: 300;      
                    font-size: 20px;
                    margin: 0;  
                    color: $gray-nobel;                              
                    @include rtl-right(0);
                    @include rtl-padding(0,10px,0,0);                                             
                    @include vertical-align(absolute);       
                    &:hover{
                        color: $theme-color;
                    }                                                     
                }                                
            }              
        }
    }
    // End Style Select 2
    table{
        &.shop_table {
            width: 100%;
            @include rtl-margin(0,0,30px,0);
            @include  rtl-text-align-left;    
            > thead, > tbody, > tfoot{
                > tr{
                    > th{
                        font-size: 16px;           
                        font-weight: 500;
                        color: $color-black;
                        text-transform: uppercase;
                    }
                }                 
            }            
        }
        &.shop_attributes{
            th {
                width: 150px;
                font-weight: 700;
                padding: 8px;
                border-top: 0;                
                margin: 0;
                line-height: 1.5;
                color: $color-black;
            }
            th {                
                width: 25%;
                font-weight: 500;
                @include rtl-text-align-right();                
            }
            td {
                font-style: italic;
                padding: 0;
                border-top: 0;            
                margin: 0;
                line-height: 1.5;
            }
            td, th {                
                padding: 19px 36px;
                border: 1px solid $table-border-color;
            }            
            tr:nth-child(even){
                td,th{
                    background: rgba($black,0.05);                                        
                }
            } 
        }         
    }      
}

.select2-container{
    .select2-choice{
        border:1px solid $color-border;     
        padding:5px;
        line-height: 24px;
        height: 36px;
        @include border-radius(0);
    }
} 

.f-coupon-code{
    width: 240px;
    display: inline-block;
}

.group-cover{
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10;
    background: rgba(33, 33, 33, 0.6);
    &:before {
        content: "";
        display: inline-block;
        height: 100%;
        @include rtl-margin-right(-0.25em);
        vertical-align: middle;
    }
    .title-page{
        font-size: 36px;
        line-height: 40px;
        color: $white;
        letter-spacing: 2px;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 0;
    }
    .cover-inner{
        display: inline-block;
        max-width: 80%;
        position: relative;
        vertical-align: middle;
        text-transform: capitalize;
        color: #ccc;
    }
    a{
        color: #ccc;
        &:hover{
            color: $white;
        }
       &:after{
           content: "-";
           font-size: 10px;
           color: #ccc;
           @include rtl-margin-left(15px);

       }
    }    
}

.quantity{
    .input-group-addon{
        position: relative; 
        padding: 0;
        background: $white;
        border: 0;
        margin: 0;
        text-align: center;
        display: inline-block;
        vertical-align: middle;        
        font-size: 0 !important;
        color: transparent !important;                  
        width: 30px !important;
        height: 57px !important;        
        &:before{          
            font-size: 20px;              
            color: $color-black;            
            font-family: $ionicons-font-family;
            @include center-box(absolute);            
        }  
        &.qty-minus{            
            &:before{
                content: $ionicon-var-ios-minus-empty;
            }            
        }
        &.qty-plus{          
            &:before{
                content: $ionicon-var-ios-plus-empty;   
            }            
        }
    }
} 


//navigation
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    &:focus{
        background-color: #eee;
        clip: auto !important;
        clip-path: none;
        color: #444;
        display: block;
        font-size: 1em;
        height: auto;
        left: 5px;
        line-height: normal;
        padding: 15px 23px 14px;
        text-decoration: none;
        top: 5px;
        width: auto;
        z-index: 100000; /* Above WP toolbar. */
    }
}

.paging{
    margin-top: 90px;
    &.paging_loadMore{
        display: none;
    }   
}

.pagination{
    display: block;    
    margin: 30px 0 0 0;
    padding: 0;
    line-height: normal;    
    text-align: center;
    @include clearfix();
    > li{
        > a, > span{
            border: 0;
            padding: 0;         
            text-align: center;       
            color: $color-black;                                   
            background: $table-bg-accent;     
            @include square(52px);   
            @include rtl-margin-right(12px);                
            @include box-shadow(none);
            @include border-radius(50%);        
            @include flexbox();
            @include justify-content(center);
            @include align-items(center);            
            @include transition-all();
        }   
        &:last-child{
            > a, > span{
                @include border-radius(50%);  
                @include rtl-margin-right(0);         
            }  
        }  
        &:first-child{
            > a, > span{
                @include border-radius(50%);  
                @include rtl-margin-left(0);         
            }  
        }         
    }        
    .page-numbers{                                
        &:hover{
            color: $white;
            background: $color-black;
        }
    }
    .current,
    span.current{
        color: $white;        
        background: $color-black;        
        pointer-events: none;
        &:hover{
            background: $color-black;        
            color:$white;
        }
    }
    > li{
        display: inline-block;
    }   
}
.image-pagination{
    .page-numbers{
        &:hover{
            border: none !important;
            background:none !important;
        }
        padding: 0;
        border: none;
    }
}
.page-links{
    padding-top: 30px;
    .page-links-title{        
        color: $color-title;
        text-transform: uppercase;
        @include rtl-padding-right(30px);
    }
    span.page-numbers{
        background: #3f51b5;
        color:#FFF ;
        width: 40px;
        height: 40px;
        line-height: 40px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        border: none;
        display: inline-block;
        padding: 0;
        @include rtl-margin-right(5px);
        text-align: center;
        &:hover{
            background: #3f51b5;
            color:#FFF ;
        }
    }
    a > span.page-numbers{
        background: #F3F3F3;
        color: #3f51b5;
    }

}
//calendar
#calendar_wrap{
    padding-bottom: 0;

    #wp-calendar{
        border: 1px solid $color-border;
    }
    #today{
        background:$theme-color;
        color: $white;
    }
    thead{
        background: #FAFAFA;
    }
    td{
        padding: 8px;
        text-align: center;
    }
    table > thead > tr > th,
    table > tbody > tr > th,
    table > tfoot > tr > th{
        padding: 10px;
    }
}
.table-striped > tbody > tr:nth-of-type(2n+1){
    background: #FFF;
}
.table-striped{
    ul li{
        display: inline-block;
        margin: 0;
    }
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .trebol-custom-simple{
        @include rtl-text-align-left();
        .att_label{
            text-align: center;
            line-height: 30px;
            color: $black;            
        }
    }
    .att_img,.att_label,.att_color{
        margin: 0;
    }
}

//Category
.expand-icon {
    display: block;
    height: 10px;
    position: relative;
    width: 10px;
}
.expand-icon::after, .expand-icon::before {
    background: #212121 none repeat scroll 0 0;
    content: "";
    display: block;
    position: absolute;
}
.expand-icon:hover::after, .expand-icon:hover::before {
    background: $theme-color none repeat scroll 0 0;
}
.expand-icon::after {
    height: 100%;
    @include rtl-left(calc(50% - 1px));
    top: 0;
    width: 2px;
}
.expand-icon::before {
    height: 2px;
    @include rtl-left(0);
    top: calc(50% - 1px);
    width: 100%;
}
.triggernav.active .expand-icon::after {
    display: none;
}
.availability,.text-share{
    color:$color-title ;
    font-size: $font-size-base;
    font-weight: 500;
}
.alert{
    border-style:dashed;
    border-color: #cbcbcb;
    &.alert-success{
        background: none;
        color: $font-color;
        border-color: #e5e5e5;
        .close{
            display: none;
        }
    }
    .button{
        @include rtl-float-right();
        margin-top: -6px;
        font-weight: 500;
    }
    a{
        color: $theme-color;
        &.button{
            color: $white;
        }
    }

}

.contact-maps iframe{
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -o-filter: grayscale(1);
    -o-filter: grayscale(1);
}

.panel{    
    background: none;
    @include border-radius(3px);
    .shop_tables{
        border: none;
        background: none;
    }
}
.panel{
    border: none;
    .panel-heading{        
        padding: 10px 0;
        background: none !important;
    }
}

.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {    
    padding: 12px 24px;    
    margin-bottom: 2.617924em;
    margin-left: 0;    
    list-style: none;
    position: relative;    
    clear: both;    
    background: transparent;    
    border: 1px dashed $gray-95;
    @include clearfix;            
    @include border-radius(0px);            
    &:before {
        top: 0;        
        content: none;        
        display: block;
        position: absolute;        
        @include size(6px, 100%);
        @include rtl-left(0);
    }    
    strong{
        color: $font-color;        
    }  
    li{
        line-height: 32px;
    }  
    a {
        text-decoration: underline;
        &:hover {            
            @include opacity(1);
        }
        &.button:hover {            
            @include opacity(1);
        }
    }
    .button {                
        border: 0;
        padding: 0;
        margin: 0;        
        font-weight: 500;
        background: transparent;                
        @include box-shadow(none);        
        @include rtl-margin-right(10px);      
        @include rtl-float-right();               
    }
    pre {
        background-color: rgba( 0, 0, 0, 0.1 );
    }
}

.woocommerce-info{  
    color: $brand-info !important;
    border-color: $brand-info !important;
    a{
        color: $brand-info !important;
    }
    &:before {
        background-color: darken($brand-info, 12%);
    }
    strong{
        color: $brand-info !important;
    }
}
.woocommerce-message {    
    color: $brand-success !important;
    border-color: $brand-success !important;
    a{
        color: $brand-success !important;
    }
    &:before {
        background-color: darken($brand-success, 12%);
    }
    strong{
        color: $brand-success !important;
    }
}
.woocommerce-error{
    color: $brand-danger !important;
    border-color: $brand-danger !important;
    a{
        color: $brand-danger !important;
    }
    &:before {
        background-color: darken($brand-danger, 12%);
    }
    strong{
        color: $brand-danger !important;
    }
}

.woocommerce-store-notice{    
    text-align: center;
    margin: 0;
    position: fixed;
    color: $white;
    background: $brand-info;
    bottom: 0;    
    width: 100%;
    padding: 0;
    padding: 10px;    
    @include clearfix();
    .woocommerce-store-notice__dismiss-link{
        top: 0;                
        color: $white;                
        position: absolute;                
        padding: 10px 20px;
        background: darken($brand-info, 10%);        
        @include rtl-right(0);
        @include rtl-float-right();
        &:hover{
            color: $white;
        }
    }
}

table{
    &.shop_table_responsive{
        thead{
            display: none;
        }
        tbody{
            tr{
                &:first-child{
                    td{
                        padding-top: 30px;
                    }
                }
                &:last-child{
                    td{
                        padding-bottom: 30px;
                    }
                }
                td{
                    &:first-child{
                        padding-left: 0;
                        text-align: left;
                    }
                    &:last-child{
                        padding-right: 0;
                        text-align: right;
                        border-bottom: 1px solid $color-border;
                    }
                }
            }
            th {
                display: none;        
            }
        }  
        tr{
            td {
                display: block;                
                clear: both;                
                padding: 15px 0;
                @include rtl-text-align-right();                
                &.product-remove{
                    a {
                        @include rtl-text-align-left();
                    }
                    &:before {
                        display: none;
                    }
                }  
                &.actions::before,
                &.download-actions::before {
                    display: none;
                }       
                &.download-actions{
                    .button {
                        display: block;
                        text-align: center
                    }                    
                }         
            }
            td[data-title]::before {
                content: attr(data-title) ": ";
                font-weight: 500;
                font-size: 15px;
                color: $color-black;
                @include rtl-float-left();
            }
        }    
        &.my_account_orders{
            .order-actions {
                @include rtl-text-align-right();
                &:before {
                    display: none;
                }
            }
        }              
    }
}

@include media-query($tablet-small) {
    .demo_store {
        bottom: 0
    }  
    table{        
        &.shop_table_responsive{            
            thead {
                display: table-header-group;
            }
            tbody{
                tr{
                    td,th{
                        @include rtl-text-align-left();
                    }
                    td{
                        &:last-child {
                            border-bottom: 0px;
                        }
                    }
                }
                th {
                    display: table-cell;        
                }
            }   
            tr{
                td {
                    display: table-cell;
                    vertical-align: middle;
                    padding: 15px;
                    &:before {
                        display: none;
                    }
                }
            }                       
        }             
    }
}

.form-row {
    label {
        display: block;
    }
    input,
    textarea,
    select {
        width: 100%;
    }
    input[type=checkbox],
    input[type=radio] {
        width: auto;
    }   
    &.create-account {
        label {
            display: inline-block;
        }
    }
    &.woocommerce-validated {
        input.input-text {            
            @include box-shadow(inset 2px 0 0 $brand-success); 
        }
    }
    &.woocommerce-invalid {
        input.input-text {
            @include box-shadow(inset 2px 0 0 $brand-danger); 
        }
    }
}

.required {
    border-bottom: 0 !important;
    color: red;
}

.cross-sells{
    margin-top: 50px;
    text-align: center;
}