@include media-query($tablet-small) {	
	.form-row-first {
		width: 48%;
		clear: both;
		@include rtl-float-left();
    	@include rtl-margin-right(30px);		
	}
	.form-row-last {		
		width: 48%;
		@include rtl-float-right();
		@include rtl-margin-right(0);		
	}
	.form-row-wide {
		clear: both;
		width: 100%;
	}
	.col2-set {			
		width: 100%;		
		@include rtl-margin-right(0); 
		.form-row-first {
			width: 47.666%;
			@include rtl-float-left();		
			@include rtl-margin-right(30px); 
		}
		.form-row-last {
			width: 47.666%;
			@include rtl-float-right();
			@include rtl-margin-right(0);					
		}
		.col-1,
		.col-2 {
			margin-bottom: 30px;
		}
		& + #customer_details {
			display: none;
		}
		.woocommerce-billing-fields {
			@include clearfix;
		}
		&.addresses {
			width: 100%;			
			margin-left: 0;
			margin-right: 0;
			@include rtl-float-left();			
			.col-1 {
				width: 48%;
				@include rtl-float-left();							
				@include rtl-margin-right(30px);
			}
			.col-2 {
				width: 48%;
				@include rtl-float-right();											
				@include rtl-margin-right(0);
			}
		}
	}	    
}