//shipping--------------------------
.shipping_address > p{
    margin-bottom: 20px;
}
.shipping{
    .amount{
        @include rtl-float-right();
        @include rtl-margin-left(5px);                
    }
    input{
        height: auto;
    }
    ul{
        li{
            padding: 2px;
            label{
                text-transform: capitalize;                
            }
        }
        list-style: none;
        label{
            width: auto;
            display: inline-block;                        
            position: relative;
            &:before{                
                height: 12px;                
                top: 8px;
                width: 12px;                                
                content: none;
                cursor: pointer;
                display: block;
                position: absolute;
                border: 1px solid #ccc;
                @include rtl-left(-20px);                          
                @include border-radius(50%);                       
                background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            }
        }
    }
    .shipping_method{
        visibility: hidden;
        display: none;
        &:checked + label::before {
            border-color: #282828;
            border-width: 2px;
        }
    }
    .shipping-calculator-button{
        text-transform: none;
        color: $theme-color;
    }
    select,input{        
        @include size(100%,33px);
    }
}

/**
 * Thank you
 */

.woocommerce-order-received{
    .page-title{
        outline-style: none;
    }
    .thankyou-order-details{
        text-align: center;
    }
    ul.order_details{
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 20px;
        list-style: none;
        padding: 0;
        li{
            padding: 30px;
            @include rtl-float-left();
            @include rtl-text-align-left();
            color: $gray-nobel;
            strong{
                margin-top: 10px;
                color: $black;                
                display: block;
            }
        }
    }
}
.thankyou-order{
    padding: 0;
    text-align: center;    
    margin: 45px 0 30px 0;
}
.woocommerce-thankyou-order-received{
    margin: 0;    
    font-size: 24px;
    text-align: center;
    position: relative;
    color: $brand-success;
    font-weight: 500;
    display: inline-block;    
    @include rtl-padding(0, 0, 0, 80px);    
    &:before{
        color: $white;
        font-size: 24px;
        background: $brand-success;        
        font-family: $ionicons-font-family;
        content: $ionicon-var-checkmark;        
        @include rtl-margin-right(10px);        
        @include square(60px);
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
        @include border-radius(100px);
        @include rtl-left(0);
        @include vertical-align(absolute);
    }
}
.thankyou-order-payment-details{
    max-width: 768px;
    margin: auto;
    > p{        
        margin-bottom: 30px;
    }
    .wc-item-meta{
        margin-top: 15px;
    }
    .woocommerce-order-details{
        border: 1px solid $color-border;        
        background: #fafafa ;
        margin-bottom: 30px;        
        @include border-radius(3px);
        h2{
            margin: 0;
            font-size: 18px;
            text-transform: uppercase;
            padding:20px;
            border-bottom: 1px solid $color-border;
        }
        .order_details{
            margin: 0;
            padding: 0;
            border: 0;
            background: transparent;
            tfoot{
                tr{
                    &:last-child{
                        border-bottom: 0;
                    }
                }
            }
        }
        .product-total{
            @include rtl-text-align-right();
        }
        tr > *{
            vertical-align: middle;
            padding: 20px;
            line-height: inherit;
        }
        thead{
            th{
                border-bottom: 1px solid $color-border;
            }
        }
        tfoot{
            > tr{
                &:last-child{
                    .amount{
                        font-weight: bold;
                    }
                }
                th{
                    text-align: left;
                }
                td{
                    text-align: right;
                }
            }            
        }         
    }
    .woocommerce-customer-details{
        h2{
            padding:15px 0;
            margin: 30px 0 20px;
            font-size: 18px;
            text-transform: uppercase;
            border-bottom: 1px solid $color-border;
        }
        p{            
            margin-bottom: 5px;            
        }
        address{
            margin-bottom: 0;
        }
    }
    .order_heading{
        padding: 20px;
        margin: 0;
        border-bottom: 1px solid $color-border;
    }
}
.customer_details{
    tr{
        > *{
            border: none;
            vertical-align:middle;
        }
    }
}

/**
 * tracking order
 */
.track_order{
    .form-row{
        width: 48%;
        .button{
            width: 100%;
        }
    }
    .form-row-last{
        margin-bottom: 40px !important;
    }
    .form-row-first, .form-row-last{
        float: none !important;        
        @include rtl-margin-right(0!important);      
    }
}