//Affect Style

/**
* Hover image
*/

.hover-image{
    position: absolute;
    top:0;        
    height: auto;    
    @include transition(0.4s);    
    @include rtl-left(-100%);
}

.img-effect{
    &:hover{
        .wp-post-image{
            @include rtl-margin-left(100%);
            @include transition(0.4s);
        }
        .hover-image{            
            margin: auto;
            @include rtl-left(0);
            @include rtl-right(0);
            @include transition(0.4s);
        }
    }
}

//zoom
.affect-zoom{
    position: relative;
    @include transition(0.4s);
    &:after{
        position: absolute;
        @include rtl-left(0px);
        width: 100%;
        height: 100%;
        top:0;
        content: "";
        pointer-events:none;
    }
    img{
        @include scale(1);
        @include transition(0.4s);
    }
    &:hover{
        img {
            @include scale(1.05);
            @include transition(0.4s);
        }
    }
}

.affect-zoom-animation{
    position: relative;
    @include transition(0.4s);
    &:after{
        position: absolute;
        @include rtl-left(0px);
        width: 100%;
        height: 100%;
        top:0;
        content: "";

    }
    &:hover{
        &:after{
            @include transition(0.4s);
            background: rgba(0, 0, 0, 0.3);
        }
        img {
            animation: 10s linear 0s alternate none 2 running animation_zoom;
        }
    }
}

@keyframes animation_zoom {
    0% {
        transform: scale(1) translateX(0px);
    }
    50% {
        transform: scale(1.2) translateX(-10px);
    }
    75% {
        transform: scale(1.3) translateX(-20px);
    }
    100% {
        transform: scale(1.4) translateX(-30px);
    }
}

//flast
.affect-fast{
    position: relative;
    &:after{
        position: absolute;
        @include rtl-left(-100%);
        width: 100%;
        height: 100%;
        top:0;
        content: "";
        background: url('#{$image-theme-path}mlass.png') no-repeat;
        @include transition(1.5s);
        pointer-events:none;
    }

    &:before {
        border: 6px solid rgba(255, 255, 255, 0.5);
        bottom: 0;
        box-sizing: border-box;
        content: "";
        @include rtl-left(0px);
        overflow: visible;
        position: absolute;
        @include rtl-right(0px);
        top: 0;
        pointer-events:none;
    }

    &:hover{
        &:after{
            @include transition(1.5s);
            @include rtl-left(100%);
        }
    }

}

//button
.add-links,.quick-view{
    display: inline-block;
}


.list-view {
    .product-block{
        &:hover{
            .caption-product{
                background: transparent;
            }
            .name a{
                color: $color-title;
            }
        }
    }
}

@mixin hover-zoom() {
    position: relative;      
    overflow: hidden;
    img {
        max-width: 100%;                
    }    
    &:hover{
        img {        
            outline-style: none;
        }
    } 
    @include media-query($tablet-small) {
        img {               
            @include transition(all 0.6s);     
        }    
        &:hover{
            img {        
                @include transform(scale(1.1));
            }
        } 
    }
    @media (min-width: 768px) and (max-width: 1024px) {                 
        img {               
            @include transition(none);     
        }    
        &:hover{
            img {        
                @include transform(none);
            }
        } 
    }
}

.hover-zoom{
    @include hover-zoom();
    > *{
        overflow: hidden;
    }
}

@-webkit-keyframes aniload {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }
}

@-moz-keyframes aniload {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }
}

@-ms-keyframes aniload {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }
}

@-o-keyframes aniload {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }
}

@keyframes aniload {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }
}

@-webkit-keyframes buttonFromLeftToRight {
    0% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%)
    }
    25% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
    50% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
    75% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%)
    }
}

@keyframes buttonFromLeftToRight {
    0% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%)
    }
    25% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
    50% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
    75% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%)
    }
}

@-webkit-keyframes buttonFromRightToLeft {
    0% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%)
    }
    25% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
    50% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
    75% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%)
    }
}

@keyframes buttonFromRightToLeft {
    0% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%)
    }
    25% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
    50% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
    75% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%)
    }
}

@-webkit-keyframes buttonFromTopToBottom {
    0% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%)
    }
    25% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
    75% {
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%)
    }
}

@keyframes buttonFromTopToBottom {
    0% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%)
    }
    25% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
    75% {
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%)
    }
}