.block-video{	
	.box-button-link{		
		margin: 0;
		padding: 0;
	}
	.btn-video{		
		@include center-box(absolute);		
	}	
	.trebol_popup_modal{
		&.fade{
			.modal-dialog {				
				display: block;				
				padding: 0;				
				border: 0;				
				text-align: center;						
				@include square(100%);
				@include box-shadow(none);				
			}
		} 	
		&.modal {
			padding: 0;
			text-align: center;			
			&:before {
				content: '';
				height: 100%;
				display: inline-block;				
				vertical-align: middle;	
				@include rtl-margin-right(-4px);
			}
		}	
		.modal-body{
			padding: 0;		
			border: 0;								
			overflow: hidden;		
			text-align: center;				
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;			
			width: 62%;
			height: 70%;
			margin: auto;			
		}
		.modal-content{
			border: 0;
			padding: 0;
			margin: 0;
			position: relative;			
			background: transparent;
			@include box-shadow(none);
			@include square(100%);
		}
		.modal-header{
			padding: 0;
			min-height: auto;
			border: 0;
			.close {
				top: 0;			
				margin: 0;
				padding: 0;
				position: absolute;			
				color: $white;								
				background: transparent;
				@include opacity(1);
				@include rtl-right(0);
				@include flexbox();
				@include square(60px);
				@include justify-content(center);
				@include align-items(center);
				@include border-radius(0px);
				&:before{
					color: $white;	
					font-size: 30px;
				}				
			}
		}
	}		
	&.style1{
		.box-video{
			position: relative;
			max-height: 420px;
			overflow: hidden;
			@include flexbox();
			@include align-items(center);
		}	
		.box-video-intro{				
			@include flex-grow(1);		
			.box-video-intro-wrap{
				overflow: hidden;
				@include rtl-padding-left(70px);
				@include rtl-margin-right(30px);	
			}	
			.box-title{
				margin-bottom: 16px;
			}
			.box-description{
				margin-bottom: 45px;
			}
		}
		.box-video-images{
			@include flexbox();		
			@include justify-content(flex-end);
			@include flex-grow(1);
			.box-image{
				@include hover-zoom();
			}
		}
	}
	&.style2{
		position: relative;
		padding-top: 122px;
		&:before{
			content: "";
			background: #F7F4EF;
			top: 0;
			width: 100%;
			height: 620px;
			@include rtl-left(0);
			position: absolute;
		}
		.box-video{
			position: relative;
			.box-video-images{
				width: 75%;
				position: relative;
			}
			.box-video-intro{
				width: auto;
				overflow: hidden;
				position: absolute;
				bottom: 0;
				padding-bottom: 114px;
				@include rtl-right(0);				
			}
		}
		.box-title{
			line-height: 70px;
			font-weight: 600;
			margin-bottom: 22px;
			@include font-size(48px,60px);
		}
		.box-description{
			font-size: 16px;
			color: $color-black;
			line-height: 26px;
			font-weight: 400;			
			margin-bottom: 38px;
		}
	}
	&.style3{
		.box-video{
			.box-video-images{
				position: relative;				
			}	
		}		
	}
}

.modal-backdrop{
	&.in {		
		@include opacity(.8);
	}
}

@include media-query($tablet-small) {
	.block-video{		
		outline-style: none;
	}
}