#sb_instagram{
	position: relative;	
	@include clearfix();	
	#sbi_load{			
		padding: 0 !important;
		margin: 0 !important;
		@include clearfix();
		.sbi_follow_btn {
			margin: 0;
			padding: 15px 0 0 0;
			position: static;	
			vertical-align: middle;
			@include rtl-right(auto);	
			@include square(auto);				
			a{				
				margin: 0;				
				background: $white;
				letter-spacing: 1px;
				padding: 6px 22px;				
				color: $color-black;
				text-align: center;				
				font-weight: 500;				
				@include border-radius(0);
				@include box-shadow(none);					
				@include flexbox();
				@include align-items(center);
				@include transition(all 0.3s); 
				&:hover{
					background: $white;
					@include box-shadow(none);
				}
			}	
		}	
	}
	#sbi_images{
		outline: none;
	}
	.sbi_photo{
		position: relative;
		&:hover{
			&:before{
				@include opacity(1);		
				visibility: visible;
			}	
		}
		&:before{
			content: "";			
			position: absolute;
			top: 0;
			left: 0;
			visibility: hidden;
			background: rgba($white,.4);
			@include square(100%);			
			@include opacity(0);		
			@include transition-all();	
		}
	}
}

@include media-query(mobile-medium) {
	#sb_instagram{		
		#sbi_images{
			margin: -15px 0 0 0;
			.sbi_item{				
				padding: 15px 0 !important;
			}
		}
	} 		
}

@include media-query($tablet-small) {
	#sb_instagram{
		#sbi_load{			
			.sbi_follow_btn {		
				padding: 0;										
				@include center-box(absolute);				
			}
		}		
	}	
}


