.block-team{
	.box-team{
		text-align: center;
	}
	.box-title{
		font-size: 18px;		
		margin: 20px 0 0 0;
		line-height: 26px;
	}
	.box-subtitle{
		margin-bottom: 30px;
	}
	.box-image{
		overflow: hidden;
		@include hover-zoom();
	}
}