.block-category-slider{	
	position: relative;
	.box-title{		
		margin-top: 0;	
		margin-bottom: 12px;
		font-weight: 600;			
		line-height: 70px;		
		@include font-size(32px,60px); 		
	}	
	.box-name{				
    	bottom: 0;				
		color: #EDE9DE;			
		line-height: 152px;	
		position: absolute;		
		font-weight: 700;		
		white-space: nowrap;		
		overflow: hidden;		
		letter-spacing: 12px;
		text-transform: none;
		@include rtl-margin(0, 0, 0, 28%); 
		@include rtl-left(50%);
		@include transform(translateX(-50%));
		@include font-size(100px,210px);			    	
    	@include animation(typing 1.5s steps(44) 1s 1 normal both);  
	}
	.category-slider-content{
		padding-top: 22%;
		@include rtl-padding-left(21%);		
	}
	.category-slider-carousel{
		position: relative;		
		.box-subtitle{						
			font-size: 16px;
			color: $color-black;			
			text-transform: uppercase;
			font-weight: 500;
			letter-spacing: 6px;
			line-height: 26px;						
			top: 0;
			position: absolute;			
			background: $white;
			margin: 0;
			padding: 8px 20px;
			@include vertical-text();
			@include rtl-left(0);												
		}
	}	
}