.block-masonry-category{
	.box-image{				
		.box-image-link{
			display: block;
			@include square(100%);
			@include hover-zoom();
		}
	}	
	&.style2,&.style3,&.style4{
		.box-title{			
			margin: 0 0 7px 0;
			line-height: 36px;
			@include font-size(20px,26px);
		}
		.box-description{
			margin: 0 0 12px 0;			
		}	
	}
	&.style1{
		margin: 0 -5px;		
		.grid-sizer{
			width: 50%;		
		}
		.box-title{
			margin: 0 0 15px 0;
		}
		.box-description{
			margin: 0 0 15px 0;
		}
		.box-masonry{
			width: 50%;		
			padding: 5px;			
			.box-content{
				position: relative;
				@include square(100%);				
				.box-content-inner{							
					@include rtl-left(0);					
					@include rtl-padding-left(50px);	
				}			
			}	
			&.large{
				.box-content{
					.box-content-inner{
						top: 0;
						position: absolute;	
						padding-top: 50px;			
					}
				}			
			}
			&.small{
				.box-content{
					.box-content-inner{
						padding-top: 0;		
						@include vertical-align(absolute);									
					}
				}			
			}		
		}
	}
	&.style2{		
		.grid-sizer{
			width: 100%;		
		}
		.na-block-content{
			margin: 0 -15px;				
		}			
		.box-masonry{					
			min-height: auto;			
			margin-bottom: 30px;					
			.box-content{
				position: relative;
				@include square(100%);				
				.box-content-inner{
					bottom: 0;
					position: absolute;
					padding-bottom: 30px;						
				}							
			}	
			&.large{				
				width: 100%;																
			}
			&.small{								
				width: 50%;					
			}		
		}
		.box-content-inner{							
			@include rtl-left(0);					
			@include rtl-padding-left(30px); 								
		}
		.btn-link-primary{
		/* 	
			color: $text-color;
			font-size: 14px;
			&:hover{
				color: $theme-color;
			} 
		*/
		}				
	}
	&.style3,&.style4{
		.small{													
			.box-content{						
				.box-content-inner{							
					padding-top: 55px;							
				}
			}
		}
		.box-content{
			overflow: hidden;												
			position: relative;
			.box-content-inner{
				top: 0;
				position: absolute;
				padding-top: 58px;
				@include rtl-left(0);
				@include rtl-padding-left(52px); 								
			}
		}
	}		
	&.style3{
		margin: 0 -15px;
		padding: 0;
    	.na-block-content{		    		
    		@include flexbox();
    		@include flex-wrap(row wrap);		    		
			&:after {
				content: '';
				display: block;
				clear: both;
			}				
			.grid-item,
			.grid-sizer {
			  	max-width: 50%;
				@include flex-basis(50%);
			}
			.gutter-sizer { 
				width: 0;
			} 
			.box-masonry{			
				height: auto;
				max-width: 100%;
				@include flex-basis(100%);								
				overflow: hidden;				
				margin-bottom: 30px;		
				padding-left: 15px;
				padding-right: 15px;
				@include rtl-float-left();				
				&.large{
					height: auto;
					max-width: 100%;
					@include flex-basis(100%);					
				}
				&.small{										
					max-width: 50%;
					@include flex-basis(50%);					
				}
			}		
			.box-title {
				margin-bottom: 13px;
			}			
		}
	}
	&.style4{
		.grid-sizer{
			width: 25%;			
		}
		.na-block-content{
			margin: 0 -10px;				
		}		
		.box-masonry{	
			padding-left: 10px;
			padding-right: 10px;	
			margin-bottom: 20px;
			.box-image-link{
				img{
					width: 100%;
				}
			} 			
			&.large{
				width: 50%;			
			}
			&.small{
				width: 25%;			
			}
		}
	}
}

@include media-query($tablet-small) {
	.block-masonry-category{
		&.style2{
			.box-title{			
				margin: 0 0 15px 0;			
			}
			.box-masonry{	
				min-height: 380px;		
				.box-content{
					.box-content-inner{		
						padding-bottom: 50px;				
						@include rtl-padding-left(50px); 
					}
				} 				
			}
			.grid-sizer{
				width: 33.33%;		
			}
			.box-masonry{
				&.large {
					width: 66.67%;																
				}
				&.small {
					width: 33.33%;		
				}
			}			
		} 	
		&.style3{
			.na-block-content{		    			    		
				.grid-sizer{
					max-width: 33.33%;
					@include flex-basis(33.33%);					
				}
				.box-masonry{																
					&.large{									
						max-width: 66.67%;
						@include flex-basis(66.67%);					
					}
					&.small{						
						max-width: 33.33%;
						@include flex-basis(33.33%);					
					}
				}										
			}
		}	
	}		
}

@include media-query(tablet-small) {
	.block-masonry-category{
		&.style2{
			.box-masonry{
				min-height: 232px;
			}
		} 		
	}	
}

// Only 320px
@include media-query(mobile-small) {
  	.block-masonry-category{
  		&.style2{
  			.box-masonry{
  				.box-content{
  					.box-title{
  						margin-top: 18px;
  						font-size: 16px;
  					}
  					.box-content-inner {					
						position: relative;
						padding-bottom: 0;
						text-align: center;
						@include rtl-padding-left(0);
					}
  				}   				
  			}   			
  		}   		
  	}  	
}