.na-block{
	.widgettitle{
		margin-bottom: 42px;
	}
	.box-title{
        margin-bottom: 14px;
    } 
}

.block-title-heading{	
	.box-title{
		margin-bottom: 16px;
	}	
	.box-subtitle{
		outline-style: none;	
	}
	.box-description{
		outline-style: none;
	}
	.box-button-link{		
		margin-top: 14px;
	}	
	&.style2{		
		.box-title{
			color: $white;
		}	
		.box-subtitle{			
			color: $white;
			text-transform: uppercase;	
			font-weight: 500;
			letter-spacing: 0.8px;
			font-size: 14px;
			margin: 0 0 12px 0;
		}
		.box-description{			
			color: $white;
		}	
		.box-button-link {
			margin-top: 23px;
		}
	}	
	&.style3{						
		.na-block-content{
			@include flexbox();
			@include flex-direction(column-reverse);			
		}
		.box-title{
			margin-bottom: 12px;
		}	
		.box-subtitle{			
			font-size: 14px;
			font-weight: 500;
			margin-top: 0;			
			color: $theme-color;						
		}
		.box-description{			
			outline: none;							
		}		
	}
	&.style4{
		.box-title{
			font-size: 24px;
			margin-bottom: 30px;
		}
	}
	&.style5{
		.box-title{
			font-size: 60px;
			line-height: 70px;
			color: $white;
		}
	}
}

@include media-query($tablet-small) {
	.block-title-heading{		
		.box-button-link{
			margin-top: 36px;
		}
		&.style3{						
			.box-title{
				margin-bottom: 24px;
			}						
		}		
	}
}

