/* Content elements margins
---------------------------------------------------------- */
.wpb_alert p:last-child,
#content .wpb_alert p:last-child,
.wpb_text_column p:last-child,
.wpb_text_column *:last-child,
.wpb_text_column > *:last-child,

#content .wpb_text_column p:last-child,
#content .wpb_text_column *:last-child,
#content .wpb_text_column > *:last-child,

.wpb_toggle_content p:last-child,

.wpb_tab>div>.wpb_wrapper>.wpb_content_element:last-child,
.wpb_accordion_section>.ui-accordion-content>div>.wpb_wrapper>.wpb_content_element:last-child {
    margin-bottom: 0;
}

/* Remove unwanted margins in tabs, accordions, tours
---------------------------------------------------------- */
.vc_row-fluid.ui-accordion-content>.wpb_content_element:last-child,
.wpb_tab.vc_row-fluid>.wpb_content_element:last-child {
    margin-bottom: 0;
}

#content .wpb_text_column:last-child,
#content .wpb_text_column p:last-child,
.wpb_text_column:last-child,
.wpb_text_column p:last-child {
    margin-bottom: 0;
}

.vc_column_container {
    .wpb_gmaps_widget{
        .wpb_wrapper { 
            padding: 0;
        }
    }
}

.js-vc_parallax-o-image {
    top: 0;    
    height: 100%;    
    background-attachment: fixed;
    background-clip: padding-box;
    background-position: 50% 50%;    
    background-repeat: no-repeat;    
    @include opacity(1);
    @include transition(0.4s); 
}

.wpb_single_image{
    outline-style: none;
}

.wpb-js-composer{
    .vc_tta{ 
        &.accordion-small{
            &.vc_tta-color-grey{
                &.vc_tta-style-classic{
                    .vc_tta-panel{
                        .vc_tta-panel-body {                                     
                            padding: 15px 0;
                        }
                    }      
                }
            }                       
        }
        &.vc_general{
            .vc_tta-panel-title{
                font-size: 16px;
            }
        }   
        &.vc_tta-accordion{
            .vc_tta-panel-heading{
                .vc_tta-controls-icon-position-right{
                    .vc_tta-controls-icon {                             
                        @include rtl-right(0);
                    }
                }   
            }                        
        }        
    }  
    .vc_tta-color-grey{
        &.vc_tta-style-classic{
            .vc_active{
                .vc_tta-panel-heading{
                    .vc_tta-panel-title{
                        .vc_tta-controls-icon{
                            &:after,&:before{
                                border-color: $color-black;
                            }
                        }   
                    }                    
                }                 
            }                         
            .vc_tta-panel-heading{
                .vc_tta-controls-icon{
                    &:after,&:before{
                        border-color: $color-black;
                    }
                }    
            }                       
        }         
    }    
    .vc_tta-accordion{
        &.vc_tta-color-grey{
            &.vc_tta-style-classic{
                .vc_tta-panel{
                    margin-top: 0;
                    border-bottom: 1px solid $color-border;
                    &.vc_active{
                        outline-style: none;
                    }
                    .vc_tta-panel-heading {        
                        border-width: 0px;                        
                        background-color: transparent;
                        &:hover,
                        &:focus{
                            background-color: transparent;
                        }
                    }
                    .vc_tta-panel-body {                                                
                        background-color: transparent;
                        border-width: 0;                        
                        padding: 15px 0px 30px 0;                            
                    }
                    .vc_tta-panel-title{
                        > a {
                            color: $color-black;
                            background: transparent;                            
                            @include rtl-padding-left(0);
                        }                        
                    }                     
                    &.vc_active{
                        .vc_tta-panel-title{
                            > a {
                                color: $color-black;
                            }
                        }   
                        .vc_tta-panel-heading {        
                            border-width: 0px;                            
                            background-color: transparent;
                        }
                    }                
                }               
            }
        }   
        &.vc_tta{
            &.vc_general{
                .vc_tta-icon {
                    font-size: 10px;                                                
                    @include rtl-right(30px);
                    @include vertical-align(absolute);
                }
                .vc_tta-panel-title{
                    > a {
                        padding: 20px 0px;
                    }
                }                 
            }  
        }                                
    }    
} 


