//style slider Show Case
.block-slider-showCase{
    .block-title{
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        white-space: nowrap;
        position: absolute;
        left: -60px;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 1px;
        margin: 0;
        top: 0;
        bottom: 0;
        font-size: 14px;
        line-height: 24px;
        color: #959595;
        text-align: center;
    }
    .block-share{
        list-style: none;
        padding: 0;
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;        
        white-space: nowrap;
        position: absolute;
        right: -60px;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 1px;
        margin: 0;
        top: 0;
        bottom: 0;
        font-size: 14px;
        line-height: 24px;
        color: #959595;
        text-align: center;
        @include transform(rotate(180deg));
        .social-item{
            padding: 20px 0;
            display: inline-block;
            a{
                color: #959595;
                &:hover{
                    color: $color-title;
                }
            }
        }
    }
    .tab-content{
        position: relative;
        display: block;
        height: calc(100vh - 244px);
        min-height: 600px;        
    }
    .tab-panes{
        position: absolute;
        top:0;
        width: 100%;
        height: 100%;        
    }
    .na-block-content{        
        @include flexbox();        
    }
    .list-slider,.slick-list,.slick-track,.slick-slide{
        position: relative;
        height: 100%;
    }
    .ground-header-tabs{
        overflow: hidden;
        height: calc(100vh - 244px);
        min-height: 600px;
        position: relative;
        padding: 100px;
        @include rtl-float-left();
        width: 40%;
        &:after{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top:0;
            background: #dddbd7;
            z-index: -2px;
        }
    }
    .ground-content-tabs{
        @include rtl-float-left();
        width: 60%;
    }
    //tabs
    .header-nav{
        max-height: 500px;
        overflow: hidden;
    }
    .ground-tabs{
        position: static;
        display: block;
        @include rtl-padding-left(15%);
        &.active{
            .box-title{
                color: $theme-color;
            }
        }        
    }
    .box-title{
        cursor: pointer;
        margin:55px 0 10px;
        font-size: 26px;
        line-height: 36px;
        &:hover{
            color: $theme-color;
        }
    }
    .box-sub{
        font-size: 16px;
        line-height: 24px;
    }
    .active{
        outline-style: none;
        .bgr-bg{
            position: absolute;
            top:0;
            @include rtl-left(0);
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }     
    //slider
    .slider-item{
        position: relative;
        &.slick-active{
            .ground-title{                    
                > *{
                    @include animation(aniload 1s backwards);
                }    
                .slide-count-wrap{
                    @include animation-delay(.2s);
                }    
                .title-slider{
                    @include animation-delay(.4s);
                }
                .box-button-link{
                    @include animation-delay(.6s);
                }
            }
        }
    }
    .box-image{
        position: relative;
        background-clip: padding-box;
        background-position: 50% 50%;
        top: 0;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .ground-title{
        max-width: 70%;        
        position: absolute;
        bottom: 100px;
        @include rtl-left(100px);                 
    }
    .title-slider{
        font-size: 60px;
        line-height:70px;
        margin-bottom: 25px;
        margin-top: 25px;
        font-weight: 600;
    }
    .slick-prev, .slick-next{
        top:auto;
        bottom:65px;
        background: transparent;        
        @include opacity(.5);
        &:hover,&:focus{
            background: transparent;            
            @include opacity(1);
        }
    }
    .slick-prev{
        @include rtl-right(80px);
    }
    .slick-next{
        @include rtl-right(50px);
    }
    .slick-prev:before{
        content: "\f3d2";
        color:$color-title;
        font-size: 26px;
    }
    .slick-next:before{
        content: "\f3d3";
        color: $color-title;
        font-size: 26px;
    }
    .slide-count-wrap {
        @include rtl-padding-left(70px);
        position: relative;
        &:before{
            position: absolute;
            content: "";
            width: 55px;
            top:15px;
            @include rtl-left(0);
            height: 1px;
            background: $color-title;
        }
    }
    .current {
        font-size: 26px;
        color: $color-title;
        font-weight: 500;
        position: relative;
    }
    .total {
        @include rtl-padding-left(10px);
        font-size: 18px;
        color: $color-title;
        font-weight: 400;
        position: relative;
    }
    .slide-count-wrap .current::before{
        content: "0";
        top: 0;
        left: 0;
        font-size: 26px;
        color: $color-title;
        font-weight: 500;
    }
    .total::before {
        content: "0";
        top: 0;
        left: 0;
        font-size: 18px;
        color: $color-title;
        font-weight: 500;
    }
    .current::after {
        content: "/";
        position: absolute;
        top: 5px;
        right: -12px;
        font-size: 20px;
        font-weight: 300;
        color: $color-title;
    }
}

// Large screen / wide desktop 1400 --------------------------------------------------------------------------------
@media (max-width: 1400px){
    .block-slider-showCase .ground-tabs{
        padding: 0;
    }
    .block-slider-showCase .ground-header-tabs{
        padding:80px;
    }
    .block-slider-showCase .ground-title{
        max-width: 90%;
        bottom: 50px;
        left: 50px;
    }
    .block-slider-showCase .title-slider {
        font-size: 38px;
        line-height: 42px;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .block-slider-showCase .slick-prev,
    .block-slider-showCase .slick-next{
        bottom:15px;
    }
    .block-slider-showCase .slick-prev{
        @include rtl-right(50px);
    }
    .block-slider-showCase .slick-next{
        @include rtl-right(30px);
    }
    .block-slider-showCase .box-title{
        margin-top: 45px;
        font-size: 24px;
    }
}
@media (max-width: 1200px){
    .block-slider-showCase .ground-header-tabs{
        padding:50px;
    }
    .block-slider-showCase .box-title{
        margin-top: 30px;
    }
}
@media (max-width: 769px){
    .block-slider-showCase .ground-header-tabs{
        padding: 20px;
    }
    .block-slider-showCase .ground-header-tabs,.block-slider-showCase .tab-content{
        min-height: 400px;
        max-height: 600px;
    }
    .block-slider-showCase .box-title{
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 5px;
    }
    .block-slider-showCase .box-sub{
        font-size: 14px;
    }
    .vc_row-fluid[data-vc-stretch-content="true"]{
        padding: 0 15px;
    }
}
@media (max-width: 640px){
    .block-slider-showCase{
        margin-top: 15px;
    }
    .block-slider-showCase .na-block-content{
        display: block;
    }
    .block-slider-showCase .box-sub{
        display: none;
    }
    .block-slider-showCase .ground-header-tabs{
        min-height: auto;
        padding: 0;
    }
    .block-slider-showCase .ground-tabs{
        max-width: 49%;
        padding: 10px 20px;
        float: none;        
        margin: 0;
        @include flex-basis(49%); 
        @include justify-content(flex-start);
        @include align-items(flex-start); 
    }
    .block-slider-showCase .ground-header-tabs,.block-slider-showCase .ground-content-tabs{
        width: 100%;
        height: auto;
    }
    .block-slider-showCase .box-title{
        margin: 0;
    }
    .block-slider-showCase .box-title{
        font-size: 16px;
        line-height: 24px;
    }
}

