.block-feature-services{
	&.style1{
		.box-feature-services{
			text-align: center;
			.box-title{
				font-size: 20px;
				line-height: 30px;				
				@include rtl-margin(15px, 0, 3px, 0); 
			}
			.box-image{
				img{
					@include transform(translateY(0));  
  					@include transition(transform 0.3s ease 0s);
				}
			}
			&:hover{
				img{
					@include transform(translateY(-10px));  	
					@include transition(transform 0.2s ease 0s);
				}				
			}			
		}
	}
	&.style2{
		.box-feature-services{
			outline-style: none;
		}
	}
	.box-feature-services{
		.box-title{
			text-transform: uppercase;
		}	
	}	
}

@include media-query($tablet-small) {
	.block-feature-services{	
		outline-style: none;
	}
}