.block-intro{	
	.na-block-content{
		padding: 0;
  		margin: 0;  		
  		@include flexbox();
  		@include flex-wrap(wrap);
	}
	.na-block-intro{		
		max-width: 45%;		
		overflow: hidden;
		position: relative;
		@include rtl-float-left();		
		@include flex-basis(45%);
		.slick-slide {
		    margin: 0 5px;	 
		    outline: none;		    
		    @include rtl-text-align-right();  
		    img {    			    	
  				display: inline;
  				width: 100%;
		    }
		}		
		.slick-list {
		    margin: 0 -5px; 
		}
		.block-intro-carousel{			
			@include rtl-margin-left(-11%);
			.slick-arrow{
				top: 100%;
				margin: -21px 0;
			}
			.slick-prev{
				@include rtl-right(0);
				top: auto;
				bottom: 43px;
			}
			.slick-next{
				@include rtl-right(0);
			}
		}
	}	
	.na-block-intro-content {		
		max-width: 55%;		
		overflow: hidden;
		@include flex-basis(55%);		
		@include rtl-float-left();		
		@include rtl-text-align-left();		
		.box-content{
			overflow: hidden;
			padding-top: 12%;
			@include rtl-padding-left(12%);			
		}
		.box-title{
			margin: 0 0 16px 0;			
		}
		.box-description{
			margin-bottom: 46px;
		}
	}
}