.block-testimonial{	
	outline-style: none;
	&.style1{
		.box-description{
			color: $color-black;
			font-weight: 600;
			line-height: 34px;
			margin-bottom: 18px;
			margin-top: -35px;			
			@include font-size($font-size, 24px);
			white-space: pre-line;			
		}
		.box-title{
			margin: 0;
		}		
	}
	.box-testimonial-wrap{		
		.box-title{
			font-size: 16px;
			font-weight: 600;			
			text-transform: uppercase;					
			@include rtl-margin-right(22px);
		}
		.box-meta{
			margin: 0;
			position: relative;			
			font-size: 14px;			
			@include rtl-padding-left(44px); 			
			&:before{
				content: "";
				background: $color-black;
				@include size(20px, 1px);
				@include vertical-align(absolute);
				@include rtl-left(0);
			}
		}
		.box-meta-title{			
			width: 100%;
			min-height: 30px;
			@include flexbox();		
			@include align-items(center);	
		}
	}	
	.box-testimonial{
		outline-style: none;
		padding: 86px 0;
		@include flexbox();		
		@include flex(0 1 auto);		
		@include flex-wrap(wrap); 		
		@include flex-direction(row); 
		@include align-items(flex-start);	
		@include box-sizing(border-box); 
		background-size: auto;						
		background: transparent url('#{$image-url}testimonial-icon.png') no-repeat 172px top;
		.box-image{
			overflow: hidden;
			@include border-radius(100px); 
			@include flex-grow(0);	
			@include rtl-margin-right(52px); 
			img{
				@include border-radius(100px); 
			}
		}
		.box-content-inner{
			max-width: 83%;		
			@include flex-grow(1);	
			@include flex-basis(83%);						
		}
		&.slick-slide{
			@include flexbox();
		}
	}	
}

@include media-query($tablet-small) {
	.block-testimonial{	
		outline-style: none;
	}
}



