.block-banner-split{
	&.left{
		.banner-split-large{			
			@include order(0);
		}
	}	
	&.right{
		.na-block-content{
			.banner-split-large{			
				@include order(1);
				.box-banner-content{
					.box-subtitle{
						@include rtl-padding-right(0);
					}
				} 				
			}
			.banner-split-small{			
	  			@include rtl-text-align-left();  			  			  			  			
	  			@include justify-content(flex-start);  			
	  			.box-banner-content{
	  				@include rtl-padding-left(0); 
	  				@include rtl-padding-right(26%); 	  						
	  			}
			}
		} 	
	}	
	.na-block-content{
		padding: 0;
  		margin: 0;  		  		
  		@include flexbox();  		
  		@include flex-wrap(wrap);  
  		.box-banner-split{
			position: relative; 
			.box-title{				
				padding: 0;								
				font-size: 26px;	
				line-height: 36px;		
				@include rtl-margin(26px, 0, 6px, 0); 	
			} 
			.box-subtitle{
				margin: 0;
				padding: 0;
				line-height: 52px;
				font-weight: 600;
				@include font-size(36px,42px);				
			}	
          .box-image-link{
              @include hover-zoom();    
              display: block;
          }		
  		}
  		.banner-split-large{
  			max-width: 60%;  			
  			@include rtl-text-align-left();  			
  			@include flex-basis(60%);  	
  			@include flexbox();  	  					
  			@include align-items(flex-start);
  			@include justify-content(center);		  			
  			.box-banner-content{
  				padding: 0 14%;
  				.box-title{
  					margin: 0;  					
  					top: 0;  					
  					position: absolute;
  					@include rtl-left(0);
  					padding: 23% 0 0 0;  					
  				}
  				.box-subtitle{
					bottom: 0;					
  					position: absolute;  					
  					@include rtl-right(0);
  					@include rtl-padding(0, 30px, 16%, 22px); 
  					&:before{
  						content: '';
  						top: 0;  		
  						margin-top: 24px;
  						display: block;		
  						position: absolute;
  						background: $color-black;
  						@include size(18px,5px);
  						@include rtl-left(0);  						
  					}
				}	
  			}  			
  		}
  		.banner-split-small{
  			max-width: 40%;  			
  			@include rtl-text-align-right();  			
  			@include flex-basis(40%);
  			@include flexbox();  			
  			@include align-items(center);
  			@include justify-content(flex-end);
  			.btn{
  				font-size: 14px;
  			}
  			.box-banner-content{
  				@include rtl-padding-left(26%); 				
  			}
  		}  		
	}	
}