.block-countdown-banner{	
	.box-countdown-banner{
		position: relative;
		max-height: 520px;
		overflow: hidden;
		@include flexbox();
		@include flex-wrap(wrap);
		@include align-items(center);
	}	
	.box-countdown-banner-wrap{		
		@include rtl-padding(0, 80px, 0, 0px);
	}
	.box-countdown-meta{				
		max-width: 50%;
		@include flexbox();								
		@include flex-basis(50%);
		@include justify-content(flex-end);
		.box-title{
			margin-bottom: 56px;
		}
		.box-description{
			margin-bottom: 20px;
		}
	}
	.box-countdown-images{				
		max-width: 50%;
		@include flexbox();								
		@include flex-basis(50%);		
		@include justify-content(flex-start);
		.box-image{
			outline-style: none;
		}
	}
	.na-timer{				
		margin-bottom: 50px;
		> span{					
			color: $color-black;
			display: inline-block;
			vertical-align: top;
			font-weight: 400;										
			@include font-size(22px,42px);	
			@include size(120px,60px);					
			&:last-child{
				@include rtl-padding-right(0px);
			}					
			span{
				display: block;
				padding-top: 10px;
				color: $text-color;
				font-size: $font-size;
				line-height: $line-height-base;				
				font-weight: $font-weight;
			}
		}
	}
}

@include media-query($tablet-small) {
	.block-countdown-banner{	
		outline-style: none;
	}
}
