.block-category-banners{
	&.style1{
		.box-category-banners{
			position: relative;			
		}
		.box-button-link{
			bottom: 0;		
			margin-bottom: 42px;
			text-align: center;
			width: 100%;		
			@include center-align(absolute);
			sup{
				color: $text-color;
			}
		}
	}	
	.box-category-banners{	
		overflow: hidden;
	}
	.box-image{		
		@include hover-zoom();
	}
	&.style2{
		.box-title{			
			@include font-size(20px,24px);
			line-height: 34px;
			margin-top: 16px;
			margin-bottom: 25px;
			a{
				display: inline-block;
				position: relative;
				vertical-align: top;
				@include rtl-padding-left(85px);	
				@include rtl-padding-right(30px);	
				&:hover{
					&:before{
						background: $theme-color;
					}	
				}
				&:before{
					top: 0;
					margin-top: 16px;
					content: "";
					display: block;				
					position: absolute;
					background: $color-black;				
					@include rtl-left(0);
					@include size(70px,1px);					
				}				
			}			
		}
		.box-button-link{
			@include rtl-padding-left(85px);	
		}
	}
}
