/* ========================================================================== *
*  Product Tabs
* ========================================================================== */ 
.block-category-tabs{
	.box-tab-title{
		.box-tabs{
			> .box-tab-items{
				@include rtl-padding-right(0);
				&.active{
					> a{
						color: $theme-color;												
					}
				}
				&:first-child{
		            @include rtl-padding-left(0);
		            > a{                
		                @include rtl-padding-left(0);
		            }
		        }
		        &:last-child{
		            @include rtl-padding-right(0);
		            > a{                
		                @include rtl-padding-right(0);
		            }
		        }
			}
		}		
		&.center{			
			.box-tabs{
				> .box-tab-items{
					float: none;
					display: inline-block;
					vertical-align: middle;
					&.active{
						> a{
							color: $theme-color;
						}
					}
				}
			}
		}
	} 
}

/* ========================================================================== *
*  Category Collections
* ========================================================================== */ 
.block-category-colections{	
	&.layout-left{
		.box-category-colection-image{			
			@include order(0);
		}
	}
	&.layout-right{
		.box-category-colection-image{			
			@include order(1);
		}
	}
	.product-block{
		&.product-trans,
    	&.product-gallery{
	    	margin-top: 0;		
    	}	
	}	
	.product-carousel{
		.slick-arrow{
	        border: 0;      	        
	        margin: 0;
	        padding: 0 10px;
	        color: $color-black;	                   
	        text-transform: none;          
	        font-size: 16px;                
	        letter-spacing: 0.5px;    
	        bottom: 0;      
	        top: auto;
	        visibility: visible;	     
	        position: absolute;			
			background: $white;  
			cursor: pointer;
			z-index: 1;   
	        @include rtl-right(15px);      
	        @include rtl-left(0);      	        
	        @include border-radius(0);
	        @include box-shadow(none);                        	        
	        @include opacity(1);
			@include flexbox();
			@include justify-content(center);
			@include align-items(center);			
			@include square(42px);   			
			@include transition(all 300ms ease);
	        span{
	            visibility: hidden;	            
	            font-weight: 500;  
	            pointer-events: none;
	            position: absolute;			    			    
			    height: 42px;
			    overflow: hidden;
			    display: block;
			    line-height: normal;
				padding: 8px 0;
	            @include opacity(0);          	            	            
	        }
	        .icon{
	            font-size: 16px;
	            line-height: 16px;
	            @include rtl-margin-left(0);            
	        }
	        &:hover,&:focus,&:active{
	            background: $white;           
	        }            	        
	        &.prev-slide{
	        	top: 0;						
				bottom: 0;
				margin: auto;								
				@include rtl-left(auto); 	
				@include rtl-right(15px); 	
				span{		        	        
		            @include rtl-left(0);
		            @include rtl-float-left();  
		            @include rtl-margin-left(30px); 
		        }			
	            &:hover{              
	                width: 115px;
	                @include transition(all 300ms ease);	
	                @include justify-content(flex-start);                
	                span{                    
	                    pointer-events: auto;	                    
    					visibility: visible;
    					@include opacity(1);                    
	                }
	            } 
	        }        
	        &.next-slide{	        	
				top: 0;						
				bottom: -86px;
				margin: auto;								
				@include rtl-left(auto);
				@include rtl-right(15px);
				span{		        	        
		            @include rtl-right(0);
		            @include rtl-float-right();  
		            @include rtl-margin-right(30px); 
		        }				
	            &:hover{              
	                width: 80px;
	                @include transition(all 300ms ease);
	                @include justify-content(flex-end);  	                
	                span{
	                    pointer-events: auto;	                    
    					visibility: visible;
    					@include opacity(1);  
	                }
	            }
	        }
	    }
	    .products-blocks{
	    	&:hover{
	    		.slick-arrow{
	    			&.next-slide,&.prev-slide{
						@include rtl-left(auto);
						@include rtl-right(15px);
					}
	    		}	    		
	    	} 	    	
	    }	    
	}	
	.na-block-content{		
		@include flexbox();
		@include flex-wrap(wrap);				
		margin-right: -5px;
		margin-left: -5px;
	}
	.box-category-colections{	
		max-width: 50%;	
		padding-left: 5px;
		padding-right: 5px;
		@include flex-basis(50%);	
		.products-block{
			padding-bottom: 0;
		}			
		.slick-dots{
			display: none !important;
		}		
	}		
	.box-category-colection-products{
		.product-carousel{
			overflow: hidden;			
			position: relative;			
		}		
		.products-block{
			position: static;
		}	
		.product-col, .col-item{
			padding-left: 5px;
			padding-right: 5px;
		}			
	}
	.box-category-colection-image{			
		.box-content{					
			overflow: hidden;
			position: relative;
		}
		.box-image-content{
			top: 0;			
			padding: 0;			
			position: absolute;
			@include rtl-left(0);			
			@include rtl-margin(76px, 0, 0, 62px); 
		}
		.box-image{
			@include hover-zoom();
		}
		.box-title{
			font-weight: 500;
			line-height: 30px;
			white-space: nowrap;
			margin: 0 0 16px 0;
			@include font-size(20px,20px);
		}
	}	
}

/* ========================================================================== *
*  Product on Homepage
* ========================================================================== */ 
.na-products{
	.product-block{
		margin-top: 0;
		margin-bottom: 40px;
	}	
	.infload-controls{
		padding-top: 44px;
	}
}
.category-loadmore{
	display: none;		
}
.block-category-tabs{
	.category-loadmore{
		display: block;		
		padding-top: 84px;
	}
}