.block-brand{	
	.na-block-content{
		padding: 0;
  		margin: 0;  		  		
  		@include flexbox();  		
  		@include flex-wrap(wrap);
	}
	.box-brand-item{
		min-height: 82px;
		max-width: 16.6666%;	
		text-align: center;	
		@include flex-basis(16.6666%);
		@include flexbox();  		
		@include align-items(center);
		@include justify-content(center);
	}
}
