.site-content{
    padding-top: 122px;
    padding-bottom: 122px;
}

.single-product,
.woocommerce,
.woocommerce-page,
.archive{
    .site-content{
        padding-top: 0; 
    }    
}

.main-content{
    outline-style: none;
}

//breadcrumb

.breadcrumb {
    padding: 0;
    margin: 40px 0;
    position: relative;            
    background: transparent;          
    color: $color-black;
    a{       
        color: $font-color;
        position: relative;      
        @include rtl-margin-right(30px); 
        &:hover{
            color: $theme-color;
        }
        &::after {        
            font-size: 11px;   
            content: $ionicon-var-chevron-right;
            font-family: $ionicons-font-family;            
            @include rtl-right(-17px);             
            @include vertical-align(absolute);            
        }
    }
}

.wrap-breadcrumb{
    .title-page{
        display: block;
    }
    .page-title,
    .breadcrumb{    
        margin: 80px 0;
        line-height: 60px;  
    }
    .page-title{
        width: 50%;                
        @include rtl-text-align-left();
        @include rtl-float-left();                
    }
    .breadcrumb{
        width: 50%;                    
        @include rtl-text-align-right();
        @include rtl-float-right();    
        .woocommerce-breadcrumb{          
            min-height: 58px;                  
            @include flexbox();
            @include align-items(center);           
            @include justify-content(flex-end); 
        }
    }
}

.home{
    .wrap-breadcrumb{
        display: none;
    }
    .page-header{
        display: none;
    }
}

.container-fluid,
.container-full{    
    .container-inner{
        outline: none;
    }
}