//Style Footer
.scrollup {
    border-radius: 100%;
    color: #151515 !important;
    cursor: pointer;
    font-size: 30px;
    height: 50px;
    left: 0;
    margin: auto;
    padding: 2px;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    top: -30px;
    width: 50px;
    z-index: 999;
    background: white;    
    line-height: 46px;
    @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.13));    
    &:hover{
        background: $theme-color;
        color: $white !important;
    }
}

.footer-hidden{
    .container{
        width: auto;
        padding-left: 100px;
        padding-right: 100px;
    }    
}

#na-footer {    
    border-top: 1px solid $color-border;        
    .menu{
        a{
            font-weight: 300;            
        }
    }
    .text-lead{
        margin: 0 0 10px 0;
        color: $color-black;
        font-weight: 500;
        + p{
            margin-bottom: 0;
        }
    }
    .footer-bottom-right{
        @include rtl-text-align-right();
    }
    .footer-bottom-left{
        @include rtl-text-align-left();
    }
    .trebol-image-content{
        margin: 0 0 36px 0;
    }
    .coppy-right {
        @include rtl-text-align-right();      
    }
    .footer-bottom {
        a {            
            outline: thin;
        }
        .trebol-image-content{
            margin-bottom: 0;
            margin-top: 2px;
        }
        .footer-bottom-inner{
            padding: 0;
            margin: 0;
        }
    }

    /* Footer 1 */

    &.footer-1 { 
        .menu {
            outline-style: none;            
            li {                                
                &:first-child{
                    margin: 0;
                }
                a {
                    outline-style: none;
                }
            }                                    
        }    
        .footer-top {    
            margin: 0;    
            padding: 64px 0 0 0;
            .widget_media_image{
                margin-bottom: 33px;
            }
            #text-17{
                .textwidget{
                    font-size: 14px;
                }                
            }  
            .widget{
                @include flexbox();
                @include flex-direction(column);                                 
            }
        }             
        .footer-bottom{
            .footer-bottom-inner{
                padding: 64px 0;
                .widget_media_image{
                    min-height: 36px;
                    line-height: 40px;
                    margin-bottom: 0;
                }
            }        
        }                              
    }

    /* Footer 2 */
    
    &.footer-2{        
        border: 0;
        .footer-bottom {       
            margin: 0;             
            padding: 80px 0 72px 0;
            .menu{
                li{
                    padding-bottom: 8px;
                }
            } 
            a{
                &:hover{
                    color: $theme-color;
                }
            }
            .footer-bottom-right {                
                .textwidget{
                    .bolder{
                        padding-left: 5px;
                    }
                }                
            }
        }                     
        .share-links{
            @include rtl-text-align-right();
            .social-icons{                
                @include rtl-margin(0, -12px, 8px, 0); 
            }            
        }
    }    
    
    /* Share Links */    
    .share-links {
        padding: 0;
        margin: 0;
        @include rtl-text-align-left();
        .social-icons{            
            @include rtl-margin(0, 0, 0, -10px); 
        }
        .social-item {                        
            margin: 0;            
            line-height: normal;
            padding: 0 3px;            
            a{                
                @include rtl-float-left();
                i {
                    margin: 0;                    
                    font-size: 18px;
                    color: $color-black;                    
                    &:hover {
                        color: $theme-color;
                    }
                }
            }
            &:first-child {                
                @include rtl-padding-left(0);
                a {                    
                    @include rtl-margin-left(0);
                }
            }
        }
    }

    /* Title Heading */
    
    .widgettitle {        
        margin: 0 0 14px 0;
        line-height: 26px;        
        text-transform: uppercase;                
        @include font-size(14px,18px);   
    }    
    /* Link */    
    a{
        color: $text-color;
        &:hover,&:active,&:focus{
            color: $theme-color !important;            
        }
    }
    /* List */    
    ul{
        padding: 0;
        list-style: none;
        &.contact-info{
            margin-bottom: 20px;
            li{                
                &.phone{
                    font-weight: 500;                    
                    color: $color-black;                    
                    @include font-size(18px,24px);
                    b{
                        display: block;
                        margin-bottom: 8px;
                    }
                }
            }
        }     
        li{
            margin: 0;
            line-height: 36px;
        }
    }
}

.footer-hidden{
    .footer-bottom-left{        
        @include rtl-text-align-left();
    }
    .footer-bottom-right{        
        @include rtl-text-align-right();
    }
    .footer-bottom-inner{
        padding: 46px 0;
        a{
            color: $theme-color;            
        }
    }
}

//footer-bottom
.footer-bottom {        
    padding: 0;
    margin: 0;
    .menu{
        margin: 0;
        padding: 0;
        li{            
            padding-left: 14px;
            padding-right: 14px;            
            display: inline-block;
            &:first-child{                
                @include rtl-padding-left(0);
            }
            &:last-child{
                @include rtl-padding-right(0);
            }
        }
    }
}
.footer-bottom-center {
    text-align: center;
    padding: 76px 0;
}