//Hearder

//Keep - Header
.trebol-header-placeholder{
    height: 0;
    margin: 0;    
    &.placeholder-header-fixed{        
        background: transparent;        
    }
}

.admin-bar{
    .site-header{
        &.fixed {
            top:32px;
        }
    }    
    .canvas-aside{
        margin-top: 32px;
    }
}

.header-fixed{                   
    top: 0;
    left: 0;
    width: 100%;        
    position: fixed;
    background: $white;        
    z-index: 3;
    @include transition(transform 300ms cubic-bezier(.694,0,.335,1),visibility 300ms step-end);              
    &.fixed {       
        top: 0; 
        height: 82px;     
        min-height: 82px;                
        visibility: visible;
        background: $white;         
        position: fixed;        
        @include transform(none);
        @include box-shadow(0 0 10px rgba(0,0,0,.05));        
        @include transition(transform 300ms cubic-bezier(.694,0,.335,1),visibility 300ms step-start);            
        #na-menu-primary{
            ul.mega-menu{
                > li{
                    padding-top: 27px;
                    padding-bottom: 27px;                    
                }
            }         
        }
        .trebol-header-content{
            min-height: 82px;
        }          
    }
    #na-menu-primary{
        ul.mega-menu{
            > li{
                padding-top: 47px;
                padding-bottom: 47px;
                @include transition-easing(.5s,.63,.05,.43,1.7);                     
            }
        }         
    }     
}

.site-header {    
    display: inline-block;
    vertical-align: middle;
    width: 100%;    
    margin: 0;
    padding: 0;    
    min-height: 122px;
    @include box-sizing(border-box);      
    .container-fluid{
        padding-left: 100px;
        padding-right: 100px;
    }
    // Boxed ---------------------------------------------------------------------------------------------------------    
    &.header-boxed{ 
        .header-topbar{
            .container-fluid {
                width: 1200px;                
                padding-left: 15px;
                padding-right: 15px;            
                margin-right: auto;
                margin-left: auto;                
            }
        }
        .header-container{            
            .container-fluid {
                width: 1200px;                
                padding-left: 15px;
                padding-right: 15px;            
                margin-right: auto;
                margin-left: auto;                
            }
        }       
    }

    // Fullwidth -----------------------------------------------------------------------------------------------------
    &.header-fluid{
        margin: 0 auto;
        padding-left: 100px;
        padding-right: 100px;        
        .header-container{
            .container,
            .container-fluid{
                width: 100%;
                margin-right: auto;
                margin-left: auto;
                padding-left: 0;
                padding-right: 0;
            }
        }                
    }

    // Header Default ------------------------------------------------------------------------------------------------
    &.header-simple{
        .header-content-logo{            
            max-width: 20%;
            @include flex-basis(20%);    
            @include rtl-text-align-left(); 
            @include justify-content(flex-start);                 
        }
        .header-content-menu {     
            padding: 0;
            max-width: 60%;
            @include flex-basis(60%);
            @include justify-content(center);        
            > .nav-menu{
                outline: thin;
            }
        }
        .header-content-right{ 
            max-width: 20%;     
            @include flexbox();        
            @include flex-basis(20%);
            @include align-items(center);    
            @include justify-content(flex-end);        
            @include rtl-text-align-right(); 
        }
    }

    // Header Transparent --------------------------------------------------------------------------------------------
    &.header-trans{         
        top: 0;       
        z-index: 10;
        width: 100%;
        position: absolute;                
        @include rtl-left(0);
        .header-fixed{
            background: transparent;     
            &.fixed{                
                background: $white;
            }
        }
    }

    // Header Center--------------------------------------------------------------------------------------------------
    &.header-center{
        #trebol-header{
            padding-top: 0;
            padding-bottom: 0;            
        }
        .trebol-header-content{        
            outline: none;
        }
        .header-content-menu{                    
            #na-menu-primary{
                ul{
                    > li{
                        &:first-child{
                            @include rtl-padding-left(0);
                        }
                        &:last-child{
                            @include rtl-padding-right(0);
                        }
                    }
                    &.mega-menu{
                        > li{
                            &:first-child{
                                @include rtl-padding-left(0);
                            }
                            &:last-child{
                                @include rtl-padding-right(0);
                            }
                        }
                    }
                }                                          
            }         
            .na-menu-primary{            
                ul.mega-menu{
                    @include rtl-text-align-left();
                }            
            }     
        }
        .header-content-logo{
            margin: 0;                   
            padding: 52px 0 14px 0;             
            text-decoration: none;
            text-align: center;       
            max-width: 100%;
            @include flex-basis(100%);
            @include justify-content(center);        
        }    
        .header-content-center{
            max-width: 100%;
            @include flex-basis(100%);
            @include flexbox();
        }  
        .header-content-left{
            max-width: 10%;            
            padding: 0;
            min-height: 91px;
            @include align-items(center);
            @include flexbox();
            @include flex-basis(10%);
            @include justify-content(flex-start);
            .searchform-mini{
                padding: 0;
                @include rtl-margin-left(-4px);                 
            }
        } 
        .header-content-right{
            max-width: 10%;
            padding: 0;
            min-height: 91px;
            @include align-items(center);
            @include flexbox();
            @include flex-basis(10%);            
            @include justify-content(flex-end);
        }   
        .header-content-menu{
            max-width: 80%;            
            @include flex-basis(80%);
            @include justify-content(center);                                    
        }
        #na-menu-primary{
            nav{
                > ul{
                    > li{                                            
                        padding-top: 32px;
                        padding-bottom: 32px;
                    }
                }   
            }                                 
        } 
    }
}
//HEADER vertical---------------------------------------------------------------------------------------------------------
.header-vertical{
    position: fixed;
    z-index: 9999;
    background: #FFF;
    left: 0;
    top:60px;
    width: 350px;
    height: 100%;
    .trebol-header-content{
        display: block;
        padding: 0 50px;
    }
    .header-content-right{
        margin-top: 50px;
        @include flexbox();
        @include flex-basis(20%);
        @include align-items(left);
        @include justify-content(start);
        @include rtl-text-align-left();
    }
    .header-nav--right{
        @include rtl-padding-left(0);
        @include rtl-padding-right(50px);
    }
    .na-side-menu{
        display: none;
    }
    .footer-bottom-inner{
        padding:15px 50px;
        position: absolute;
        bottom: 75px;
        max-width: 300px;
        @include rtl-left(0);
    }
    .share-links{
        @include rtl-padding-left(0);
        @include rtl-text-align-left();
    }
    .share-links .social-item{
        padding: 5px 0;
    }
    .share-links .social-item a i{
        font-size: 18px;
        width: auto;
        color: #201f1f;
        @include rtl-margin-left(0);
        @include rtl-margin-right(30px);
    }
    .cart-box{
        @include rtl-left(0);
    }
}
.trebol-header-vertical{
    #content,#na-footer{
        @include rtl-padding-left(350px);
    }
    .container{
        width: auto;
        margin: auto;
        @include rtl-padding-left(30px);
        @include rtl-padding-right(50px);
    }
}

#na-header{
    padding: 20px 0;
}

.trebol-header-content{        
    width: 100%;
    min-height: 122px;
    position: relative;
    @include flexbox();    
    @include justify-content(center);
    @include align-items(center);
    @include flex-wrap(wrap);
}

.header-nav--right{
    @include rtl-padding-left(20px);
}

.header-act{
    a{
        font-size: 22px;        
        @include square(34px);
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
        &:hover,&:focus,&:active{            
            color: $color-black;
            background: transparent;
        }
    }
}


//Login ----------------------------------------------------------------------------------------------------------------
.trebol-header-content .user-login {
    cursor: pointer;
    position: relative;
    .author-img{
        padding: 0;
    }
    &:hover {
        #menu-topbar-menu{
            top: 45px;
            opacity: 1;
            visibility: visible;
            @include transition(0.4s);
        }
    }
    #menu-topbar-menu{
        background: #FFFFFF none repeat scroll 0 0;
        box-shadow: 1px 5px 10px 0 rgba(0, 0, 0, 0.15);
        min-width: 125px;
        padding: 10px;
        top: 60px;
        position: absolute;
        visibility: hidden;
        @include rtl-right(0px);        
        @include transition(0.4s);        
        @include opacity(0);        
        li{
            float: none;
            font-size: 12px;
            >a{
                padding: 5px;
                &:hover,&:focus{
                    background: none;
                }
            }
        }
    }
}

//over icon  -----------------------------------------------------------------------------------------------------------
.trebol_icon{
    display: inline-block;
    vertical-align: middle;
    cursor:pointer;
    margin-right: 30px;
    margin-left: 30px;
    .trebol_icon-bar{
        background: $icon-bar;
        display: block;
        height: 2px;
        margin: 4px;
        position: relative;
        width: 22px;
        @include transition(0.4s);
    }
    &:hover{
        .trebol_icon-bar{
            @include transition(0.4s);
            background: $icon-bar-hover;
        }
    }
}

