.moblie-header{	
	position: relative;
	&.header-fixed{
		position: fixed;		
		&.fixed{
			height: 55px;
			min-height: 55px;								
		}				
	}	
	.moblie-header-element{
		padding: 10px 15px;		
		border-bottom: 1px solid $color-border;
		@include flexbox();
		@include align-items(center);
	}
	.header-moblie-logo{				
		@include flex-grow(1);
		@include rtl-margin-right(32px);
		text-decoration: none;
		color: $color-black;	
		.site-logo{			
			height: 32px;
			max-width: 102px;
			line-height: 26px;
		}
	}
	.header-mobile-content{				
		@include flex-grow(0);
		@include flexbox();
		@include align-items(center);
		@include justify-content(flex-end);
		@include rtl-text-align-right();			
	}
	.cart-mobile{
		@include rtl-float-left();
		@include square(34px);				
		.icon-cart{
			.mini-cart-items{
				bottom: 2px;
			}
		} 		
	}
	.menu-mobile-icon{
		@include rtl-float-left();
		@include square(34px);
		@include rtl-margin(0, 0, 0, 5px);
		text-align: center;
		line-height: normal;
		padding: 0;
		cursor: pointer;			
		border: 0;		
		background: transparent;						
		.icon{
			color: $color-black;
			font-size: 28px;
			@include square(auto);			
		}
	}
	.nav-mobile-menu{
		display: none;
		padding: 30px 15px;
		background: $white;			
		height: 100vh;	
		.nav-mobile-menu-inside{
			overflow: auto;
		}
	}
	.search-mobile{
		margin: 0;		
		padding: 0;
		.form-control{
			border:none;			
			padding-bottom: 10px;
			padding-top: 10px;
			@include rtl-padding-left(0);
		}
	}
	.searchform{
		border-width: 0 0 1px 0;
		border-color: #eaeaea;
		border-style: solid;
	}
	.btn-search{
		background: transparent;
		color:#201f1f;
		padding: 0;
		span{
			display: none;
		}
	}
	//menu mobile
	.menu-mobile-primary{
		margin-top: 30px;
		@include rtl-text-align-left();
	}
}