//Style
.sidebar{
    outline-style: none;   
    ul{
        padding: 0;
        list-style: none;        
        li{            
            line-height: 36px;
            position: relative;
            a{
                outline: none;
            }
            &:first-child{
                padding-top: 0px;
            }
            &:last-child{
                padding-bottom: 0;
                border-bottom: 0px;
            }
            &.current-cat > a{
                color: $theme-color;
            }
            .children{
            }
            ul li{
                @include rtl-padding-left(20px);
            }
        }
    }   
    .content-inner{
        background: transparent;        
        @include box-shadow(none);
    }
    .widget{
        padding: 0;        
        margin-bottom: 67px;      
        @include clearfix();    
        select{
            height: 50px;
        }            
        [class*="widget-title"],.widgettitle{                    
            display: block;
            font-size: 18px;        
            line-height: 28px;    
            padding: 0;
            margin: 0;
            position: relative;
            text-transform: capitalize;
            @include rtl-text-align-left();            
            &:after{
                content: none;
            }
        }
    }       
    [class*="widget-title"] + *,.widgettitle + *{    
        margin: 0;
        margin-top: 23px;
    }
    select{
        margin: 0;
        width: calc(100%);
    }
    //
    .widget.dropdown{
        .widgettitle{
            &:after{
                top: 0px;
                color: $color-black;
                content: $ionicon-var-android-add;                
                font-family: $ionicons-font-family;
                font-size: 12px;
                position: absolute;
                @include rtl-right(15px);                
            }
        }
        .widgetcontent.dropdown-menu{
            position: relative;
            float: none;
            border: 0;
            @include box-shadow(none);
        }
    }
    //
    .vc_column_container{
        > .vc_column-inner{
            padding: 0;
        }
    }     
    //recentcomments
    #recentcomments{
        li > a{
            color: $theme-color;
        }
    }

    //widget blog ----------------------
    .post-image{
        padding-bottom: 0;
        @include rtl-float-left();        
    }
    .side-item-text{
        width: 65%;
        @include rtl-float-left();        
        &.full-width{
            width: 100%;
        }
    }
    .entry-title{
        margin: 0;
        padding: 0;
        font-size: 14px;
        line-height: 24px;
    }
    .article-meta{
        display: none;
        margin: 0;
        color:#888888;
        font-size: 12px;
        line-height: 20px;        
        padding-top: 15px;
        background: none;
        border-top: none;
    }
    .entry-header{
        padding: 0;
    }
    article{
        padding: 10px 0;
        &:first-child{
            padding-top: 0;
        }
    }
    .post-cat{
        font-size: 12px;        
    }
    .recent-post-widgets li{
        padding: 15px 0;        
    }
    .information_widget{
        padding: 0px;
        box-shadow: none;
    }
    .post-sidebar{
        min-height: auto;
        margin-bottom: 0;
        .article-image{
            width: 35%;
        }
    }
}
.canvas-overlay.show {
    background-color: rgba(0, 0, 0, 0.4);    
    height: 100%;
    @include opacity(1);
    position: fixed;
    visibility: visible;
    width: 100%;
    pointer-events: auto;
    z-index: 9;
}