// TopBar ==============================================================================================================
.topbar-container{  
    p{
        margin-bottom: 0;        
    }      
    .topbar-cell{
        padding: 0;
        background: #f8f8f8;
        min-height: 60px;
        @include flexbox();                
        @include align-items(center);
        @include justify-content(center);        
    }
    .topbar-left{        
        @include rtl-text-align-left();
        @include justify-content(flex-start);
    }
    .topbar-right{
        @include rtl-text-align-right();
        @include justify-content(flex-end);   
    }
    .widget{
        &.widget_text{
            strong{
                font-size: 16px;   
                color: $theme-color;                
                @include rtl-padding-right(10px);     
            }
            span{
                @include rtl-padding-left(20px); 
            }       
        }
    }        
}

#trebol-top-navbar{  
    .widgettitle{
        padding: 0;
        margin: 0 0 10px 0;        
        font-size: 18px;
        line-height: 28px;
    }
    .share-links{
        @include rtl-text-align-right();
    }
    a{ 
        color: $text-color;               
        position: relative;
        padding: 0 5px 0 0;
        margin: 0 10px 0 0;        
        &:after{
            content: '';
            background: #ccc;            
            right: 0;
            @include size(1px,14px);            
            @include vertical-align(absolute);            
        } 
        &:hover,
        &:focus,
        &:active{
            color: $theme-color;            
        }
    }
    ul{
        > li{                        
            margin: 0;
            padding: 0;
            @include border-radius(0);           
            @include rtl-float-left;    
            &:first-child{           
                > a{                    
                    @include rtl-padding-left(0);
                }     
                @include rtl-padding-left(0);
            }
            &:last-child{      
                > a{                    
                    @include rtl-padding-right(0);
                }            
                @include rtl-padding-right(0);
            }           
        }
        &.social-icons{
            padding-top: 6px;
            > li{
                a{
                    padding: 0;                
                    line-height: normal;
                    background: $white;                                
                    @include flexbox();
                    @include square(30px);             
                    @include align-items(center);
                    @include justify-content(center);   
                    @include border-radius(50px);           
                    @include rtl-margin(0, 8px, 0, 0);                     
                    i,.icons{
                        margin: 0;                     
                    }
                    &:hover{
                        color: $white;
                        background: $theme-color;
                        i,.icons{
                            color: $white;
                        }
                    }
                } 
                &:last-child{
                    a{
                        @include rtl-margin-right(0px);
                    }
                }
            }            
        }                    
    }     
    .topbar-left{
        p{
            margin-bottom: 0;
        }
        a{
            color: $topbar-color;
            &:hover{
                color: $theme-color;
            }
        }
        > *{
            outline-style: none;     
        }
        .list-unstyled{
            padding: 7px 20px;
        }
        .language{
            @include rtl-padding-left(0px);
        }
    }

    .topbar-right{        
        @include rtl-text-align-right();
        .na-topbar{
            @include rtl-float-right();
        }
        .navbar{
            margin: 0;
            min-height: auto;
            > a{
                padding: 0;
                margin: 0;
            }
        }
        .fa{
            @include rtl-margin-right(5px);
        }
        #menu-topbar{
            li:last-child{
                @include rtl-padding-right(0px);
            }
        }
    }
    .widget_nav_menu{
        ul{
            margin: 0;
            padding: 0;
            li{
                list-style: none;
            }
        }
    }
    .trebol-social-icon a{
        outline-style: none;
    }
    .trebol-social-icon >a:hover{
        border: none;
    }
}