.widget{    
    select{
    }
    &.center{
        text-align: center;
    }
    &.left{
        @include rtl-text-align-left();
    }
    &.right{
        text-align: center;
    }
}

//title widget
.widgettitle{
    position: relative;    
    font-weight: 500;        
    margin-bottom: 0;
    margin-top: 0;
    text-transform: none;    
    line-height: 30px;        
    @include font-size(24px,36px);                  
}

@include media-query($tablet-small) {
    .widgettitle{     
        margin-bottom: 56px;                    
        line-height: 46px;                
    }    
}

//recent-content sidebar
.recent-content {
    img {        
        @include rtl-padding-right(10px);        
        @include box-sizing(content-box);
    }
}
//calendar
.widget_calendar{
    table > thead > tr > th{
        border-bottom: $border-color-base;
    }
}

//widget_search
.sidebar .widget.widget_search{
    .input-group {
        border: 1px solid $color-border;
        padding: 0;
    }
    .btn-primary {
        border-left: none;
        background:transparent;
    }
}

//information_widget
.information_widget{
    .logo-footer{
        width: auto;
        margin-top: 15px;
    }
    .description{
        margin: 20px 0 15px;
        line-height: 30px;
    }
}

.widget{
    &.recent_blog{
        padding-bottom: 0;
        .post-item{
            position: relative;
        }
        .widgettitle{
            font-size: 20px;
            color:$color-title;
            font-weight: 600;
            text-transform: uppercase;
            border: none;
            padding-bottom: 20px;
        }
        ul > li {
            @include rtl-padding-left(30px  !important);
        }
        li > a{
            font-weight: 500;
            color:$color-title;
        }

        .post-date{
            display: block;
        }
        .entry-title{
            padding: 0;
        }
        .entry-header{
            padding:15px 0;
        }
        .entry-title a{
            color: $color-title;
            font-weight: 500;
            line-height: 22px;
            @include rtl-padding-left(10px);
            display: block;
            &:hover{
                color: $theme-color;
            }
        }
        .entry-meta{
            font-size: 12px;
            color: $font-color;
            @include rtl-padding-left(10px);
            display: block;
        }
        .number-post{
            background: #ff4422 none repeat scroll 0 0;
            border: 2px solid #fff;
            border-radius: 100%;
            color: white;            
            font-weight: 500;
            height: 35px;
            @include rtl-left(-15px);
            line-height: 34px;
            position: absolute;
            text-align: center;
            top: 40px;
            width: 35px;
            z-index: 99;
        }
        .size-over-sidebar{
            outline-style: none;
        }
        .entry-header-title{
            @include rtl-float-left();
            width: 70%;
        }
        .post-item:last-child{
            border: none;
        }
        .post-image{
            @include rtl-float-left();
            width: 30%;
        }
        .no-image{
            .number-post{
                background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
                color: #f2756f;
                font-size: 30px;
                font-weight: 300;
                @include rtl-left(-5px);
                top: 15px;
            }
            .entry-header-title{
                @include rtl-padding-left(40px);
                width: 100%;
            }
        }
    }
}

.help-phone {
    color: $color-black;
    font-weight: 500;
}

