.sidebar{
    .widget{
        .posts-listing{
            .post-thumb{
                @include rtl-float-left();                
            }
            .post-inner{
                zoom: 1; 
                overflow: hidden;                
                margin-top: 15px;
                &:first-child{
                    margin-top: 0;
                }    
                .post-content,.post-thumb{
                    display: table-cell;
                    vertical-align: top;                                        
                }       
                .post-thumb{
                    @include rtl-padding-right(5px);               
                    img{                        
                        display: block;                                                
                        width: 80px;
                        height: auto;
                        vertical-align: middle;
                    }
                }   
                .post-content{
                    zoom: 1; 
                    overflow: hidden;     
                    width: 10000px;     
                    .article-meta-date {                        
                        line-height: normal;
                        margin: -7px 0 3px 0;
                    }      
                } 
            }
        }
        &.widget_categories{
            ul{
                li{
                    a{
                        color: $font-color;
                        &:hover{
                            color: $theme-color;
                        }
                    }
                }
            }
        }
    }
}
