/*Style category blog*/

.archive_description{
    text-transform: capitalize;
    color: #f2f2f2;
}

.article-meta-date{
    @include flexbox();
    @include align-items(flex-start);    
}

.archive-blog{
    .item-post{
        margin-bottom: 44px;
        &:last-child{
            article{
                margin-bottom: 0;
            }
        }         
    }
    .navigation{        
        min-height: 52px;
        padding-top: 20px;
        padding-bottom: 30px;
        clear: both;
    }
    .entry-content{
        padding-bottom: 10px;
        color: $font-color;
        h1,h2,h3,h4,h5,h6{                        
            outline-style: none;
        }
        p{            
            outline-style: none;
        }
    }
    .entry-action{
        padding-top: 10px;
        @include rtl-padding-left(30px);
    }
    .entry-title{
        font-size: 16px;
        padding: 0;
        margin-top: 0;
        line-height: 26px;
    }
    .posted-on{
        outline-style: none;
    }
    .author {
        text-transform: capitalize;        
        a{
            color: $gray-nobel;
            &:hover{
                color: $theme-color;
            }
        }
    }
    .icon-icon_tag{
        @include rtl-padding-right(5px);
    }
    .post-image{
        outline-style: none;
    }
    .post-cat{
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .comments-link{
        i{
            @include rtl-padding-right(1px);
        }
    }
    .article-meta{
        > a{
            @include rtl-padding-right(0px);
        }
        >*{
            @include rtl-padding-right(30px);
        }
        span{            
            &:first-child{
                @include rtl-padding-left(0px);
            }
        }
        .tags-links{
            display: none;
        }
        .sticky-post{            
            text-transform: none;
            color: $font-color;
            padding: 20px 0 10px 0;
            min-height: 30px;
            line-height: normal;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
            @include flexbox();            
            @include justify-content(flex-start); 
            @include align-items(center); 
            .icons{                
                background: transparent;
                border: 1px solid $color-border;                                                                
                color: $gray-nobel;
                position: relative;
                padding: 0;
                @include justify-content(center);
                @include inline-flex();
                @include align-items(center);
                @include square(32px);                
                @include border-radius(100px);                
                @include rtl-margin-right(10px);                
                &:before{
                    font-size: 18px;
                    @include center-box(absolute);
                }
            }
        }         
    }
    .entry-meta-right{
        .byline{
            position: relative;            
            @include rtl-padding(0, 0, 0, 10px); 
            @include rtl-margin(0, 0, 0, 5px);
            &:before{
                content: '';
                background: $gray-95;
                @include size(1px,14px);
                @include rtl-left(0);
                @include vertical-align(absolute);                
            }
            .by{
                padding-right: 3px;
            }
            .author{
                a{
                    font-size: 14px;
                    text-transform: capitalize;              
                }
            } 
        }        
    }     

    .col-md-6:nth-child(2n+1),.col-md-4:nth-child(3n+1),.col-md-3:nth-child(4n+1){
        clear: left;
    }

    &.column3{
        .col-md-6:nth-child(2n+1){
            clear: none;
        }
        .col-md-6:nth-child(2n+2){
            clear: left;
        }
    }

    &.column5{
        .col-md-3:nth-child(4n+1){
            clear: none;
        }
    }

    .full-width{
        .article-meta{
            margin-top: 5px;
            position: relative;
            width: 100%;
            display: block;
        }
    }
}

.posted-on {    
    @include rtl-margin(0, 5px, 0, 0);
}

.meta-hidden{
    .article-meta{
        display: none;
    }
}

.description-hidden{
    .entry-content{
        display: none;
    }
    .full-width{
        .entry-content{
            display: block;
            @include rtl-padding-left(15px);
            @include rtl-padding-right(15px);
        }
    }     
} 
