//Post layout
.post-list{
    position: relative;
    text-align: center;    
    .entry-link{
        margin-top: 8px;   
    }    
    .entry-title {         
        @include font-size(24px,32px);
        line-height: 42px;
        margin-bottom: 0;
    } 
    .article-meta-date{
        text-align: center;
        margin-bottom: 3px;
        @include justify-content(center);
    }
    .entry-date{
        outline-style: none;
    }
    .article-image{
        position: relative;        
    }
    .article-content{
        padding: 34px 15% 34px;
        &.full-width{
            width: 100%;
        }
    }
    .entry-header{
        margin-bottom: 20px;
        padding: 0;
    }
    .entry-content{
        margin-top: 0;
        padding-bottom: 0;
    }
    .full-width{
        outline: none;
    }
}

.post-grid{
    .entry-header{                
        margin: 0;
        padding: 0 0 16px 0;
    }
    .entry-title{
        margin: 0;
        padding-top: 4px;        
        @include rtl-padding-right(30px); 
    }
    .entry-content{
        margin-top: 0;
    }
    .entry-meta-right{
        padding: 0;
        margin: 0;
    }
    .btn-readmore{
        padding-top: 0;
    }
    .post-image {
        padding-bottom: 15px;
    }
}

.layout-masonry{   
    .pagination{
        margin-top: 0;
    }
    .archive-blog{             
        .affect-isotope{            
            margin: 0 -53px;
        }
        .item-post{        
            padding-left: 68px;
            padding-right: 68px;      
            margin-bottom: 84px;
            .post-grid{
                padding-left: 0;
                padding-right: 0;        
            }        
        }
    }    
}

.nav-links{
    .page-numbers{
        vertical-align: middle;
        display: inline-block;
        background: $table-bg-accent;
        font-size: 14px;
        line-height: 52px;
        font-weight: 400;   
        text-align: center;
        color: $color-black;
        margin-left: 4px;
        margin-right: 4px;
        @include square(52px);        
        @include border-radius(100px);      
        @include transition-all();                  
        &.current{
            color: $white;
        }
    }
}