/*Style single blog*/
.wrap-single{
    margin-top: 100px;
}

.post-format .ti-control-play,
.post-format .ti-camera,
.post-format .ti-headphone,
.post-format .ti-quote-left{
    position: absolute;
    right:10px;
    top:10px;
    background: $theme-color;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    color: #f1f1f1;
    display:none;
    line-height: 45px;
    @include border-radius(100%);    
    @include transition(0.4s);    
    &:hover{
        @include transition(0.4s);
        background: $theme-color;
        color: #f1f1f1;
    }
}

.ti-control-play
.post-image{
    text-align: center;
    padding-bottom: 15px;
    position: relative;
}

.box-article{
    .entry-excerpt{
        @include font-size(24px);
        font-weight: 600;
        line-height: 34px;
        color: $color-black;
        margin-bottom: 40px;
        padding-left: 152px;
        padding-right: 152px;        
    }
    .entry-content{
        padding-left: 152px;
        padding-right: 152px;           
    }
    .align-wide {
        margin: 74px -152px 0 -152px;   
    }
    .share-links{
        .count-share{
            .social-item{
                a{
                    &:hover{
                        color: $theme-color;
                        i{
                            color: $theme-color;  
                        }
                    }
                }
                i{
                    height: auto;
                }
                span{                    
                    font-size: 14px;
                    font-weight: 400;
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                }
            }             
        }         
    }     
}

.post-image{
    > *{
        display: block;
    }
    a{
        outline-style: none;
    }
    ul li{
        list-style:none;
    }
    .owl-carousel{
        padding: 0;
        z-index: 999;
        .fa{
            font-weight: 700;
        }
        .owl-prev{
            left:15px;
            border-width:2px;
        }
        .owl-next{
            right:15px;
            border-width:2px;
        }
    }
    img{
        float: none !important;
    }
    &.single-image{
        padding-top: 10px;
        padding-bottom: 74px;   
    }
}

.post-cat{
    color: $theme-color;
    text-transform: capitalize;
    position: relative;
    a{
        color: $font-color;        
        &:hover{
            color: $theme-color;
        }
    }
}

.entry-date{
    color: $font-color;        
    font-size: 14px;
}

.entry-header{
    margin-bottom: 72px;
    padding: 0 12%;    
    > header{
        display: block;        
    }
}

.entry-title{
    display: block;
    padding-top: 0;
    margin-bottom: 0;
    line-height: 42px;
    margin-top: 0;   
    @include font-size(26px,32px);
    > a{
        color: $color-black;
        &:hover{
            color: $theme-color;
        }
    }
}
.entry-excerpt{        
    padding: 0;
    margin: 0;
}
.entry-avatar{
    padding: 15px 30px 50px;
    .avatar{
        @include border-radius(100%);   
        @include rtl-margin-right(10px);
    }
    .author-by{
        font-style: italic;
        color: #747474;
    }
    .author-title{
        font-weight: 500;
        @include rtl-padding-left(3px);
        color: $theme-color;
    }
    .author-link{
        color: $theme-color;
    }
    .count-share{
        @include rtl-float-right();
    }
    >*{
        display:inline-block;
    }
}

.entry-footer{
    margin-top: 0;
    padding: 88px 0;
    border-bottom:1px solid $color-border;
    .watch-action {
        float: none;
        width: auto;
        .status {
            display: none;
        }
        .lc, .unlc {
            line-height: 24px;
        }
    }
    i{        
        @include rtl-padding-right(3px);
        line-height: 22px;
    }

    .comment-text{
        @include rtl-padding-right(20px);
        .fb_comments_count{
            @include rtl-padding-right(5px);
        }
        .i{
            font-size: 16px;
        }
        .txt{
            font-size:12px;
        }

    }
    .total-view{
        @include rtl-padding-right(20px);
    }
}
.archive-header .entry-title{
    padding: 15px 0;

}

//meta comment
.post-comment{
    padding-bottom: 25px;
    line-height: 24px;
    .fa{
        @include rtl-padding-right(10px);
        color: $theme-color;
    }
    span{
        font-size: 12px;
        &:first-child{
            @include rtl-padding-left(0px);
        }
    }
}

//tag
.tags{
    > span{
        font-weight: 600;
        font-size: 16px;
        @include rtl-padding-right(5px);
    }
    .fa{
        @include rtl-padding-right(10px);
        color: $font-color;
    }
    a{        
        display: inline-block;        
        padding: 2px 0;
        text-decoration: none;
        color: $text-color;
        @include transition(all 0.4s ease 0s);
        @include rtl-margin-right(15px); 
        &:first-child{
            @include rtl-margin-left(15px); 
        }
        &:last-child{
            @include rtl-margin-right(0); 
        }
        &:hover{
            @include transition(0.4s);
            color: $theme-color;
        }

    }
}

//content
.entry-content{
    padding: 0;
    p{
        margin: 0 0 20px;
    }
}
//avatar
.author-img{
    @include rtl-padding-right(20px);
    >img{
        @include border-radius(100%);   
        max-width:inherit;
    }
}
.avatar{
    >img{
        max-width:inherit;
        @include border-radius(100%);   
    }
}
.author-content{
    h5{
        margin-top: 20px;
        margin-bottom: 20px;
    }    
    .author-content-social{
        a{
            color: $color-meta;
            font-weight: 500;
            font-size: 18px;
            &:hover{
                color: $theme-color;      
                .icons{
                    color: $theme-color;      
                }      
            }        
        }
    }
    .author-social{
        margin: 0 5px;                
    }
    .author-content-description{
        max-width: 600px;
        margin: auto;        
        padding-bottom: 24px;
    }    
}
//comment
.comments-list{    
    margin: 0;     
    @include rtl-padding(0, 10%,0, 0); 
}
.comment-text{
    .tags-link-wrap{
        @include rtl-padding-right(30px);
        display: inline-block;
    }
    .text-comment{
        .fa{@include rtl-padding-right(10px);}
        display: inline-block;
    }
    time{
        font-size: 12px;
    }
    .meta{
        margin-bottom: 15px;
    }
}
.comment-box{
    .comment-text{        
        outline-style: none;
        > p{
            margin: 0 0 8px 0;
        }
    }
}
.comment-time-user{
    font-size: 13px;
    @include flexbox();
    @include align-items(center);    
}
.comment-time{    
    color: $color-black;
    @include rtl-padding-right(8px); 
}
.commentform{    
    .comment-respond{
        padding: 44px 0 0 0;
        border-top: 1px solid $color-border;
        @include clearfix();        
    }
}
.comment-form{
    margin-top: 5px;
    .form-group{
        margin-bottom: 30px;
    }
}
.logged-in-as {
    margin-bottom: 55px;
}
#comments,
#review_form {        
    .heading{
        font-size: 24px;
        line-height: 34px;
        font-weight: 600;        
        margin-bottom: 5px;
    }
    .comment-list{
        padding: 0;
        margin: 0;
        > li:first-child{
            border: none;
        }
        li {            
            list-style: none;
            padding: 27px 0;
            border-top: 0;
            &.last-child{
                outline-style: none;
                padding-bottom: 75px;
            }
        }
    }
    .text-user{
        text-transform: uppercase;
        font-weight: 500;        
        font-size: 16px;
        line-height: 26px;
        color: $color-black;
        > a{
            color: $theme-color;
        }
    }
    .meta-user{
        padding-top: 0;
        font-size: 13px;
        font-weight: 400;
        a{
            color: $theme-color;            
            padding: 2px 5px 2px 0;
            line-height: 21px;
            &:hover {
                color: $theme-color; 
            }
        }
    }
    .children{
        @include rtl-padding-left(85px);
        li:first-child{
            margin-top: 23px;
        }
        li:last-child{
            padding-bottom: 0;
        }
    }
    .comment-author{
        padding-bottom: 5px;
    }
    .h-info{
        padding-bottom: 20px;
    }
    .the-comment{
        > .avatar{
            @include rtl-padding-right(42px);
        }
    }    
    .ground-user{
        .comment-time{
            padding: 5px 0;
            display: block;
            font-size: 12px;
        }
    }
}
#commentform{
    .comment-text{
        text-transform: lowercase;        
    }
}
//post related
.post-related{
    padding:0px;
    margin-top: 80px;
    .entry-title{
        font-weight: 500;
    }
    article.post-item {
        box-shadow: none;
        margin-bottom: 18px;
    }    
    .widgettitle{
        font-size: 24px;
        font-weight: 600;        
        line-height: 34px;
        margin-bottom: 44px;        
    }
    .post-cat{
        font-size: 12px;
    }
    .group-des{
        color: $font-color;
        font-style: italic;
        font-size: 12px;
    }
    .author-link{
        font-weight:600;
        color:$font-color;
        font-style: normal;
        &:hover{
            color: $theme-color;
        }
    }
}
.item-related{
    .post-format{
        width: 30px;
        height: 30px;
        @include rtl-right(20px);
        line-height: 32px;
        font-size: 12px;
        bottom: -15px;
        top:auto;
    }
}
.item-related{
    margin-top: 20px;
    @include border-radius(3px);   
    img{
        width: 100%;
    }
    .post-image{
        padding: 0;
    }
    .ground-title{
        min-height: 70px;
        padding: 15px 20px 30px;
    }
    .post-title{
        @include rtl-text-align-left();        
        color: $color-title;
        margin: 3px 0 20px;
        line-height: 20px;
        min-height: 40px;
        >a{
            color:$color-title;;
            font-weight:500;
            &:hover{
                color: $theme-color;
            }
        }
    }
    .embed-responsive{
        overflow: visible;
    }
}

//comments
.item-comment{
    padding:0;
    font-style: normal;
    margin: 0;
    >span{
        vertical-align: middle;
        font-weight: 500;
        @include rtl-padding-left(7px);
        font-size: 13px;
    }
    i{
        outline-style: none;
    }
}
.icon-comment{
    font-size: 18px;
    color: #D1D1D0;
    @include rtl-padding-left(0px);
}
//pagination post
.entry_pagination{
    margin-top: 15px;
    .txt-pagination {
        p{
            margin-bottom: 5px;
        }
        display: table;
        span{            
            color: $color-meta;            
            text-transform: caption;
        }
    }
    .txt-prev {
        @include rtl-padding-left(20px);
    }

    .txt-next {
        @include rtl-padding-right(20px);
    }
    .pagination{
        padding:5px 0px 25px 0px;
        margin: 0;
        .fa{
            color: $theme-color;
        }
        .page-numbers:hover{
            .fa{
                color: $theme-color;
            }
        }

    }
    .page-numbers{
        background: none;
        box-shadow: none;
        color: $color-title;
        width: auto;
        vertical-align: middle;
        @include border-radius(0);   
        margin: 0;
        border: none;
        height: initial;
        img {
            display: table-cell;
        }
        i{
            color: $theme-color;
            padding: 15px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
            background: white;
            @include border-radius(100%);   
            text-align: center;
        }
        &:hover{
            color: $theme-color;
            background: none;
            box-shadow: none;
            border: none;
            i{
                color:white;
                background:$theme-color;
            }
        }
        &.page-prev{
            max-width: 50%;
            @include rtl-text-align-left();
            @include transition(0.4s);            
            @include border-radius(0 0 0 5px);   
            img{
                @include rtl-float-left();
            }
        }
        &.page-next{
            max-width: 50%;
            @include rtl-text-align-right();
            @include transition(0.4s);            
            @include border-radius(0 0 5px 0);   
            img{
                @include rtl-float-right();
            }
        }
        .title-pagination{
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
        }
    }
}
.form-submit{    
    margin-top: 52px;
    margin-bottom: 0;   
    text-align: center; 
    @include clearfix();
    input[type="submit"],    
    input[type="button"]{
        font-size: 16px;
        letter-spacing: 0.2px;
        padding: 17px 70px; 
    }
}

.article-meta-single{
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 2px;
    overflow: hidden;
    span{
        line-height: 26px;
        position: relative;
        @include rtl-padding-right(15px);
        &:after{
            position: absolute;
            content: "|";
            color: $font-color;
            font-size: 12px;
            right: 5px;
            top: -2px;
        }
        &:last-child{
            @include rtl-padding-right(0px);
            &:after{
                content: none;
            }
        }
    }
    .entry-date{
        outline: thin;
    }
}
.post-author{
    text-align: center;
    padding: 82px 30px 82px;    
    border-bottom: 1px solid $color-border;    
}
.tags-wrap{    
    display: block;
    margin-bottom: 20px;   
    .tags-title{
        font-weight: 600;
        color: $color-title;
        line-height: 30px;
    }
}
.entry-footer-social{
    display: block;
    .entry-footer-left{        
        > *{
            display: inline-block;
        }
    }
    .entry-footer-right{        
        > * {
            display: inline-block;
            color: #252525;
            padding: 0;
        }
        .lc-4,.lc{
            color: #757575;
            height: 30px;
            @include rtl-left(0);
            position: absolute;
            top: 0;
            width: 30px;
            font-size: 0;
        }
        .action-like  span::before{            
            @include rtl-left(-22px);
            line-height: 5px;
            top: 6px;
            color: #DD4B39;
        }
        .like-links{
            cursor: pointer;
            &:hover{
                color: #DD4B39;
                a{
                    color: #DD4B39;
                }
            }
        }
    }
}
//like
.entry-content{
    .watch-action{
        display: none !important;
    }
}
.watch-action{
    .watch-position,.action-like,.lc,.unlc{
        float: none;
        line-height: 24px;
    }
    position: relative;
    .action-like,.action-unlike{
        img{
            display: none;
        }
    }
    .action-like{
        position: relative;
        @include rtl-padding-left(15px);
        >a{
            color: #757575;
            .lc{
                color:#757575;
            }
        }
        span::before{
            content:"\e634";
            font-family: 'themify';            
            top:-2px;
            @include rtl-left(0);
            position: absolute;

        }
    }
    .action-unlike{
        display: none !important;
    }
    .status{
        display: none !important;
    }
}

#cancel-comment-reply-link{        
    font-size: 13px;
}

.main-content{
    .box-comment{        
        margin-bottom: 0;
        margin-top: 80px;
        .comment-lists{            
            padding-top: 44px;
            border-top: 1px solid $color-border;    
            .comment-list-wrap{
                padding: 10px 0 47px 0; 
            }   
        }
    }
} 

.comment-navigation{
    clear: both;
    padding: 0 0 30px;
    .previous{
        @include rtl-float-left();
        display: inline-block;
    }
    .next{
        @include rtl-float-right();
        display: inline-block;
    }
}
.taxonomy-description {    
    margin-bottom: 30px;
}
.description-page{
    display: none;
    &.show{
        display: block;
    }
}
.padding-content-right {
    padding-right:85px;
}
.padding-content-left {
    padding-left:85px;
}
//img-footer2
.trebol-image-content {
    margin-bottom: 50px;
}
.fitnez-instagram{
    margin-left: -10px;
}
.contact-info {
    b{
        color: $text-color;
        font-weight: 300;
        font-size: $font-size;
    }
}

.post-related{
    .description-hidden{
        .entry-content{
            display: none !important;
        }
    }
}