//style widget About
.widget.about{
    text-align: center;
    .about-image{
        margin: 0 50px 30px;        
        max-width: 180px;        
        @include border-radius(100%)
    }
    .widgettitle{
        text-align: center;
    }
    .about-description{
        text-align: center;                
        padding-bottom: 25px;
        padding-left: 0;
        padding-right: 0;       
        margin-top: 18px;
    }
    .trebol-social-icon{
        padding-top: 26px;
        border-top: 1px solid $color-border;        
        [class*="ion-social-"]{
            font-size: 16px;
            @include rtl-margin-left(15px);            
        }
        a{
            color: $gray-nobel;
            &:hover{
                color: $theme-color;
            }
        }
    }
}
#na-footer {
    .widget.about {
        @include rtl-text-align-left();
        .about-image{
            margin:0;
            border-radius: 0;
            max-width:inherit;
        }
        .about-description{
            @include rtl-text-align-left();
        }
        .trebol-social-icon{
            padding-top:0px;
            border-top:none;
            a{
                border: 1px solid $color-border;
                @include rtl-margin(0px,10px, 0 ,0);                
            }
        }
    }
}
