//style widget Attributes
ul li{
    //color
    &.att_color{
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
        @include transition(0.4s);
        display: inline-block;
        height: 25px;
        margin:8px 5px 10px;
        padding: 0;
        width: 25px;
        >.count{
            display: none;
        }
        //hover li
        &:hover{
            box-shadow: none;
        }

        //active li
        &.chosen{
            box-shadow:none;
            margin:8px 5px 10px;
            > a{
                &:before{
                    background: none;
                }
                &:after{
                    color: $white;
                    content: $ionicon-var-checkmark;                    
                    font-family: $ionicons-font-family;
                    font-size: 12px;
                    display: block;
                    @include rtl-left(4px);
                    text-align: center;
                    top: -15px;
                    background: none !important;
                }
                &:hover{
                    &:after {
                        background: none;
                        content: $ionicon-var-checkmark;
                        font-family: $ionicons-font-family;
                        font-size: 20px;
                        line-height: 20px;
                        top:-17px;                        
                        color: $white;
                        @include rtl-left(2px);
                    }
                }

            }

        }

        // style a
        a{
            &:before{
                background: none;
                border: none;
                border-radius: 50%;
                height: 25px;
                @include rtl-left(0px);
                top: -20px;
                width: 25px;
            }
            &:after{
                background: none;
                color: white;
                content: $ionicon-var-checkmark;
                position: absolute;
                font-family: $ionicons-font-family;
                font-size: 12px;
                @include rtl-left(6px);
                top: -16px;
            }
            &:hover{
                &:before,&:after{
                    content: "\f00c";
                    border: none;
                    color: $white;
                    background: none;
                }
            }
        }

    }

    //image
    &.att_img{
        @include transition(0.4s);
        margin:10px 0px 15px;
        padding: 0;

        .count{
            line-height: 50px;
        }
        //active li
        &.chosen{
            box-shadow:none;
            margin:8px 5px 15px;
            .count{
                color: $theme-color;
            }
            a{
                color: $theme-color;
                > img {
                    border: 1px solid $theme-color;
                }
                &:before{
                    background: none;
                }
                &:after{
                    content: none !important;
                }
                &:hover{
                    &:after {
                        height: 50px;
                        @include rtl-left(0px);
                        line-height: 50px;
                        text-align: center;
                        top: 0;
                        vertical-align: middle;
                        width: 50px;
                        background: rgba(237, 239, 242, 0.7) none repeat scroll 0 0;
                        content: $ionicon-var-checkmark !important;                       
                        font-family: $ionicons-font-family;
                        font-size: 20px;
                        color: $theme-color;
                    }
                }

            }

        }

        // style a
        a{
            padding: 0;
            &:before{
                border: none;
                height: 50px;
                @include rtl-left(0px);
                top: 0px;
                width: 50px;
                border-radius:100% ;
            }
            &:after{
                content: none !important;
            }
            &:hover{
                &:before,&:after{
                    content: none !important;
                }
                > img {
                    border: 1px solid $theme-color;
                    border-radius:100% ;
                }
            }
            > img {
                width: 50px;
                height: 50px;
                padding: 3px;
                border: 1px solid $gray-93;
                border-radius:100% ;
            }
            >span{
                line-height: 50px;
                @include rtl-padding-left(10px);
                font-size: 12px;
            }
        }

    }

    //label
    &.att_label{
        background:#E2E2E2;
        border-radius: 50%;
        display: inline-block;
        height: 30px;
        margin:8px 5px 10px;
        padding: 0;
        width: 30px;
        >.count{
            display: none;
        }
        //hover li
        &:hover{
            box-shadow: none;
        }
        //active li
        &.chosen{
            background: $theme-color;
            color: $white;
            box-shadow:none;
            margin:8px 5px 10px;
            a{
                color: $white;
                &:after{
                    color: $white;
                    content: none !important;
                    display: block;
                    @include rtl-left(0px);
                    text-align: center;
                    top: 0px;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }
                &:hover{
                    &:after {
                        content: $ionicon-var-checkmark !important;
                        color: $white;
                        background: $theme-color;                        
                        font-family: $ionicons-font-family;
                        font-size: 20px;
                        line-height: 30px;
                        top: 0px;                        
                        @include rtl-left(0);
                        color: $white;
                    }
                }
            }
        }

        // style a
        a{
            font-size: 12px;
            height: 30px;
            padding: 0;
            text-align: center;
            width: 30px;
            line-height: 30px;
            border-radius: 50%;
            &:before{
                content: none !important
            }
            &:after{
                content: none !important;
            }
            &:hover{
                background: $theme-color;
                color: $white;
                &:before,&:after{
                    content: none !important;
                }
            }
        }

    }


}

