// Style Newsletters
.input-newsletter {
    input{
        padding: 0;
    }
    i {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 9;
        font-size: 24px;
        margin: 0;
    }
}
.btn-newsletter.btn {
    padding: 0;
}
.newsletters{
    padding-top: 20px;
    margin-bottom: 10px;
    @include rtl-text-align-left();
    color: #757575;
    .widgettitle{
    }
    .des-newsletter{
        line-height: 24px;
    }
    .group-input-newsletter{
        margin-top: 5px;
        display:block;
    }
    input,.form-control{
        height: 40px;        
    }
    #mc4wp{
        background: #FFF;
    }
    .btn-newsletter{
        background:transparent;
    }
}