$white                   : #ffffff !default;
$black                   : #000000 !default;
$gray                    : #555555 !default;
$gray-nobel              : #818181 !default;
$yellow                  : #ffb136 !default;
$whisper                 : #eeeeee !default;

$image-url               : '../images/' !default;
$image-theme-path        : $image-url !default;
$theme-color             : #b91d1d !default;
$main-color              : #b91d1d !default;
$theme-bg                : #ffffff !default;
$font-color              : $gray-nobel !default;
$border-color-base       : 1px solid #eaeaea !default;
$secondary               : #F3F3F3 !default;
$secondarytext           : desaturate(darken($secondary, 60%), 21%) !default;
$color-title             : #201f1f !default;

$font-family-main	      : "Poppins" !default;
$font-family-two  	      : $font-family-main !default;
$font-family-three        : $font-family-main !default;

$font-size               : 15px !default;
$font-weight             : 300 !default;
$line-height             : 27px !default;

//===============================topbar============================
$topbar-bg               : #F5F5F5 !default;
$topbar-color            : #757575 !default;
$topbar-border-color     : 1px solid #232323 !default;
$topbar-border-bottom    : 0px solid transparent !default;

//===============================Menu============================

$menu-bg                 : $white !default;
$menu-bg-hover           : transparent !default;
$menu-color              : #040203 !default;
$menu-color-hover        : #b91d1d !default;
$menu-border             : 1px solid #f1f1f1 !default;
$menu-padding            : 0 !default;
$menu-rtl                : -15px !default;
$icon-bar                : #040203 !default;
$icon-bar-hover          : #b91d1d !default;

//===============================Search============================
$search-menu             : lighten($menu-bg, 12%) !default;
$search-color            : #757575 !default;

//===============================Buttom============================

$btn-primary-bg          : #b91d1d !default;
$btn-success-bg          : #b7cc16 !default;
$btn-info-bg             : #4BC5C6 !default;
$btn-warning-bg          : #DF8B1B !default;
$btn-danger-bg           : #E3503C !default;

//btn
$btn-cart-color          : $white !default;
$btn-cart-bg             : #1f1b1c !default;
$btn-cart-border         : #1f1b1c !default;
$btn-cart-colorhover     : $white !default;
$btn-cart-bghover        : #b91d1d !default;
$btn-cart-borderhover    : #b91d1d !default;

$btn-outline-color       : #8c8c8c !default;
$btn-outline-bg          : transparent !default;
$btn-outline-border      : transparent !default;
$btn-outline-colorhover  : #b91d1d !default;
$btn-outline-bghover     : transparent !default;
$btn-outline-borderhover : transparent !default;

$btn-inverse-color       : #8c8c8c !default;
$btn-inverse-bg          : transparent !default;
$btn-inverse-border      : transparent !default;
$btn-inverse-colorhover  : #b91d1d !default;
$btn-inverse-bghover     : transparent !default;
$btn-inverse-borderhover : transparent !default;

//===============================Product============================

$sale                    : #c69f73 !default;
$out-of-stock            : #282828 !default;

//===============================Footer============================
$footer-top              : #F5F5F5 !default;
$footer-center           : #fff !default;
$footer-bg               : #fff !default;
$footer-bg-bottom        : #fff !default;
$footer-color            : #767676 !default;
$footer-title-color      : $color-title !default;
$footer-border-color     : 1px solid #424242 !default;
$footer-border-top       : 1px solid $gray !default;
$footer-border-nav       : 1px solid #424242 !default;

$coppy-right-color       : $white !default;
$coppy-right-color-link  : #b91d1d !default;

//===============================New Letter============================
$new-letter-color        : #333333 !default;


//============================= Media Query Szie ==============================

$mobile         : 576px !default;
$mobile-small   : 320px !default;
$mobile-medium  : 480px !default;
$mobile-large   : 767px !default;

$tablet-small   : 768px !default;
$tablet-medium  : 800px !default;
$tablet-large   : 980px !default;

$desktop-small   : 1024px !default;
$desktop-medium  : 1200px !default;
$desktop         : 1366px !default;
$desktop-large   : 1400px !default;
$desktop-xlarge  : 1920px !default;
$desktop-xxlarge : 2560px !default;
