
//button base
//button-variables-outline($color, $background, $border, $colorhover, $bghover, $borderhover )

/* btn 1 */
.btn-outline{
  @include button-variables-outline($theme-color, transparent, $theme-color, $theme-color, transparent, $theme-color);
}

/* btn 2 */
.btn-inverse{
    @include button-variables-outline($white, $theme-color , $theme-color ,$white, $theme-color ,  $theme-color);
}

/* btn-3 */
.btn-variant{
    @include button-variables-outline($white, $theme-color , $theme-color ,$white,darken($theme-color, 10%),  darken($theme-color, 10%));
    padding: 10px 30px;
}

.button{
    @include button-variables-outline($white, #282828 , #282828 , $white, $theme-color ,  $theme-color);            
    height: auto;    
    color: $white;
    padding: 14px 24px;
    border: 1px solid $color-black;
    font-size: 14px;
    font-family: $font-family-main;    
    font-weight: 500;
    letter-spacing: normal;
    display: inline-block;
    text-align: center;        
    vertical-align: middle;
    text-transform: uppercase;    
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: $color-black;
    @include border-radius(0);
    @include box-shadow(none);
    @include transition(all 0.25s);       
    @include appearance(none);  
    @include user-select(none);    
    &:hover,&:focus,&:active{
        color: $color-black;
        border-color: $color-black;
        background: $white;
    }
    //ADD TO CART ----------------------------------------------------------------------------------------------------------
    &.single_add_to_cart_button{        
        height: 60px;
        position: relative;
        @include rtl-padding(15px, 70px, 15px, 36px);        
        &:hover,
        &:focus,
        &:active,
        &.active {
            color: $color-black;
            border-color: $color-black;
            background-color: $white;
            &:after{
                color: $color-black;
            }
        }
        &:after{
            content: "\e04f";
            font-size: 20px;  
            @include rtl-right(36px);
            @include vertical-align(absolute);              
            font-family: "simple-line-icons";
        }
        &:disabled,
        &[disabled],
        &.disabled{      
            cursor: not-allowed;
            pointer-events: none;
            background-color: $color-black;        
        }
    }
}

.input-group-btn{
    .button{
        height: 50px;
    }
}

.btn-mini-search{
    font-size: 17px;
    border: none;
    color: $color-black;
    background: none;
    cursor: pointer;
    z-index: 99;
    position: relative;
}
.btn-filter{
    font-size: 14px;    
    font-weight: 500;
    color: $color-black;    
    cursor: pointer;
    text-transform: uppercase;
    position: relative;          
    i{          
        &:before, &:after{
            font-size: 10px;
        }
    }
    &:hover{
        color: $theme-color;
    }
    i{
        @include rtl-padding-right(5px);
    }
}
.btn-mini-close{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: $color-black;
    font-size: 24px;
    @include opacity(1);
    position: absolute;
    right: 0;
    top: 10px;
    transition: all 0.4s ease 0s;
}
.btn-readmore{
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    font-weight: 500;
    font-size: 14px;   
    color: $color-black;
    @include rtl-padding(0, 18px, 0, 0);     
    &:after{
        display: block;                        
        content: $ionicon-var-android-arrow-forward;     
        font-family: $ionicons-font-family;      
        @include rtl-right(0);
        @include vertical-align(absolute);        
    }
    &:hover{
        color:$theme-color;                
    }
}

// Specificity overrides
.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"]{        
    height: auto;    
    color: $white;
    padding: 14px 24px;
    border: 1px solid $color-black;
    font-size: 14px;
    font-family: $font-family-main;    
    font-weight: 500;
    letter-spacing: normal;
    display: inline-block;
    text-align: center;        
    vertical-align: middle;
    text-transform: uppercase;    
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    z-index: 1;    
    background: $color-black;
    @include border-radius(0);
    @include box-shadow(none);
    @include transition(all 0.25s);       
    @include appearance(none);  
    @include user-select(none);   
    &:hover,&:focus,&:active{                                            
        border-color: $color-black;
        background: $white;
        color: $color-black;       
        outline-style: none;           
    } 
    &.side-menu-button{        
        padding: 0;
        margin: 0;
        font-size: 28px;
        border: 0;     
        background: transparent;   
        color: $color-black;
        @include clearfix();
        @include square(34px);
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
        .side-menu-icon{
            margin-top: 7px;
            @include rtl-float-left();
        }
        &:hover{
            background: transparent;
            color: $color-black;
            border: 0;
        }
    }
    &.btn-sizeguide{
        padding: 0;
        margin: 0;
        border: 0;
        font-weight: 500;
        font-size: 14px;        
        color: $color-black;
        background: transparent;        
        &:hover,&:focus,&:active{
            @include box-shadow(none);
        }
        img{            
            @include rtl-margin-right(5px); 
        }
    } 
    &.btn-updatecart{      
        color: $white;             
        padding: 16px 34px;                
        background: $color-black;
        &:hover,&:focus,&:active{                                    
            color: $color-black;
            background: transparent;
            border-color: $color-black;
        }        
    }        
    &.btn-checkout{
        color: $white ;
        display: inline-block;
        text-align: center;
        padding: 22px 40px;
        width: 100%;
        font-size: 16px;
        border: 1px solid #1f1b1c;
        background: #1f1b1c;
        text-transform: uppercase;
        font-weight: 400;
        @include transition(0.4s);
        &:hover,&:focus,&:active{                                    
            border: 1px solid #4A4647;
            background: #4A4647;
            color:$white ;
        }
    }
    &.btn-order{
        display: inline-block;
        text-align: center;
        padding: 15px 40px;
        width: 100%;
        font-size: 16px;
        color: $white;
        height: auto !important;
        background: $color-title;
        border: 1px solid  $color-title;
        @include transition(0.4s);
        &:hover,&:focus,&:active{                                                
            background: $white;
            color: $color-black;
        }
    }
    &.btn-login{
        padding: 10px 40px;
        font-size: 14px;
        color: $white;
        text-transform: uppercase;
        letter-spacing: 1px;
        &:hover{
            color: $color-black;
        }
    }    
    &.btn-link{
        border: 0;        
        margin: 0;                
        color: $color-black;
        position: relative;        
        background: transparent;       
        @include rtl-padding(0, 20px, 0, 0);
        &:hover,&:focus,&:active{
            color: $theme-color;
            &:after{
                color: $theme-color;
            }
        }
        &:after{
            color: inherit;
            font-size: 15px;                                   
            font-family: $ionicons-font-family;
            content: $ionicon-var-android-arrow-forward;
            @include rtl-right(0);
            @include vertical-align(absolute);
        }                                 
    }
    &.btn-link2{
        border: 0;
        margin: 0;
        font-size: 16px;
        color: $color-black;
        position: relative;
        background: transparent;
        @include rtl-padding(0, 20px, 0, 0);
        &:hover,&:focus,&:active{
            color: $theme-color;
            &:after{
                color: $theme-color;
            }
        }
        &:after{
            color: inherit;
            font-size: 16px;
            font-family: $ionicons-font-family;
            content: $ionicon-var-android-arrow-forward;
            @include rtl-right(0);
            @include vertical-align(absolute);
        }
    }
    &.btn-link-second{
        border: 0;        
        margin: 0;                
        padding: 0;
        color: $theme-color;
        position: relative;        
        background: transparent;               
        &:after{
            content: "";
            bottom: 3px;
            position: absolute;            
            @include size(100%,1px);
            @include rtl-left(0);            
            background: $theme-color;
        } 
    }
    &.btn-link-primary{
        border: 0;        
        margin: 0;          
        font-size: 16px;              
        color: $color-black;
        position: relative;        
        z-index: inherit;
        text-transform: lowercase;
        background: transparent;       
        @include rtl-padding(0, 20px, 0, 0);        
        &:hover,&:focus,&:active{
            color: $theme-color;
            &:after{
                color: $theme-color;
            }
        }
        &:after{
            color: inherit;
            font-size: 16px;                                   
            font-family: $ionicons-font-family;
            content: $ionicon-var-android-arrow-forward;
            @include rtl-right(0);
            @include vertical-align(absolute);
        }        
    }   
    &.btn-link-outline{
        border: 0;        
        margin: 0;                
        padding: 0;
        color: $white;
        position: relative;        
        background: transparent;         
        letter-spacing: 0.5px;      
        &:after{
            content: "";
            bottom: 2px;
            position: absolute;            
            @include size(100%,1px);
            @include rtl-left(0);            
            background: $white;
        } 
    }
    &.btn-light{
        border: 0;
        color: $color-black;
        background: $white;                
        text-transform: none;
        font-size: 16px;        
        padding: 12px 24px;
        position: relative;
        > *{
            z-index: 1;
            position: relative;            
        }
        &:after {
            top: 0;
            content: "";
            background: $color-black;                        
            position: absolute;
            @include rtl-left(0);
            @include square(100%);
            @include transform(scaleX(0));
            @include opacity(0);
            @include transform-origin(100% 50%);
            @include transition(transform 0.3s cubic-bezier(0.77, 0, 0.175, 1), opacity 0.5s);    
        }
        &:hover{
            color: $white;
            > *{
                color: $white !important;
            }
            &:after {
                @include opacity(1);
                @include transform-origin(0 50%);
                @include transform(scaleX(1));            
                @include transition(transform 0.3s cubic-bezier(0.77, 0, 0.175, 1), opacity 0.3s); 
            }                 
        }
    }
    &.btn-video{        
        outline: none;
        border: 0;
        padding: 0;
        margin: 0;
        position: relative;
        overflow: hidden;
        @include border-radius(100px);    
        @include square(102px);     
        @include box-sizing(border-box);
        &:after {
            content: "";
            top: 0;                        
            position: absolute;            
            overflow: hidden;
            width: 100%;
            height: 100%;
            background: $white;      
            @include opacity(0);      
            @include rtl-left(0);
            @include transform(scaleX(0)); 
            @include transform-origin(100% 50%); 
            @include transition(transform 0.3s cubic-bezier(0.77, 0, 0.175, 1), opacity 0.5s);   
        }
        &:hover{
            &:after {                                
                @include opacity(1);     
                @include transform-origin(0 50%);
                @include transform(scaleX(1));   
                @include transition(transform 0.3s cubic-bezier(0.77, 0, 0.175, 1), opacity 0.3s); 
            }   
        }
        > * {            
            z-index: 1;
            position: relative;
            @include font-size(18px,24px);            
        }        
    }
    &.btn-theme{
        background: $color-black;        
        color: $white;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 0;
        padding: 15px 37px;                    
        &:hover,&:focus,&:active{
            color: $color-black;       
            background: $white;                 
        }
    }
}

#loadmore-button{
    border: 1px solid #f0f0f0;
    background: $white;
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px 25px;
    color:#282828;
    text-align: center;
    display: block;
    &:hover{
        background:$theme-color;
        border: 1px solid $theme-color;
        color: $white;
    }
}

.page-content .vc_btn3.vc_btn3-style-custom{
    padding: 10px 30px;
    text-transform: uppercase;        
    letter-spacing: 0.1em;
    color: $white;
    cursor: pointer;
    background-color: $theme-color;
    border: 1px solid $theme-color;
    font-family: $font-family-main;
    font-size: 12px;
    font-weight: 500;    
    background-image:none;    
    @include border-radius(0);   
    @include box-shadow(0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12));
    &:hover,
    &:focus,
    &:active,
    &.active {
        @include box-shadow(none);
        background-color: $theme-color;
        border: 1px solid $theme-color;                
    }
}

.add_to_cart_button,
.button.product_type_simple{
    @include button-variables-outline($color-black,transparent, transparent, $theme-color, transparent, transparent);
    padding: 0;
    font-weight: 300;
    font-size: 14px;
    box-shadow: none;
    .fa-shopping-cart{        
        position: absolute;
        left: -99999px;
        top: -99999px;
    }
    &.loading {        
        @include opacity(1);
        position: relative;
        &:after {
            content: none;        
        }
    }
    &.added{
        display: none;
    }
}

//quick view -----------------------------------------------------------------------------------------------------------
.yith-wcqv-button{
    display: none;
}

.quick-view{
    display: none;
    @include opacity(0);
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -22px;
    @include rtl-margin-left(-22px);
    visibility: hidden;
    @include transition(0.4s);
    z-index: 99;
    .yith-wcqv-button{
        display: block;
        position: relative;
        text-align: center;
    }
    span{
        color: $white;
        font-size: 24px;
        padding:0;
        right:1px;
        top:2px;
        position: relative;
        text-align: center;
        vertical-align: middle;
    }
    a{
        background: $theme-color;
        @include border-radius(100%);   
        border-width: 0;
        height: 45px;
        padding: 10px;
        text-align: center;
        width: 45px;
        z-index: 10;        
        @include opacity(.8);
    }
}

.infload-controls{
    a{
        display: inline-block;
        margin: auto;
        text-align: center;
        background: transparent;
        color: $color-title;
        padding: 0 35px;
        font-size: 20px;
        font-weight: 500;        
        text-transform: lowercase;
        &:hover{
            outline-style: none;
            color: $theme-color;
        }
        &.infload-to-top{
            padding: 0;
            pointer-events: none;
            cursor: not-allowed;
            @include opacity(.5);
        }
    }
}

#loadShop,
.loadShop{
    position: relative;
    &:after{        
        top: 0;    
        content: "\e098";
        font-weight: 400;                
        display: block;
        margin: 1px;                
        position: absolute;
        @include square(29px);
        @include rtl-right(0);           
        font-family: $simple-line-font-family;                             
    }
    &.loading{        
        &:after{                        
            @include animation(spin 0.8s linear infinite);             
        }
    }
}

.button-offcanvas{
    position:absolute;
    visibility: hidden;        
    @include opacity(0);    
}

@include media-query(mobile-large) {        
    .btn, button, input[type="submit"], input[type="reset"], input[type="button"]{
        &.btn-updatecart{      
            padding: 0;
            color: transparent;            
            @include square(100%);     
            @include flexbox();
            @include justify-content(center);
            @include align-items(center);
            &:hover{
                color: transparent;
                background: $color-black;                
            }
        }
    }    
}

@media (min-width: 320px) and (max-width: 480px) {
    .button, .btn, button, input[type="submit"], input[type="reset"], input[type="button"]{        
        &.single_add_to_cart_button{                    
            padding: 0;       
            color: transparent;
            font-size: 0;          
            @include square(60px);                   
            &:after{                
                color: $white;
                font-size: 20px;   
                right: auto;               
                @include center-box(absolute);                              
            }            
        }
    } 
}

@include media-query(mobile-small) {    
    .button, .btn, button, input[type="submit"], input[type="reset"], input[type="button"]{
        font-size: 12px;        
    }
    .button, .btn, button, input[type="submit"], input[type="reset"], input[type="button"]{
        &.btn-link-primary{
            font-size: 12px;
            @include rtl-padding(0, 15px, 0, 0);
        }                
    } 
}