//style carousel

.article-carousel{
    &:hover{
        .slick-prev,
        .slick-next{
            @include opacity(1);
        }
    }
}

.product-carousel{    
    .products-blocks{        
        &:hover{
            .slick-arrow{
                @include opacity(1);
                visibility: visible;
                &.prev-slide{
                    @include rtl-left(30px);
                    @include rtl-right(auto);                                   
                } 
                &.next-slide{
                    @include rtl-right(30px);    
                    @include rtl-left(auto);                                                                  
                } 
            }                    
        }   
    }        
    .slick-arrow{
        border: 0;      
        color: $color-black;
        background: $white;
        padding: 0;
        margin: 0;
        visibility: hidden;
        @include opacity(0);
        @include square(42px);      
        @include border-radius(0);
        @include box-shadow(none);        
        @include vertical-align(absolute);  
        top: calc(50% - 54px);
        @include transition-all();              
        &:hover,&:focus,&:active{
            background: $white;
        }        
        &.prev-slide{
            @include rtl-left(0);            
            @include rtl-margin-left(0);                         
        }        
        &.next-slide{
            @include rtl-right(0);            
            @include rtl-margin-right(0);             
        }
        .icon{
            margin: 0;
            padding: 0;
            line-height: normal;
        }
        span{
            display: none;            
        }
    }
    .slick-dots{
        bottom: 0;        
        overflow: hidden;        
        left: 0;
        right: 0;
        margin: auto;        
        @include size(60px,30px);
        li{
            margin: 0 8px;   
            @include square(14px);                     
            button {
                padding: 0;
                position: relative;
                border: 2px solid transparent;
                @include square(12px);                                   
                @include border-radius(100%);                    
                @include transition(all .2s ease-in);
                &:before {
                    content: "";
                    color: transparent;
                    font-size: 0;                
                    line-height: normal;
                    background: #9B9B9B;
                    @include square(8px);    
                    @include opacity(1);                                              
                    @include border-radius(100%);                                    
                    @include center-box(absolute);                                        
                }
            }
            &.slick-active{
                button{
                    border-color: $color-black;
                    &:before {
                        background: transparent;
                    }
                }                
            }
        }
    }                
    .products-block{
        padding-bottom: 77px;
        &:not([data-pagination="true"]) { 
            padding-bottom: 0px;
        }
    }
}

.products-block{
    .na-carousel{
        &:hover{
            .slick-arrow{
                @include opacity(1);
                visibility: visible;
                &.prev-slide{
                    @include rtl-right(auto);                                   
                    @include rtl-left(30px);                                   
                } 
                &.next-slide{
                    @include rtl-left(auto);
                    @include rtl-right(30px);                                   
                } 
            }                    
        } 
        .slick-arrow{
            border: 0;      
            color: $color-black;
            background: $white;
            margin-top: 0;
            visibility: hidden;
            padding: 0;
            @include opacity(0);
            @include square(42px);      
            @include border-radius(0);
            @include box-shadow(none);        
            @include vertical-align(absolute);  
            @include transition-all();
            span{
                display: none;
            }      
            &:hover,&:focus,&:active{
                background: $white;
            }            
            &.prev-slide{
                @include rtl-left(0);            
                @include rtl-margin-left(0);                             
            }        
            &.next-slide{
                @include rtl-right(0);            
                @include rtl-margin-right(0);                 
            }
        }
    }
}

.slider-nav{
    .slick-arrow{       
        border: 0;                  
        margin: 0;
        padding: 0 10px;
        color: $color-black;                       
        text-transform: none;          
        font-size: 16px;                
        letter-spacing: 0.5px;    
        bottom: 0;              
        visibility: visible;         
        position: absolute;         
        background: $white;  
        cursor: pointer;
        z-index: 1;   
        @include rtl-right(0);              
        @include border-radius(0);
        @include box-shadow(none);                                  
        @include opacity(1);
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);           
        @include square(42px);              
        @include transition(all 300ms ease);
        span{
            visibility: hidden;             
            font-weight: 500;  
            pointer-events: none;
            position: absolute;                             
            height: 42px;
            overflow: hidden;
            display: block;
            line-height: normal;
            padding: 8px 0;
            @include opacity(0);                                        
        }
        .icon{
            font-size: 16px;
            @include rtl-margin-left(0);            
        }
        &:hover,&:focus,&:active{
            background: $white;           
        }          
        &.prev-slide{            
            bottom: 42px;
            margin-bottom: 1px;
            span{                           
                @include rtl-left(0);
                @include rtl-float-left();  
                @include rtl-margin-left(30px); 
            }  
            &:hover{              
                width: 115px;
                @include transition(all 300ms ease);    
                @include justify-content(flex-start);                
                span{                    
                    pointer-events: auto;                       
                    visibility: visible;
                    @include opacity(1);                    
                }
            } 
        }            
        &.next-slide{
            span{                           
                @include rtl-right(0);
                @include rtl-float-right();  
                @include rtl-margin-right(30px); 
            } 
            &:hover{              
                width: 80px;
                @include transition(all 300ms ease);
                @include justify-content(flex-end);                     
                span{
                    pointer-events: auto;                       
                    visibility: visible;
                    @include opacity(1);  
                }
            }
        }
    }
}

.na-product-image{
    .product-gallery-slider{
        .flickity-prev-next-button{            
            background: none;            
            visibility: hidden;
            @include transition(0.4s);
            @include square(30px);
            @include opacity(0);
            &:hover,&:focus,&:active{
                .arrow{
                    fill: $theme-color;
                    box-shadow: none;
                }
            }
        }
        &:hover{
            .flickity-prev-next-button{
                @include opacity(1);
                visibility: visible;
                @include transition(0.4s);
            }
        }
    }
}