@-webkit-keyframes autofill {
    to {
        color: $font-color;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;    
}

textarea.form-control {
    max-height: 160px;
    cursor: pointer;
    outline: none;    
    background: $white;    
    padding: 10px 16px;
    font-weight: $font-weight;
    font-size: $font-size;
    color: $color-black;
    border: 1px solid $color-border;
    @include transition-all();
    @include appearance(none);
    @include box-shadow(none);    
    @include text-shadow(none);
    @include border-radius(0);
    @include placeholder($font-color);
    &:hover,
    &:active{        
        outline-style: none;
    }
    &:focus{
        outline: none;        
        border-color: $font-color;
        @include box-shadow(none);
        @include text-shadow(none);
    }
}

textarea,
input[type="text"], 
input[type="search"],
input[type="tel"], 
input[type="url"], 
input[type="email"], 
input[type="text"], 
input[type="password"],
input[type="number"]{
    cursor: pointer;
    outline: none;    
    background: $white;
    height: 50px;    
    padding: 10px 12px;
    font-weight: $font-weight;
    font-size: $font-size;
    color: $color-black;
    border: 1px solid $color-border;
    @include transition(all .18s cubic-bezier(.4,0,.2,1));    
    @include appearance(none);
    @include box-shadow(none);    
    @include text-shadow(none);
    @include border-radius(0);
    @include placeholder($font-color);
    &:hover,
    &:active{        
        outline-style: none;
    }
    &:focus{
        outline: none;        
        border-color: $font-color;
        @include box-shadow(none);
        @include text-shadow(none);
    }
}

textarea{
    height: auto;    
    overflow: auto;    
    vertical-align: top;
    width: 100%;
}

legend {
    padding-bottom: 12px;
    font-weight: 500;
    border-color: $color-border;
}

.input-group{    
    .btn{
        padding: 7px 0;
    }
}
//tabs
.nav-tabs{
    border: 0;
    outline: none;
    > li{
        float: none;
        display: inline-block;
        @include rtl-padding-left(0px);            
        @include rtl-padding-right(0px);        
        &:last-child{
            @include rtl-padding-right(0);        
        }
        > a{
            border: 0;            
            padding: 10px 20px;
            font-size: $font-size;       
            color: $text-color;  
            cursor: pointer;
            background: transparent;
            @include rtl-margin-right(0);       
            @include border-radius(0);            
            &:hover,&:focus,&:active{
                outline: thin;
                color: $theme-color;                
                background: transparent;
            }
        }
        &.active{
            > a{
                &,
                &:hover,
                &:focus {
                    border: 0;             
                    color: $theme-color;       
                    cursor: default;
                    background: transparent;                                        
                    border-bottom-color: transparent;
                }
            }
        } 
        &:first-child{
            > a{                
                @include rtl-padding-left(0);
            }
        }               
        &:last-child{
            > a{                
                @include rtl-padding-right(0);
            }
        }               
    }
    &.nav-large{
        > li{
            padding: 0 25px;
            margin-bottom: 5px;
            &:first-child{                
                @include rtl-padding-left(0);
            }
            &:last-child{                
                @include rtl-padding-right(0);
            }
            > a{
                line-height: 34px;
                font-weight: 500;
                color: $gray-95;
                position: relative;
                padding: 0;
                margin: 0;
                @include font-size(18px,24px);                      
                &:after{
                    bottom: 1px;
                    content: "";
                    background: $color-black;
                    position: absolute;                    
                    @include size(100%,1px);
                    @include rtl-left(0);                    
                    @include transform(scaleX(0));                    
                    @include opacity(0);
                    @include transform-origin(100% 50%);
                    @include transition(transform .3s cubic-bezier(.77,0,.175,1),opacity .5s); 
                }
                &:hover, &:focus, &:active{  
                    outline: none;   
                    color: $color-black;                                   
                    &:after{
                        @include opacity(1);                        
                        @include transform-origin(0 50%);
                        @include transform(scaleX(1)); 
                        @include transition(transform .3s cubic-bezier(.77,0,.175,1),opacity .3s);
                    }                  
                }
            }
            &.active{
                > a{
                    color: $color-black;
                    pointer-events: none;
                    &:after{
                        @include opacity(1);                        
                        @include transform-origin(0 50%);
                        @include transform(scaleX(1)); 
                        @include transition(transform .3s cubic-bezier(.77,0,.175,1),opacity .3s);
                    }
                }
            }
        }
    }
}

.btn:focus,
.btn.focus,
.btn:active:focus,
.btn.focus:active,
.btn.active:focus,
.btn.active.focus{
    outline: none;
}

.form-control::-moz-placeholder{
    font-weight: 300;
}
.wpcf7-form{
    .wpcf7-form-control-wrap{
        margin-bottom: 16px;
        position: relative;
        display: block;        
    }
    .wpcf7-submit{
        margin-top: 16px;
        margin-bottom: 0;
    }
    .form-control{     
        background:$white;   
        @include border-radius(0);
    }   
    span.wpcf7-not-valid-tip {    
        font-size: 12px;
        font-weight: 300;    
    }
    div.wpcf7-response-output {
        margin: 30px 0 0 0;
        padding: 15px 25px;
    } 
    .wpcf7-submit-button{
        position: relative;        
        .ajax-loader{
            padding: 0px;            
            @include rtl-right(0);
            @include rtl-margin(9px, 20px, 0, 0px);            
            @include vertical-align(absolute);  
        }
    }    
}

#mc4wp-form-2{
    &.mc4wp-form{
        outline: none;
    }
}

.mc4wp-form{
    position: relative;
    min-height: 60px;
    padding: 15px 0;
    width: 100%;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    .mc4wp-form-fields{                
        width: 722px;
        @include flexbox();     
        border-bottom: 1px solid $color-border;                       
        input[type="text"], 
        input[type="email"], 
        input[type="password"]{
            height: 58px;            
            border: 0;            
            @include rtl-padding-left(0);
            &:hover,&:focus,&:active{
                border: 0; 
                color: $text-color;               
            }
        }
        .btn, button, input[type="submit"], 
        input[type="reset"], input[type="button"]{            
            @include rtl-padding-right(0);
            background: transparent;
            border: 0;
            color: $color-black;
        }
        p{
            @include align-items(center);
            @include flexbox();
            &:first-child{                       
                @include flex-grow(1);                
                @include justify-content(flex-start);
            }
            &:last-child{
                @include flex-grow(0);
                @include justify-content(flex-end);
            }
        }
        > *{
            margin: 0;
        }
    }
}

