//Menu style

.na-menu-primary {
    padding: 0;    
    margin: 0;
    border: 0px;           
}

//lv1
#na-menu-primary{
    ul.mega-menu{
        > li{            
            padding: 47px 22px;                    
            @include transition-easing(.6s,.63,.05,.43,1.7);                
            > a{    
                color: $color-black;          
                position: relative;                      
                &:after{
                    bottom: 2px;
                    content: "";
                    background: $color-black;
                    position: absolute;                    
                    @include size(100%,2px);
                    @include rtl-left(0);                    
                    @include transform(scaleX(0));                    
                    @include opacity(0);
                    @include transform-origin(100% 50%);
                    @include transition(transform .3s cubic-bezier(.77,0,.175,1),opacity .5s); 
                }
                &:hover, &:focus, &:active{                    
                    background: transparent;
                    &:after{
                        @include opacity(1);                        
                        @include transform-origin(0 50%);
                        @include transform(scaleX(1)); 
                        @include transition(transform .3s cubic-bezier(.77,0,.175,1),opacity .3s);
                    }                  
                }
            }
        }
    }     
    ul.mega-menu{
        position: static;
        li.information_widget:first-child{            
            @include rtl-clear-left();
        }
        .mega-sub-menu{
            max-width: 1170px;
        }        
    }
    ul.mega-menu > li[class*="mega-current-"] > a{
        color: $menu-color-hover !important;
        &:before{
            color: $menu-color-hover !important;
        }
    }
    ul li a{
        display: inline-block;
    }
    ul{
        margin: 0;
        padding: 0;
        position: relative;
        width: 100%;
        text-align: center;
        @include clearfix();
        > li {
            float: none;
            padding: 46px 0;
            list-style: none;            
            position: relative;            
            display: inline-block;
            vertical-align: middle;                               
            &[class*="-has-children"] > a:before{
                display: none;                
            }
            &:hover{
                &[class*="-has-children"] > a:before{
                    color: $color-black;                    
                }
                &:after{
                    width: 100%;
                }
            }
            > a{                
                font-weight: 500;                   
                padding: $menu-padding;                         
                letter-spacing: 0.3px;
                text-transform: none;
                @include transition-all();                
                @include font-size(14px,16px);
                &:hover,
                &:focus,
                &:active{
                    color: $color-black;
                    background: transparent;
                    &:after{                        
                        width: 100%;
                        @include opacity(1);
                        @include transition(0.4s);
                    }
                }
            }
        }
    }    
    //lv2
    ul > li{
        > ul{
            top: 120%;
            visibility: hidden;                        
            position: absolute;
            min-width: 230px;                        
            margin: 0;
            z-index: 99;
            padding: 20px 30px;            
            background: $white;            
            pointer-events: none;
            border: 1px solid $color-border;            
            @include backface-visibility(hidden); 
            @include rtl-left(0);
            @include rtl-text-align-left();
            @include opacity(0);                                                            
            @include box-shadow(none);
            @include box-sizing(border-box);
            @include transition-all();            
            /* @include box-shadow(0 2px 28px 1px rgba(0,0,0,.15)); */
            li[class*="-has-children"]{
                a:before{
                    content: none;
                }
                &:after{                    
                    font-size: 12px;   
                    margin: 0;
                    color: $gray-nobel;                                          
                    font-family: $ionicons-font-family;
                    content: $ionicon-var-chevron-right;                         
                    @include rtl-left(100%);                    
                    @include vertical-align(absolute);                                        
                }
                &:hover:after{
                   color:$theme-color;
                }
            }
            > li{
                float: none ;
                display: block;                
                padding-top: 0;
                padding-bottom: 0;
                border: 0;                
                @include rtl-text-align-left;       
                > a{
                    padding: 0;
                    display: inline-block;
                    font-weight: 300;
                    position: relative;                        
                    &:after{
                        bottom: 4px;
                        content: "";
                        background: $color-black;
                        position: absolute;                    
                        @include size(100%,1px);
                        @include rtl-left(0);                    
                        @include transform(scaleX(0));                    
                        @include opacity(0);
                        @include transform-origin(100% 50%);
                        @include transition(transform .3s cubic-bezier(.77,0,.175,1),opacity .5s); 
                    }
                    &:hover, &:focus, &:active{                                            
                        &:after{
                            @include opacity(1);                        
                            @include transform-origin(0 50%);
                            @include transform(scaleX(1)); 
                            @include transition(transform .3s cubic-bezier(.77,0,.175,1),opacity .3s);
                        }                  
                    }
                }                                        
            }
            a{                
                font-size: 13px;
                display: inline;
            }
        }
        &:hover{            
            > ul,
            ul.na-menu .megamenu > ul{
                top: 100%;                
                visibility: visible;                
                pointer-events: auto;
                @include opacity(1);                
                @include backface-visibility(visible);
            }
        }
    }
    .mega-sub-menu,
    .mega-sub-menu{
        > li a{
            color: $font-color;
        }
    }
    //lv3
    ul >li >ul >li{
        ul{
            top: 0;            
            position: absolute;
            float: none !important;                        
            @include rtl-left(100%);                                  
            @include rtl-margin(0, 0, 0, 30px);                                                
        }
        &:hover{
            > ul{
                display: block;
            }
            >.sub-menu{
                top:0;
            }
        }
    }
}

//================================================ MEGA MENU ===========================================================
#na-menu-primary ul.na-menu .megamenu{
    position: static;
    &:hover{
        > ul{
            display: block;
        }
    }
    //lv2
    > ul{                
        margin: auto;                
        width: 1170px;                
        padding: 30px 40px;
        min-height: 260px;        
        @include rtl-left(0);
        @include rtl-right(0);
        > li{
            display: block;
            border: none;            
            padding: 0;
            @include rtl-float-left();            
            > a{
                padding: 0;
                color: $color-title;                
                font-weight: 500;                
                @include font-size(13px,16px);      
                &:after,&:before{
                    content: none;
                }          
            }
            &:after{
                content: none;
            }
            //lv3
            ul{
                border: 0;            
                padding-top: 10px;
                padding-left: 0;
                padding-right: 0;
                margin: 0;
                display: block;                
                visibility: visible;                
                position: relative;                    
                @include box-shadow(none);
                @include rtl-left(0);
                @include opacity(1);               
                li{
                    border: none;
                    a{
                        padding: 0;                        
                        line-height: 30px;
                        color: $color-black;
                        font-weight: 300;
                        &:hover{
                            color: $color-black;
                        }
                    }
                    //lv4
                    ul{
                        border: 0;
                    }
                }
            }
        }
    }
}

//widget
#na-menu-primary {     
    .mega-block-title{
        padding-bottom: 15px;
        color: $font-color;        
        text-transform: uppercase;
        margin: 10px 0;
        border-bottom: $border-color-base;        
    }
    ul.na-menu{
        .megamenu{
            &.col-2 {    
                > ul {       
                    width: 650px; 
                    > li{
                        width: 50%;
                    }
                }    
            }   
            &.col-3 {
                > ul {       
                    width: 800px;      
                    > li{
                        width: 33.33%;
                    }
                }     
            }
            &.col-4 {    
                > ul {        
                    width: 1170px;        
                    > li{
                        width: 25%;            
                    }
                }     
            }
        }        
    } 
    /* widget product list */
    .product_list_widget{
        box-shadow:none;
        max-width: 500px;
        position: relative !important;
        > li{
            margin-bottom: 30px;
            border: none;
            @include clearfix();
            .product-image{
                padding:0 !important;
            }
        }
    }
    .cart_list.product_list_widget{
        > li{
            margin-bottom: 0;
            border-bottom: 1px solid $color-border;         
        }
    }
    .product-image{
        width: auto;
        padding: 0;
        @include rtl-margin-right(10px);        
        @include rtl-float-left();
        .img-effect:hover .wp-post-image {
            @include rtl-margin-left(0%);            
            @include transition-all();
        }
        .hover-image{
            display: none;
        }
    }
    .product-details{
        padding: 0;
        overflow: hidden;
        a{
            color: $color-black;
            padding-bottom: 10px;
            @include rtl-padding-left(0px);            
            @include font-size(14px,16px);            
            &:hover{
                color: $theme-color;
            }
        }
        .amount{
            color: $color-black;
            font-size: 16px;
            line-height: 20px;
        }
    }
    /* widget image widget */
    .widget_sp_image-image-link{
        padding: 0;
    }
    .widget_sp_image-description{
        padding: 15px 0;
        font-style: italic;
        text-align: justify;
    }
}

//Menu Vertical  ---------------------------------------------------------------------------------------------------------
.menu-vertical{
    >*{
        padding-top: 30px;
    }
    #na-menu-primary{
        //lv1
        ul{
            float: none;
            padding:0;
            @include rtl-text-align-left();
        }
        ul > li{
            display: block;
            float: none;
            line-height: 55px;
            &.open a{
                background: transparent;
            }
            &.open > .holder{
                color: #201f1f;
            }
        }
        ul > li >a{
            padding: 0;
            font-size: 14px;
            line-height: 24px;
        }
        ul.na-menu > li > a{
            text-transform: uppercase;
        }
        //lv2
        ul > li > ul{
            border: none;
            display: none;
            min-width: 100px;
            transition: none;
            @include rtl-padding-left(15px);
            a{
                font-weight: 400;
                font-size: 14px;
            }
        }
        ul > li  ul{
            position: relative;
            top:0;
            left: 0;
            margin: 0;
            opacity: 1;
            visibility: visible;
            border: none;
            li[class*="-has-children"]:after{
                content: none;
            }
        }

        //lv3
        ul.na-menu > li ul ul {
            padding: 0;
        }
        ul > li > ul > li:hover > ul{
            display: none;
        }
        ul > li > ul > li > a:after{
            content: none;
            display: none;
        }
        //mega-menu
        ul.mega-menu > li{
            position: relative;
            @include rtl-text-align-left();
            padding: 0px;
        }
        ul.na-menu .megamenu > ul{
            width: auto;
            padding: 0;
            @include rtl-padding-left(15px);
            min-height: auto;
        }
        ul.na-menu .megamenu:hover{
            > ul{
                display: none;
            }
        }
        ul.na-menu .megamenu> ul > li{
            width: 100%;
            float: none;
            display: block;
        }
        ul.na-menu .megamenu > ul > li ul{
            display: none;
        }
        ul.na-menu .megamenu > ul > li ul li a{
            line-height: 55px;
        }


    }
}