
/* ================== Canvas Menu ===================== */
body{
    overflow-x: hidden;
}

@media (max-width: $screen-sm-max) {
    .slicknav_btn{
        display: block !important;
    }
}

.button-offcanvas{
   display: none;
   width:0px;
}
.canvas-open{
	.canvas-aside{
	   display: block;
	}
} 

.button-offcanvas{
	height: 35px;
	line-height: 24px;
	padding: 5px;
	position: absolute;
	left: 4px;
	text-align: center;
	top: 2px;
	width: 45px;
	font-size: 21px;
	cursor: pointer;   
    &:hover{
       background: #FD754B;
    }
}

.canvas-aside-inner{	
	position: relative;
	height: 100%;
	overflow: auto;
	padding: 0 52px;
}

.canvas-aside-wrap{
	padding-top: 82px;
	.widgettitle {
		font-size: 17px;
		line-height: 27px;
		margin-bottom: 20px;
	}
	.widget{
		margin-bottom: 36px;
		&.widget_media_image{
			margin-bottom: 34px;
		}
		&.widget_contact_info{
			margin-bottom: 44px;
		}
	}
	.share-links {		
		@include rtl-text-align-left();				
		@include rtl-padding-left(0);		
		.social-icons{
			margin: 0 -16px;
			.social-item{
				padding: 0px 5px;
				@include border-radius(0);
				&:first-child{					
					@include rtl-padding-left(0);
				}
				&:last-child{
					@include rtl-padding-right(0);
				}
				a{
					color: $color-black;
					i{
						font-size: 18px;
						color: $color-black;					
					}
					&:hover{
						color: $theme-color;
						i{				
							color: $theme-color;
						}
					}
				} 			
			} 	
		}		
	}
	#sb_instagram{
		.sbi_photo{
			@include shutter-out-vertical();			
			display: block !important;	
			position: relative !important;				
			text-align: center;
			&:before {
				background: rgba($white, .85);
			}
			&:after{				
				font-size: 22px;
				color: $color-black;					
				font-family: $ionicons-font-family;
				content: $ionicon-var-social-instagram;								
				@include vertical-align();				
				@include opacity(0);
				@include transition(all .2s ease-in-out); 
				@include transform(scale(1)); 				
			}
			&:hover{
				&:after{	
					@include opacity(1);
					@include transform(scale(1.1)); 	
					@include transition(all .3s ease-in-out); 	
				}				
			}
		}
	}
}

.canvas-aside{	
	top: 0;
	position: fixed;
	z-index: 1001;	
	height: 100%;
	overflow: hidden;
	width: 470px;		
	background: $white;
	@include rtl-right(0);
	@include transform(translate3d(470px,0,0)); 
	@include transition(transform 0.75s cubic-bezier(.19,1,.22,1)); 	
	@include transition-delay(.1s);	
	.btn-close{
		border: 0;
		cursor: pointer;		
		padding: 0;
		margin: 0;		
		position: absolute;
		@include opacity(1);
		@include rtl-right(10px);		
		@include flexbox();
		@include justify-content(center);
		@include align-items(center);
		@include square(72px);
		> *{
			font-size: 32px;
			color: $color-black;
		}
		&:hover{
			outline-style: none;
		}
	}	
}

.canvas-open{
	.canvas-aside{		
	    @include transform(translate3d(0,0,0));
		@include transition(transform 1s cubic-bezier(.19,1,.22,1));
	}   
}

.canvas-overlay{	
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background: rgba(0,0,0,.3);
	z-index: 300;
	pointer-events: none;
	cursor: url('../images/cross.svg'),zoom-out;
	visibility:hidden;
	@include opacity(0);
	@include transition-delay(0.1s);
	@include transition(opacity 0.2s cubic-bezier(.19,1,.22,1),visibility 0.2s steps(1,end)); 		
}

.canvas-open{
	.canvas-overlay{	   
	   	@include opacity(1);   	
		pointer-events: auto;	  		
	}
} 

.menu-arrow{
	&.fa {
		position: absolute;
		right: 30px;
		line-height: 20px;
		top:10px;
	}
}


/* .canvas-menu-inner{
   #main-navigation{
       padding-top: 40px;
   }
   .searchform-wrap{
       padding: 0 15px 0 5px;
   }
   ul{
       position: relative;
       list-style: none;
       padding-left:0px;
       li{
           position: relative;
           padding: 10px 0px 10px 30px;
           text-transform: uppercase;
           border-top: $border-color-base;
           &:last-child{
               padding-bottom: 0px;
           }
           &[class*="-has-children"] > a:before{
               position: absolute;
               content: "\f107";
               color: $black;
               font-family:'fontawesome';
               @include rtl-right(15px);
               line-height: 50px;
               top:-5px;
               font-size: 12px;
           }
       }
       ul{
           padding-top: 10px;
       }
   }
   //hover
   ul ul{
       display: none;
   }
   ul  li:hover >ul{
       display: block;
   }
} */