.aws-search-result{
    border: 0px;
    @include box-shadow(0 10px 40px 10px rgba(140, 152, 164, 0.175));
    ul{
        li{
            border-color: $color-border;
        }
    }     
    .aws_result_link{
        padding: 20px;        
        background: transparent;
    }
    .aws_search_more a {
        background: $color-black;
        color: $white;        
        text-transform: none;
        font-size: 15px;
        font-weight: 500;
        border: 0px;
        line-height: normal;
        padding: 10px 0;        
        &:hover{
            color: $white;        
            background: $color-black;
        }
    }
    .aws_result_item{
        border: 0;
        background: $white;
        &:hover,
        &.hovered{
            background: $white;
        }
    }    
    .aws_result_image{
        img{
            outline-style: none;
        }
    }     
} 

.aws-container{
    .aws-search-form{
        .aws-search-clear {            
            @include rtl-padding-left(0);
            @include rtl-text-align-right();
        }
    }     
} 

.searchform,
.woocommerce-product-search{    
    .button{        
        z-index: 10;
        border: 0;        
        padding: 8px 18px;
        line-height: 38px;                
        @include font-size(18px,16px);  
        @include rtl-margin-left(0);        
    }
    .form-control{
        width: 100%;
        @include border-radius(0);
        @include box-shadow(none);                
    }
    .input-group{
        outline: thin;
    }    
    .btn-primary{
        background: none;
        color: $color-title;
    }
}

.na-filter-attribute{
    position: relative;
}

.na-list-product-category{
    margin: 0;
    li{
        @include rtl-float-left();        
        @include rtl-padding-right(30px);
        line-height: 40px;
        text-transform: uppercase;
        position: relative;
        letter-spacing: 1px;
        font-weight: 500;
        font-size: 12px;
    }
    li + li::after {
        top: 0;
        content: "/";        
        position: absolute;        
        color: $text-color;
        @include rtl-left(-17px);
    }
}
.small{
    .widgettitle{
        font-size: 24px;
        > span{
            border: none;
            padding: 0;
        }
    }
    .category-tabs-filter{
        padding-top: 15px;
    }
}
.na-products-wrap.loading{
    .na-wrapper-products-shortcode:after{
        background:url('#{$image-url}loader.gif') repeat 0 0;
        background-repeat: no-repeat;
        content: "";
        display: block;
        height: 31px;
        @include rtl-left(50%);
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 31px;
        z-index: 900;

    }
    .category-tabs-filter{        
        @include opacity(.3);
    }
}
.category-tabs-filter{
    padding: 30px 0;
}
.na-list-filter{
    font-size: 13px;
}

.na-products-wrap{
    .filter-content{
        padding: 0;
    }
}

.na-filter-wrap{
    #na-filter .widget{
        min-width:180px;
        @include rtl-float-left();
        .na-ajax-load{
            li{
                cursor: pointer;
                line-height: 25px;
            }
            a{
                color: $gray-nobel;
                &:hover{
                    color: $theme-color;
                }
            }
        }
    }
    .chosen{
        color:$theme-color !important;
    }
    .na-remove-attribute{
        font-size: 12px;
        color: $theme-color;
        @include rtl-margin-right(10px);
    }
}

.filter-title{
    outline-style: none;
}

.tags-list{
    max-width:180px;
    li{
        @include rtl-padding-right(5px);
        @include rtl-float-left();
    }
    a{
        padding: 6px 8px;
        &:hover{
            color: $white !important;
        }
    }
}

//search

.search-transition-wrap{
    &.trebol-hidden{        
        visibility: hidden;
        @include opacity(0);
        @include transition(.8s);
        .searchform,.woocommerce-product-search{
            padding: 50px !important;
            @include opacity(0);                        
            @include translateY(-35%);
            @include transition-transform(0.5s);
        }
        .btn-mini-close{            
            @include opacity(0);                        
            @include transition(0.4s);
        }
    }    
}

.searchform-mini{    
    cursor: pointer;
    position: relative;    
    &.searchform-moblie{
        top: 50%;
        position: absolute;
        @include rtl-right(0);
    }
}
.btn-mini-search{
    border: 0;    
    background: transparent;
    cursor: pointer;
    padding: 0;    
    outline-style: none;    
    position: relative;
    font-size: 21px;
    @include square(34px);
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    &:hover,&:focus,&:active{
        outline: thin;
        color: $color-black;
        background: transparent;
    }
}
.search-transition-wrap{    
    visibility: visible;
    background: $white;
    height: 100%;
    width: 100%;
    bottom: 0;    
    top: 0;
    position: fixed;        
    z-index: 9999;        
    @include rtl-left(0);
    @include rtl-right(0);
    @include transition(0.1s);
    @include opacity(1);     
    .btn-search{
        span{
            display: none;
        }   
    }          
    &.trebol-hidden{
        .searchform,
        .woocommerce-product-search{
            .input-group{
                &:after{                    
                    width: 0;                    
                }
            }
        }       
    }  
    .search-transition-inner{                
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;        
    }
    .searchform,.woocommerce-product-search{      
        top: 50%;
        padding: 0 92px 92px 92px;
        position: relative;        
        max-width: 1000px;
        margin: 0 auto;        
        border: 0;
        @include transform(translate3d(0, 0, 0) translateY(-50%)); 
        .form-control{            
            border: 0;                        
            background: transparent;            
            color: #999999;
            font-weight: 300;
            height: 60px;
            padding: 0;
            margin: 0;            
            @include font-size(18px,24px);
            @include placeholder(#999999);
        }
        .input-group{            
            border: 0;
            margin: 0;
            padding: 0;
            position: relative;          
            &:after{                    
                content: "";
                bottom: 0;
                position: absolute;             
                display: block;
                background: #ccc;
                @include rtl-left(0);
                @include size(100%,1px);   
                @include transition(width .5s ease .6s);                 
            }
        }
        .button{
            padding: 0;
            height: auto;
            margin: 0;
            font-size: 24px;        
            background: transparent;     
            line-height: normal;                             
            @include rtl-text-align-right();
            @include square(60px);
            @include flexbox();
            @include justify-content(flex-end);
            @include align-items(center);
            i{
                display: none;
            }            
            &:before{       
                float: none;
                font-size: 40px; 
                color: #b2b2b2;
                font-family: $ionicons-font-family;
                content: $ionicon-var-ios-arrow-thin-right;                
            }
            &:hover{
                &:before{
                    color: #b2b2b2;
                }
            }
        }
    }
    .btn-mini-close{
        border: 0;
        background: transparent;        
        color: $color-black;        
        position: absolute;
        top:0;                        
        padding: 0;
        margin: 0;
        line-height: 44px; 
        text-decoration: none; 
        text-align: center;        
        font-style: normal;   
        cursor: pointer;        
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        @include rtl-right(0);        
        @include opacity(1);        
        @include transition(0.3s);
        @include square(44px); 
        &:hover,&:active,&:focus{
            color: $color-black;
        } 
        *{
            @include font-size(18px,24px);           
            color: $color-black;    
        }               
    }
}