//Style share box
.share-links{
    text-align: center;
    @include rtl-padding-left(20px);
    .count-share {
        vertical-align: middle;
        position: relative;
        >span {
            color: $color-black;
            font-weight: 600;
        }
        i{
            font-size: 16px;
            color: $theme-color;
        }
        .social-item{
            i{
                @include rtl-padding-right(0px);
            }
        }
    }
    .social-icons{
        margin: 0;
        display: inline-block;
    }
    .social-item{
        padding: 4px 10px ;        
        cursor: pointer;
        text-align: center;        
        line-height: normal;
        @include border-radius(3px);        
        @include transition(0.2s);
        &:hover {            
            a,i {
                color: $color-black;
            }
        }        
        a {
            display: inline-block;
            color: $color-meta;
            text-align: center;
            i {
                font-size: 16px;
                color: $color-meta;
                @include transition(0.2s);
            }
        }
    }

    .author-social{        
        text-align: center;
        line-height: 20px;
        @include size(24px,24px);
        @include rtl-margin-right(3px);        
        @include border-radius(100%); 
        .fa{            
            @include rtl-padding-right(10px);
        }
    }
}

.product-share{        
    a{
        padding: 0;
        margin: 0;                
        text-align: center;
        font-size: 16px;       
        color: $gray-nobel;    
        @include square(34px);
        @include inline-flex();
        @include justify-content(center);
        @include align-items(center);    
        [class*="ion-social-"]{
            margin: 0;
        }    
        &:hover,&:focus,&:active,&.active{
            text-decoration: none;
            color: $theme-color;
            [class*="ion-social-"]{
                color: $theme-color;
            }            
        }
    }
    label{            
        color: $color-black;
        font-weight: 500;
        text-transform: uppercase;            
        @include rtl-margin(0, 12px, 0, 0); 
        font-size: 14px;
        line-height: 34px;
        vertical-align: top;
    }
}

[class*="ion-social-"]{
    @include size(30px,30px);
    background:transparent;    
    display: inline-block;
    line-height: 30px;
    @include rtl-margin-left(5px);
    text-align: center;
    @include transition(0.4s);
    border-radius: 100%;
    &:hover{
        color:$white;
        @include transition(0.4s);
    }
}
.widget_apsc_widget{
    .apsc-inner-block{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
    .apsc-each-profile{
        padding-bottom: 5px;
        border-bottom: 1px solid #eee;
        &:last-child{
            border-bottom: none;
            padding: 0;
        }
    }
    .apsc-icons-wrapper{
        padding-top: 0;
    }

    .social-icon {
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        vertical-align: middle;

        .fa{
            font-size: 20px;
            width: 20px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            @include rtl-margin-right(15px);
        }
        .media-name{
            color: #585858;            
            text-transform: uppercase;

        }
    }
    .apsc-count{
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        vertical-align: middle;
        height: 50px;
        @include rtl-text-align-right();
        line-height: 50px;
        @include rtl-margin-right(5px);
    }
    .apsc-media-type{
        line-height: 50px;
        text-transform: lowercase;
    }

    .fa-facebook{
        color: #3b5998;
    }

    .fa-google-plus{
        color: #dd4b39;
    }

    .fa-twitter{
        color: #00aced;
    }

    .fa-instagram{
        color: #517fa4;
    }

    .fa-pinterest{
        color: #cb2027;
    }

    .fa-skype{
        color: #0078ca;
    }

    .fa-vimeo{
        color: #aad450;
    }
    .fa-youtube{
        color: #bb0000;
    }

    .fa-dribbble{
        color: #ea4c89;
    }

    .fa-linkedin{
        color: #007bb6;
    }

    .fa-rss{
        color: #FF9900;
    }
}