/* ========================================================================== *
* error 404
* ========================================================================== */ 
.error-404 {
    padding: 182px 0 203px 0;
    text-align: center;
    .page-title{
        margin: 0;
        line-height: 52px;
        font-weight: 600;
        @include font-size(28px,42px);        
    }
    .page-content{
        p{
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 56px;
            color: $gray-nobel;
        }
    }
    .page-icon{
        text-align: center;
        margin-bottom: 66px;
        @include flexbox();        
        @include justify-content(center);        
        @include align-items(center);
        span{
            color: $white;
            font-size: 44px;
            display: inline-block;
            padding: 42px 0;
            vertical-align: middle;
            @include border-radius(100px);
            @include square(130px);            
            background: $theme-color;
        }
    }
    .page-header {
        margin-bottom: 15px;     
    }
    .searchform{
        display: inline-block;
        .input-group{
            max-width: 500px;
        }
        .form-control{
            width: 100%;
            height: 58px;
            min-width: 400px;
            padding-left: 20px;
            padding-right: 20px;
        }
        button{
            height: 58px;
            padding: 10px 30px;
            .icons{
                display: none;
            }            
            &:hover,&:focus,&:active{
                color: $white;
                background: $color-black;
            }
        }
    }
}