.page-about{
	.about-info{
		.about-info-title{
			line-height: 52px;					
			margin-bottom: 22px;
			@include font-size(34px,42px);			
		}
		.about-info-description{
			margin-bottom: 20px;
		}
	}
	.about-info-list{
		.about-info-title{
			font-size: 18px;
			line-height: 28px;
			margin-top: 60px;			
			text-transform: uppercase;
		}
		.about-info-list-item{
			line-height: 32px;			
			@include flexbox();
			@include align-items(center);					
			strong{
				font-size: 16px;									
				width: 25px;				
				@include rtl-padding-right(0);
			}	
			a{
				color: $text-color;
				&:hover,&:active,&:focus{
					color: $theme-color;
				}
			}
		}
	}
	.about-info-timeline-list{
		.about-info-timeline-item{
			margin: 0;
			padding: 0 0 38px 0;
			@include flexbox();
			@include align-items(flex-start);
		}
		.about-info-timer{
			font-style: italic;
			font-size: 24px;
			line-height: 34px;
			font-weight: 300;
			width: 90px;			
			color: $color-black;
		}
		.about-info-title{
			margin: 0;
			font-size: 24px;			
			line-height: 34px;
			> *{
				display: block;
			}
			.about-info-subtitle{
				margin: 5px 0 0 0;
				font-size: $font-size;
				line-height: $line-height;
				color: $text-color;
				font-weight: $font-weight;
			}			
		}
	}
}