/* ========================================================================== *
    * Contact form
* ========================================================================== */ 
.contact-page{
 	.contact-info{
 		@include flexbox();
 		@include rtl-text-align-left(); 		
 		@include align-items(flex-start);
 		@include justify-content(flex-start);
 		color: $white;
 		background: $color-black;
 		padding: 156px 50px 370px 50px; 		
 		.contact-info-heading{
 			.contact-info-title{
 				color: $white;	
 				margin-bottom: 28px;
 				line-height: 52px;
 				@include font-size(34px,42px);
 			}
 		}
 		.contact-info-data{
 			outline-style: none;
 		}
 		.contact-info-list{
 			.contact-info-title{
 				color: $white;	 		
 				font-size: 18px;		
 				margin-bottom: 20px;
 				margin-top: 60px;
 				text-transform: uppercase;
 			}
 			.contact-info-list-item{
 				line-height: 34px;
 				@include flexbox(); 				
 				@include align-items(center); 				
 				a{
 					color: $white;
 					position: relative;
 					line-height: normal;
 					&:after{
	                    bottom: 0;
	                    content: "";
	                    background: $white;
	                    position: absolute;                    
	                    @include size(100%,1px);
	                    @include rtl-left(0);                    
	                    @include transform(scaleX(0));                    
	                    @include opacity(0);
	                    @include transform-origin(100% 50%);
	                    @include transition(transform .3s cubic-bezier(.77,0,.175,1),opacity .5s); 
	                }
	                &:hover, &:focus, &:active{                    
	                    background: transparent;
	                    &:after{
	                        @include opacity(1);                        
	                        @include transform-origin(0 50%);
	                        @include transform(scaleX(1)); 
	                        @include transition(transform .3s cubic-bezier(.77,0,.175,1),opacity .3s);
	                    }                  
	                }
 				}
 				strong{
 					color: $white;
 					font-weight: 500;
 					font-size: 16px; 					
 					width: 22px; 	
 					text-transform: uppercase; 						
 				}
 			}
 		}
 	}
}