/*  ========================================================================== *
    Style Page      
*   ========================================================================== */ 
.rte{
    margin-top: 0;
    margin-bottom: 24px;
}

.rte-small{
    margin-top: 25px;
    margin-bottom: 15px;
}

.page-header{
    margin: 0 0 10px;
    padding-bottom: 10px;
    border-bottom: none;
}
.page-content{
    margin-top: 0;
    margin-bottom: 0;
    #comments{
        padding:0;
    }
}

.page-title{    
    line-height: 58px;
    font-size: 48px;   
    font-weight: 500;
    margin-top: 0px;            
    margin-bottom: 0;
    > h1{
        margin-top: 0px;    
        font-weight: 500;
        margin-bottom: 0;       
        line-height: 58px;
        font-size: 48px;     
    }
}

/* ========================================================================== *
 * panel
* ========================================================================== */ 
.panel{    
    @include box-shadow(none);
}
.panel-heading > *,
.panel-title{
    font-size: 18px;
    text-transform: uppercase;
}
.panel-body{
    padding: 30px;
    .form-row{
        margin-bottom: 20px;
    }
}
.edit {
    font-size: 16px;
    font-style: italic;
    text-transform: capitalize;
}
.is-active{
    > a{
        color: $theme-color;
    }
}
.preview{
    .group-btn-image {
        background: white none repeat scroll 0 0;
        border-top: 1px solid $color-border;
        bottom: 0;
        color: black;
        font-size: 16px;
        padding: 24px;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
    }
    .no-effect{
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        position: relative;
        &:hover{
            box-shadow: 0 10px 20px 0 rgba(168, 182, 191, 0.6);
        }
    }
}
