/* ========================================================================== *
 * privacy-policy
* ========================================================================== */ 
.policy-page{
	.policy-page-content{
		.policy-page-top{
			margin-bottom: 36px;
		}
	}    
}

