/* ========================================================================== *
 * Search Pages
* ========================================================================== */ 
body{
	&.search-results{
		.page-header {			
			margin-bottom: 40px;		
		}
	}
}

