/* ========================================================================== *
 * terms-page
* ========================================================================== */ 
.terms-page{
	.terms-page-content{
		.terms-page-top{
			margin-bottom: 36px;
		}
	}    
}