// add class

//no padding
.no-padding {
  padding: 0 !important;
}
.no-margin {
    margin: 0 !important;
}
.row-nopadding{
    margin: 0;
    [class*="col-"]{
        padding: 0;
    }
}

.bolder{
    font-weight: 500 !important;    
    color: $color-black !important;
}

.lighter{
    font-weight: 300 !important;    
}

.has-padding-top{
    padding-top: 50px;
}
.balance-padding-left{
    @include rtl-padding-left(7.5px);
}
.balance-padding-right{
    @include rtl-padding-right(7.5px);
}
.archive-blog.padding-balance article{
    margin-bottom: 15px;
}

.balance-padding{
    //padding: 7px;
    .row{
        margin: 0 -7.5px;
    }
    [class*="col-"]{
        padding: 0 7.5px;
    }
    .col-md-6:nth-child(2n+1){
        clear: left;
    }
}
//padding vc

.table-inner{
    @include clearfix();
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    >*{
        display: table-cell;
        vertical-align: middle;
        @include rtl-padding-left(15px);
        &:first-child{
            @include rtl-padding-left(0px);
        }
    }
}
.close{
    outline-style: none;
}
.link{
    color: $white;
    &:hover{
        color: $theme-color;
    }
    .fa{
        @include rtl-margin-left(7px);
    }
}

.box-equal{
    display: table;
    width: 100%;
    >*{
        width: 50%;
        float: none !important;
        display: table-cell;
        vertical-align: top;
        vertical-align: middle;
    }
    .wpb_content_element{
        margin-bottom: 0px;
    }

    .wpb_text_column{
        bottom: 0;
        left: 0;
//        margin-left: 20px;
        position: absolute;
        @include rtl-right(0px);
        top: 0;
        .wpb_wrapper{
            bottom: 0;
            height: 30%;
            left: 0;
            margin: auto !important;
            position: absolute;
            right: 0;
            top: 0;
            vertical-align: middle;
            width: 70%;
        }
    }
}
// Medium screen / desktop 992-1199 ------------------------------------------------------------------------------------
@media (min-width: $screen-md) and (max-width: $screen-md-max) {
    .box-equal{
        display: block;
        >.wpb_column{
            width: 100%;
            @include rtl-float-left();
            display: block;
            vertical-align: top;
            vertical-align: middle;
        }
        .wpb_text_column{
            position: relative;
            .wpb_wrapper{
                position: relative;
            }
        }
    }
}
// Small screen / tablet 768-991 ---------------------------------------------------------------------------------------
@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
    .box-equal{
        display: block;
        >.wpb_column{
            width: 100%;
            @include rtl-float-left();
            display: block;
            vertical-align: top;
            vertical-align: middle;
        }
        .wpb_text_column{
            position: relative;
            .wpb_wrapper{
                position: relative;
            }
        }
    }
}

// Small screen / phone 480px-767px-------------------------------------------------------------------------------------
@media (max-width: $screen-xs-max) {
    .box-equal{
        display: block;
        >*{
            width: 100%;
            @include rtl-float-left();
            display: block;
            vertical-align: top;
            vertical-align: middle;
        }
        .wpb_text_column{
            position: relative;
            .wpb_wrapper{
                position: relative;
            }
        }
    }
}

.icon-plus{
    position: relative;
}
.center{
    text-align: center;
}

#infscr-loading{
    display:none !important;
}

/** initial setup **/
.nano {
    position : relative;
    width    : 100%;
    height   : 100%;
    overflow : hidden !important;
}
.nano > .nano-content {
    position      : absolute;
    overflow      : scroll;
    overflow-x    : hidden;
    top           : 0;
    right         : 0;
    bottom        : 0;
    left          : 0;
    padding       :0 20px 20px;
}
.nano > .nano-content:focus {
    outline: thin dotted;
}
.nano > .nano-content::-webkit-scrollbar {
    display: none;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
    display: block;
}
.nano > .nano-pane {
    background : rgba(0,0,0,.25);
    position   : absolute;
    width      : 10px;
    @include rtl-right(0);
    top        : 0;
    bottom     : 0;
    visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
    opacity    : .01;
    -webkit-transition    : .2s;
    -moz-transition       : .2s;
    -o-transition         : .2s;
    transition            : .2s;    
    @include border-radius(2px);
}
.nano > .nano-pane > .nano-slider {
    background: #444;
    background:$theme-color;
    position              : relative;
    margin                : 0 1px;
    @include border-radius(2px);
}
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
    visibility : visible\9; /* Target only IE7 and IE8 with this hack */
    opacity    : 0.99;
}