//element html default

::-moz-selection { 
    color: $white;
    background: $color-black;
}
::selection {
    color: $white;
    background: $color-black;
}

.sr-only { 
    @include sr-only; 
}

//logo
.site-logo{
    line-height: normal;
    display: inline-block;
    vertical-align: top;
}
.site-title{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    display: inline-block;
    @include font-size(18px,20px);    
    a{
        color: $color-title;
    }
}

.site-description{
    font-size: 13px;
    margin-bottom: 0;
}

.trebol_popup_modal{    
    &.fade{
        .modal-dialog{
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 785px;        
            max-width: 100%;
            height: 763px;                    
            visibility: hidden;
            margin: auto;
            position: absolute;
            @include opacity(0);        
            @include scale(0.9);
            @include transition(all .3s ease-in-out);     
        }
    }    
    &.in{
        .modal-dialog{
            visibility: visible;
            @include opacity(1);            
            @include scale(1);                
            @include transition(all .4s ease-in-out);                  
        }        
    }
    .modal-body{
        padding: 0;
    }
    .modal-header{
        border: 0px;
        padding: 0;
        min-height: auto;
        .close{
            cursor: pointer;
            color: $white;
            margin: -31px;
            top: 0;
            padding: 0;            
            z-index: 1;
            position: absolute;
            @include opacity(1);
            @include square(62px);
            @include flexbox();
            @include justify-content(center);
            @include align-items(center);
            @include border-radius(50px);             
            @include rtl-right(0);
            background: $color-black;     
            &:before{
                color: $white;
                font-size: 18px;
                font-weight: 300;
                content: $ionicon-var-android-close;                
                font-family: $ionicons-font-family;
            }
            span{
                display: none;
            }       
        }
    }
}

.modal-backdrop{
    &.in{
        @include opacity(.6);        
    }
}

table td p:last-child, 
table th p:last-child{
    margin-bottom: 0;
}

html{
    height: 100%;    
}

body{
    margin: auto;    
    height: 100%;
    font-weight: $font-weight;    
    font-size: $font-size;
    line-height: $line-height;
    color: $gray-nobel;        
    .select2-container--default{
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: auto;
        margin: 0;
        border: 0;        
        text-align: initial;        
        @include box-sizing(border-box);
        @include border-radius(0); 
        &:hover,&:focus,&:active{
            outline-style: none;
        }
        .select2-selection--single{
            display: block;
            height: 50px;
            line-height: 48px;
            padding: 0;
            font-family: inherit;
            color: inherit;
            background-color: transparent;            
            @include border-radius(0);
            @include box-sizing(border-box);              
            @include user-select(none);
            border-color: $color-border;
            cursor: pointer;            
            font-size: 14px;
            margin: 0 0 20px;
            &:hover,&:focus,&:active{
                outline-style: none;
            }
            .select2-selection__arrow {
                position: absolute;                
                top: 0;                
                color: inherit;
                line-height: inherit;
                text-align: center;                
                @include rtl-right(20px);                 
                @include size(auto,100%);                
                b {display: none; }
                &:before {
                    font-size: 12px;
                    font-family: $ionicons-font-family;
                    content: $ionicon-var-chevron-down;
                }                
            }
            .select2-selection__rendered {
                display: block;                                
                color: inherit;
                line-height: inherit;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;                
                @include box-sizing(border-box);
                @include rtl-padding(0, 30px, 0, 20px); 
            }
        }         
    }     
}

@include media-query(mobile-small) {
    body{
        font-size: 14px;
        line-height: 26px;        
    }
}

#page{        
    min-height: 100%;
    word-wrap: break-word;        
}
.site-content {        
    height: auto;
    min-height: 0;
}
footer{
    clear: both;    
    position: relative;    
    width: 100%;
    @include rtl-float-left();
    @include rtl-right(0px);
}

a{
	/* line-height: 1; */
    color: $link-color;
    &:hover, &:focus, &:active{
        outline: none;
        text-decoration: none;
        color: $theme-color;            
	}
}

.btn{
    @include transition(0.4s);
    &:hover,
    &:focus{
        @include transition(0.4s);
    }
}
h1,h2,h3,h4,h5,h6{
    margin-bottom: 10px;
    margin-top: 30px;
    font-weight: 500;    
    color: $color-title;
}
h1,h2,h3,h4,h5,h6{
    > a{
        color:$color-title;
    }
}
th{
  font-weight: 500;
}
select{
    cursor: pointer;
    height: 44px;
    padding: 5px 15px;
    border: $border-color-base;
    font-size: $font-size-base;    
    &:hover,
    &:active,
    &:focus{
        outline: 0;
    }   
    &:-moz-focusring {
        color: transparent;    
        @include text-shadow(0 0 0 $gray-nobel);
    }
    option:not(:checked) {
        color: $gray-nobel;
        font-family: $font-family-main;
    }
}
label{
    color:$color-title ;
    font-size: $font-size-base;
    display:inline-block;
    vertical-align: middle;
    font-weight: 500;
    line-height: $line-height;
}
address{
    line-height: 32px;
}
b,strong{
    font-weight: 500;
    color: $color-title;
}
.radio, .checkbox{
    display: inline-block;
}
blockquote {    
    hyphens: auto;
    word-break: break-word;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    position: relative;
    margin-bottom: 60px;
    margin-top: 60px;    
    color: $color-black;    
    @include rtl-border-left(0);
    @include rtl-padding(0,52px,0,52px);
    @include rtl-border-left(4px solid $theme-color);    
}
img{
    max-width: 100%;
    height: auto;
}
.img.size-full{
    height: auto;
    max-width: 100%;
}
.alignright{
    @include rtl-float-right();
}
.alignleft{
    @include rtl-float-left();
}
.aligncenter{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
input[type="submit"]{    
    @include border-radius(0);
}
input[type="checkbox"], input[type="radio"]{
    height: auto;
}
/*video responsive*/
.video-responsive {
	height: 0;
	padding-top: 0;
	padding-bottom: 56.25%;
	position: relative;
	overflow: hidden;
	embed,
	iframe,
	iframe,
	video{
		top: 0;
        @include rtl-left(0);
		width: 100%;
	  	height: 100%;
	  	position: absolute;
	  	border: none;
	}
}
.audio-responsive iframe {
  width: 100%;
  height: 126px;
}
/*---clear css bootstrap --*/
// .dropdown-toggle
.btn-group.open .dropdown-toggle{
    box-shadow: none;
}
.alert{
    margin: 20px 0;
    padding: 20px;
}

dt{
    font-weight: 500;
    color: $color-title;
}
.required {
    border: 0 none;
    color: #ff0000;
    font-weight: 700;
}

//Tag
.tags-list,
.tagcloud{
    a{
        background: transparent;
        border: 1px solid $color-border;        
        display: inline-block;   
        margin-bottom: 5px;
        padding: 7px 10px;
        color: $gray-nobel;
        text-transform: uppercase;
        font-size: 12px !important;        
        @include rtl-margin-left(3px);
        &:hover{            
            color: $gray-nobel;
        }        
    }
} 

pre{
    border: 0;
    @include border-radius(0);
}

//table
table{    
    border: 1px solid $color-border;
    thead{
        background: #FAFAFA;
        > tr > th{
            border-bottom: 1px solid $color-border;
        }
    }    
}
#today{
    a{
        color: $white;
    }
}

