/* 
	##Device = Desktops only
	##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
 	//CSS
}

/* 
	##Device = Laptops to Desktops
	##Screen = B/w 1200px to 1280px
*/
@media (min-width: 1200px) and (max-width: 1280px) {
	//CSS
}

@media (min-width: 1025px) and (max-width: 1200px) {		
   //CSS			
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {		        
	.error-404 {
		padding: 152px 0 110px 0;				
	}	
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	//CSS
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: $screen-xs-max){		
	.error-404 {
		padding: 122px 0 80px 0;
		.searchform{
			max-width: none;
			padding-left: 15px;
			padding-right: 15px;
			.form-control {
				min-width: auto;
			}
		} 
		.page-content{
			p {
				font-size: 15px;
				line-height: 25px;
				margin-bottom: 30px;
			}
		} 		
		.page-title {
			font-size: 22px;
			line-height: 32px;
		}		
		.page-icon{
			margin-bottom: 30px;
			span {	
				font-size: 24px;
				padding: 20px 0;
				@include square(65px);				
			}
		} 
		.searchform{
			button {
				padding: 10px 20px;
				font-size: 14px;
			}
		} 	
	}	
}


@media (min-width: 481px) and (max-width: 767px) {  
 	//CSS  
}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	//CSS  	
}


