/* 
	##Device = Desktops only
	##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
 	//CSS
}

/* 
	##Device = Laptops to Desktops
	##Screen = B/w 1200px to 1280px
*/
@media (min-width: 1200px) and (max-width: 1280px) {
	//CSS
}

@media (min-width: 1025px) and (max-width: 1200px) {		
   //CSS			
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {		        
	.page-about{
		.about-info{
			.about-info-title {
				font-size: 24px;
				line-height: 34px;
			}
		} 		
		.about-info-list{
			.about-info-title {			
				margin-top: 30px;			
			}
			.about-info-list-item {
				line-height: 26px;
				margin-bottom: 5px;
				@include align-items(baseline);								
			}
		} 		
		.about-info-timeline-list{
			.about-info-timer {
				font-size: 20px;
				line-height: 30px;	
				min-width: 50px;	
				margin: 0 20px 0 0;
				width: auto;
			}
			.about-info-title {		
				font-size: 20px;
				line-height: 30px;
			}		
		} 
	} 	
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	//CSS
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: $screen-xs-max){		
	.page-about{
		.about-info-list{
			.about-info-title {
				margin-top: 30px;	
			}
			.about-info-list-item {
				line-height: 26px;
				margin-bottom: 5px;
				@include align-items(baseline);								
			}
		} 
		.about-info{
			.about-info-title {
				font-size: 24px;
				line-height: 34px;
				margin-top: 10px;
			}
		} 
		.about-info-timeline-list{
			.about-info-timer {
				font-size: 20px;
				line-height: 30px;	
				min-width: 50px;	
				margin: 0 20px 0 0;
				width: auto;
			}
			.about-info-title {		
				font-size: 16px;
				line-height: 26px;
			}		
		} 		
	} 	
}

@media (min-width: 481px) and (max-width: 767px) {  
 	//CSS  
}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	//CSS  	
}

