/* 
	##Device = Desktops only
	##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
 	//CSS
}

/* 
	##Device = Laptops to Desktops
	##Screen = B/w 1200px to 1280px
*/
@media (min-width: 1200px) and (max-width: 1280px) {
	//CSS
}

@media (min-width: 1025px) and (max-width: 1200px) {		
	.entry-title{
   		font-size: 28px;
   		line-height: 38px;   		
    } 
    .entry-header{
   		margin-bottom: 36px;	   		
    }     
	.box-article{
		.alignwide{
			margin-top: 54px;
		}
		.entry-excerpt,
		.entry-content{
			padding-left: 102px;
			padding-right: 102px;	
		}
	}
	.post-image{
		&.single-image{
			padding-bottom: 54px;
		}
	}
	.entry-footer{
		padding: 54px 0;
	}
	.post-author{
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.post-related{
		margin-top: 60px;
	}
	.commentform{
		.comment-respond{
			padding-top: 36px;
		}
	} 	
	.main-content{
		.box-comment{
			margin-top: 30px;
			.comment-lists{
				padding-top: 20px;
			}
		}
	}
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {		        
	.entry-header{
   		margin-bottom: 44px;	   		
    }                  
    .padding-content-right {
	    padding-right: 15px;
	}
	.padding-content-left {
	    padding-left: 15px;
	}
	.archive-blog{
		.item-post{
			margin-bottom: 30px;
			&:last-child{
				margin-bottom: 0;				
			}
		}
	} 
	.layout-masonry{
		.archive-blog{
			.affect-isotope{
				margin: 0 -15px;
			}
			.item-post {
				padding-left: 15px;
				padding-right: 15px;
				margin-bottom: 30px;
			}
		}		
	} 	
	.post-image{
		&.single-image{
			padding-bottom: 50px;
		}
	}	
	.post-list{
		.article-content {
			padding-left: 5%;
			padding-right: 5%;
		}		
		.entry-title {
			font-size: 24px;
			line-height: 34px;
		}
	} 			
	.box-article{
		.alignwide{
			margin-top: 52px;
		}
		.entry-excerpt,.entry-content {
			padding-left: 62px;
			padding-right: 62px;
		}
		.entry-excerpt {
			font-size: 20px;
			line-height: 30px;
			margin-bottom: 30px;
		}
	} 	
	.entry-footer,
	.post-author{
		padding: 40px 0;
	}	
	.post-related{
		margin-top: 40px;
	}
	.main-content{
		.box-comment{
			margin-top: 20px;
			.comment-lists{
				padding-top: 20px;
				.comment-list-wrap{
					padding-bottom: 30px;
				}
			}
		}
	} 				
	.commentform{
		.comment-respond{
			padding-top: 20px;
		}
	} 	
	.entry-title{		
		line-height: 36px;
	}	
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	//CSS
}

@media (max-width: 768px){
	.layout-masonry{
		.archive-blog{
			.affect-isotope{
				margin: 0;				
			}
		} 		
	} 	
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: $screen-xs-max){			
	.entry-header {
		margin-bottom: 54px;
		padding: 0px 8%;
	}
	.entry-footer {	
		padding: 30px 0;	
	}
	.entry-title{
		font-size: 24px;
		line-height: 34px;
	}
	.page-title{
		font-size: 24px;		
	}
	.post-related {	
		margin-top: 40px;
	}
	.post-author {	
		padding: 50px 30px;		
	}	
	.main-content{
		.box-comment {		
			margin-top: 10px;
			.comment-lists {
				padding-top: 10px;			
			}
		}
	} 			
	.comments-list {	
		padding: 0;
	}
	#comments .heading, 
	#review_form .heading,
	.post-related .widgettitle {
		font-size: 20px;
		line-height: 30px;	
	}
	#comments .children li:first-child, 
	#review_form .children li:first-child {
		margin-top: 15px;
	}
	#comments .comment-list li, 
	#review_form .comment-list li {
		padding: 15px 0;
	}
	.commentform{
		.comment-respond {
			padding: 10px 0 0 0;	
		}
	}
	.box-article{
		.alignwide {
			margin: 54px 0 0 0;
		}
		.entry-excerpt{
			margin-bottom: 30px;
			font-size: 18px;
			line-height: 28px;			
		}
		.entry-excerpt,.entry-content {
			padding-left: 40px;
			padding-right: 40px;		
		}
	} 	
	.post-image{
		&.single-image{
			padding-bottom: 54px;
		}
	}	
	.padding-content-right {
	    padding-right: 15px;
	}
	.padding-content-left {
	    padding-left: 15px;
	}			
	.post-list{
		.article-content {			
			padding: 30px 5%;
		}		
		.entry-title {
			font-size: 18px;
			line-height: 28px;
		}
	}		
	.layout-masonry{				
		.archive-blog{
			.affect-isotope{
				margin: 0;
			}				
			.item-post {
				padding-left: 15px;
				padding-right: 15px;
				margin-bottom: 30px;
			}
		} 		
	} 	
	.archive-blog{
		.item-post{
			margin-bottom: 30px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	} 
	.nav-links{
		.page-numbers {	
			line-height: 34px;
			@include square(34px);
		}
	} 
}

@media (min-width: 481px) and (max-width: 767px) {  
 	//CSS  
}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {	
	.entry-title{
		font-size: 18px;
		line-height: 28px;
	}    			
	.entry-header {
		margin-bottom: 30px;
		padding: 0 6%;
	}
	.post-image{
		&.single-image {
			padding-bottom: 40px;
		}
	}	
	.box-article{
		.alignwide {
			margin: 34px 0 0 0;
		}
		.entry-excerpt{
			margin-bottom: 28px;
			font-size: 16px;
			line-height: 26px;		
		}
		.entry-excerpt,.entry-content {
			padding-left: 0;
			padding-right: 0;		
		}
	} 
	.tags-wrap {	
		margin-bottom: 10px;
	}
	#comments .the-comment > .avatar, 
	#review_form .the-comment > .avatar {
		padding-right: 0;
		float: none;
		display: block;
		padding-bottom: 20px;
	}
	#comments .children, 
	#review_form .children {
		padding-left: 30px;
	}
	.main-content{
		.box-comment{
			.comment-lists{
				.comment-list-wrap {
					padding-bottom: 30px;
				}
			} 			
		} 		
	} 		
}