/* 
	##Device = Desktops only
	##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
 	//CSS
}

/* 
	##Device = Laptops to Desktops
	##Screen = B/w 1200px to 1280px
*/
@media (min-width: 1200px) and (max-width: 1280px) {
	//CSS
}

@media (min-width: 1025px) and (max-width: 1200px) {		
   .product-carousel{		
		.slick-dots {	
			left: -99999px;
			top: -99999px;
		}			
	} 
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {		        
	.product-carousel{
		.products-blocks{
			&:hover{
				.slick-arrow{
					&.prev-slide {
						left: 15px;	
					}
					&.next-slide {
						right: 15px;	
					}
				}				
			} 			
		}		
		.slick-dots {	
			left: -99999px;
			top: -99999px;
		}	
		.slick-arrow {
			visibility: visible;
			@include opacity(1);
			@include backface-visibility(visible);				
			&.prev-slide {
				left: 15px;				
			}
			&.next-slide {
				right: 15px;				
			}
		}
	} 
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	//CSS
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: $screen-xs-max){			
	.product-carousel{
		.products-blocks{
			&:hover{
				.slick-arrow{
					&.prev-slide {
						left: 15px;	
					}
					&.next-slide {
						right: 15px;	
					}
				}				
			} 			
		}		
		.slick-dots {	
			left: -99999px;
			top: -99999px;
		}	
		.slick-arrow {
			visibility: visible;
			@include opacity(1);
			@include backface-visibility(visible);				
			&.prev-slide {
				left: 15px;				
			}
			&.next-slide {
				right: 15px;				
			}
		}
	} 	
}

@media (min-width: 481px) and (max-width: 767px) {  
 	//CSS  
}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	//CSS  	
}


