/* 
	##Device = Desktops only
	##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
 	//CSS
}

/* 
	##Device = Laptops to Desktops
	##Screen = B/w 1200px to 1280px
*/
@media (min-width: 1200px) and (max-width: 1280px) {
	//CSS
}

@media (min-width: 1025px) and (max-width: 1200px) {		
   //CSS			
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {		        
	.contact-page{
		.contact-info {	
			padding: 10px 50px 50px 50px;
			.contact-info-list{
				.contact-info-title {
					margin-top: 40px;	
				}
				.contact-info-list-item {
					line-height: normal;
					margin-bottom: 10px;
					@include align-items(baseline);					
					strong {
						max-width: 35px;
						@include flex-basis(35px);
					}
				}
			} 
			.contact-info-heading{
				.contact-info-title {
					font-size: 24px;
					line-height: 34px;
				}
			} 			
		}
	} 
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	//CSS
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: $screen-xs-max){		
	.contact-page{
		.contact-info {	
			padding: 10px 50px 40px 50px;
			.contact-info-list{
				.contact-info-title {
					margin-top: 40px;	
				}
				.contact-info-list-item {
					line-height: normal;
					margin-bottom: 10px;
					@include align-items(baseline);					
					strong {
						max-width: 35px;
						@include flex-basis(35px);
					}
				}
			} 
			.contact-info-heading{
				.contact-info-title {
					font-size: 24px;
					line-height: 34px;
				}
			} 			
		}
	} 	
}

@media (min-width: 481px) and (max-width: 767px) {  
 	//CSS  
}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	.contact-page{
		.contact-info{
			.contact-info-list{
				.contact-info-list-item{
					&:first-child{
						strong {
							max-width: 55px;			
							@include flex-basis(55px); 
						}
					} 					
				}				
			} 			
		} 		
	} 	
}
