/* (1440x900) WXGA+ Display */
@media  screen and (max-width: 1440px) {	
   
}

/* (1366x768) WXGA Display */
@media  screen and (max-width: 1366px) {
    /* insert styles here */
}

/* 
	##Device = Desktops only
	##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
 	//CSS
}

/* 
	##Device = Laptops to Desktops
	##Screen = B/w 1200px to 1280px
*/
@media (min-width: 1200px) and (max-width: 1280px) {
	//CSS
}

@media (min-width: 1025px) and (max-width: 1200px) {	
	.site-content {
		padding-top: 55px !important;
		padding-bottom: 55px !important;
		overflow: hidden;		
		display: block;
	}
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {	
	.site-content {
		padding-top: 55px !important;
		padding-bottom: 55px;
		overflow: hidden;		
		display: block;
	}   
    .container-fluid{
		padding-left: 15px;
		padding-right: 15px;    
    }    	
    .wrap-breadcrumb{
    	.page-title,
    	.breadcrumb{
    		margin-top: 60px;
    		margin-bottom: 60px;    		
    		width: 100%;
			text-align: center;
			float: none;			
			.woocommerce-breadcrumb{
				@include justify-content(center);
			}
    	}    	
    	.page-title{
			margin-bottom: 0;
		}
		.breadcrumb{
			margin-top: 0;
		}
    }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	//CSS
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: $screen-xs-max){		
	.archive{
		.site-content {
			padding-top: 55px;
			padding-bottom: 55px;
		}
	} 
	.site-content{		
		padding-top: 55px !important;
		padding-bottom: 55px;
		overflow: hidden;		
		display: block;
	}
	.container-fluid {
		padding-left: 15px;
		padding-right: 15px;
	}
	.wrap-breadcrumb{
		.page-title,
		.breadcrumb{
			margin: 30px 0 30px 0;
			width: 100%;
			text-align: center;
			float: none;		
		}    	
		.page-title{
			margin-bottom: 10px;
		}
		.breadcrumb{
			margin-top: 0;
			.woocommerce-breadcrumb {				
				min-height: auto;
				line-height: 30px;
				@include flex-wrap(wrap);
				@include justify-content(center);
			}
		} 		
	} 
}

@media (min-width: 481px) and (max-width: 767px) {  
 	//CSS  
}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	.wrap-breadcrumb{
		.page-title, 
		.breadcrumb {	
			line-height: normal;
		}
	} 	
	.single-product{
		.site-content{
			padding-bottom: 20px;
		}
	} 
	.archive{
		.site-content {
			padding-top: 55px !important;
			padding-bottom: 55px;
		}
	} 	
}