/* 
	##Device = Desktops only
	##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
 	//CSS
}

/* 
	##Device = Laptops to Desktops
	##Screen = B/w 1200px to 1280px
*/
@media (min-width: 1200px) and (max-width: 1280px) {
	//CSS
}

@media (min-width: 1025px) and (max-width: 1200px) {		
   //CSS
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {	
	#na-footer{
		&.footer-1{
			.footer-top{	
				padding: 30px 0 0 0;
				.row{
					> div{
						padding-top: 30px;						
					}
				}
			}	
			.footer-bottom{
				.footer-bottom-right{
					.footer-bottom-inner{
						padding: 0 0 60px 0;
					}	
				}
				.footer-bottom-inner{					
					text-align: center;
					padding: 30px 0 5px 0;
				}				
			} 			
		} 	
		&.footer-2{
			.footer-bottom-left,
			.footer-bottom-right {
				text-align: center;
			}			
			.share-links {
				text-align: center;
				.social-icons {
					margin: 10px 0;
					line-height: normal;
				}
			}			
			.footer-bottom {				
				padding: 50px 0;					
				.menu{
					li {
						padding-left: 10px;
						padding-right: 10px;					
					}
				} 				
				.widget_text{
					a {					
						display: block;
					}	
				}
			}		
		} 			
	}
	.footer-hidden{
		.container {	
			padding-left: 15px;
			padding-right: 15px;
		}
		.footer-bottom-left{
			text-align: center;
		}
		.footer-bottom-right{
			text-align: center;
			.footer-bottom-inner {
				padding-top: 20px;
				padding-bottom: 30px;
			}	
		}
		.footer-bottom-inner {
			padding: 50px 0 0 0;	
		}
	} 	
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	#na-footer{		
		&.footer-1{			
			.footer-bottom{
				.footer-bottom-inner {				
					text-align: left;
				}
				.footer-bottom-right{
					.footer-bottom-inner {
						padding: 50px 0;
						text-align: right;
						min-height: 136px;																		
						@include flexbox();
						@include align-items(center); 
						@include justify-content(flex-end);
					}
				}
				.footer-bottom-left{
					.footer-bottom-inner {						
						padding: 50px 0;
						text-align: left;
						min-height: 136px;																		
						@include flexbox();
						@include align-items(center); 
						@include justify-content(flex-start);
					}
				}				
			} 			
		} 			
		&.footer-2{		
			.footer-bottom {	
				padding: 60px 0;
				.menu{
					li {
						padding-left: 0;
						padding-right: 20px;				
					}
				} 				
				.widget_text{
					a {				
						margin-top: 3px;							
					}	
				}			
				.footer-bottom-left{	
					text-align: left;								
					.footer-bottom-inner {
						@include align-items(flex-start); 						
					}
				}
				.footer-bottom-right{		
					text-align: right;							
					.footer-bottom-inner {
						@include align-items(flex-end);						
					}
				}
				.footer-bottom-inner {
					@include flexbox();
					@include flex-direction(column); 		
					@include justify-content(flex-start);											
				}		
			}					
			.share-links {
				text-align: right;
				.social-icons {
					margin: 0 0 5px 0;
					line-height: normal;
				}
			}					
		} 			
	}
	.footer-hidden{
		.footer-bottom-inner {
			padding: 30px 0;
		}
		.footer-bottom-left {
			text-align: left;
		}
		.footer-bottom-right{
			text-align: right;
			.footer-bottom-inner {
				padding-top: 30px;				
			}
		} 		
	} 
}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: $screen-xs-max){	
	#na-footer{
		&.footer-1{
			.footer-top{
				padding: 73px 0 0 0;				
				.row{
					> div{
						padding-top: 30px;
						&:first-child{
							padding-top: 0;
						}
					}
				}
			}
			.footer-bottom{
				.footer-bottom-inner{
					padding: 10px 0;
				}
			} 	
			.footer-bottom-right{
				text-align: left;
				.footer-bottom-inner{
					padding: 0 0 20px 0;
				}
			}		
		} 		
		&.footer-2{
			.footer-bottom-left,
			.footer-bottom-right {
				text-align: center;
			}			
			.share-links {
				text-align: center;
				.social-icons {
					margin: 10px 0;
					line-height: normal;
				}
			}			
			.footer-bottom {				
				padding: 50px 0;					
				.menu{
					li {
						padding-left: 10px;
						padding-right: 10px;					
					}
				} 				
				.widget_text{
					a {					
						display: block;
					}	
				}
			}		
		} 		
	}
	.footer-bottom{
		padding: 30px 0;
	}
	.footer-hidden{
		.container {	
			padding-left: 15px;
			padding-right: 15px;
		}
		.footer-bottom-left{
			text-align: center;
		}
		.footer-bottom-right{
			text-align: center;
			.footer-bottom-inner {
				padding-top: 20px;
				padding-bottom: 30px;
			}	
		}
		.footer-bottom-inner {
			padding: 0;			
		}
	} 	
}

@media (min-width: 481px) and (max-width: 767px) {  
 	//CSS  
}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	
}