/* (1440x900) WXGA+ Display */
@media (max-width: 1440px) {	
    .site-header{
    	.container-fluid {
			padding-left: 100px;
			padding-right: 100px;
		}
    }     
}

/* (1366x768) WXGA Display */
@media (max-width: 1366px) {	
    //CSS
}

/* 
	##Device = Desktops only
	##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
 	//CSS
}

/* 
	##Device = Laptops to Desktops
	##Screen = B/w 1200px to 1280px
*/
@media (min-width: 1200px) and (max-width: 1280px) {
	.site-header{
		.container-fluid{
			padding-left: 5%;
			padding-right: 5%;
		}
	}	
}

@media (min-width: 1025px) and (max-width: 1200px) {
	.trebol-header-placeholder{
		&.hidden-xs{
			display: none !important;
		}		
	}
	.site-header{
		display: none !important;
	}
	#moblie-header,
	.trebol-header-placeholder{
		display: block !important;
	}	
	.moblie-header{
		&.header-fixed {			
    		z-index: 1022;
    		@include transform(none);    		
    		@include transition(all .25s ease-in-out);     		
    		&.fixed {
    			top: -55px;
			}
			&.scroll-top{
				top: 0;
			}
		}
	}
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {		 
	.moblie-header{
		&.header-fixed {			
    		z-index: 1022;
    		@include transform(none);    		
    		@include transition(all .25s ease-in-out);     		
    		&.fixed {
    			top: -55px;
			}
			&.scroll-top{
				top: 0;
			}
		}
	}
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: $screen-xs-max){	
	.moblie-header{
		&.header-fixed {			
    		z-index: 1022;
    		@include transform(none);    		
    		@include transition(all .25s ease-in-out);     		
    		&.fixed {
    			top: -55px;
			}
			&.scroll-top{
				top: 0;
			}
		}
	}
}

@media (min-width: 481px) and (max-width: 767px) {  
 	//CSS  
}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	
}