/* (1440x900) WXGA+ Display */
@media (max-width: 1440px) {	
	//CSS	
}

/* (1366x768) WXGA Display */
@media (max-width: 1366px) {	
    //CSS
}

/* 
	##Device = Desktops only
	##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
 	//CSS
}

/* 
	##Device = Laptops to Desktops
	##Screen = B/w 1200px to 1280px
*/
@media (min-width: 1200px) and (max-width: 1280px) {
	//CSS
}

@media (min-width: 1025px) and (max-width: 1200px) {		
   //CSS			
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {		        
	//CSS
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	//CSS
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: $screen-xs-max){		
	//CSS
}

@media (min-width: 481px) and (max-width: 767px) {  
 	//CSS  
}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	//CSS  	
}


// Small screen < 767px-------------------------------------------------------------------------------------------------
@import "header";
@import "footer";
@import "blog";
@import "container";
@import "typography";
@import "element";
@import "carousel";
@import "widget";
@import "button";
@import "404";
@import "search";
@import "about";
@import "contact";
@import "privacy-policy";
@import "terms";
@import "woocommerce-product";
@import "woocommerce-cart";
@import "woocommerce-element";
@import "woocommerce-checkout";
@import "woocommerce-account";
@import "woocommerce-wishlist";
@import "woocommerce-order";
@import "woocommerce-category";
@import "woocommerce-widget";
@import "woocommerce_single";
@import "vc-category-banners";
@import "vc-products";
@import "vc-blog-post";
@import "vc-testimonial";
@import "vc-masonry-category";
@import "vc-intro";
@import "vc-video";
@import "vc-countdown";
@import "vc-services";
@import "vc-category-slider";
@import "vc-composer";
@import "vc-brand";
@import "vc-banner-split";
@import "vc-slider-showcase";
