/* 
	##Device = Desktops only
	##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
 	//CSS
}

/* 
	##Device = Laptops to Desktops
	##Screen = B/w 1200px to 1280px
*/
@media (min-width: 1200px) and (max-width: 1280px) {
	//CSS
}

@media (min-width: 1025px) and (max-width: 1200px) {	
	blockquote {
		margin-bottom: 40px;
		margin-top: 40px;
		padding: 0 40px 0 40px;		
	}
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {		         			
	blockquote{
		margin-top: 42px;
		margin-bottom: 42px;
		padding: 0 30px 0 30px;
	}	
	.page-title{
    	font-size: 42px;
		line-height: 52px;
    }
    .block-title-heading{    	
    	&.box-faq-title{
    		padding-top: 60px;	
    	}
    	&.vc_custom_1544495322301{
    		outline-style: none;
    	}
    	&.style3{
    		.box-title {
				margin-bottom: 15px;				
			}
    	}
    	&.style5{
    		.box-title {
				font-size: 36px;
				line-height: 46px;				
			}     	
    	}     	
    }    
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	//CSS
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: $screen-xs-max){		
	blockquote {
		font-size: 16px;
		line-height: 26px;
		margin-bottom: 45px;
		margin-top: 45px;		
		padding: 0 30px;	
	}
	.block-title-heading{		
    	&.box-faq-title{
    		padding-top: 50px;	
    	}
    	&.vc_custom_1544495322301{
    		outline-style: none;
    	}
    	&.style3{
    		.box-subtitle {
				line-height: 24px;
			}
    	}  
    	&.style5{
    		.box-title {
				font-size: 32px;
				line-height: 42px;		
			}
    	}     	
    	&.vc_custom_1543277180477{
    		margin-top: 50px;
    		text-align: center;
    		.box-content{
    			text-align: center;
    		}
    	}
    } 
}

@media (min-width: 481px) and (max-width: 767px) {  
 	//CSS  
}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	.page-title{
		font-size: 20px;
	}
	blockquote {
		font-size: $font-size;
		line-height: $line-height;
		margin-bottom: 30px;
		margin-top: 30px;
		padding: 0px 30px;
	}
}
