/* 
	##Device = Desktops only
	##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
 	//CSS
}

/* 
	##Device = Laptops to Desktops
	##Screen = B/w 1200px to 1280px
*/
@media (min-width: 1200px) and (max-width: 1280px) {
	//CSS
}

@media (min-width: 1025px) and (max-width: 1200px) {		
   //CSS			
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {		        
	.block-video{	
		.box-button-link {			
			margin-bottom: 30px;		
		}	
		&.style1{
			.box-video {
				max-height: none;
				@include flex-direction(column);
			}
			.box-video-intro{								
				@include flex(0, 0, 100%);
				.box-video-intro-wrap {	
					margin: 0;
					padding: 40px 15px 0;
					text-align: center;										
				}		
				.box-description {
					margin-bottom: 15px;
				}
			} 	
			.box-video-images {
				@include flex(0, 0, 100%);
			}		
		} 	
		&.style2 {		
			padding-top: 15px;
			.box-video{
				padding: 0 12px 0 0;
				.box-video-images {
					width: 100%;
				}
				.box-video-intro {
					width: 100%;
					overflow: visible;
					position: static;
					bottom: auto;
					padding-bottom: 0;
					right: auto;
					text-align: center;
				}
			} 			
			.box-title {
				margin-top: 30px;
				font-size: 28px;
				line-height: 38px;
			}
			.box-description {
				margin-bottom: 15px;
			}
			&:before {
				height: 100%;
			}
		}	
	}
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.block-video{
		&.style2{
			.box-video {
				padding: 0;
			}
		} 		
	}	
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: $screen-xs-max){		
	.block-video{	
		.box-button-link {			
			margin-bottom: 30px;		
		}	
		&.style1{
			.box-video {
				max-height: none;
				@include flex-direction(column);
			}
			.box-video-intro{				
				@include flex(0, 0, 100%);
				.box-video-intro-wrap {	
					margin: 0;
					padding: 20px 10px;	
					text-align: center;
				}		
				.box-description {
					margin-bottom: 15px;
				}
			} 	
			.box-video-images {
				@include flex(0, 0, 100%);
			}		
		} 
		&.style2{
			padding-top: 15px;
			&:before {
				height: 100%;
			}
			.box-title {
				font-size: 24px;
				line-height: 34px;
				margin-top: 30px;
			}
			.box-video{
				.box-video-images {
					width: 100%;	
				}
				.box-video-intro {
					position: static;
					padding: 0;
					margin: 0;
					text-align: center;
					width: 100%;
				}
			} 
			.box-description {
				margin-bottom: 20px;
			}			
		} 		
	}
}


@media (min-width: 481px) and (max-width: 767px) {  
 	//CSS  
}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	.block-video{
		&.style2{
			.box-description {
				font-size: 14px;
				line-height: 24px;	
			}
		} 		
	}	
}


