/* 
	##Device = Desktops only
	##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
 	//CSS
}

/* 
	##Device = Laptops to Desktops
	##Screen = B/w 1200px to 1280px
*/
@media (min-width: 1200px) and (max-width: 1280px) {
	//CSS
}

@media (min-width: 1025px) and (max-width: 1200px) {		
   //CSS			
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {		        
	.block-brand{
		.box-brand-item {		
			max-width: 33.333%;		
			margin-bottom: 10px;
			@include flex-basis(33.333%); 
		}
	} 	
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	//CSS
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: $screen-xs-max){		
	.block-brand{
		.box-brand-item {
			max-width: 50%;			
			margin-bottom: 20px;
			@include flex-basis(50%); 
		}
	} 	
}

@media (min-width: 481px) and (max-width: 767px) {  
 	//CSS  
}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	.block-brand{
		.box-brand-item {
			max-width: 100%;						
			@include flex-basis(100%); 			
		}
	} 	
}


