/* 
	##Device = Desktops only
	##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
 	//CSS
}

/* 
	##Device = Laptops to Desktops
	##Screen = B/w 1200px to 1280px
*/
@media (min-width: 1200px) and (max-width: 1280px) {
	//CSS
}

@media (min-width: 1025px) and (max-width: 1200px) {		
   //CSS			
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {		        
	.na-products{
		.product-block {	
			margin-bottom: 10px;
		}
		.infload-controls {
			padding-top: 30px;
			padding-bottom: 50px;
		}
	} 	
	.block-category-colections{
		.product-block{
			&.product-gallery{
				.caption-product {
					padding: 0 5% 5% 10%;
				}
				.product-image{
					.woocommerce-loop-product__link{
						&:before {
							background: rgba(0, 0, 0, 0.3);
						}
					}				
				} 
			}
		}
		.box-category-colection-image{						
			.box-image-content {					
				margin: 48px 0 0 62px;
			}			
		} 				
		.box-category-colections {
			max-width: 100%;		
			padding-left: 0;
			padding-right: 0;
			margin-bottom: 30px;
			@include flex-basis(100%); 				
		}
	} 
	.block-category-tabs{
		.category-loadmore {		
			padding-top: 30px;
		}
	} 	
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.block-category-colections{
		.product-block{
			&.product-gallery{
				.caption-product {					
					@include rtl-padding(0px, 25px, 20px, 40px); 
				}	
			} 			
		}		
	} 	
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: $screen-xs-max){		
	.na-products{
		.product-block {	
			margin-bottom: 10px;
		}
		.infload-controls {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	} 
	.block-category-tabs{
		.category-loadmore {		
			padding-top: 30px;
		}
	} 
	.block-category-colections{
		.product-block{
			&.product-gallery{
				.caption-product {
					padding: 0 0 5% 0;
				}
				.product-image{
					.woocommerce-loop-product__link{
						&:before {
							background: rgba(0, 0, 0, 0.3);
						}
					}				
				} 
			}
		}
		.box-category-colection-image{			
			.box-title {
				font-size: 16px;
				line-height: 26px;
				margin-bottom: 10px;
			}
			.box-image-content {					
				@include rtl-margin(18px, 0, 0, 25px);
			}			
		} 				
		.box-category-colections {
			max-width: 100%;		
			padding-left: 0;
			padding-right: 0;
			margin-bottom: 30px;
			@include flex-basis(100%); 				
		}
	} 
}


@media (min-width: 481px) and (max-width: 767px) {  
 	//CSS  
}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	//CSS  	
}


