/* 
	##Device = Desktops only
	##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
 	//CSS
}

/* 
	##Device = Laptops to Desktops
	##Screen = B/w 1200px to 1280px
*/
@media (min-width: 1200px) and (max-width: 1280px) {
	//CSS
}

@media (min-width: 1025px) and (max-width: 1200px) {		
   //CSS			
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {		        
	.block-testimonial{		
		.box-testimonial-wrap{
			.box-meta-title {
				text-align: center;
				@include justify-content(center);
			}
		} 		
		&.style1{
			padding-bottom: 0;			
			.box-description {
				line-height: 25px;
				margin: 0 0 20px 0;
				padding: 0 15px;				
			}
		} 	
		&.style2{
			outline-style: none;
		}	
		.box-testimonial {
			padding: 20px 0;
			background: transparent none;			
			&.slick-slide {	
				text-align: center;
				@include justify-content(center);
			}
			.box-image {	
				margin-right: 0;
			}
			.box-content-inner {
				max-width: 100%;
				@include flex-basis(100%);				
			}
		}
	} 	
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	//CSS
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: $screen-xs-max){		
	.block-testimonial{		
		.box-testimonial-wrap{
			.box-meta-title {
				text-align: center;
				@include justify-content(center);
			}
		} 		
		&.style1{
			padding-bottom: 10px;
			.box-description {
				line-height: 25px;
				margin: 0 0 20px 0;
				padding: 0 15px;				
			}
		} 		
		.box-testimonial {
			padding: 0;
			background: transparent none;			
			&.slick-slide {	
				text-align: center;
				@include justify-content(center);
			}
			.box-image {	
				margin-right: 0;
			}
			.box-content-inner {
				max-width: 100%;
				@include flex-basis(100%);				
			}
		}
	} 	
}


@media (min-width: 481px) and (max-width: 767px) {  
 	//CSS  
}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	//CSS  	
}


