/* 
	##Device = Desktops only
	##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
 	//CSS
}

/* 
	##Device = Laptops to Desktops
	##Screen = B/w 1200px to 1280px
*/
@media (min-width: 1200px) and (max-width: 1280px) {
	//CSS
}

@media (min-width: 1025px) and (max-width: 1200px) {		
   //CSS			
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {		        
	.block-category-slider{
		.box-name {
			margin: 0;
			font-size: 72px;
			line-height: 82px;
			text-align: center;
			padding: 0;
		}
		.box-title {
			font-size: 32px;
			line-height: 42px;
			margin-top: 30px;
			margin-bottom: 40px;			
		}
		.box-button-link{
			margin-bottom: 24px;
		}
		.category-slider-content {
			padding-top: 0;
			padding-left: 0;
			text-align: center;
		}
		.category-slider-carousel{
			.box-subtitle {	
				left: 42px;
			}
		} 		
	} 	
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.block-category-slider{				
		margin-bottom: 30px;
		.box-name {			
			text-align: right;
		}
		.box-title {
			margin-top: 0;
			margin-bottom: 20px;
		}
		.box-button-link {
			margin-bottom: 0;
		}
		.category-slider-content {	
			margin: 0;												
			min-height: 496px;
			@include flexbox();
			@include flex-direction(column); 
			@include align-items(center); 
			@include justify-content(center); 
		}
	} 	
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: $screen-xs-max){		
	.category-slider-carousel{
		.box-subtitle {
			left: 42px;
		}
	} 
	.block-category-slider{
		text-align: center;
		.box-name {
			left: -99999px; 
			top: -99999px; 	
		}
		.box-title {
			font-size: 18px;
			line-height: 28px;
			margin-top: 20px;
		}
		.box-button-link{
			margin-bottom: 15px;
		}
		.category-slider-content {
			padding-top: 0;
			padding-left: 0;
		}
	} 				
}


@media (min-width: 481px) and (max-width: 767px) {  
 	//CSS  
}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	//CSS  	
}


