/* 
	##Device = Desktops only
	##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
 	//CSS
}

/* 
	##Device = Laptops to Desktops
	##Screen = B/w 1200px to 1280px
*/
@media (min-width: 1200px) and (max-width: 1280px) {
	//CSS
}

@media (min-width: 1025px) and (max-width: 1200px) {		
   //CSS			
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {		        
	.block-countdown-banner{
		@include flex-direction(column);
		.box-countdown-banner {
			max-height: none;
		}		
		.na-timer {
			margin-bottom: 30px;
			@include flexbox();
			@include align-items(baseline);
			@include justify-content(center);
			@include flex-wrap(wrap);
			> span{								
				padding: 0;
				margin: 0 0 30px 0;
				@include flex-grow(1);
			}
		}
		.box-countdown-meta{
			.box-title {
				margin-bottom: 50px;
				margin-top: 30px;
			}
		} 		
		.box-countdown-meta,
		.box-countdown-images {
			max-width: 100%;		
			@include flex-basis(100%);
			@include justify-content(center);
		}
		.box-countdown-banner-wrap {
			padding: 0;
		}
		.box-button-link{
			margin-bottom: 30px;
		}
	} 
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	//CSS
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: $screen-xs-max){		
	.block-countdown-banner{
		@include flex-direction(column);
		.box-countdown-banner {
			max-height: none;
		}
		.na-timer {
			margin-bottom: 30px;
			@include flexbox();
			@include align-items(baseline);
			@include justify-content(center);
			@include flex-wrap(wrap);
			> span{								
				padding: 0;
				margin: 0 0 30px 0;
				@include flex-grow(1);
			}
		}
		.box-countdown-meta{
			.box-title {
				margin-bottom: 30px;
			}
		} 		
		.box-countdown-meta,
		.box-countdown-images {
			max-width: 100%;		
			@include flex-basis(100%);
			@include justify-content(center);
		}
		.box-countdown-banner-wrap {
			padding: 0;
		}
		.box-button-link{
			margin-bottom: 30px;
		}
	} 	
}


@media (min-width: 481px) and (max-width: 767px) {  
 	//CSS  
}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	//CSS  	
}


