/* 
	##Device = Desktops only
	##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
 	//CSS
}

/* 
	##Device = Laptops to Desktops
	##Screen = B/w 1200px to 1280px
*/
@media (min-width: 1200px) and (max-width: 1280px) {
	//CSS
}

@media (min-width: 1025px) and (max-width: 1200px) {		
   //CSS			
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {		        
	.block-feature-services{
		&.style1{
			.box-feature-services{
				margin-bottom: 25px;
				margin-top: 25px;				
				.box-title {									
					margin-top: 15px;
				}
			} 			
		} 		
	}
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.block-feature-services{
		&.style1{
			.box-feature-services{
				.box-title {
					font-size: 18px;
					line-height: 28px;					
				}
			} 			
		} 		
	}	
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: $screen-xs-max){		
	.block-feature-services{
		&.style1{
			.box-feature-services{
				margin-bottom: 15px;
				margin-top: 25px;				
				.box-title {
					font-size: 16px;
					line-height: 26px;
					margin: 10px 0 0 0;
				}
			} 			
		} 		
	}	
}

@media (min-width: 481px) and (max-width: 767px) {  
 	//CSS  
}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	//CSS  	
}


