/* 
	##Device = Desktops only
	##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
 	//CSS
}

/* 
	##Device = Laptops to Desktops
	##Screen = B/w 1200px to 1280px
*/
@media (min-width: 1200px) and (max-width: 1280px) {
	//CSS
}

@media (min-width: 1025px) and (max-width: 1200px) {		
   //CSS			
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {		        
	.block-banner-split{
		.na-block-content{
			.banner-split-large{
				.box-banner-content{
					.box-subtitle {			
						@include rtl-padding(0, 20%, 10%, 24px);
						&:before {
							height: 4px;
							margin-top: 18px;	
						}
					}
				} 				
			} 			
			.box-banner-split{
				.box-title {
					font-size: 22px;
					line-height: 32px;
				}
				.box-subtitle {
					font-size: 28px;
					line-height: 38px;					
				}
			} 			
		} 		
	} 	
}


/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	//CSS
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: $screen-xs-max){		
	.block-banner-split{		
		.na-block-content{
			.box-banner-split{
				.box-subtitle {
					font-size: 24px;
					line-height: 34px;					
				}
				.box-title {
					font-size: 18px;
					line-height: 28px;
				}
			} 			
			.banner-split-large {
				max-width: 100%;		
				margin-bottom: 30px;							
				@include flex-basis(100%);					
				.box-banner-content {
					padding: 0;
					.box-title {											
						@include rtl-padding(20px, 0, 0, 30px); 
					}
					.box-subtitle {
						&:before {
							height: 3px;
							margin-top: 15px;
						}
					}
				}
			}
			.banner-split-small {
				max-width: 100%;		
				@include flex-basis(100%);
				.box-banner-content {
					padding: 0;
					text-align: center;
				}
			}
		} 
		&.right{
			.na-block-content{
				.banner-split-large{
					.box-banner-content{
						.box-subtitle {
							padding: 0 30px 30px 22px;
						}
					} 					
				}
				.banner-split-small{
					margin-bottom: 30px;
					.box-banner-content {
						padding: 0;
					}		
				} 				
			} 			
		} 		
	} 	
}

@media (min-width: 481px) and (max-width: 767px) {  
 	//CSS  
}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	//CSS  	
}

