/* (1440x900) WXGA+ Display */
@media (max-width: 1440px) {	
	.block-intro{
		.na-block-intro-content{
			.box-content {		
				padding-top: 8%;
				padding-left: 12%;
			} 
		} 		
	} 	
}

/* (1366x768) WXGA Display */
@media (max-width: 1366px) {	
    //CSS
}

/* 
	##Device = Desktops only
	##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
 	//CSS
}

/* 
	##Device = Laptops to Desktops
	##Screen = B/w 1200px to 1280px
*/
@media (min-width: 1200px) and (max-width: 1280px) {
	//CSS
}

@media (min-width: 1025px) and (max-width: 1200px) {		
   //CSS			
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {		        
	.block-intro{
		.na-block-content {
			@include flex-direction(column);			
		}
		.na-block-intro {
			float: none;
			max-width: 100%;		
			@include flex-basis(100%);		
		}
		.na-block-intro-content {
			float: none;
			max-width: 100%;		
			@include flex-basis(100%);	
			.box-content {			
				text-align: center;
				padding: 30px 15px 0 15px;				
			}	
			.box-description {
				margin-bottom: 20px;
			}			
		}
	} 
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	//CSS
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: $screen-xs-max){		
	.block-intro{
		.na-block-content {
			@include flex-direction(column);			
		}
		.na-block-intro {
			float: none;
			max-width: 100%;		
			@include flex-basis(100%);		
		}
		.na-block-intro-content {
			float: none;
			max-width: 100%;		
			@include flex-basis(100%);	
			.box-content {			
				text-align: center;
				padding: 30px 5px 0 5px;				
			}	
			.box-description {
				margin-bottom: 20px;
			}			
		}
	} 	
}

@media (min-width: 481px) and (max-width: 767px) {  
 	//CSS  
}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	//CSS  	
}


