/* 
	##Device = Desktops only
	##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
 	//CSS
}

/* 
	##Device = Laptops to Desktops
	##Screen = B/w 1200px to 1280px
*/
@media (min-width: 1200px) and (max-width: 1280px) {
	//CSS
}

@media (min-width: 1025px) and (max-width: 1200px) {		
   //CSS			
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {		        
	.block-masonry-category{		
		&.style1{
			.box-title {
				margin-bottom: 5px;
			}
		} 				
		&.style2{
			.box-title {
				margin: 0;
			}
			.grid-sizer{
				width: 100%;
			}
			.box-masonry {		
				min-height: auto;
				&.small {
					width: 50%;
				}
				&.large {
					width: 100%;
				}	
			}				
		} 
		&.style3{
			margin: 0 -30px;	
		}
		&.style4{
			.box-masonry{
				&.large {
					width: 100%;
				}
				&.small {
					width: 100%;
				}
			}			
			.box-content{
				.box-content-inner{
					padding-top: 30px;
					padding-left: 30px;
				}
			} 
			.na-block-content{
				.box-masonry{
					&.small {						
						.box-content{
							.box-content-inner{
								padding-top: 30px;
							}
						} 						
					}
				}				
			}			
		}		
		&.style3,&.style4{
			.small{
				.box-content{
					.box-content-inner{
						padding-top: 20px;
					}
				} 				
			}
			.box-content{
				.box-content-inner{
					padding-top: 18px;
					padding-left: 30px;			
				}
			} 			
		}
		&.style2,&.style3,&.style4{			
			.box-title{
				font-size: 18px;
				line-height: 28px;
			}
		}	
		.box-title {
			font-size: 18px;
			line-height: 28px;
			margin-bottom: 5px;
		}	
	}	
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.block-masonry-category{
		&.style3 {
			margin: 0 -30px;		
		}
	}
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: $screen-xs-max){		
	.block-masonry-category{
		&.style1{
			.box-title {
				font-size: 18px;
				line-height: 28px;
				margin-bottom: 5px;
			}
			.box-masonry {
				width: 100%;
				padding-left: 15px;
				padding-right: 15px;
				&.large{
					.box-content{
						.box-content-inner {
							padding-top: 20px;
						}
					} 					
				} 			
				.box-content{
					.box-content-inner {				
						padding-left: 30px;
					}
				}				
			}	
		}	
		&.style2{
			.grid-sizer{
				width: 100%;
			}
			.box-masonry {		
				min-height: auto;
				&.small,&.large {
					width: 100%;
				}	
			}				
		} 
		&.style3{			
			.box-title {				
				margin-bottom: 10px;
			}	
			.box-content{
				.box-content-inner{
					padding-top: 30px;
					padding-left: 30px;
				}
			}
			.na-block-content{
				.box-masonry{
					&.small {
						max-width: 100%;
						@include flex-basis(100%);
						.box-content{
							.box-content-inner{
								padding-top: 30px;
							}
						} 						
					}
				}				
			} 			
		}
		&.style4{
			.box-masonry{
				&.large {
					width: 100%;
				}
				&.small {
					width: 100%;
				}
			}			
			.box-content{
				.box-content-inner{
					padding-top: 30px;
					padding-left: 30px;
				}
			} 
			.na-block-content{
				.box-masonry{
					&.small {						
						.box-content{
							.box-content-inner{
								padding-top: 30px;
							}
						} 						
					}
				}				
			}			
		}
		&.style2,&.style3,&.style4{
			.box-title {
				font-size: 16px;
				line-height: 26px;
				margin-bottom: 3px;
			}			
		}
	}	
}

@media (min-width: 481px) and (max-width: 767px) {  
 	//CSS  
}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	//CSS  	
}


