/* 
	##Device = Desktops only
	##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
 	//CSS
}

/* 
	##Device = Laptops to Desktops
	##Screen = B/w 1200px to 1280px
*/
@media (min-width: 1200px) and (max-width: 1280px) {
	//CSS
}

@media (min-width: 1025px) and (max-width: 1200px) {		
   //CSS			
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {		        
	.block-slider-showCase{
		.title-slider {
			font-size: 26px;
			line-height: 36px;	
		}
	} 	
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.block-slider-showCase{
		.box-title {	
			font-size: 20px;
			line-height: 30px;
		}
	} 
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: $screen-xs-max){		
	.block-slider-showCase {
		margin-top: 0;
		.header-nav {
			padding: 10px 0;
			max-height: none;
			@include flexbox();
			@include flex-wrap(wrap);		
		}
		.title-slider {
			font-size: 26px;
			line-height: 36px;		
		}
		.ground-title {
			max-width: 100%;
			bottom: 30px;
			left: 30px;
		}
	}
}

@media (min-width: 481px) and (max-width: 767px) {  
 	//CSS  
}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	.block-slider-showCase {
		.header-nav {			
			@include flex-wrap(nowrap);
			@include flex-direction(column);			
		}
		.ground-tabs {
			padding-left: 25px;
			padding-right: 25px;
			max-width: 100%;
			@include flex-basis(100%);
			@include justify-content(center);
			@include align-items(center);		
		}
		.title-slider {
			font-size: 22px;
			line-height: 32px;		
		}
	} 	
}