/* 
	##Device = Desktops only
	##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
 	//CSS
}

/* 
	##Device = Laptops to Desktops
	##Screen = B/w 1200px to 1280px
*/
@media (min-width: 1200px) and (max-width: 1280px) {
	//CSS
}

@media (min-width: 1025px) and (max-width: 1200px) {		
   //CSS			
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {		        
	.vc_row{
		&.vc_custom_1542688714308,
		&.vc_custom_1543400089274,
		&.vc_custom_1543277672174 {
			padding-right: 15px !important;
			padding-left: 15px !important;		
		}
	}
	.vc_column-inner{
		&.vc_custom_1543277672174{
			padding-right: 15px !important;			
		}
		&.vc_custom_1543277680923 {
			padding-left: 15px !important;			
		}
	} 
	.wpb-js-composer{
		.vc_tta{
			&.vc_general{
				.vc_tta-panel-heading{
					.vc_tta-panel-title {	
						line-height: 26px;
					}	
				}				
			} 			
		}		
	} 
	.wpb_text_column{
		&.vc_custom_1543291097158 {
			padding-right: 30px !important;
		}	
		&.vc_custom_1543290983823,
		&.vc_custom_1543291783870 {
			padding-left: 0px !important;
		}
		&.vc_custom_1543336758473 {
			padding-right: 0px !important;
		}
		&.vc_custom_1543387579148 {
			margin-top: 0 !important;
			padding-right: 0 !important;
		}
	}
	.wpb_single_image{
		&.vc_custom_1543375346856,
		&.vc_custom_1543374808168 {
			padding-right: 0 !important;
		}		
	}
}


/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	//CSS
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: $screen-xs-max){		
	.vc_row{
		&.vc_custom_1542688714308,
		&.vc_custom_1543400089274,
		&.vc_custom_1543277672174 {
			padding-right: 15px !important;
			padding-left: 15px !important;		
		}
	}
	.vc_column-inner{
		&.vc_custom_1543277672174{
			padding-right: 15px !important;			
		}
		&.vc_custom_1543277680923 {
			padding-left: 15px !important;			
		}
	} 	
	.wpb-js-composer{
		.vc_tta{
			&.vc_general{
				.vc_tta-panel-heading{
					.vc_tta-panel-title {	
						line-height: 26px;
					}	
				}				
			} 			
		}		
	} 
	.wpb_text_column{
		&.vc_custom_1543291097158 {
			padding-right: 0px !important;
		}	
		&.vc_custom_1543290983823,
		&.vc_custom_1543291783870 {
			padding-left: 0px !important;
		}
		&.vc_custom_1543336758473 {
			padding-right: 0px !important;
		}
		&.vc_custom_1543387579148 {
			margin-top: 0 !important;
			padding-right: 0 !important;
		}
	}	
	.wpb_single_image{
		&.vc_custom_1543375346856,
		&.vc_custom_1543374808168 {
			padding-right: 0 !important;
		}		
	}
}


@media (min-width: 481px) and (max-width: 767px) {  
 	//CSS  
}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	//CSS  	
}


