/* 
	##Device = Desktops only
	##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
 	//CSS
}

/* 
	##Device = Laptops to Desktops
	##Screen = B/w 1200px to 1280px
*/
@media (min-width: 1200px) and (max-width: 1280px) {
	//CSS
}

@media (min-width: 1025px) and (max-width: 1200px) {		
   //CSS			
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {		        
	//CSS
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	//CSS
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: $screen-xs-max){		
	.thankyou-order {	
		margin: 30px 0 15px 0;
	}
	.woocommerce-order-received{
		ul.order_details {
			display: block;		
			li{
				padding: 20px;
			}
		}
	} 	
	.woocommerce-thankyou-order-received {
		font-size: 20px;
		line-height: 30px;
		padding: 50px 0 0 0;
		&:before {
			top: 0;
			bottom: auto;
			margin: 0 auto;
			left: 0;
			right: 0;			
		}
	}
}

@media (min-width: 481px) and (max-width: 767px) {  
 	//CSS  
}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	.woocommerce-thankyou-order-received {
		font-size: 18px;
		line-height: 28px;	
		padding: 0 0 20px 0;
		&:before {
			content: none;
		}
	}	
	.woocommerce-order-received{
		ul.order_details{
			display: block;
			li {
				padding: 5px 0;
				float: none;		
			}
		} 	
	} 
}

@media (max-width: 320px) {
	.thankyou-order {
		margin: 0;
	}	
}