/* 
	##Device = Desktops only
	##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
 	//CSS
}

/* 
	##Device = Laptops to Desktops
	##Screen = B/w 1200px to 1280px
*/
@media (min-width: 1200px) and (max-width: 1280px) {
	//CSS
}

@media (min-width: 1025px) and (max-width: 1200px) {		
	.product-block{		
		&.product-list{
			margin-bottom: 20px;
			.description-product {
				margin-bottom: 40px;
			}
			.product-name {
				font-size: 18px;				
			}
			.price {
				font-size: 16px;	
				line-height: 26px;
			}
			.caption-product {				
				padding: 0px 20px;
				.add_to_wishlist,
				.yith-wcwl-add-to-wishlist{
					a {
						@include square(37px);
					}
				} 				
			}
    		.ground-addcart{
    			a {
					padding: 4px 20px;					
					@include square(auto);
				}
    		} 
    		.product-price {
				margin-bottom: 20px;
			}
		}		
	} 
   .products-block{
		.product-col,.col-item {		
			&.item-list{
				width: 100% !important;	
			}			
		}
	}
	.infload-controls {
		padding-top: 30px;
	}
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {	
	.woocommerce-ordering,
	.shop-btn-filter {	
		margin-left: 0;
		margin-bottom: 20px;
		max-width: 20%;
		padding: 0;		
	}	
	.button-groups {		
		visibility: visible;		
		@include opacity(1);
		@include transform(translateY(0)); 		
		@include backface-visibility(visible); 
		@include transition(none);
		.yith-wcwl-add-to-wishlist{
			a {
				@include square(44px);						
				&:before {
					font-size: 18px;
				}				
			}
		} 		
	}
	.product-name {	
		font-size: 16px;
		line-height: 26px;		
		padding-right: 0;
		text-align: center;		
	}
	.product-block{
		margin-top: 10px;
		.onsale{
			display: none;
		}
		.caption,
		.action-link-hide,		
		.caption-product {
			position: static;	
		}
		.caption-product{
			min-height: 90px;
		}
		.caption {
			text-align: center;		
		}
		.ground-addcart{			
			z-index: 1;
			left: auto;
			left: 16px;
			top: 16px;
			right: auto;
			bottom: auto;			
			visibility: visible;
			@include opacity(1);
			@include backface-visibility(visible);
			@include transform(none);
			@include transition(none);
			a {				
				padding: 0;			
				border: 0;		
				overflow: hidden;			
				color: transparent;					
				background: $white;				
				@include flexbox();
				@include justify-content(center);
				@include align-items(center);
				@include border-radius(100px); 			
				@include square(44px);
				&:hover,&:active,&:focus{
					color: transparent;						
					background: $color-black;
					&:after {										
						color: $white;												
					}
				}        
				&:after {				
					font-size: 18px;						
					color: $color-black;					
					@include center-box(absolute);					
				}
			}
		}
		&.product-list{
			margin-bottom: 20px;
			.description-product {
				margin-bottom: 40px;
			}
			.product-name {
				font-size: 18px;				
			}
			.price {
				font-size: 16px;	
				line-height: 26px;
			}
			.caption-product {				
				padding: 0px 20px;
				.add_to_wishlist,
				.yith-wcwl-add-to-wishlist{
					a {
						@include square(37px);
					}
				} 				
			}
    		.ground-addcart{
    			a {
					padding: 4px 20px;					
					@include square(auto);
				}
    		} 
    		.product-price {
				margin-bottom: 20px;
			}
		}
		&.product-trans{			
			.caption-product{			
				padding: 0 5% 8% 5%;
				min-width: auto;
				min-height: auto;
				width: 100%;				
			}			
			.button-groups{
				margin-top: 5%;
				margin-right: 5%;
			}
		}
		&.product-gallery{			
			.ground-addcart{
				left: -99999px;
				top: -99999px;
				a {
					color: transparent;
					&:hover{
						&:after {
							color: $white;	
						}	
					}
					&:after {
						color: $white;	
					}
				}
			} 
			.product-image{
				.woocommerce-loop-product__link{
					&:before {
						z-index: 1;
						visibility: visible;
						background: rgba(0, 0, 0, 0.5);
						@include opacity(1);
						@include backface-visibility(visible);					
					}
				}				
			}
			.caption-product{			
				padding: 0 5% 5% 5%;
				min-width: auto;
				min-height: auto;
				width: 100%;						
				visibility: visible;
				@include opacity(1);				
				@include backface-visibility(visible);				
				@include transform(none);	
				@include transition(none);						
			}			
			.button-groups{
				margin-top: 5%;
				margin-right: 5%;				
			}
			&:hover{
				.caption-product,.product-price {
					@include transform(none);                	
				}				
			} 
		}			
		.product-price{
			@include transform(none);
			@include transition(none); 
		}
		&:hover{
			.product-price {
				visibility: visible;
				@include opacity(1);				
				@include transform(none);
				@include transition(none); 			
				@include backface-visibility(visible); 
			}
		}
	} 	
	.product-image{
		.shopswatchinput {
			right: 0;
			visibility: visible;			
			@include opacity(1);			
			@include backface-visibility(hidden); 
		}
	} 
	.products-block{
		.product-col,.col-item {		
			&.item-list{
				width: 100% !important;	
			}			
		}
	}
	.infload-controls {
		padding-top: 30px;
	}	
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	//CSS
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: $screen-xs-max){	
	.woo-search {
		margin-bottom: 0;
		min-width: 100%;
		display: none;
	}
	.woocommerce-ordering,
	.shop-btn-filter {
		margin-bottom: 0;
		margin-left: 0;
	}	
	.infload-controls {
		padding-top: 50px;
	}
	.button-groups {		
		visibility: visible;		
		@include opacity(1);
		@include transform(translateY(0)); 		
		@include backface-visibility(visible); 
		@include transition(none);	
		.yith-wcwl-add-to-wishlist{
			a {
				@include square(28px);						
				&:before {
					font-size: 18px;
				}				
			}
		} 		
	}
	.product-name {	
		font-size: 14px;
		line-height: 24px;				
		padding-right: 0;
		text-align: center;				
	}
	.product-image{
		.shopswatchinput {
			right: 0;
			visibility: visible;			
			@include opacity(1);			
			@include backface-visibility(hidden); 
		}
	}
	.product-block{
		margin-top: 20px;	
		.onsale{
			display: none;
		}
		.caption,
		.action-link-hide,		
		.caption-product {
			position: static;	
		}
		.caption-product{
			min-height: 90px;
		}
		.caption {
			text-align: center;		
		}
		.ground-addcart{
			z-index: 1;			
			left: 16px;
			top: 16px;
			bottom: auto;			
			right: auto;			
			visibility: visible;
			@include opacity(1);
			@include backface-visibility(visible);
			@include transform(none);
			@include transition(none);
			a {
				padding: 0;					
				overflow: hidden;			
				color: transparent;	
				border: 0 solid #d6d6d6;
				background: $white;				
				@include flexbox();
				@include justify-content(center);
				@include align-items(center);
				@include border-radius(100px); 			
				@include square(28px);	
				&:hover,&:active,&:focus{
					color: transparent;						
					background: $color-black;
					&:after {										
						color: $white;												
					}
				}        
				&:after {										
					color: $color-black;
					@include center-box(absolute);					
				}
			}
		}	
		.product-price{
			@include transform(none);
			@include transition(none); 
			.price{
				@include flexbox();
				@include justify-content(center); 
				@include align-items(baseline); 				
			}
		}
		&:hover{
			.product-price {
				visibility: visible;
				@include opacity(1);				
				@include transform(none);
				@include transition(none); 			
				@include backface-visibility(visible); 
			}
		}
		&.product-list{
			margin-bottom: 10px;
			.description-product {
				margin: 0 0 30px 0;
			}
			.product-name {
				font-size: 16px;
				line-height: 26px;
			}
			.price {
				font-size: 14px;	
				line-height: 24px;
			}
			.caption-product {				
				padding: 0px 20px;
				.add_to_wishlist,
				.yith-wcwl-add-to-wishlist{
					a {
						@include square(37px);
					}
				} 				
			}
    		.ground-addcart{
    			a {
					padding: 4px 20px;					
					@include square(auto);
				}
    		} 
    		.product-price {
				margin-bottom: 10px;
			}
		}
		&.product-trans{			
			.caption-product{			
				padding: 0 10% 8% 10%;
				min-width: auto;
				min-height: auto;
				width: 100%;				
			}			
			.button-groups{
				margin-top: 10%;
				margin-right: 10%;
			}
			.action-link-hide {
				@include flexbox();				
				@include align-items(baseline);
				@include justify-content(center);
				margin-top: 10px;						
				.ground-addcart {
					position: static;
					margin: 0 10px 0 0;
				}
			}
		}
		&.product-gallery{			
			.ground-addcart{
				left: -99999px;
				top: -99999px;
				a {
					color: transparent;					
					&:before {
						content: '';
						position: absolute;
						left: 0;
						top: 0;
						z-index: -1;
						background: $white;						
						@include border-radius(25px);
						@include square(100%);						
					}
					&:after {
						color: $color-black;
					}
					&:hover{
						&:before{
							z-index: 0;							
							@include opacity(0);
							@include transform(scale(1.4)); 
							@include transition(transform 0.4s ease 0s, opacity 0.4s ease 0s, -webkit-transform 0.4s ease 0s);										
						}
						&:after {
							color: $white;	
						}
					}
				}
			} 				
			.product-image{
				.woocommerce-loop-product__link{
					&:before {
						z-index: 1;
						visibility: visible;
						background: rgba(0, 0, 0, 0.5);
						@include opacity(1);
						@include backface-visibility(visible);					
					}
				}				
			}
			.caption-product{							
				min-width: auto;
				min-height: auto;
				width: 100%;			
				padding: 0 10% 8% 10%;			
				visibility: visible;
				@include opacity(1);								
				@include transform(none);	
				@include transition(none);			
				@include backface-visibility(visible);							
			}			
			.button-groups{
				margin-top: 10%;
				margin-right: 10%;
			}
			&:hover{
				.caption-product,.product-price {
					@include transform(none);                	
				}				
			} 
		}
	} 
	.products-block{
		.product-col,.col-item {		
			&.item-list{
				width: 100% !important;	
			}			
		}
	} 
}

@media (min-width: 481px) and (max-width: 767px) {  
 	//CSS  
}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	.button-groups {				
		.yith-wcwl-add-to-wishlist{
			a {
				@include square(24px);						
				&:before {
					font-size: 14px;
				}				
			}
		} 		
	}
	.woo-search {
		margin-bottom: 0;
		min-width: 100%;
		display: none;
	}
	.woocommerce-ordering,
	.shop-btn-filter{
		margin-bottom: 0;
		margin-left: 0;
		max-width: 50%;
		padding-left: 0;
		padding-right: 0;
	}		
	.product-name {	
		font-size: 13px;
		line-height: 23px;			
	}
	.product-block{			
		.ground-addcart{			
			a {				
				@include square(24px);						
			}
		}	
		&.product-gallery{
			.ground-addcart{	
				left: -99999px;
				top: -99999px;							
				a {
					color: transparent;
					&:after {
						color: $color-black;
					}
					&:hover,&:focus{
						&:after {
							color: $white;
						}
					}
				}
			} 				
		} 		
		&.product-list{			
			.caption-image,
			.caption-product {
				width: 100%;			
				float: none;
			}	
			.caption-product {
				padding: 20px 0 10px 0;
			}
		} 		
	} 
	.infload-controls {
		padding-top: 30px;
	}	
	.woocommerce-notices-wrapper{
		display: none;
	}
}