/* 
	##Device = Desktops only
	##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
 	//CSS
}

/* 
	##Device = Laptops to Desktops
	##Screen = B/w 1200px to 1280px
*/
@media (min-width: 1200px) and (max-width: 1280px) {
	//CSS
}

@media (min-width: 1025px) and (max-width: 1200px) {		
   //CSS			
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {		        
	.woocommerce-checkout{	
		.checkout-review {
			padding: 0px 35px 15px;		
			margin: 30px 0 0 0;
		}
	}
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	//CSS
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: $screen-xs-max){		
	.woocommerce,
	.woocommerce-page{
		.form-row,.form-group,.form-actions{
			&:last-child{
				margin-bottom: 0;
			}	
		}
	}
	.woocommerce-nav{
		.woocommerce_checkout_login, 
		.woocommerce_checkout_coupon {
			padding: 20px;
		}
		.login, 
		.checkout_coupon {
			max-width: 100%;
			@include flex-basis(100%);
		}
		.woocommerce-form__label-for-checkbox{
			input{
				+ span {
					margin-left: 25px;					
					&:before {
						top: -1px;
						left: 0;
					}
				}	
			}			
		} 		
	} 
	.woocommerce-checkout{
		.form-row-first, 
		.form-row-last {
			width: 100%;
			float: none;
		}
		.form-row-first {
			margin-right: 0;
		}
		.checkout-review {
			padding: 0px 15px 15px;		
			margin: 30px 0 0 0;
		}
	} 	
	.woocommerce-form__label-for-checkbox{
		input{
			+ span {
				margin-left: 0;
				&:before {
					top: 4px;
					left: -22px;
				}
			}
		} 			
	}	
}

@media (min-width: 481px) and (max-width: 767px) {  
 	//CSS  
}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	//CSS  	
}


