/* 
	##Device = Desktops only
	##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
 	//CSS
}

/* 
	##Device = Laptops to Desktops
	##Screen = B/w 1200px to 1280px
*/
@media (min-width: 1200px) and (max-width: 1280px) {
	//CSS
}

@media (min-width: 1025px) and (max-width: 1200px) {		
   //CSS			
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {			
	.woocommerce-nav-category{
		padding-bottom: 20px;
		ul.na-shop {
			float: none;						
			@include flexbox();
			@include flex-wrap(wrap); 
			> li {
				padding-right: 0;
				padding-bottom: 30px;				
				max-width: 33.33%;				
				@include flex-basis(33.33%);
			}
		}
	} 	
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	//CSS
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: $screen-xs-max){		
	.shop-sidebar {
		width: 320px;
		padding: 8%;
	}
	.title-filter {
		font-size: 20px;	
	}
	.filter-header {
		padding-bottom: 15px;
	}
	.sidebar{
		.widget {	
			margin-bottom: 30px;
		}
	} 	
}

@media (min-width: 481px) and (max-width: 767px) {  
 	//CSS  
}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	.shop-sidebar {
		width: 280px;
		padding: 5%;
	}
}