/* 
	##Device = Desktops only
	##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
 	//CSS
}

/* 
	##Device = Laptops to Desktops
	##Screen = B/w 1200px to 1280px
*/
@media (min-width: 1200px) and (max-width: 1280px) {
	//CSS
}

@media (min-width: 1025px) and (max-width: 1200px) {		
   //CSS			
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {		        
	#filter-down {	
		max-width: 80%;	
	}
	.product-category{
		.woocommerce-loop-category__title {	
			top: 0;
			left: 0;
			padding: 26px 0 0 35px;
		}
	} 	
	.cat-3{
		.product-category{
			.woocommerce-loop-category__title {			
				margin-bottom: 15px;				
			}
		} 		
	} 	
	.cat-4{
		.product-category{
			.woocommerce-loop-category__title {
				margin: 0 45px 30px 0;
				a {
					padding: 5px 20px;
				}
			}				
		}			
	} 
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	//CSS
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: $screen-xs-max){		
	#filter-full {		
		background: #f8f8f8;			
		margin-top: 20px;
		clear: both;
		padding: 24px 30px 10px 30px;
		.content-inner{
			@include clearfix();
			> [class*='widget']{			
				width: 100%;					
				float: none;
				position: relative;
				.widget{
					width: 100%;
					float: none;
				}
				[class*='widget-title'],
				.widgettitle{				
					text-transform: uppercase;
					font-size: 14px;
					margin: 0;
					padding: 0 0 15px 0;
					cursor: pointer;				
					position: relative;	
					border-bottom: 1px solid $color-border;		
					&:after{
						right: 0;
						content: $ionicon-var-ios-plus-empty;
						font-family: $ionicons-font-family;
						color: $color-black;												
						font-size: 26px;						
						top: -12px;
						position: absolute;
						@include flexbox();
						@include square(44px);
						@include align-items(center);
						@include justify-content(flex-end);		
						@include transition(content 0.15s ease-out);				
					}
					+ *{						
						width: 100%;
						max-height: 0;						
						overflow: hidden;						
						margin: 0;				
						padding: 8px 0;
						visibility: hidden;						
						pointer-events: none;																					
						@include opacity(0);
						@include box-shadow(none);
						@include box-sizing(border-box);
						@include transition(max-height 0.15s ease-out); 
						@include backface-visibility(hidden); 
					}	
				}
				&:last-child{
					[class*='widget-title'],.widgettitle{
						border-bottom: 0;	
						margin-bottom: 0;
						padding-bottom: 0;
					}					
				}	
				&:hover{
					[class*='widget-title'],.widgettitle{
						&:after{
							content: $ionicon-var-ios-minus-empty;			
							@include transition(content 0.25s ease-in);				
						}
						+ *{							
							max-height: 500px;    						
							visibility: visible;
							pointer-events: auto;												
							@include opacity(1);														
							@include transition(max-height 0.25s ease-in);
							@include backface-visibility(visible); 
						}
					}					
				}			
			}	
		}		
	}	
	.woocommerce-nav-category{
		.navbar-nav{
			> li {
				padding: 0 0 30px 0;
				&:last-child{
					padding-bottom: 0;
				}
			}
		} 		
	} 	
	.product-category{
		margin-bottom: 30px;
		.woocommerce-loop-category__title {			
			top: 0;
			left: 0;
			padding: 25px 0 0 44px;
		}
	} 	
	.cat-1,.cat-2,.cat-3,.cat-4{
		.grid-sizer,
		.category-thumb,
		.category-thumb-large, 
		.category-thumb-wide {
			width: 100%;
		}	
		&.cats-block{
			padding-bottom: 30px;
		}
		.col-item {
			padding-left: 15px;
			padding-right: 15px;
		}
	} 
	.cat-3{
		.product-category{
			.woocommerce-loop-category__title {
				margin-bottom: 25px;
			}		
		} 		
	} 	
	.cat-4{
		.product-category{
			.woocommerce-loop-category__title {
				margin: 0 45px 30px 0;
			}
		}		
	} 	
	.category-thumb-wide {
		width: 100%;
	}
}

@media (min-width: 481px) and (max-width: 767px) {  
 	//CSS  
}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	//CSS  	
}