/* 
	##Device = Desktops only
	##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
 	//CSS
}

/* 
	##Device = Laptops to Desktops
	##Screen = B/w 1200px to 1280px
*/
@media (min-width: 1200px) and (max-width: 1280px) {
	//CSS
}

@media (min-width: 1025px) and (max-width: 1200px) {		
   //CSS			
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {		    
	.woocommerce,
	.woocommerce-page{
		&.single-product{			
			.product-nav,
			.breadcrumb {
				margin: 80px 0 30px 0;
				float: none;
			}
			.product-nav-container{
				display: none;
			}				 
			.product-nav {
				left: -99999px;
				top: -99999px;
				margin: 0 !important;		
				&.style-2{
					left: -99999px;
					top: -99999px;
				}
			}						
		}
	}
	.product-layout-vertical{
		.product-detail-wrap{
			.entry-summary {
				margin: 5% 0 0 0;
			}
			.na-product-image {
				max-width: 100%;
				@include flex-basis(100%);
			}
		} 		
	} 
	.product-layout-background{
		.product-gallery-slider{
			.slick-arrow {				
				visibility: visible;
				@include square(50px);
				@include opacity(1);
				@include backface-visibility(visible); 
				&:after,&:before {
					font-size: 24px;					
				}				
				&.slick-prev {
					left: 6%;
				}
				&.slick-next {
					right: 6%;
				}
			}			
			&:hover{
				.slick-arrow{
					&.slick-prev {
						left: 6%;
					}
					&.slick-next {
						right: 6%;
					}
				}				
			} 			
		} 		
		.product-detail-wrap{
			.onsale {		
				margin-right: 4%;
			}
			.entry-summary {	
				padding: 30px 0 0 0;
			}
			.na-product-image {
				min-height: auto;
			}
			.woocommerce-product-details__short-description {	
				padding: 0 5% 40px;
			}
		} 			
	} 
	.product-layout-grid{
		.product-detail-wrap{
			.entry-summary {
				margin-left: 0;
				margin-top: 3%;
			}
		} 	
	}
	.product-layout-carousel-left{	
		.woocommerce-tabs {			
			padding-top: 5%;
		}
		.product-detail-wrap{
			.entry-summary {
				margin-top: 0;
				min-height: auto;
				margin-left: 0;
				padding: 5%;
			}
			.summary-before {
				min-height: auto;
			}
			.product_meta {
				padding-top: 30px;
			}
			.woocommerce-product-details__short-description {
				margin-bottom: 35px;
			}
		} 		
	}
	.product-layout-carousel{
		.product-gallery-slider{
			.slick-arrow {				
				visibility: visible;
				@include square(50px);
				@include opacity(1);
				@include backface-visibility(visible); 
				&:after,&:before {
					font-size: 24px;					
				}				
				&.slick-prev {
					left: 6%;
				}
				&.slick-next {
					right: 6%;
				}
			}			
			&:hover{
				.slick-arrow{
					&.slick-prev {
						left: 6%;
					}
					&.slick-next {
						right: 6%;
					}
				}				
			} 			
		} 		
		.product-detail-wrap{
			.onsale {		
				margin-right: 4%;
			}
			.entry-summary {	
				padding: 30px 0 0 0;
			}
			.na-product-image {
				min-height: auto;
			}
			.woocommerce-product-details__short-description {	
				padding: 0 5% 40px;
			}
		}
	} 	
	.product-layout-carousel-sticky{
		.product-detail-wrap{
			.entry-summary {
				margin-left: 0;
				margin-top: 0;
				max-width: none;								
				padding: 30px 30px 0 30px;
			}
		} 		
		.product-gallery-slider {
			float: none;
		}
	}	
	.product_title{
		font-size: 28px;
		line-height: 38px;
	}
	.product-detail-wrap {
		margin-bottom: 40px;			
		.wishlist-buttom {
			margin: 0 20px 20px 0;
		}
		.product-share-wrap {
			padding-top: 10px;
		}
		.entry-summary {
			margin-left: 0;
			margin-top: 5%;
		}
		.na-product-image {
			max-width: 100%;
			@include flex-basis(100%);
		}
	}
	.woocommerce-tabs{	
		margin-bottom: 40px;
		.m-r-100{
			margin-right: 0 !important;
		}
		.m-t-120{
			margin-top: 40px !important;
		}
		.m-t-100{
			margin-top: 40px !important;	
		}
		.m-b-30{
			margin-bottom: 15px !important;
		}
		.m-l-100{
			margin-left: 0 !important;
		}
		#reviews{
			li {			
				padding: 50px 0 30px 0;
			}
		} 	
		.nav-tabs{
			li {
				margin-right: 40px;	
			}
		} 		
		.entry-content{
			margin-top: 40px;
			p{
				margin-bottom: 20px !important;
			}
			h2 {
				font-size: 20px;
				line-height: 30px;
			}			
		} 		
	} 			
	.tabs-related-block{
		.nav-tabs{
			.nav-item {
				padding: 0px 26px 40px;
			}
		} 		
	} 	
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.product-layout-vertical{
		.product-detail-wrap{
			> .row{
				> div[class*='col-']{
					width: 100%;
					float: none;
					padding: 0;
				}
			}
			.single-image-thumbnail{
				.product-thumbnails {
					width: auto;
					max-width: 10%;
					@include flex-basis(10%);
				}
				.na-product-image {
					width: auto;
					max-width: 90%;
					@include flex-basis(90%);
				}
			} 		
			.entry-summary {
				margin: 0;
				padding: 50px 15px 0;
				text-align: center;
			}
			.na-product-image {
				max-width: 100%;
				@include flex-basis(100%);
			}
		} 		
	} 
	.product-layout-carousel-sticky{
		.product-detail-wrap{
			.entry-summary {								
				@include rtl-padding(90px, 20px, 0, 20px); 
			}
		} 			
	}
	.product-detail-wrap{
		.woocommerce-product-rating {					
			@include flexbox();
			@include align-items(baseline); 
			@include justify-content(center); 
			@include flex-wrap(wrap);
		}
		.price {
			@include justify-content(center); 
		}
	} 	
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: $screen-xs-max){	
	.woocommerce,
	.woocommerce-page{
		&.single-product{
			.product_title {
				font-size: 24px;
				line-height: 34px;		
				margin-bottom: 10px;		
			}					
			.breadcrumb{
				margin: 90px 0 30px 0;
				.woocommerce-breadcrumb{					
					@include justify-content(center);		
				}
			}	
			.product-nav-container{
				float: none;
				min-width: auto;				
				text-align: center;
			}				 			
		}		
	}
	.product-layout-vertical{
		.product-detail-wrap{
			.entry-summary {
				margin: 10% 0 0 0;
			}
			.na-product-image {
				max-width: 100%;
				@include flex-basis(100%);
			}
		} 		
	} 
	.product-layout-background{
		.product-gallery-slider{
			.slick-arrow {				
				visibility: visible;
				@include square(40px);
				@include opacity(1);
				@include backface-visibility(visible); 
				&:after,&:before {
					font-size: 20px;					
				}				
				&.slick-prev {
					left: 6%;
				}
				&.slick-next {
					right: 6%;
				}
			}			
			&:hover{
				.slick-arrow{
					&.slick-prev {
						left: 6%;
					}
					&.slick-next {
						right: 6%;
					}
				}				
			} 			
		} 		
		.product-detail-wrap{
			.onsale {		
				margin-right: 10%;
			}
			.entry-summary {	
				padding: 30px 0 0 0;
			}
			.na-product-image {
				min-height: auto;
			}
			.woocommerce-product-details__short-description {	
				padding: 0 5% 40px;
			}
		} 			
	} 		
	.product-layout-grid{
		.product-detail-wrap{
			.entry-summary {
				margin-left: 0;
				margin-top: 5%;
			}
		} 	
	} 
	.product-layout-carousel{
		.product-gallery-slider{
			.slick-arrow {				
				visibility: visible;
				@include square(40px);
				@include opacity(1);
				@include backface-visibility(visible); 
				&:after,&:before {
					font-size: 20px;					
				}				
				&.slick-prev {
					left: 6%;
				}
				&.slick-next {
					right: 6%;
				}
			}			
			&:hover{
				.slick-arrow{
					&.slick-prev {
						left: 6%;
					}
					&.slick-next {
						right: 6%;
					}
				}				
			} 			
		} 
		.product-detail-wrap{
			.onsale {		
				margin-right: 10%;
			}
			.entry-summary {	
				padding: 30px 0 0 0;
			}			
			.woocommerce-product-details__short-description {	
				padding: 0 5% 40px;
			}
		} 			
	} 		
	.product-layout-carousel-left{	
		.woocommerce-tabs {			
			padding-top: 10%;
		}
		.product-detail-wrap{
			.entry-summary {
				margin-top: 0;
				min-height: auto;
				margin-left: 0;
				padding: 5%;
			}
			.summary-before {
				min-height: auto;
			}
			.product_meta {
				padding-top: 30px;
			}
			.woocommerce-product-details__short-description {
				margin-bottom: 35px;
			}
		} 		
	} 
	.product-layout-carousel-sticky{
		.product-detail-wrap{
			.entry-summary {
				margin-left: 0;
				margin-top: 0;
				max-width: none;								
				padding: 25px 25px 10px 25px;
			}
		} 		
		.product-gallery-slider {
			float: none;
		}
	} 	
	.product-detail-wrap{
		margin-bottom: 40px;	
		ul.trebol_list_att{
			li {
				padding: 0 0 5px 0;
			}
		} 		
		.entry-summary {
			margin: 10% 0 0 0;
			.price{
				del {
					font-size: 18px;	
				}
			}				
			&.trebol_summary{
				.cart,.wishlist-buttom {
					margin-right: 0;
				}
			} 
		}
		.na-product-image {
			max-width: 100%;
			@include flex-basis(100%);
		}
		.cart {
			outline: thin;
		}	
		.wishlist-buttom {
			margin: 0 20px 20px 0;	
		}
	} 			
	.product-nav-container{
		display: none;	
		outline: thin;	
	}	
	.product-nav {
		left: -99999px;
		top: -99999px;
		margin: 0 !important;		
		&.style-2{
			left: -99999px;
			top: -99999px;
		}
	}	
	.woocommerce-tabs{
		margin-bottom: 40px;
		.m-r-100{
			margin-right: 0 !important;
		}
		.m-t-120{
			margin-top: 20px !important;
		}
		.m-t-100{
			margin-top: 20px !important;	
		}
		.m-b-30{
			margin-bottom: 15px !important;
		}
		.m-l-100{
			margin-left: 0 !important;
		}
		.entry-content {
			margin-top: 40px;
			p{
				margin-bottom: 20px !important;
			}
			h2 {	
				font-size: 18px;
				line-height: 28px;	
			}
			.description-left {
				margin-right: 0;
				.m-b-80{
					margin-bottom: 30px !important;
				}
			}
		}
		.nav-tabs {		
			@include flexbox();
			@include flex-direction(column); 
			@include justify-content(center);		
			li{
				padding: 0 0 15px 0;
				margin-right: 0;
				@include flexbox();
				@include justify-content(center);				
				&:last-child{
					padding-bottom: 0;
				}		
			}	
		}
		#reviews{
			li {
				padding: 50px 0 30px;				
			}
			.comment-respond {
				margin-top: 0;
			}
		} 			
		#commentform{
			.form-review-control{
				p {
					margin-bottom: 20px;
				}		
			} 			
		} 		
		.comment-form-rating {
			margin-bottom: 20px;
		}
	} 
	.tabs-related-block{
		.nav-tabs{
			.nav-item{
				padding-bottom: 15px;
				.nav-link {
					font-size: 18px;
					line-height: 28px;
				}	
			} 			
		} 		
	} 	
}

@media (min-width: 481px) and (max-width: 767px) {  
 	//CSS  
}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	.product-detail-wrap{
		outline-style: none;
	} 	
}
