/* 
	##Device = Desktops only
	##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
 	//CSS
}

/* 
	##Device = Laptops to Desktops
	##Screen = B/w 1200px to 1280px
*/
@media (min-width: 1200px) and (max-width: 1280px) {
	//CSS
}

@media (min-width: 1025px) and (max-width: 1200px) {		
   //CSS			
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {		        
	.woocommerce{
		#content{
			table{
		    	&.wishlist_table{
		    		thead{
		    			tr{
		    				@include flexbox();
		    				@include align-items(center);
		    				@include justify-content(flex-start);
		    				th{    		
		    					border: 0;
		    					padding-right: 12px;			    					
		    					@include flex-grow(1);
								@include flexbox();															
		    					&.download-remaining,
		    					&.product-thumbnail,
		    					&.product-stock-status,
		    					&.product-remove,
		    					&.product-add-to-cart,
		    					&.woocommerce-orders-table__header-order-date{    					
		    						display: none;
		    					} 	
		    					&.product-name{
									padding-left: 0;
									@include justify-content(center);	
								}
								&.product-price{
									padding-right: 0;
									@include justify-content(center);	
								}	    					
		    				}
		    			}     			
		    		} 
		    		tbody{
		    			tr{
		    				@include flexbox();
		    				@include align-items(center);
		    				@include justify-content(flex-start);
		    				td{    		
		    					@include flex-grow(1);
								@include flexbox();					
		    					&.download-remaining,
		    					&.product-thumbnail,
		    					&.product-stock-status,
		    					&.woocommerce-orders-table__cell-order-date{
		    						display: none;
		    					}
		    					&.product-add-to-cart{    						
		    						a {								
										padding: 0;
										overflow: hidden;
										color: transparent;
										background: white;
										border-width: 2px;
										position: relative;
										border-color: $color-border;
										@include square(32px);																		
										@include border-radius(100px !important);		
										&:after{
											content: $ionicon-var-android-cart;
											font-family: $ionicons-font-family;
											color: $gray-nobel;
											font-size: 16px;
											@include center-box(absolute);											
										}
										&:hover{
											color: transparent;
											background: transparent;
											border-color: $color-border;
										}														
									}
		    					}	
		    					&.product-name,&.product-price{								
									max-width: 50%;									
									@include flex-basis(50%);									
								}								
								&.product-remove,.product-add-to-cart,&.product-name,&.product-price{
									@include flex-grow(0);
									@include justify-content(flex-start);	
								}				
								&.product-add-to-cart{
									@include justify-content(flex-end);	
								}	    					
		    				}    				
		    			}     			
		    		}   		   		
		    	}
		    }			
		} 		
	} 
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	//CSS
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: $screen-xs-max){		
	.woocommerce{
		#content{
			table{
		    	&.wishlist_table{
		    		thead{
		    			tr{
		    				@include flexbox();
		    				@include align-items(center);
		    				@include justify-content(flex-start);
		    				th{    		
		    					border: 0;
		    					padding-right: 12px;			    					
		    					@include flex-grow(1);
								@include flexbox();															
		    					&.download-remaining,
		    					&.product-thumbnail,
		    					&.product-stock-status,
		    					&.product-remove,
		    					&.product-add-to-cart,
		    					&.woocommerce-orders-table__header-order-date{    					
		    						display: none;
		    					} 	
		    					&.product-name{
									padding-left: 0;
									@include justify-content(center);	
								}
								&.product-price{
									padding-right: 0;
									@include justify-content(center);	
								}	    					
		    				}
		    			}     			
		    		} 
		    		tbody{
		    			tr{
		    				@include flexbox();
		    				@include align-items(center);
		    				@include justify-content(flex-start);
		    				td{    		
		    					@include flex-grow(1);
								@include flexbox();					
		    					&.download-remaining,
		    					&.product-thumbnail,
		    					&.product-stock-status,
		    					&.woocommerce-orders-table__cell-order-date{
		    						display: none;
		    					}
		    					&.product-add-to-cart{    						
		    						a {								
										padding: 0;
										overflow: hidden;
										color: transparent;
										background: white;
										border-width: 2px;
										position: relative;
										border-color: $color-border;
										@include square(32px);																		
										@include border-radius(100px !important);		
										&:after{
											content: $ionicon-var-android-cart;
											font-family: $ionicons-font-family;
											color: $gray-nobel;
											font-size: 16px;
											@include center-box(absolute);											
										}
										&:hover{
											color: transparent;
											background: transparent;
											border-color: $color-border;
										}														
									}
		    					}	
		    					&.product-name,&.product-price{								
									max-width: 50%;									
									@include flex-basis(50%);									
								}								
								&.product-remove,.product-add-to-cart,&.product-name,&.product-price{
									@include flex-grow(0);
									@include justify-content(flex-start);	
								}				
								&.product-add-to-cart{
									@include justify-content(flex-end);	
								}	    					
		    				}    				
		    			}     			
		    		}   		   		
		    	}
		    }			
		} 		
	} 
}

@media (min-width: 481px) and (max-width: 767px) {  
 	//CSS  
}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	//CSS  	
}
