/* 
	##Device = Desktops only
	##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
 	//CSS
}

/* 
	##Device = Laptops to Desktops
	##Screen = B/w 1200px to 1280px
*/
@media (min-width: 1200px) and (max-width: 1280px) {
	//CSS
}

@media (min-width: 1025px) and (max-width: 1200px) {		
   //CSS			
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {		        
	//CSS
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	//CSS
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: $screen-xs-max){		
	.return-to-shop,
	.wc-btn-updatecart,
	.cart-collaterals {
		float: none;				
		width: 100%;
		@include flexbox();
	}		
	.cart_totals {
		padding: 15px;
		margin: 10px 0 0 0;		
		max-width: 100%;
		@include flex-basis(100%);
	}
	.shipping-th-title {	
		display: none;
	}
	.cart-collaterals{
		table.shop_table{
			.shipping ul li label {
				padding-top: 15px;
				&:before{
					margin-top: 8px;
				}
			}
		} 
	} 
	.trebol-coupon {
		float: none;		
		max-width: 82%;
		@include flex-basis(82%); 			
	}
	.trebol-coupon-update {
		overflow: hidden;
		position: relative;
		float: none;		
		cursor: pointer;
		max-width: 18%;		
		@include flex-basis(18%); 			
		&:before{
			color: $white;
			font-size: 30px;
			z-index: 2;
			content: $ionicon-var-ios-cart-outline;
			font-family: $ionicons-font-family;		
			@include center-box(absolute);			
		}		
	}
}

@media (min-width: 481px) and (max-width: 767px) {  
 	//CSS  
}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	//CSS  	
}


