/* 
	##Device = Desktops only
	##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
 	//CSS
}

/* 
	##Device = Laptops to Desktops
	##Screen = B/w 1200px to 1280px
*/
@media (min-width: 1200px) and (max-width: 1280px) {
	//CSS
}

@media (min-width: 1025px) and (max-width: 1200px) {		
   //CSS			
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {		        
	.paging {
		margin-top: 30px;
	}
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	//CSS
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: $screen-xs-max){		
	.woocommerce,
	.woocommerce-page{
		table{
			&.shop_table{
				margin: 0;
			}	
			&.shop_attributes{
				td,th{
					padding: 15px;	
				}
			}
		}		
	}	
	.paging {
		margin-top: 40px;
	}
}

@media (min-width: 481px) and (max-width: 767px) {  
 	//CSS  
}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	.paging {
		margin-top: 30px;
	}
}

@media (max-width: 320px) {
	.cart-box{
		left: 0;
		right: 0;
	}
	.paging {
		margin-top: 20px;
	}
}